{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row gx-2 align-items-center">
                    <div class="col-auto" style="padding-top:2px;">
                        <a href="/"><i class="fs-6 fa-fw fas fa-arrow-alt-circle-left"></i></a>
                    </div>
                    <div class="col">
                        <div class="row gx-2 align-items-center">
                            <div class="col-auto">
                                <img src="/static/img/interface/logo.png" width="24px" class="rounded" />
                            </div>
                            <div class="col-auto">
                                <span class="fs-6">NG Exile</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <span class="fs-6 text-white">{% translate "Réinitialisation du mot de passe" %}</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row gx-2 gy-3">
                     <div class="col-12 text-center">
                        <span class="text-success">{% translate "Email de réinitialisation envoyé" %}</span>
                    </div>
                     <div class="col-12 text-center">
                        <span>{% translate "Nous vous avons envoyé par email les instructions pour réinitialisaer votre mot de passe, si un compte existe avec l'email que vous avez saisi. Vous devriez le recevoir sous peu. Si vous ne recevez pas d'email, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam." %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}