{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="p-3" style="width:100%; max-width:512px;">
    <div class="row g-3">
        <div class="col-12">
            <form method="post" action="." class="card">
                {% csrf_token %}
                <div class="card-header">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto" style="padding-top:2px;">
                            <a href="/" class="mt-1"><i class="fa-fw fas fa-arrow-alt-circle-left"></i></a>
                        </div>
                        <div class="col">
                            <div class="row gx-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/img/logo.png" width="24px" class="rounded" />
                                </div>
                                <div class="col-auto">
                                    <span class="fs-6">NG Exile</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <span class="fs-6 text-white">{% translate "Password Reset" %}</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row gx-2 gy-3">
                         <div class="col-12 text-center">
                            <span>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</span>
                         </div>
                        {% if form.non_field_errors %}
                        <div class="col-12">
                            <div class="text-bg-danger p-2 rounded">
                                <div class="row gx-2 gy-2">
                                    {% for error in form.non_field_errors %}
                                        <div class="col-12 text-center">{{ error|escape }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}                         
                        <div class="col-12">
                            <label for="id_new_password1" class="form-label text-white required">{% translate "Password" %}</label>
                            <input type="password" class="form-control {% if form.errors and form.errors.new_password1  %}is-invalid{% endif %}" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                            {% if form.errors and form.errors.new_password1  %}
                                {% for error in form.errors.new_password1 %}
                                    <div class="form-text"><span class="text-danger">{{ error|escape }}</span></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <label for="id_new_password2" class="form-label text-white required">{% translate "Password confirmation" %}</label>
                            <input type="password" class="form-control {% if form.errors and form.errors.new_password2  %}is-invalid{% endif %}" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                            {% if form.errors and form.errors.new_password2  %}
                                {% for error in form.errors.new_password2 %}
                                    <div class="form-text"><span class="text-danger">{{ error|escape }}</span></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-12 text-end">
                            <button type="submit" class="btn btn-primary">{% trans 'Modifier mon mot de passe' %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}