{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="p-3" style="width:100%; max-width:512px;">
    <div class="row g-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto" style="padding-top:2px;">
                            <a href="/" class="mt-1"><i class="fa-fw fas fa-arrow-alt-circle-left"></i></a>
                        </div>
                        <div class="col">
                            <div class="row gx-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/img/logo.png" width="24px" class="rounded" />
                                </div>
                                <div class="col-auto">
                                    <span class="fs-6">NG Exile</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <span class="fs-6 text-white">{% translate "Password Reset" %}</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row gx-2 gy-3">
                         <div class="col-12 text-center">
                            <span class="text-success">{% translate "Password reset complete" %}</span>
                        </div>
                         <div class="col-12 text-center">
                            <span>{% translate "Your password has been set. You may go ahead and sign in now." %}</span>
                        </div>
                        <div class="col-12 text-center">
                            <a href="/accounts/login/" class="btn btn-primary"><i class="fa-fw fas fa-sign-in-alt me-1"></i> {% translate "Sign In" %}</a><
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}