{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <div class="col-12">
        <form method="post" class="card">
            {% csrf_token %}
            <div class="card-header">
                <div class="row gx-2 align-items-center">
                    <div class="col-auto" style="padding-top:2px;">
                        <a href="/"><i class="fs-6 fa-fw fas fa-arrow-alt-circle-left"></i></a>
                    </div>
                    <div class="col">
                        <div class="row gx-2 align-items-center">
                            <div class="col-auto">
                                <img src="/static/img/interface/logo.png" width="24px" class="rounded" />
                            </div>
                            <div class="col-auto">
                                <span class="fs-6">NG Exile</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <span class="fs-6 text-white">{% translate "Réinitialisation du mot de passe" %}</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row gx-2 gy-3">
                    <div class="col-12 text-center">
                        <span>{% translate "Mot de passe oublié? Saisissez votre adresse électonique ci-dessous et nous vous enverrons un email avec les instructions pour réinitialiser votre mot de passe." %}</span>
                    </div>
                    {% if form.non_field_errors %}
                    <div class="col-12">
                        <div class="text-bg-danger p-2 rounded">
                            <div class="row gx-2 gy-2">
                                {% for error in form.non_field_errors %}
                                    <div class="col-12 text-center">{{ error|escape }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-12">
                        <input type="email" class="form-control {% if form.errors and form.errors.email  %}is-invalid{% endif %}" name="email" maxlength="150" autocapitalize="none" autocomplete="email" autofocus="" required="" id="id_email" value="{% if form.email.value  %}{{ form.email.value }}{% endif %}">
                        {% if form.errors and form.errors.email  %}
                            {% for error in form.errors.email %}
                                <div class="form-text"><span class="text-danger">{{ error|escape }}</span></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa-fw fas fa-check me-1"></i> {% trans "Réinitialiser mon mot de passe" %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
