@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-gray-50: 249 250 251;
    --color-gray-100: 243 244 246;
    --color-gray-200: 229 231 235;
    --color-gray-300: 209 213 219;
    --color-gray-400: 156 163 175;
    --color-gray-500: 107 114 128;
    --color-gray-600: 75 85 99;
    --color-gray-700: 55 65 81;
    --color-gray-800: 31 41 55;
    --color-gray-900: 17 24 39;
    --color-gray-950: 3 7 18;

    --color-primary-50: 253 244 255;
    --color-primary-100: 250 232 255;
    --color-primary-200: 245 208 254;
    --color-primary-300: 240 171 252;
    --color-primary-400: 232 121 249;
    --color-primary-500: 217 70 239;
    --color-primary-600: 192 38 211;
    --color-primary-700: 162 28 175;
    --color-primary-800: 134 25 143;
    --color-primary-900: 112 26 117;
    --color-primary-950: 74 4 78;

    --color-red-50: 254 242 242;
    --color-red-100: 254 226 226;
    --color-red-200: 254 202 202;
    --color-red-300: 252 165 165;
    --color-red-400: 248 113 113;
    --color-red-500: 239 68 68;
    --color-red-600: 220 38 38;
    --color-red-700: 185 28 28;
    --color-red-800: 153 27 27;
    --color-red-900: 27 29 29;
    --color-red-950: 69 10 10;

    --color-green-50: 240 253 244;
    --color-green-100: 220 252 231;
    --color-green-200: 187 247 208;
    --color-green-300: 134 239 172;
    --color-green-400: 74 222 128;
    --color-green-500: 34 197 94;
    --color-green-600: 22 163 74;
    --color-green-700: 21 128 61;
    --color-green-800: 22 101 52;
    --color-green-900: 20 83 45;
    --color-green-950: 5 46 22;

    --color-yellow-50: 254 252 232;
    --color-yellow-100: 254 249 195;
    --color-yellow-200: 254 240 138;
    --color-yellow-300: 253 224 71;
    --color-yellow-400: 250 204 21;
    --color-yellow-500: 234 179 8;
    --color-yellow-600: 202 138 4;
    --color-yellow-700: 161 98 7;
    --color-yellow-800: 133 77 14;
    --color-yellow-900: 113 63 18;
    --color-yellow-950: 66 32 6;

    --bs-body-bg: rgb(var(--color-gray-900));
    --bs-body-color: rgb(var(--color-gray-300));
    --bs-body-font-size: .875rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;

    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: rgb(var(--color-gray-600));
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: .375rem;

    --bs-link-color: rgb(var(--color-primary-500));
    --bs-link-decoration: underline;
    --bs-link-hover-color: rgb(var(--color-primary-400));
}

html, body {
	height: 100%; width:100%;
}

body {
	background-attachment: fixed;
	background-image: url('/static/s04/background.jpg');
	background-position: center;
    background-size: cover;
}

#sidebar {
    position: fixed; top: 0; bottom: 0; left: 0; z-index: 20;
    width: 100%;
    transform: translateX(-100%) translateY(0) translateZ(0);
    transition: transform .28s ease-out;
}

@media (max-width: 768px) { #sidebar.open { transform: translateX(0) translateY(0) translateZ(0); } }
@media (min-width: 768px) { #sidebar { transform: translateX(0) translateY(0) translateZ(0); } }
@media (min-width: 576px) { #sidebar { width: 272px; } }

#content {
    position: fixed; top: 0px; left: 0; right: 0; z-index: 10;
}

@media (min-width: 768px) { #content { left: 272px; } }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0;
}

@media (min-width: 576px) { .container, .container-lg, .container-md, .container-sm { max-width: 100%; } }
@media (min-width: 992px) { .container, .container-lg, .container-md, .container-sm { max-width: 720px; } }

.container-mini { max-width: 540px; }

.h-3 { height: 3rem; }

.fa, .fab, .fad, .fal, .far, .fas { line-height: 1.25rem !important; }

.bg-gray-50 { background-color: rgb(var(--color-gray-50)) !important; }
.bg-gray-100 { background-color: rgb(var(--color-gray-100)) !important; }
.bg-gray-200 { background-color: rgb(var(--color-gray-200)) !important; }
.bg-gray-300 { background-color: rgb(var(--color-gray-300)) !important; }
.bg-gray-400 { background-color: rgb(var(--color-gray-400)) !important; }
.bg-gray-500 { background-color: rgb(var(--color-gray-500)) !important; }
.bg-gray-600 { background-color: rgb(var(--color-gray-600)) !important; }
.bg-gray-700 { background-color: rgb(var(--color-gray-700)) !important; }
.bg-gray-800 { background-color: rgb(var(--color-gray-800)) !important; }
.bg-gray-900 { background-color: rgb(var(--color-gray-900)) !important; }
.bg-gray-950 { background-color: rgb(var(--color-gray-950)) !important; }

.text-gray-50 { color: rgb(var(--color-gray-50)) !important; }
.text-gray-100 { color: rgb(var(--color-gray-100)) !important; }
.text-gray-200 { color: rgb(var(--color-gray-200)) !important; }
.text-gray-300 { color: rgb(var(--color-gray-300)) !important; }
.text-gray-400 { color: rgb(var(--color-gray-400)) !important; }
.text-gray-500 { color: rgb(var(--color-gray-500)) !important; }
.text-gray-600 { color: rgb(var(--color-gray-600)) !important; }
.text-gray-700 { color: rgb(var(--color-gray-700)) !important; }
.text-gray-800 { color: rgb(var(--color-gray-800)) !important; }
.text-gray-900 { color: rgb(var(--color-gray-900)) !important; }
.text-gray-950 { color: rgb(var(--color-gray-950)) !important; }

.text-primary-50 { color: rgb(var(--color-primary-50)) !important; }
.text-primary-100 { color: rgb(var(--color-primary-100)) !important; }
.text-primary-200 { color: rgb(var(--color-primary-200)) !important; }
.text-primary-300 { color: rgb(var(--color-primary-300)) !important; }
.text-primary-400 { color: rgb(var(--color-primary-400)) !important; }
.text-primary-500 { color: rgb(var(--color-primary-500)) !important; }
.text-primary-600 { color: rgb(var(--color-primary-600)) !important; }
.text-primary-700 { color: rgb(var(--color-primary-700)) !important; }
.text-primary-800 { color: rgb(var(--color-primary-800)) !important; }
.text-primary-900 { color: rgb(var(--color-primary-900)) !important; }
.text-primary-950 { color: rgb(var(--color-primary-950)) !important; }

.text-red-50 { color: rgb(var(--color-red-50)) !important; }
.text-red-100 { color: rgb(var(--color-red-100)) !important; }
.text-red-200 { color: rgb(var(--color-red-200)) !important; }
.text-red-300 { color: rgb(var(--color-red-300)) !important; }
.text-red-400 { color: rgb(var(--color-red-400)) !important; }
.text-red-500 { color: rgb(var(--color-red-500)) !important; }
.text-red-600 { color: rgb(var(--color-red-600)) !important; }
.text-red-700 { color: rgb(var(--color-red-700)) !important; }
.text-red-800 { color: rgb(var(--color-red-800)) !important; }
.text-red-900 { color: rgb(var(--color-red-900)) !important; }
.text-red-950 { color: rgb(var(--color-red-950)) !important; }

.text-green-50 { color: rgb(var(--color-green-50)) !important; }
.text-green-100 { color: rgb(var(--color-green-100)) !important; }
.text-green-200 { color: rgb(var(--color-green-200)) !important; }
.text-green-300 { color: rgb(var(--color-green-300)) !important; }
.text-green-400 { color: rgb(var(--color-green-400)) !important; }
.text-green-500 { color: rgb(var(--color-green-500)) !important; }
.text-green-600 { color: rgb(var(--color-green-600)) !important; }
.text-green-700 { color: rgb(var(--color-green-700)) !important; }
.text-green-800 { color: rgb(var(--color-green-800)) !important; }
.text-green-900 { color: rgb(var(--color-green-900)) !important; }
.text-green-950 { color: rgb(var(--color-green-950)) !important; }

.text-yellow-50 { color: rgb(var(--color-yellow-50)) !important; }
.text-yellow-100 { color: rgb(var(--color-yellow-100)) !important; }
.text-yellow-200 { color: rgb(var(--color-yellow-200)) !important; }
.text-yellow-300 { color: rgb(var(--color-yellow-300)) !important; }
.text-yellow-400 { color: rgb(var(--color-yellow-400)) !important; }
.text-yellow-500 { color: rgb(var(--color-yellow-500)) !important; }
.text-yellow-600 { color: rgb(var(--color-yellow-600)) !important; }
.text-yellow-700 { color: rgb(var(--color-yellow-700)) !important; }
.text-yellow-800 { color: rgb(var(--color-yellow-800)) !important; }
.text-yellow-900 { color: rgb(var(--color-yellow-900)) !important; }
.text-yellow-950 { color: rgb(var(--color-yellow-950)) !important; }

.p-4 { padding: 1rem !important; }
.px-4 { padding-left: 1rem !important; padding-right: 1rem !important; }
.py-4 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.pt-4 { padding-top: 1rem !important; }
.pr-4 { padding-right: 1rem !important; }
.pb-4 { padding-bottom: 1rem !important; }
.pl-4 { padding-left: 1rem !important; }

.frame { padding: .375rem .625rem; }

.m-14 { margin: 3.5rem; }
.mx-14 { margin-left: 3.5rem !important; margin-right: 3.5rem !important; }
.my-14 { margin-top: 3.5rem !important; margin-bottom: 3.5rem !important; }
.mt-14 { margin-top: 3.5rem; }
.mr-14 { margin-right: 3.5rem !important; }
.mb-14 { margin-bottom: 3.5rem !important; }
.ml-14 { margin-left: 3.5rem !important; }

.text-bg-secondary { color: rgb(var(--color-gray-200)) !important; background-color: rgb(var(--color-gray-700)) !important; }

.badge {
    --bs-badge-padding-x: .5rem;
    --bs-badge-padding-y: .25rem;
    --bs-badge-font-size: .75rem;
    --bs-badge-font-weight: 500;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: .375rem;
}

.tooltip {
    --bs-tooltip-color: rgb(var(--color-gray-200));

    font-size: .875em;
}

.btn {
    --bs-btn-padding-x: .625rem;
    --bs-btn-padding-y: .375rem;
    --bs-btn-font-size: .875rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.25rem;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.5;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);

    display: inline-flex; column-gap: .375rem; align-items: center;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(var(--color-gray-700));
    --bs-btn-border-color: rgb(var(--color-gray-700));
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(var(--color-gray-600));
    --bs-btn-hover-border-color: rgb(var(--color-gray-600));
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(var(--color-gray-600));
    --bs-btn-active-border-color: rgb(var(--color-gray-600));
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(var(--color-gray-700));
    --bs-btn-disabled-border-color: rgb(var(--color-gray-700));
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(var(--color-primary-700));
    --bs-btn-border-color: rgb(var(--color-primary-700));
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(var(--color-primary-600));
    --bs-btn-hover-border-color: rgb(var(--color-primary-600));
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(var(--color-primary-600));
    --bs-btn-active-border-color: rgb(var(--color-primary-600));
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(var(--color-primary-700));
    --bs-btn-disabled-border-color: rgb(var(--color-primary-700));
}

.btn-outline-danger {
    --bs-btn-color: rgb(var(--color-red-700));
    --bs-btn-border-color: rgb(var(--color-red-700));
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(var(--color-red-600));
    --bs-btn-hover-border-color: rgb(var(--color-red-600));
}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 15rem;
    --bs-dropdown-padding-x: .625rem;
    --bs-dropdown-padding-y: .375rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: .875rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: rgb(var(--color-gray-600));
    --bs-dropdown-border-color: rgb(var(--color-gray-600));
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
}

.nav {
    --bs-nav-link-padding-x: .625rem;
    --bs-nav-link-padding-y: .375rem;
    --bs-nav-link-font-size: .875rem;
    --bs-nav-link-color: rgb(var(--color-gray-400));
    --bs-nav-link-hover-color: rgb(var(--color-gray-200));
}
.nav.flex-column {
    border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.nav-link {
    display: inline-flex; column-gap: .375rem; align-items: center;
}
.nav.flex-column .nav-link {
    width: 100%;
    padding-right: 0;
    margin-left: calc(-1 * var(--bs-border-width));
    border-left: var(--bs-border-width) var(--bs-border-style) transparent;
}
.nav.flex-column .nav-link:hover {
    border-color: rgb(var(--color-gray-200));
}
.nav.flex-column .nav-link.active {
    color: rgb(var(--color-primary-400));
    border-color: rgb(var(--color-primary-400));
}

.nav-tabs {
    --bs-nav-link-padding-x: .5rem;

    border-top-left-radius: var(--bs-border-radius); border-top-right-radius: var(--bs-border-radius);
    background-color: rgb(var(--color-gray-800));
}
.nav-tabs .nav-link {
    padding-top: .625rem;
    border-top: 0; border-left: 0; border-right: 0;
    border-bottom: var(--bs-border-width) var(--bs-border-style) transparent;
}
.nav-tabs .nav-link:hover {
    border-color: rgb(var(--color-gray-200));
}
.nav-tabs .nav-link.active {
    color: rgb(var(--color-primary-400));
    border-color: rgb(var(--color-primary-400));
    background-color: transparent;
}

.card {
    --bs-card-spacer-y: .5rem;
    --bs-card-spacer-x: .5rem;
    --bs-card-border-color: rgb(var(--color-gray-800));
    --bs-card-bg: rgb(var(--color-gray-800));
}

.alert {
    --bs-alert-padding-x: .625rem;
    --bs-alert-padding-y: .375rem;
    --bs-alert-margin-bottom: 0;
}

.alert-danger {
    --bs-alert-color: rgb(var(--color-red-400));
    --bs-alert-bg: rgb(var(--color-red-400) / .1);
    --bs-alert-border-color: rgb(var(--color-red-400));
}

.form-label {
    margin-bottom: 0;
}

.form-control {
    padding: .375rem .625rem;
    font-size: var(--bs-body-font-size);
    font-weight: 400;
    line-height: 1.25rem;
    color: #fff;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}
.form-control:focus {
    color: #fff;
    background-color: var(--bs-body-bg);
    border-color: rgb(var(--color-primary-400));
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(var(--color-primary-400) / .25);
}

.progress {
    background-color: rgb(var(--color-gray-700));
}
.progress-bar {
    background-color: rgb(var(--color-primary-700));
}