{% load i18n %}
{% load humanize %}

<!doctype html>
<html>
    <head>

        <title>[s04] NG Exile</title>

        <link rel="shortcut icon" href="/static/favicon.png">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="/static/s04/styles.css?v=0" type="text/css" rel="stylesheet" media="all" />

        <script type="text/javascript" src="/static/js/vendor-fontawesome.js"></script>

    </head>
    <body>
        
        <div id="app" class="w-100 h-100 d-flex justify-content-center">
            <div class="container container-mini">
                <div class="mt-14 d-flex flex-column gap-4">

                    <div class="d-flex gap-2 align-items-center justify-content-center">
                        <img src="/static/favicon.png" width="24" height="24" />
                        <span class="flex-1 fs-5 text-white">NG Exile</span>
                        <span class="badge text-bg-secondary">s04</span>
                    </div>

                    <form method="post" class="card card-body d-flex flex-column gap-4" @submit="startLoading()">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="start">

                        <span class="fs-5 text-white text-center">{% translate 'Bienvenue' %}</span>

                        <span class="text-center">{% translate "Durant le <span class='text-white'>Grand Exil</span>, l'Humanité a dû quitter l'Univers pour éviter de disparaître. Malgré les conséquences, des rebelles ont décidé de rester. Au fil du temps, ils se sont transformés et ne sont plus totalement humains. Ils se font appelés les <span class='text-red-400'>Fossoyeurs</span>.<br><br>Il est désormais temps pour l'Humanité de reconquérir l'Univers. En tant que <span class='text-white'>Commandant</span>, votre mission est de préparer le terrain pour le retour des humains en éradiquant les <span class='text-red-400'>Fossoyeurs</span>.<br><br>Avant de commencer, choisissez votre nom de commandant et cliquez sur 'Démarrer'." %}</span>

                        {% include "s04/_messages.html" %}

                        <div class="d-flex flex-column gap-1">
                            <label for="inputName" class="text-white">{% translate 'Nom de commandant' %}</label>
                            <input type="text" id="inputName" name="name" class="form-control" minlength="4" maxlength="16" required />
                            <div class="small">{% translate "4 caractères minimum ; 16 caractères maximum ; Alphanumérique, pas de caractère spécial, sauf 'espace'" %}</div>
                        </div>

                        <button type="submit" class="w-100 btn btn-primary justify-content-center" :disabled="loading">
                            <div v-if="loading" class="spinner-border spinner-border-sm"></div>
                            <span>{% translate 'Démarrer' %}</span>
                        </button>

                    </form>

                </div>
            </div>
        </div>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-212X2QX8W5"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag(){ dataLayer.push(arguments) }
            gtag('js', new Date())
            gtag('config', 'G-212X2QX8W5')
        </script>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>        
        <script>
            const { createApp } = Vue
            createApp({

                data() {
                    return {

                        loading: false,
                    }
                },

                methods: {

                    startLoading() { this.loading = true },
                },
            }).mount('#app')
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    </body>
</html>
