@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body { height: 100%; width: 100%; }

body {
	background-color: #000;
	font-family: Roboto, Arial; font-size: 12px; color: #fff;
}

a { color: #ffa500; }
a:hover { color: #c87f0a; }
a:link, a:visited, a:active, a:hover { text-decoration: none; }

p {	margin: 0 0 .75rem 0; }

ul { list-style-type:disc; margin-top:10px; margin-bottom:10px; }
ul li { margin-left:20px; margin-top:4px; }

#super {
	position: relative;
	height: 100%; width: 100%;
}

#topbar {
    position: absolute; top: 0px; left: 0px; right: 0px;
    height: 52px;
    padding: 0 .75rem;
    background-color: var(--bs-gray-800);
    display: flex; align-items: center;
    border-bottom: 1px solid #000;
}

::-webkit-scrollbar { width: .35rem; height: .25rem; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { border-radius: .25rem; background: rgba(255, 255, 255, .25); border: 1px solid #444; }

#leftnav {
	position: absolute; top: 52px; bottom: 0px; left: 0px;
    overflow-y: auto; overflow-x: hidden; scrollbar-color: rgba(255, 255, 255, .075); scrollbar-width: thin;
	width: 256px;
	background-color: var(--bs-gray-800);
    padding-bottom: .75rem;
}

#content {
	position: absolute; top: 52px; bottom: 0px; left: 256px; right: 0px;
    overflow-y: auto; overflow-x: hidden; scrollbar-color: rgba(255, 255, 255, .075); scrollbar-width: thin;
}

#page {
	width: 100%;
	margin: 0 auto; padding: 1rem;
}
@media (min-width: 992px) { #page { max-width: 720px; } }
@media (min-width: 1200px) { #page { max-width: 720px; } }

.none {display:block; text-decoration:none;}
.none:link {text-decoration:none;}
.none:visited {text-decoration:none;}
.none:active {text-decoration:none;}
.none:hover {text-decoration:none;}

.menu { color: #ced4da; display: flex; align-items: center; }
.menu:link, .menu:visited, .menu:active { color: #ced4da; }
.selected:link, .selected:visited, .selected:active { color: #ffa500; }
.menu:hover, .selected:hover { color: #ffa500; text-decoration: none; }

.lvl1 {
	padding: .5rem .75rem;
	background-color: var(--bs-gray-700);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.lvl1:first-of-type { border-top: 0; }

.lvl2 {
	padding: .25rem .75rem .25rem 1.5rem;
}

select, input, textarea {
	background-color:#555;
	border: #888 1px solid;
    color: #ddd;
    padding: 0.125rem 0.5rem; min-height: 24px;
    border-radius: .25rem;
}

input[type=number] { width: 55px; }

.checkbox { 
	margin:0px 4px 0px 0px; padding:0;
	border:0;
	background-color: transparent;	
}

img.res {
	margin-right:4px;
	vertical-align: -4px;
}

img.stance {
	margin-right:2px;
	vertical-align: -1px;
}

#mapgalaxyview { width:100%; display: flex; flex-wrap: wrap; background:#495057; border:solid 1px #495057; border-radius:.25rem; }
#mapgalaxyview div.sector {
	background:#000; border:solid 1px #495057; border-radius:.25rem; 
	cursor:pointer;
	width:51px; height: 51px;
    display: flex; flex-wrap: wrap; align-items: center; justify-content: center;
}

div.sector div { background:#000; border-radius:.25rem; font-size:3px; line-height:1; width: 9px; height: 9px; color:#000; display: flex; align-items: center; justify-content: center; }
div.sector div.player { color: #0ff; }
div.sector div.ally { color:#0f0; }
div.sector div.friend { color:#ccc; }
div.sector div.uninhabited { color: #343a40; }
div.sector div.hostile { color: #f00; }
div.sector div.resource { color: #ff0; }
div.sector div.vortex { color: #f0f; }

#mapsector table { border-collapse:collapse; border-spacing:0; }
#mapsector table tr.border { font-size:1px; line-height:1px; }

#mapsectorview div.planet { float:left; width:20%; height:100px; }
#mapsectorview .planettext { position:relative; margin-top:-5px; }
#mapsectorview .planetname { font-size:9px; }

.hidden { display: none; visibility: hidden; }

div#hint { position: absolute; z-index: 100; background: transparent; width: 200px; visibility: hidden; }

hr { margin: .5rem 0; }

.text-bg-success { color: #000!important; background-color: #0f0!important; }

.text-success { color: #0f0!important; }
.text-danger { color: #f44!important; }
.text-normal { color: #ced4da!important; }
.text-player { color: #0ff!important; }
.text-yellow { color: #ff0!important; }

.bg-danger { background-color: #700000!important; }
.bg-success { background-color: #005400!important; }
.bg-info { background-color: #218298!important; }

.border-player { border-color: #77f!important; }
.border-success { border-color: #0f0!important; }
.border-danger { border-color: #f44!important; }

.alert {
    --bs-alert-padding-x: .75rem;
    --bs-alert-padding-y: .5rem;
    --bs-alert-margin-bottom: .75rem;
}

.alert-danger {
    --bs-alert-color: #000;
    --bs-alert-bg: #e66;
    --bs-alert-border-color: #f00;
}

.alert-warning {
    --bs-alert-color: #000;
    --bs-alert-bg: #ff8543;
    --bs-alert-border-color: #ff9257;
}

.alert-info {
    --bs-alert-color: #000;
    --bs-alert-bg: #ee6;
    --bs-alert-border-color: #bb0;
}

.card {
    --bs-card-spacer-x: .75rem;
    --bs-card-spacer-y: .5rem;
    --bs-card-bg: var(--bs-gray-800);
    --bs-card-border-width: 1px;
    --bs-card-border-color: #000;
    --bs-card-border-radius: .25rem;
    --bs-card-inner-border-radius: calc(.25rem - 1px);
    --bs-card-cap-bg: var(--bs-gray-700);
    --bs-card-cap-padding-y: .5rem;
    --bs-card-cap-padding-x: .75rem;
}

.list-group {
    --bs-list-group-bg: var(--bs-gray-800);
    --bs-list-group-color: #fff;
    --bs-list-group-border-width: 1px;
    --bs-list-group-border-color: #000;
    --bs-list-group-border-radius: .25rem;
    --bs-list-group-item-padding-x: .75rem;
    --bs-list-group-item-padding-y: .5rem;
}

.nav {
    --bs-nav-link-padding-x: .75rem;
    --bs-nav-link-padding-y: .5rem;
    --bs-nav-link-color: #ffa500;
    --bs-nav-link-hover-color: #c87f0a;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-color: #323232;
    --bs-nav-tabs-border-radius: 0.25rem;
    --bs-nav-tabs-link-hover-border-color: transparent transparent #323232;
    --bs-nav-tabs-link-active-bg: var(--bs-gray-800);
    --bs-nav-tabs-link-active-border-color: #323232 #323232 #323232;
    --bs-nav-tabs-link-active-color: #fff;

    overflow-x: auto; overflow-y: hidden; flex-wrap: nowrap;
}

.tooltip {
    --bs-tooltip-bg: #212529;
    --bs-tooltip-border-radius: .25rem;
    --bs-tooltip-padding-x: .75rem;
    --bs-tooltip-padding-y: .5rem;
    --bs-tooltip-max-width: 25rem;
    --bs-tooltip-opacity: 1;
    
    font-family: Roboto, Arial; font-size: 12px;
}

.tooltip-inner { border: 1px solid #000; }

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before, .bs-tooltip-end .tooltip-arrow::before { border-right-color: #000; }

.table {
    --bs-table-color: #fff;
    --bs-table-border-color: #000;
    
    margin-bottom: 0;
}

.table > :not(caption) > * > * { padding: .5rem .75rem; font-weight: normal; }

.table-card { border: 1px solid #000; }

.table-card th { background: var(--bs-gray-700); }
.table-card th.sort { color: #ffa500; cursor: pointer; }
.table-card th.sort:hover { color: #c87f0a; }

.table-card td { background: var(--bs-gray-800); }

.table-card tr:first-of-type > *:first-child { border-radius: .25rem 0 0 0; }
.table-card tr:first-of-type > *:last-child { border-radius: 0 .25rem 0 0; }
.table-card tr:last-of-type > *:first-child { border-radius: 0 0 0 .25rem; }
.table-card tr:last-of-type > *:last-child { border-radius: 0 0 .25rem 0; }
