{% load i18n %}

{% for message in messages %}
    <div class="col-12">
        <div class="alert alert-{{ message.tags }} text-center">
        
            {% if message.message == 'name_invalid' %}{% translate "4 caractères minimum. 16 caractères maximum. Peut contenir uniquement des lettres, des chiffres et les caractères ' '(espace) et '-'(tiret)." %}
            {% elif message.message == 'name_already_used' %}{% translate "Ce nom est déjà utilisé, veuillez en choisir un autre." %}
            
            {% else %}{{ message }}
            {% endif %}
            
        </div>
    </div>
{% endfor %}
