{% extends "ng0/layout.html" %}
{% load humanize %}
{% block content %}
    <div class="nav nav-tabs mb-3">
        <div class="nav-item">
            <a href="/ng0/alliance-view/" class="nav-link text-nowrap">Vue d'ensemble</a>
        </div>
        {% if show_management %}
            <div class="nav-item">
                <a href="/ng0/alliance-manage/" class="nav-link">Gestion</a>
            </div>
        {% endif %}
        {% if show_management %}
            <div class="nav-item">
                <a href="/ng0/alliance-ranks/" class="nav-link">Grades</a>
            </div>
        {% endif %}
        {% if show_members %}
            <div class="nav-item">
                <a href="/ng0/alliance-members/" class="nav-link active">Membres</a>
            </div>
        {% endif %}
        {% if show_members %}
            <div class="nav-item">
                <a href="/ng0/alliance-recruit/" class="nav-link">Recrutement</a>
            </div>
        {% endif %}
        <div class="nav-item">
            <a href="/ng0/alliance-wallet/" class="nav-link">Portefeuille</a>
        </div>
        <div class="nav-item">
            <a href="/ng0/alliance-wars/" class="nav-link">Guerres</a>
        </div>
        {% if show_reports %}
            <div class="nav-item">
                <a href="/ng0/alliance-reports/" class="nav-link">Rapports</a>
            </div>
        {% endif %}
        <div class="nav-item">
            <a href="/ng0/alliance-invitations/" class="nav-link">Invitations</a>
        </div>
    </div>
    <script>
    function showKick(name) {
    
        $("kick" + name).style.display = "none";
        $("kickConfirm" + name).style.display = "block";
        $("kickConfirm" + name).style.visibility = "visible";
        return false;
    }

    var ranks = new Array();
    {% for rank in ranks %}    ranks[{{rank.rank_id}}] = '{{rank.rank_label}}';{% endfor %}

    function displayStatus(id, rank, manage) {
    
        var s = '';
        if (!manage) {
        
            s = '<input type="text" value="' + ranks[rank] + '" disabled class="opacity-50" />';
        }
        else {
        
            s = '<select name="player' + id + '" class="w-100">';
            for (var x in ranks) {
                s += '<option value="' + x + '"' + (rank == x ? ' selected' : '') + '>' + ranks[x] + '</option>';
            }
            s += '</select>';
        }

        document.write(s);
    }
    </script>
    <form action="?cat={{ cat }}" method="post" class="card">
        <div class="card-header">
            <div class="row gx-3">
                <div class="col">
                    <span>Membre</span>
                </div>
                <div class="col-3">
                    <span class="text-normal">Score</span>
                </div>
                <div class="col-auto" style="width:75px;">
                    <span class="text-normal">Planètes</span>
                </div>
                <div class="col-3">
                    <span class="text-normal">Grade</span>
                </div>
                <div class="col-auto" style="width:75px;"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="row g-1 flex-column">
                {% for player in players %}
                    <div class="col-12">
                        <div class="row gx-3 align-items-center">
                            <div class="col">
                                <a href="/ng0/profile-view/?name={{ player.name }}">{{ player.name }}</a>
                                <small class="ms-2 text-normal">
                                    {% if player.orientation1 %}Marchand{% endif %}
                                    {% if player.orientation2 %}Militaire{% endif %}
                                    {% if player.orientation3 %}Scientifique{% endif %}
                                </small>
                            </div>
                            <div class="col-3">
                                {% if player.scoreshown %}
                                    {{ player.score|intcomma }} <small class="ms-2 {% if player.score_delta > 0 %}text-success{% else %}text-danger{% endif %}">
                                    {% if player.score_delta > 0 %}+{% endif %}
                                {{ player.score_delta|intcomma }}</small>
                            {% endif %}
                            {% if player.score_na %}<span class="text-normal">Non publié</span>{% endif %}
                        </div>
                        <div class="col-auto" style="width:75px;">{{ player.stat_colonies|intcomma }}</div>
                        <div class="col-3">
                            <script>displayStatus({{player.id}}, {{player.rank}}, 0{% if player.manage %}1{% endif %}, 0{% if player.kick %}1{% endif %});</script>
                        </div>
                        <div class="col-auto text-end" style="width:75px;">
                            {% if player.kick %}
                                <span id="kick{{ player.id }}" onclick="return showKick({{ player.id }});"><a href="?#">Exclure</a></span>
                                <span id="kickConfirm{{ player.id }}" class="hidden"><a href="?cat={{ cat }}&a=kick&name={{ player.name }}">Confirmer</a></span>
                            {% endif %}
                            {% if player.leaving_time %}
                                <script>putcountdown1({{player.leaving_time}}, "Terminé", "?cat={{cat}}");</script>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <hr class="my-1">
                </div>
            {% endfor %}
            <div class="col-12 text-center">
                <input type="submit" name="submit" value="Valider changements">
            </div>
        </div>
    </div>
    {% csrf_token %}
</form>
{% endblock content %}
