{% extends "ng0/layout.html" %}
{% block content %}
    <div class="nav nav-tabs mb-3">
        <div class="nav-item">
            <a href="/ng0/alliance-view/" class="nav-link text-nowrap">Vue d'ensemble</a>
        </div>
        {% if show_management %}
            <div class="nav-item">
                <a href="/ng0/alliance-manage/" class="nav-link">Gestion</a>
            </div>
        {% endif %}
        {% if show_management %}
            <div class="nav-item">
                <a href="/ng0/alliance-ranks/" class="nav-link active">Grades</a>
            </div>
        {% endif %}
        {% if show_members %}
            <div class="nav-item">
                <a href="/ng0/alliance-members/" class="nav-link">Membres</a>
            </div>
        {% endif %}
        {% if show_members %}
            <div class="nav-item">
                <a href="/ng0/alliance-recruit/" class="nav-link">Recrutement</a>
            </div>
        {% endif %}
        <div class="nav-item">
            <a href="/ng0/alliance-wallet/" class="nav-link">Portefeuille</a>
        </div>
        <div class="nav-item">
            <a href="/ng0/alliance-wars/" class="nav-link">Guerres</a>
        </div>
        {% if show_reports %}
            <div class="nav-item">
                <a href="/ng0/alliance-reports/" class="nav-link">Rapports</a>
            </div>
        {% endif %}
        <div class="nav-item">
            <a href="/ng0/alliance-invitations/" class="nav-link">Invitations</a>
        </div>
    </div>
    <script>
        function check() {
        
            {% for rank in ranks %}
            if ($('n{{rank.rank_id}}').value.length <= 2) {
            
                alert('Le nom du grade "' + $('n{{rank.rank_id}}').value + '" est trop court : 2 lettres minimum.');
                return false;
            }
            {% endfor %}
            
            return true;
        }
    </script>
    <form method="post"
          action="."
          onsubmit="return check()"
          class="card">
        <div class="card-header">
            <span>Grades</span>
        </div>
        <div class="card-body">
            <div class="row g-1 flex-column">
                {% for rank in ranks %}
                    <div class="col-12">
                        <div class="row gx-2">
                            <div class="col-6">
                                <div class="row g-1 flex-column">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   id="c{{ rank.rank_id }}_enabled"
                                                   name="c{{ rank.rank_id }}_enabled"
                                                   value="1"
                                                   {% if rank.checked_enabled %} checked{% endif %}
                                                   {% if rank.disabled %} disabled{% endif %}
                                                   style="margin-top:6px">
                                            <input type="text"
                                                   size="32"
                                                   maxlength="32"
                                                   name="n{{ rank.rank_id }}"
                                                   id="n{{ rank.rank_id }}"
                                                   value="{{ rank.rank_label }}">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   id="c{{ rank.rank_id }}_1"
                                                   name="c{{ rank.rank_id }}_1"
                                                   value="1"
                                                   {% if rank.checked_1 %} checked{% endif %}>
                                            <label class="form-check-label" for="c{{ rank.rank_id }}_1">Recruter une nation</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   id="c{{ rank.rank_id }}_9"
                                                   name="c{{ rank.rank_id }}_9"
                                                   value="1"
                                                   {% if rank.checked_9 %} checked{% endif %}>
                                            <label class="form-check-label" for="c{{ rank.rank_id }}_9">Envoyer un message à toute l'alliance</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   id="c{{ rank.rank_id }}_10"
                                                   name="c{{ rank.rank_id }}_10"
                                                   value="1"
                                                   {% if rank.checked_10 %} checked{% endif %}>
                                            <label class="form-check-label" for="c{{ rank.rank_id }}_10">Modifier la description de l'alliance</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   id="c{{ rank.rank_id }}_13"
                                                   name="c{{ rank.rank_id }}_13"
                                                   value="1"
                                                   {% if rank.checked_13 %} checked{% endif %}>
                                            <label class="form-check-label" for="c{{ rank.rank_id }}_13">Publier la liste des membres</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row g-1 flex-column">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   id="c{{ rank.rank_id }}_0"
                                                   name="c{{ rank.rank_id }}_0"
                                                   value="1"
                                                   {% if rank.checked_0 %} checked{% endif %}
                                                   {% if rank.disabled %} disabled{% endif %}>
                                            <label class="form-check-label" for="c{{ rank.rank_id }}_0">Grade des nouveaux membres</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   id="c{{ rank.rank_id }}_2"
                                                   name="c{{ rank.rank_id }}_2"
                                                   value="1"
                                                   {% if rank.checked_2 %} checked{% endif %}>
                                            <label class="form-check-label" for="c{{ rank.rank_id }}_2">Exclure une nation</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   id="c{{ rank.rank_id }}_6"
                                                   name="c{{ rank.rank_id }}_6"
                                                   value="1"
                                                   {% if rank.checked_6 %} checked{% endif %}>
                                            <label class="form-check-label" for="c{{ rank.rank_id }}_6">Voir les rapports d'alliance</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   id="c{{ rank.rank_id }}_11"
                                                   name="c{{ rank.rank_id }}_11"
                                                   value="1"
                                                   {% if rank.checked_11 %} checked{% endif %}>
                                            <label class="form-check-label" for="c{{ rank.rank_id }}_11">Modifier l'annonce de l'alliance</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                {% endfor %}
                <div class="col-12 text-center">
                    <input type="submit" name="submit" id="submit" value="Valider" />
                </div>
            </div>
        </div>
        <input type="hidden" name="action" value="save" />
        {% csrf_token %}
    </form>
{% endblock content %}
