{% extends "ng0/layout.html" %}
{% block content %}
    <div class="nav nav-tabs mb-3">
        <div class="nav-item">
            <a href="/ng0/alliance-view/" class="nav-link text-nowrap">Vue d'ensemble</a>
        </div>
        {% if show_management %}
            <div class="nav-item">
                <a href="/ng0/alliance-manage/" class="nav-link">Gestion</a>
            </div>
        {% endif %}
        {% if show_management %}
            <div class="nav-item">
                <a href="/ng0/alliance-ranks/" class="nav-link">Grades</a>
            </div>
        {% endif %}
        {% if show_members %}
            <div class="nav-item">
                <a href="/ng0/alliance-members/" class="nav-link">Membres</a>
            </div>
        {% endif %}
        {% if show_members %}
            <div class="nav-item">
                <a href="/ng0/alliance-recruit/" class="nav-link">Recrutement</a>
            </div>
        {% endif %}
        <div class="nav-item">
            <a href="/ng0/alliance-wallet/" class="nav-link">Portefeuille</a>
        </div>
        <div class="nav-item">
            <a href="/ng0/alliance-wars/" class="nav-link active">Guerres</a>
        </div>
        {% if show_reports %}
            <div class="nav-item">
                <a href="/ng0/alliance-reports/" class="nav-link">Rapports</a>
            </div>
        {% endif %}
        <div class="nav-item">
            <a href="/ng0/alliance-invitations/" class="nav-link">Invitations</a>
        </div>
    </div>
    <script>
        function confirmStopWar(tag) {
        
            return confirm("Êtes-vous sûr de vouloir arrêter la guerre avec [" + tag + "] ?");
        }
    </script>
    <div class="row g-3 flex-column">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span>Guerres en cours</span>
                </div>
                <div class="card-body">
                    <div class="row g-1 flex-column">
                        {% for war in wars %}
                            <div class="col-12">
                                <div class="row gx-3">
                                    <div class="col">
                                        <a href="/ng0/alliance-view/?tag={{ war.tag }}">[{{ war.tag }}] {{ war.name }}</a>
                                    </div>
                                    <div class="col-auto">
                                        {% if war.cant_fight %}<span>Préparation en cours</span>{% endif %}
                                        {% if war.can_fight %}<span>{{ war.next_bill }}</span>{% endif %}
                                    </div>
                                    <div class="col-auto">
                                        {% if war.extend %}
                                            <a href="?cat={{ cat }}&a=pay&tag={{ war.tag }}">Étendre la guerre d'une semaine</a>
                                            <img src="/static/ng0/img/credit.png" class="res" width="16ps" />
                                            {{ war.cost }}
                                        {% endif %}
                                        {% if war.ceasing %}Fin de guerre demandée (<script>putcountdown1({{war.time }}, "Terminé", "?")</script>){% endif %}
                                        {% if war.cease_requested %}
                                            <a href="?cat={{ cat }}&a=cease&tag={{ war.tag }}">Accepter la fin de la guerre (<script>putcountdown1({{war.time }}, "Terminé", "?")</script>)</a>
                                        {% endif %}
                                        {% if war.stop %}
                                            <a href="?cat={{ cat }}&a=stop&tag={{ war.tag }}"
                                               onclick="return confirmStopWar('{{ war.tag }}')">Arrêter la guerre</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="col-12 text-center">
                                <span class="text-normal">Aucune guerre</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if show_management %}
            <div class="col-12">
                <form action="?cat={{ cat }}&a=new" method="post" class="card">
                    <div class="card-header">
                        <span>Déclarer la guerre</span>
                    </div>
                    <div class="card-body">
                        <div class="row g-1 flex-column">
                            <div class="col-12 text-center">
                                <span class="text-normal">Veuillez indiquer le tag de l'alliance à laquelle déclarer la guerre. Toute guerre a un coût. Le coût est proportionnel à la force des alliances actuellement en guerre contre l'alliance ciblée.</span>
                            </div>
                            <div class="col-12">
                                <div class="row gx-2 align-items-center justify-content-center">
                                    <div class="col-auto">
                                        <span class="text-normal">Tag</span>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" name="tag" value="{{ tag }}" maxlength="4" />
                                    </div>
                                    <div class="col-auto">
                                        <input type="submit" name="submit" value="Déclarer">
                                    </div>
                                </div>
                            </div>
                            {% if norights %}
                                <div class="text-center">
                                    <span class="text-danger">Vous n'êtes pas en droit de faire une telle demande</span>
                                </div>
                            {% endif %}
                            {% if unknown %}
                                <div class="text-center">
                                    <span class="text-danger">Aucune alliance avec un tel tag n'a été trouvée</span>
                                </div>
                            {% endif %}
                            {% if already_at_war %}
                                <div class="text-center">
                                    <span class="text-danger">Nous sommes déjà en guerre contre cette alliance !</span>
                                </div>
                            {% endif %}
                            {% if not_enough_credits %}
                                <div class="text-center">
                                    <span class="text-danger">Pas assez de crédits !</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        {% endif %}
    </div>
{% endblock content %}
