{% extends "ng0/layout.html" %}
{% load i18n %}
{% block content %}
    <div class="content-block pb-2">
        <div class="row gx-3">
            <div class="col-auto">
                <span>Filter</span>
            </div>
            <div class="col">
                <div class="row gx-3 gy-1 align-items-center">
                    <div class="col-auto d-flex">
                        <a href="." {% if filter == 'all' %}class="badge text-bg-primary"{% endif %}>All {% if counter.all > 0 %}<small>({{ counter.all }})</small>{% endif %}</a>
                    </div>
                    <div class="col-auto d-flex">
                        <a href="?filter=idling" {% if filter == 'idling' %}class="badge text-bg-primary"{% endif %}>Idling {% if counter.idling > 0 %}<small>({{ counter.idling }})</small>{% endif %}</a>
                    </div>
                    <div class="col-auto d-flex">
                        <a href="?filter=moving" {% if filter == 'moving' %}class="badge text-bg-primary"{% endif %}>Moving {% if counter.moving > 0 %}<small>({{ counter.moving }})</small>{% endif %}</a>
                    </div>
                    <div class="col-auto d-flex">
                        <a href="?filter=recycling" {% if filter == 'recycling' %}class="badge text-bg-primary"{% endif %}>Recycling {% if counter.recycling > 0 %}<small>({{ counter.recycling }})</small>{% endif %}</a>
                    </div>
                    <div class="col-auto d-flex">
                        <a href="?filter=waiting" {% if filter == 'waiting' %}class="badge text-bg-primary"{% endif %}>Waiting {% if counter.waiting > 0 %}<small>({{ counter.waiting }})</small>{% endif %}</a>
                    </div>
                    <div class="col-auto d-flex">
                        <a href="?filter=fighting" {% if filter == 'fighting' %}class="badge text-bg-primary"{% endif %}>Fighting {% if counter.fighting > 0 %}<small>({{ counter.fighting }})</small>{% endif %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 d-flex flex-column h-100" style="overflow:auto">
        <div class="content-block">
            <div class="row g-2">
                {% for fleet in fleets %}
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <div class="card-header pb-0">
                                <div class="row gx-3 align-items-center">
                                    <div class="col d-flex align-items-center">
                                        {% if fleet.attackonsight %}
                                            <img src="/static/ng0/img/stance_attack.png" width="12px" class="me-1" data-bs-toggle="tooltip" data-bs-title="{% translate 'Attack on sight' %}" />
                                        {% else %}
                                            <img src="/static/ng0/img/stance_defend.png" width="12px" class="me-1" data-bs-toggle="tooltip" data-bs-title="{% translate 'Ripost on attack' %}" />
                                        {% endif %}
                                        <span class="fs-6 text-white">{{ fleet.name }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#" data-bs-toggle="tooltip" data-bs-title="{% translate 'View fleet' %}">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row gx-3 mb-1">
                                    <div class="col-auto d-flex align-items-center">
                                        <img src="/static/ng0/img/signature.png" width="12px" class="me-1" data-bs-toggle="tooltip" data-bs-title="{% translate 'Signature' %}" />
                                        <span><script>document.write(nFormatter({{ fleet.signature }}))</script></span>
                                    </div>
                                    <div class="col-auto d-flex align-items-center">
                                        <img src="/static/ng0/img/ships.png" width="12px" class="me-1" data-bs-toggle="tooltip" data-bs-title="{% translate 'Ships' %}" />
                                        <span><script>document.write(nFormatter({{ fleet.size }}))</script></span>
                                    </div>
                                    {% if fleet.cargo > 0 %}
                                        <div class="col-auto d-flex align-items-center">
                                            <img src="/static/ng0/img/cargo.png" width="12px" class="me-1" data-bs-toggle="tooltip" data-bs-title="{% translate 'Cargo' %}" />
                                            <span><script>document.write(nFormatter({{ fleet.cargo }}))</script></span>
                                        </div>
                                    {% endif %}
                                    {% if fleet.commanderid %}
                                        <div class="col-auto">
                                            <a href="/ng0/empire-commanders/" data-bs-toggle="tooltip" data-bs-title="{% translate 'View Commander' %}"><i class="fas fa-fw fa-user-astronaut"></i> {{ fleet.commandername }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if fleet.engaged %}
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <span class="text-danger me-1">{% translate 'Fighting at' %}</span>
                                            <script>putplanet('', '', '{{ fleet.planet_galaxy }}', '{{ fleet.planet_sector }}', '{{ fleet.planet_planet }}', {{ fleet.planet_owner_relation }})</script>
                                        </div>
                                    </div>
                                {% elif fleet.action == 0 %}
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <span class="me-1">{% translate 'Idling at' %}</span>
                                            <script>putplanet('', '', '{{ fleet.planet_galaxy }}', '{{ fleet.planet_sector }}', '{{ fleet.planet_planet }}', {{ fleet.planet_owner_relation }})</script>
                                        </div>
                                    </div>
                                {% elif fleet.action == 1 %}
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <span class="me-1">{% translate 'Moving from' %}</span>
                                            <script>putplanet('', '', '{{ fleet.planet_galaxy }}', '{{ fleet.planet_sector }}', '{{ fleet.planet_planet }}', {{ fleet.planet_owner_relation }})</script>
                                            <span class="mx-1">{% translate 'to' %}</span>
                                            <script>putplanet('', '', '{{ fleet.destplanet_galaxy }}', '{{ fleet.destplanet_sector }}', '{{ fleet.destplanet_planet }}', {{ fleet.destplanet_owner_relation }})</script>
                                        </div>
                                        <div class="col-auto">
                                            <span class="text-yellow"><script>putcountdown1({{ fleet.remaining_time }}, 'Terminé', '/s03/empire-fleets/')</script></span>
                                        </div>
                                    </div>
                                {% elif fleet.action == 2 %}
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <span class="me-1">{% translate 'Recycling at' %}</span>
                                            <script>putplanet('', '', '{{ fleet.planet_galaxy }}', '{{ fleet.planet_sector }}', '{{ fleet.planet_planet }}', {{ fleet.planet_owner_relation }})</script>
                                        </div>
                                        <div class="col-auto">
                                            <span class="text-yellow"><script>putcountdown1({{ fleet.remaining_time }}, 'Terminé', '/s03/empire-fleets/')</script></span>
                                        </div>
                                    </div>
                                {% elif fleet.action == 4 %}
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <span class="me-1">{% translate 'Waiting at' %}</span>
                                            <script>putplanet('', '', '{{ fleet.planet_galaxy }}', '{{ fleet.planet_sector }}', '{{ fleet.planet_planet }}', {{ fleet.planet_owner_relation }})</script>
                                        </div>
                                        <div class="col-auto">
                                            <span class="text-yellow"><script>putcountdown1({{ fleet.remaining_time }}, 'Terminé', '/s03/empire-fleets/')</script></span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12">
                        <span>{% translate 'No fleet' %}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
