{% extends "ng0/layout.html" %}
{% load humanize %}
{% block content %}
    <div class="card">
        <div class="list-group list-group-flush">
            {% for planet in planets %}
                <div class="list-group-item {% if planet.is_current %}bg-success{% endif %}">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <div class="row g-1 flex-column">
                                <div class="col-12 text-center">
                                    <img src="/static/ng0/img/planets/p{{ planet.img }}.gif"
                                         width="48px"
                                         class="rounded"/>
                                </div>
                                <div class="col-12 text-center">
                                    <a href="/ng0/map/?g={{ planet.galaxy }}&s={{ planet.sector }}">{{ planet.galaxy }}.{{ planet.sector }}.{{ planet.planet }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row g-1 flex-column">
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col">
                                            <a href="/ng0/planet-view/?planet={{ planet.id }}">{{ planet.name }}</a>
                                        </div>
                                        {% if planet.commanderid %}
                                            <div class="col-auto">
                                                <img src="/static/ng0/img/commander.gif"
                                                     class="res"
                                                     width="16px"
                                                     height="16px">
                                                <a href="/ng0/empire-commanders/#{{ planet.commander_name }}">{{ planet.commandername }}</a>
                                            </div>
                                        {% endif %}
                                        <div class="col-auto">
                                            <a href="/ng0/planet-buildings/?planet={{ planet.id }}">Bâtiments</a>
                                        </div>
                                        <div class="col-auto">
                                            <a href="/ng0/planet-ships/?planet={{ planet.id }}">Chantier Spatial</a>
                                        </div>
                                        <div class="col-auto">
                                            <a href="/ng0/planet-trainings/?planet={{ planet.id }}">Entraînement</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row gx-3 flex-nowrap">
                                        <div class="col-4">
                                            <div class="row g-1 flex-column">
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/ng0/img/ore.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span class="{% if planet.ore_level >= 90 %}text-danger{% elif planet.ore_level >= 70 %}text-warning{% endif %}">{{ planet.ore|intcomma }}</span>
                                                    <small class="ms-1 text-normal">/{{ planet.ore_capacity|intcomma }}</small>
                                                    <small class="ms-1 {% if planet.ore_production_anormal %}text-warning{% else %}text-success{% endif %}">+{{ planet.ore_production|intcomma }}</small>
                                                </div>
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/ng0/img/hydrocarbon.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span class="{% if planet.hydrocarbon_level >= 90 %}text-danger{% elif planet.hydrocarbon_level >= 70 %}text-warning{% endif %}">{{ planet.hydrocarbon|intcomma }}</span>
                                                    <small class="ms-1 text-normal">/{{ planet.hydrocarbon_capacity|intcomma }}</small>
                                                    <small class="ms-1 {% if planet.hydrocarbon_production_anormal %}text-warning{% else %}text-success{% endif %}">+{{ planet.hydrocarbon_production|intcomma }}</small>
                                                </div>
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/ng0/img/energy.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span>{{ planet.energy|intcomma }}</span>
                                                    <small class="ms-1 text-normal">/{{ planet.energy_capacity|intcomma }}</small>
                                                    <small class="ms-1 {% if planet.energy_balance > 0 %}text-success{% else %}text-danger{% endif %}">{{ planet.energy_balance|intcomma }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row g-1 flex-column">
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/ng0/img/workers.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span class="{% if planet.workers_for_maintenance > planet.workers %}text-danger{% endif %}">{{ planet.workers|intcomma }}</span>
                                                    <small class="ms-1 text-normal">/{{ planet.workers_capacity|intcomma }}</small>
                                                    <small class="ms-1 text-success">{{ planet.workers_idle|intcomma }}</small>
                                                </div>
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/ng0/img/scientists.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span>{{ planet.scientists|intcomma }}</span>
                                                    <small class="ms-1 text-normal">/{{ planet.scientists_capacity|intcomma }}</small>
                                                    {% if planet.scientists_training > 0 %}<small class="ms-1 text-success">+{{ planet.scientists_training|intcomma }}</small>{% endif %}
                                                </div>
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/ng0/img/soldiers.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span class="{% if planet.soldiers_low %}text-danger{% endif %}">{{ planet.soldiers|intcomma }}</span>
                                                    <small class="ms-1 text-normal">/{{ planet.soldiers_capacity|intcomma }}</small>
                                                    {% if planet.soldiers_training > 0 %}<small class="ms-1 text-success">+{{ planet.soldiers_training|intcomma }}</small>{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="row g-1 flex-column">
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/ng0/img/workers.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span>{{ planet.workers_for_maintenance|intcomma }}</span>
                                                </div>
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/ng0/img/credit.png"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span>{{ planet.upkeep|intcomma }}</span>
                                                </div>
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/ng0/img/soldiers.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span>{{ planet.soldiers_upkeep|intcomma }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="row g-1 flex-column">
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/ng0/img/floor.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span>{{ planet.floor_occupied|intcomma }}</span>
                                                    <small class="ms-1 text-normal">/{{ planet.floor|intcomma }}</small>
                                                </div>
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/ng0/img/space.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span>{{ planet.space_occupied|intcomma }}</span>
                                                    <small class="ms-1 text-normal">/{{ planet.space|intcomma }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
