{% extends "ng0/layout.html" %}
{% load i18n %}

{% block content %}
<div class="h-100 row gx-3">
    <div class="col-3">
    </div>
    <div class="col-9">
        <div class="nav nav-pills">
            <div class="nav-item"><a href="/ng0/fleet_overview" class="nav-link {% if fleet_tab == 'overview' %}active{% endif %}">{% translate "Overview" %}</a></div>
            <div class="nav-item"><a href="/ng0/fleet_cargo" class="nav-link {% if fleet_tab == 'cargo' %}active{% endif %}">{% translate "Cargo" %}</a></div>
            <div class="nav-item"><a href="/ng0/fleet_ships" class="nav-link {% if fleet_tab == 'ships' %}active{% endif %}">{% translate "Ships" %}</a></div>
            <div class="nav-item"><a href="/ng0/fleet_split" class="nav-link {% if fleet_tab == 'split' %}active{% endif %}">{% translate "Split" %}</a></div>
        </div>
        {% block fleet_content %}{% endblock %}
    </div>
</div>
{% endblock %}