{% extends "ng0/layout.html" %}
{% load i18n %}
{% block content %}
    <div class="content-block">
        <div class="nav nav-tabs">
            <div class="nav-item">
                <a href="/ng0/fleets-idle/" class="nav-link text-nowrap active">{% translate 'Idle' %}</a>
            </div>
        </div>
    </div>
    <div class="content-block">
        <div class="row g-2">
            {% for fleet in fleets %}
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="row gx-3 align-items-center">
                                <div class="col d-flex align-items-center">
                                    <img src="/static/ng0/img/stance_defend.png" width="12px" class="me-1" data-bs-toggle="tooltip" data-bs-title="{% translate 'Attack on sight' %}" />
                                    <span class="fs-6 text-white">{{ fleet.name }}</span>
                                </div>
                                <div class="col-auto">
                                    <a href="#" data-bs-toggle="tooltip" data-bs-title="{% translate 'View Commander' %}"><i class="fas fa-fw fa-user-astronaut"></i> Commander name</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row gx-3 mb-2">
                                <div class="col-auto">
                                    <img src="/static/ng0/img/signature.png" width="12px" data-bs-toggle="tooltip" data-bs-title="{% translate 'Signature' %}" />
                                    <span><script>document.write(nFormatter(158654825))</script></span>
                                </div>
                                <div class="col-auto">
                                    <img src="/static/ng0/img/ships.png" width="12px" data-bs-toggle="tooltip" data-bs-title="{% translate 'Ships' %}" />
                                    <span><script>document.write(nFormatter(158654825))</script></span>
                                </div>
                                <div class="col-auto">
                                    <img src="/static/ng0/img/cargo.png" width="12px" data-bs-toggle="tooltip" data-bs-title="{% translate 'Cargo' %}" />
                                    <span><script>document.write(nFormatter(158654825))</script></span>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <span class="me-1">{% translate 'Idle at' %}</span>
                                    <a href="#" data-bs-toggle="tooltip" data-bs-title="{% translate 'Map' %}"><i class="fas fa-fw fa-map"></i> 1.5.9</a>
                                </div>
                                <div class="col-auto">
                                    <a href="#" data-bs-toggle="tooltip" data-bs-title="{% translate 'View fleet' %}"><i class="fas fa-fw fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
