{% load humanize %}
<script>
function jump(obj) { eval('location="{{ url }}' + obj.options[obj.selectedIndex].value + '"') }

function nextplanet() {

	let obj = document.getElementById('planetlist')
	if (obj.selectedIndex < obj.options.length - 1) obj.selectedIndex = obj.selectedIndex + 1
    jump(obj)
}

function previousplanet() {

	let obj = document.getElementById('planetlist')
	if (obj.selectedIndex > 0) obj.selectedIndex = obj.selectedIndex - 1
    jump(obj)
}
</script>
<div class="mb-3">
    <div class="card card-body bg-dark">
        <div class="row gx-3 align-items-center justify-content-between flex-nowrap">
            <div class="col-auto">
                <a href="#"
                   onclick="previousplanet(); return false;"
                   class="fs-6"
                   data-bs-toggle="tooltip"
                   data-bs-title="Planète Précédente"><i class="fa-fw fas fa-chevron-circle-left"></i></a>
            </div>
            <div class="col-auto">
                <div class="row g-1 flex-column">
                    <div class="col-12">
                        <select id="planetlist" class="w-100" tabindex="1" onchange="jump(this)">
                            {% for planet in planets %}
                                <option value="{{ planet.id }}"{% if planet.selected %} selected{% endif %}>
                                    {{ planet.galaxy }}.{{ planet.sector }}.{{ planet.planet }} {{ planet.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if special1 %}
                        <div class="col-12 text-nowrap">
                            <img src="/static/ng0/img/special.gif"
                                 class="res"
                                 width="16px"
                                 height="16px"/>
                            {{ special1 }}
                        </div>
                    {% endif %}
                    {% if special2 %}
                        <div class="col-12 text-nowrap">
                            <img src="/static/ng0/img/special.gif"
                                 class="res"
                                 width="16px"
                                 height="16px"/>
                            {{ special2 }}
                        </div>
                    {% endif %}
                    {% if special3 %}
                        <div class="col-12 text-nowrap">
                            <img src="/static/ng0/img/special.gif"
                                 class="res"
                                 width="16px"
                                 height="16px"/>
                            {{ special3 }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-auto">
                <div class="row g-1 flex-column">
                    <div class="col-12 text-nowrap">
                        <img src="/static/ng0/img/ore.gif"
                             class="res"
                             width="16px"
                             height="16px"/>
                        <span class="{% if planet.ore_level >= 90 %}text-danger{% elif planet.ore_level >= 70 %}text-warning{% endif %}">{{ planet.ore|intcomma }}</span>
                        <small class="ms-1 text-normal">/{{ planet.ore_capacity|intcomma }}</small>
                        <small class="ms-1 {% if planet.ore_production_anormal %}text-warning{% else %}text-success{% endif %}">+{{ planet.ore_production|intcomma }}</small>
                    </div>
                    <div class="col-12 text-nowrap">
                        <img src="/static/ng0/img/hydrocarbon.gif"
                             class="res"
                             width="16px"
                             height="16px"/>
                        <span class="{% if planet.hydrocarbon_level >= 90 %}text-danger{% elif planet.hydrocarbon_level >= 70 %}text-warning{% endif %}">{{ planet.hydrocarbon|intcomma }}</span>
                        <small class="ms-1 text-normal">/{{ planet.hydrocarbon_capacity|intcomma }}</small>
                        <small class="ms-1 {% if planet.hydrocarbon_production_anormal %}text-warning{% else %}text-success{% endif %}">+{{ planet.hydrocarbon_production|intcomma }}</small>
                    </div>
                    <div class="col-12 text-nowrap">
                        <img src="/static/ng0/img/energy.gif"
                             class="res"
                             width="16px"
                             height="16px"/>
                        <span>{{ planet.energy|intcomma }}</span>
                        <small class="ms-1 text-normal">/{{ planet.energy_capacity|intcomma }}</small>
                        <small class="ms-1 {% if planet.energy_production < 0 %}text-danger{% else %}text-success{% endif %}">
                            {% if planet.energy_production > 0 %}+{% endif %}
                        {{ planet.energy_production|intcomma }}</small>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row g-1 flex-column">
                    <div class="col-12 text-nowrap">
                        <img src="/static/ng0/img/workers.gif"
                             class="res"
                             width="16px"
                             height="16px"/>
                        <span class="{% if planet.workers_for_maintenance > planet.workers %}text-danger{% endif %}">{{ planet.workers|intcomma }}</span>
                        <small class="ms-1 text-normal">/{{ planet.workers_capacity|intcomma }}</small>
                        <small class="ms-1 {% if planet.workers_idle <= 0 %}text-danger{% else %}text-success{% endif %}">{{ planet.workers_idle|intcomma }}</small>
                    </div>
                    <div class="col-12 text-nowrap">
                        <img src="/static/ng0/img/scientists.gif"
                             class="res"
                             width="16px"
                             height="16px"/>
                        <span>{{ planet.scientists|intcomma }}</span>
                        <small class="ms-1 text-normal">/{{ planet.scientists_capacity|intcomma }}</small>
                    </div>
                    <div class="col-12 text-nowrap">
                        <img src="/static/ng0/img/soldiers.gif"
                             class="res"
                             width="16px"
                             height="16px"/>
                        <span class="{% if planet.soldiers_low %}text-danger{% endif %}">{{ planet.soldiers|intcomma }}</span>
                        <small class="ms-1 text-normal">/{{ planet.soldiers_capacity|intcomma }}</small>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row g-1 flex-column">
                    <div class="col-12 text-nowrap">
                        <img src="/static/ng0/img/floor.gif"
                             class="res"
                             width="16px"
                             height="16px"/>
                        <span>{{ planet.floor_occupied|intcomma }}</span>
                        <small class="ms-1 text-normal">/{{ planet.floor|intcomma }}</small>
                    </div>
                    <div class="col-12 text-nowrap">
                        <img src="/static/ng0/img/space.gif"
                             class="res"
                             width="16px"
                             height="16px"/>
                        <span>{{ planet.space_occupied|intcomma }}</span>
                        <small class="ms-1 text-normal">/{{ planet.space|intcomma }}</small>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <a href="#"
                   onclick="nextplanet(); return false;"
                   class="fs-6"
                   data-bs-toggle="tooltip"
                   data-bs-title="Planète Suivante"><i class="fa-fw fas fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
