{% extends "base.html" %}

{% load i18n %}

{% block content %}
    
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row gx-2 align-items-center">
                    <div class="col-auto" style="padding-top:2px;">
                        <a href="/lobby/"><i class="fs-6 fa-fw fas fa-arrow-alt-circle-left"></i></a>
                    </div>
                    <div class="col">
                        <div class="row gx-2 align-items-center">
                            <div class="col-auto">
                                <img src="/static/img/interface/logo.png" width="24px" class="rounded" />
                            </div>
                            <div class="col-auto">
                                <span class="fs-6">NG Exile</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <span class="fs-6 text-white">ng0</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row gx-2 gy-3">
                    <div class="col-12 text-center">
                        <span class="text-danger">{% translate "Les inscriptions sur ce serveur ne sont pas ouvertes." %}</span><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}