{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <div class="col-12">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="unlock">
            <div class="card">
                <div class="card-header">
                    <div class="row gx-2 align-items-center">
                        <div class="col">
                            <div class="row gx-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/img/interface/logo.png" width="24px" class="rounded" />
                                </div>
                                <div class="col-auto">
                                    <span class="fs-6">NG Exile</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <span class="fs-6 text-white">ng0</span>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <div class="row gx-2 gy-3">
                        <div class="col-12">
                            <span class="fs-6 text-self">{{ profile.username }}</span>
                        </div>
                        <div class="col-12">
                            <span class="text-normal">{% translate "Comme vous le savez l'<span class='text-white'>Humanité</span> a dû quitté l'Univers lors du grand Exile. Bravant les ordres officiels, certains n'ont pas voulu quitter l'Univers et sont restés sur place. Ils se sont adaptés a cet Univers hostile et se sont développés. Ils ne resemblent plus vraiment à des êtres humains et se font appellés les <span class='text-danger'>Fossoyeurs</span>." %}</span>
                        </div>
                        <div class="col-12">
                            <span class="text-normal">{% translate "Votre mission, si vous l'acceptez, sera de nettoyer les galaxies de l'Univers de ces <span class='text-danger'>Fossoyeurs</span> afin de permettre à l'<span class='text-white'>Humanité</span> un retour paisible. Vous ne serez pas seul pour cette mission: d'autres commandant ont déjà accepté la mission." %}</span>
                        </div>
                        <div class="col-12">
                            <span class="text-normal">{% translate "Nous avons toute confiance en vous. Bonne chance et bon courage !" %}</span>
                        </div>
                        <div class="col-12">
                            <input type="submit" class="btn btn-primary" value="{% translate 'Accepter' %}">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
{% endblock content %}