{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row gx-2 align-items-center">
                    <div class="col">
                        <div class="row gx-2 align-items-center">
                            <div class="col-auto">
                                <img src="/static/img/interface/logo.png" width="24px" class="rounded" />
                            </div>
                            <div class="col-auto">
                                <span class="fs-6">NG Exile</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <span class="fs-6 text-white">ng0</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row gx-2 gy-3">
                    <div class="col-12 text-center">
                        <span class="text-danger">{% translate "Le serveur est actuellement en maintenance." %}</span>
                    </div>
                    <div class="col-12 text-center">
                        <span class="text-normal">{% translate "En attendant que l'accès au jeu revienne, vous pouvez consulter le serveur Discord." %}</span>
                    </div>
                    <div class="col-12 text-center">
                        <a href="https://discord.gg/9RHUEhw" target="_blank" class="btn btn-primary"><i class="fa-fw fab fa-discord me-1"></i> Discord</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}