{% load i18n %}
{% load humanize %}
<!doctype html>
<html lang="en">
    <head>
        <title>[NG-0] NG Exile</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="/static/ng0/styles.css"
              type="text/css"
              rel="stylesheet"
              media="all"/>
        <script src="/static/js/vendor-fontawesome.js"></script>
        <script src="/static/ng0/js/common.js"></script>
        <script src="/static/ng0/js/time.js"></script>
    </head>
    <body>
        <div id="root" class="root">
            <div id="header" class="header">
                <div class="header-inner">
                    <div class="header-inner-start">
                        <img src="/static/img/logo.png" width="32px" class="rounded" />
                        <span class="header-title fs-6 d-none d-md-inline">NG Exile</span>
                        <span class="badge bg-light">NG-0</span>
                    </div>
                    <div class="header-inner-end">
                        <a href="/ng0/mail-inbox/"
                           class="btn btn-icon header-btn"
                           data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           data-bs-title="{% translate 'Mails' %}">
                            <div class="position-relative">
                                <i class="fa-fw fas fa-envelope"></i>
                                {% if profile.unread_mails > 0 %}
                                    <span class="badge badge-top rounded text-bg-info p-1">{{ profile.unread_mails }}</span>
                                {% endif %}
                            </div>
                        </a>
                        <a href="/ng0/empire-reports/"
                           class="btn btn-icon header-btn"
                           data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           data-bs-title="{% translate 'Reports' %}">
                            <div class="position-relative">
                                <i class="fa-fw fas fa-bell"></i>
                                {% if profile.unread_reports > 0 %}
                                    <span class="badge badge-top rounded text-bg-info p-1">{{ profile.unread_reports }}</span>
                                {% endif %}
                            </div>
                        </a>
                        <a href="/ng0/profile-view/"
                           class="btn btn-icon header-btn"
                           data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           data-bs-title="{% translate 'Profile' %}">
                            <i class="fa-fw fas fa-user"></i>
                        </a>
                        <button type="button"
                                class="btn btn-icon header-btn leftnav-toggler d-md-none">
                            <div class="position-relative">
                                <i class="fa-fw fas fa-bars"></i>
                                {% if profile.deletion_date %}
                                    <span class="badge badge-top rounded bg-danger p-1">
                                        <span class="visually-hidden">{% translate 'Account deletion' %}</span>
                                    </span>
                                {% elif profile.bankruptcy_hours > 0 %}
                                    <span class="badge badge-top rounded bg-warning p-1">
                                        <span class="visually-hidden">{% translate 'Bankruptcy risk' %}</span>
                                    </span>
                                {% elif profile.is_impersonating %}
                                    <span class="badge badge-top rounded bg-warning p-1">
                                        <span class="visually-hidden">{% translate 'Impersonating' %}</span>
                                    </span>
                                {% endif %}
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div id="leftnav" class="leftnav">
                <div class="leftnav-inner">
                    <div class="leftnav-inner-top px-3 pb-2">
                        <div class="d-flex align-items-center py-2">
                            <div class="col-auto pe-2">
                                {% if cavatar_url %}
                                    <img src="{{ profile.avatar_url }}" width="42px" class="rounded-circle" />
                                {% else %}
                                    <img src="/static/ng0/img/noavatar.png"
                                         width="42px"
                                         class="rounded-circle"/>
                                {% endif %}
                            </div>
                            <div class="col text-truncate">
                                <div class="row g-1">
                                    <div class="col-12">
                                        <span class="h6 text-info">{{ profile.username }}</span>
                                    </div>
                                    <div class="col-12 text-truncate">
                                        {% if profile.alliance_tag %}
                                            <a href="/ng0/alliance-view/"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="top"
                                               data-bs-title="{% translate 'View alliance' %}">[{{ profile.alliance_tag }}] {{ profile.alliance_name }}</a>
                                        {% else %}
                                            {% translate 'Indépendant' %}
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <div class="row gx-3 align-items-center">
                                            <div class="col-auto">
                                                <div class="row gx-1 align-items-center">
                                                    <div class="col-auto d-flex">
                                                        <img src="/static/ng0/img/credit.png"
                                                             width="12px"
                                                             data-bs-toggle="tooltip"
                                                             data-bs-placement="top"
                                                             data-bs-title="{% translate 'Coin' %}"/>
                                                    </div>
                                                    <div class="col">
                                                        <span class="{% if profile.credits < 0 %}text-danger{% else %}text-white{% endif %}">{{ profile.credits|intcomma }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="row gx-1 align-items-center">
                                                    <div class="col-auto d-flex">
                                                        <img src="/static/ng0/img/prestige.png"
                                                             width="12px"
                                                             data-bs-toggle="tooltip"
                                                             data-bs-placement="top"
                                                             data-bs-title="{% translate 'Prestige' %}"/>
                                                    </div>
                                                    <div class="col">
                                                        <span class="text-white">{{ profile.prestiges|intcomma }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if profile.deletion_date %}
                            <div class="py-2">
                                <div class="alert alert-danger">
                                    <div class="h6">{% translate 'Account deletion' %}</div>
                                    <span class="">{% translate 'Your account will be deleted the {{ profile.deletion_date|date:"D d M Y" }} at {{ profile.deletion_date|time }}.' %}</span>
                                </div>
                            </div>
                        {% endif %}
                        {% if profile.bankruptcy_hours > 0 %}
                            <div class="py-2">
                                <div class="alert alert-warning">
                                    <div class="h6">{% translate 'Bankruptcy risk' %}</div>
                                    <span class="">{% translate 'You are in deficit! You have {{ profile.bankruptcy_hours }} hour(s) to restore the situation before the economic game-over.' %}</span>
                                </div>
                            </div>
                        {% endif %}
                        {% if profile.is_impersonating %}
                            <div class="py-2">
                                <div class="alert alert-warning">
                                    <div class="h6">{% translate 'Impersonating' %}</div>
                                    <a href="/impersonate/stop/">{% translate 'Go back to original account' %}</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="py-2 nav nav-pills flex-column">
                            <div class="nav-item">
                                <a href="/ng0/empire-view/"
                                   class="nav-link {% if selectedMenu == 'empire' %}active{% endif %}">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-crown fs-6"></i>
                                        </div>
                                        <div class="col">{% translate 'Empire' %}</div>
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>
                                <a href="/ng0/planets-view/"
                                   class="nav-link {% if selectedMenu == 'planets' %}active{% endif %}">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-globe fs-6"></i>
                                        </div>
                                        <div class="col">{% translate 'Planets' %}</div>
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>
                                <a href="/ng0/empire-fleets/"
                                   class="nav-link {% if selectedMenu == 'fleets' %}active{% endif %}">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-space-shuttle fs-6"></i>
                                        </div>
                                        <div class="col">{% translate 'Fleets' %}</div>
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>
                                <a href="/ng0/empire-techs/"
                                   class="nav-link {% if selectedMenu == 'techs' %}active{% endif %}">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-flask fs-6"></i>
                                        </div>
                                        <div class="col">{% translate 'Laboratory' %}</div>
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>
                                <a href="/ng0/empire-commanders/"
                                   class="nav-link {% if selectedMenu == 'commanders' %}active{% endif %}">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-user-astronaut fs-6"></i>
                                        </div>
                                        <div class="col">
                                            {% translate 'Commanders' %}
                                        </div>
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>
                                <a href="/ng0/alliance-view/"
                                   class="nav-link {% if selectedMenu == 'alliance' %}active{% endif %}">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-users fs-6"></i>
                                        </div>
                                        <div class="col">
                                            {% translate 'Alliance' %}
                                        </div>
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>
                                <a href="/ng0/map/"
                                   class="nav-link {% if selectedMenu == 'map' %}active{% endif %}">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-map fs-6"></i>
                                        </div>
                                        <div class="col">
                                            {% translate 'Map' %}
                                        </div>
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>
                                <a href="/ng0/ranking-players/"
                                   class="nav-link {% if selectedMenu == 'ranking' %}active{% endif %}">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-signal fs-6"></i>
                                        </div>
                                        <div class="col">
                                            {% translate 'Ranking' %}
                                        </div>
                                        <div class="col-auto">
                                            {{ profile.ranking|intcomma }} <small>/{{ profile.players|intcomma }}</small>
                                        </div>
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>
                                <a href="/ng0/planet-view/"
                                   class="nav-link {% if selectedMenu == 'planet' %}active{% endif %}">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto d-flex">
                                            <img src="/static/ng0/img/planet{{ currentPlanet.img }}.png" width="20px" />
                                        </div>
                                        <div class="col text-truncate">
                                            {{ currentPlanet.name }}
                                        </div>
                                        <div class="col-auto">
                                            {{ currentPlanet.galaxy }}.{{ currentPlanet.sector }}.{{ currentPlanet.number }}
                                        </div>
                                        <div class="col-auto d-flex">
                                            <i class="fas fa-fw fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="leftnav-inner-bottom px-3 py-3">
                        <div class="row gx-3 align-items-center justify-content-around">
                            <form class="col-auto"
                                  action="https://www.paypal.com/cgi-bin/webscr"
                                  method="post"
                                  target="_blank">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="7XYD7SJFKQ8M4">
                                <button type="submit"
                                        class="p-0 border-0 bg-transparent"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        data-bs-title="{% translate 'Make a donation' %}">
                                    <img src="/static/img/paypal.png" width="22px">
                                </button>
                            </form>
                            <div class="col-auto">
                                <a href="https://ko-fi.com/freddecgames"
                                   target="_blank"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="{% translate 'Buy me a Ko-fi' %}">
                                    <img src="/static/img/kofi.png" width="22px">
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="https://www.patreon.com/bePatron?u=61283131"
                                   target="_blank"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="{% translate 'Become a Patreon supporter' %}">
                                    <img src="/static/img/patreon.png" width="22px">
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="https://discord.gg/3UkgeeT9CV"
                                   target="_blank"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="{% translate 'Discord' %}">
                                    <img src="/static/img/discord.png" width="22px">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content" class="content">
                <div class="content-inner">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-212X2QX8W5"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag(){ dataLayer.push(arguments) }
            gtag('js', new Date())
            gtag('config', 'G-212X2QX8W5')
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

            const root = document.getElementById('root')

            document.querySelectorAll('.leftnav-toggler').forEach(e => {
                e.addEventListener('click', () => {
                    window.innerWidth < 992 || !root.classList.contains('leftnav-shown') ? root.classList.toggle('leftnav-shown') : root.classList.toggle('leftnav-shown')
                })
            })

            document.addEventListener('click', e => {
                e.target.classList.contains('root') && root.classList.remove('leftnav-shown')
            })
        </script>
    </body>
</html>
