{% load i18n %}
<!doctype html>
<html lang="en">
    <head>
        <!-- -->
        <title>NG Exile - NG-0</title>
        <!-- -->
        <link rel="shortcut icon" href="/static/favicon.ico">
        <!-- -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- -->
        <link rel="stylesheet" type="text/css" href="/static/css/vendor-bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
        <!-- -->
        <script type="text/javascript" src="/static/js/vendor-bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor-fontawesome.js"></script>
        <!-- -->
        {% block head %}{% endblock %}
    </head>
    <body>
        <!-- -->
        <div class="h-100 w-100 d-flex align-items-center justify-content-center">
            <div class="p-3" style="width:1024px; height:640px;">
                <div class="w-100 h-100 card">
                    <div class="card-header">
                        <div class="row gx-4 align-items-center">
                            <div class="col-auto">
                                <div class="row gx-2 align-items-center">
                                    <div class="col-auto">
                                        <img src="/static/img/logo.png" width="24px" class="rounded" />
                                    </div>
                                    <div class="col-auto">
                                        <span class="fs-6">NG-0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="row gx-1 align-items-center">
                                    <div class="col-auto"><img src="/static/img/prestige.png" width="16px" class="rounded" /></div>
                                    <div class="col-auto">999.99 aa</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row gx-1 align-items-center">
                                    <div class="col-auto"><img src="/static/img/credit.png" width="16px" class="rounded" /></div>
                                    <div class="col-auto">999.99 aa</div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="nav nav-pills justify-content-center">
                                    <div class="nav-item"><a href="/ng0/profile_overview" class="nav-link {% if main_tab == 'profile' %}active{% endif %}">{% translate "Overview" %}</a></div>
                                    <div class="nav-item"><a href="/ng0/map_galaxy?g={{ curPlanet.galaxy }}" class="nav-link {% if main_tab == 'map' %}active{% endif %}">{% translate "Map" %}</a></div>
                                    <div class="nav-item"><a href="/ng0/planet_buildings" class="nav-link {% if main_tab == 'planet' %}active{% endif %}">{% translate "Planets" %}</a></div>
                                    <div class="nav-item"><a href="/ng0/fleet_overview" class="nav-link {% if main_tab == 'fleet' %}active{% endif %}">{% translate "Fleets" %}</a></div>
                                    <div class="nav-item"><a href="/ng0/commander_overview" class="nav-link {% if main_tab == 'commander' %}active{% endif %}">{% translate "Pilots" %}</a></div>
                                    <div class="nav-item"><a href="/ng0/alliance_overview" class="nav-link {% if main_tab == 'alliance' %}active{% endif %}">{% translate "Alliance" %}</a></div>
                                    <div class="nav-item"><a href="/ng0/mail_inbox" class="nav-link {% if main_tab == 'mail' %}active{% endif %}">{% translate "Mails" %}</a></div>
                                    <div class="nav-item"><a href="/ng0/ranking_player" class="nav-link {% if main_tab == 'ranking' %}active{% endif %}">{% translate "Ranking" %}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    {% block content %}{% endblock %}
                    </div>
                    <div class="card-footer py-1">
                        <div class="row gx-3 align-items-center justify-content-end">
                            <div class="col-auto small">
                                <span class="text-muted">&#169; Copyright 2022-2023 - Freddec Games</span>
                            </div>
                            <div class="col-auto">
                                <a href="https://discord.gg/3UkgeeT9CV" target="_blank" class="btn btn-link p-0 border-0">
                                    <img src="/static/img/discord.png" width="24px" />
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="https://www.patreon.com/bePatron?u=61283131" target="_blank" class="btn btn-link p-0 border-0">
                                    <img src="/static/img/patreon.png" width="22px" />
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="https://ko-fi.com/freddecgames" target="_blank" class="btn btn-link p-0 border-0">
                                    <img src="/static/img/kofi.png" width="22px" />
                                </a>
                            </div>
                            <div class="col-auto">
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="col-4 text-center">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="7XYD7SJFKQ8M4">
                                    <button type="submit" class="btn btn-link p-0 border-0"><img src="/static/img/paypal.png" width="24px" /></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -->
        <div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
        <!-- -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y5FYL5X7FY"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag(){ dataLayer.push(arguments) }
            gtag('js', new Date())
            gtag('config', 'G-Y5FYL5X7FY')
        </script>
        <!-- -->
        {% block script %}{% endblock %}
    </body>
</html>
