{% extends "ng0/_layout.html" %}

{% load tz %}
{% load i18n %}
{% load humanize %}
{% load bbcode_tags %}

{% block content %}

    {% include "ng0/mail-tabs.html" %}
    
    <div class="content-page p-3" style="height:calc(100% - 92px);">
        <div class="h-100 scroll-content">
            <div class="row g-3">
        
                {% if pages|length > 1 %}
                    <div class="col-12">
                        <ul class="rounded nav nav-tabs">
                            {% for page in pages %}
                                <li class="nav-item">
                                    <a href="?start={{ page.link }}" class="nav-link {% if page.selected %}active{% endif %}">{{ page.id }}</a>
                                 </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
                {% if mails|length < 1 %}
                
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <span class="text-normal">Aucun message</span>
                            </div>
                        </div>
                    </div>
                    
                {% else %}
                    {% for mail in mails %}
                    
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto">
                                            {% if mail.avatar_url %}<img src="{{ mail.avatar_url }}" width="42" height="42" class="rounded">
                                            {% else %}<img src="/static/img/interface/noavatar.gif" width="42" height="42" class="rounded">
                                            {% endif %}
                                        </div>
                                        <div class="col">
                                            <div class="small">{{ mail.datetime|timezone:"Europe/Paris" }}</div>
                                            <div class="fs-6">{{ mail.subject }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row gx-3 align-items-center mb-3">
                                        <div class="col-auto">
                                            <span class="text-muted">{% translate 'à' %}</span>
                                        </div>
                                        <div class="col">
                                            <span class="text-normal me-3">{{ mail.owner }}</span>
                                        </div>
                                    </div>
                                    <div class="">
                                        <span>{{ mail.body|safe }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
        
            </div>
        </div>
    </div>
    
{% endblock %}
