{% extends "ng0/_layout.html" %}

{% load tz %}
{% load i18n %}
{% load humanize %}
{% load bbcode_tags %}

{% block content %}
    
    {% include "ng0/mail-tabs.html" %}
    
    <div class="content-page p-3" style="height:calc(100% - 92px);">
        <div class="h-100 scroll-content">
            <div class="row g-3">
            
                    {% if pages|length > 1 %}
                        <div class="col-12">
                            <ul class="rounded nav nav-tabs">
                                {% for page in pages %}
                                    <li class="nav-item">
                                        <a href="?start={{ page.link }}" class="nav-link {% if page.selected %}active{% endif %}">{{ page.id }}</a>
                                     </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                    {% if mails|length < 1 %}                
                    
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body text-center">
                                    <span class="text-normal">Aucun message</span>
                                </div>
                            </div>
                        </div>
                        
                    {% else %}
                        {% for mail in mails %}
                        
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row gx-3 align-items-center">
                                            <div class="col-auto">
                                                {% if mail.avatar_url %}<img src="{{ mail.avatar_url }}" width="42" height="42" class="rounded">
                                                {% else %}<img src="/static/img/interface/noavatar.gif" width="42" height="42" class="rounded">
                                                {% endif %}
                                            </div>
                                            <div class="col">
                                                <div class="small">{{ mail.datetime|timezone:"Europe/Paris" }}</div>
                                                <div class="fs-6">{{ mail.subject }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row gx-3 align-items-center mb-3">
                                            <div class="col-auto">
                                                <span class="text-muted">{% translate 'de' %}</span>
                                            </div>
                                            <div class="col">
                                                <span class="text-normal me-3">{{ mail.sender }}</span>
                                            </div>
                                            <div class="col-auto">
                                                {% if mail.added %}
                                                    <form method="post" class="d-inline">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="unignore" />
                                                        <input type="hidden" name="user" value="{{ mail.sender }}" />
                                                        <button type="submit" class="btn btn-link text-danger p-0">Bloqué</button>
                                                    </form>
                                                {% elif mail.sender %}
                                                    <form method="post" class="d-inline" onsubmit="return confirm('Êtes-vous sûr de vouloir bloquer les messages en provenance du joueur {{ mail.sender }} ?')">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="ignore" />
                                                        <input type="hidden" name="user" value="{{ mail.sender }}" />
                                                        <button type="submit" class="btn btn-link p-0">Bloquer</button>
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <span>{{ mail.body|safe }}</span>
                                        </div>
                                        <div class="row gx-3 align-items-center">
                                            <div class="col">
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="action" value="delete" />
                                                    <input type="hidden" name="mailId" value="{{ mail.mailid }}" />
                                                    <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-title="Supprimer">
                                                        <i class="fa-fw fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                            {% if mail.userid %}
                                                <div class="col-auto">
                                                    <div class="col-auto">
                                                        <a href="/ng0/mail-new/?a=reply&mailid={{ mail.mailid }}" class="btn btn-primary">Répondre</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        {% endfor %}
                    {% endif %}
                
                </div>
        </div>
    </div>
    
{% endblock %}
