{% load i18n %}

<div class="content-page px-3">
    <div class="pt-3 fs-6">
        <div class="row gx-2 align-items-center">
            <div class="col-auto d-flex">
                <i class="fa-fw fas fa-envelope"></i>
            </div>
            <div class="col">
                <span>{% translate "Messagerie" %}</span>
            </div>
        </div>
    </div>
    <ul class="rounded nav nav-tabs align-items-center mt-3 me-1">
        <li class="nav-item">
            <a href="/ng0/mail-inbox/" class="nav-link {% if selectedTab == 'inbox' %}active{% endif %}">{% translate "Reçus" %}</a>
        </li>
        <li class="nav-item">
            <a href="/ng0/mail-outbox/" class="nav-link {% if selectedTab == 'outbox' %}active{% endif %}">{% translate "Envoyés" %}</a>
        </li>
        <li class="nav-item">
            <a href="/ng0/mail-new/" class="nav-link {% if selectedTab == 'new' %}active{% endif %}">{% translate "Ecrire" %}</a>
        </li>
        <li class="nav-item">
            <a href="/ng0/mail-blacklist/" class="nav-link {% if selectedTab == 'blacklist' %}active{% endif %}">{% translate "Blacklist" %}</a>
        </li>
    </ul>
</div>
