{% extends "ng0/_layout.html" %}

{% load i18n %}

{% block content %}

    {% include "ng0/mail-tabs.html" %}
    
    <div class="content-page p-3" style="height:calc(100% - 92px);">
        <div class="h-100 scroll-content">
            <div class="row g-3">

                {% for ignorednation in ignorednations %}
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row gx-3 align-items-center">                                    
                                    <div class="col">
                                        <span class="text-normal">{{ ignorednation.name }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="action" value="unignore">
                                            <input type="hidden" name="profile" value="ignorednation.name">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa-fw fas fa-times-circle"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <span class="text-normal">Aucun joueur bloqué</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        
            </div>
        </div>
    </div>
    
{% endblock %}
