{% extends "ng0/_layout.html" %}

{% load i18n %}
{% load humanize %}
{% load bbcode_tags %}

{% block content %}

    {% include "ng0/mail-tabs.html" %}
    
    <div class="content-page p-3" style="height:calc(100% - 92px);">
        <div class="h-100 scroll-content">
            <div class="row g-3">

                {% include "ng0/_messages.html" %}
            
                <script>
                    function setaddressee(obj, input) {
                    
                        if (obj.selectedIndex > 0) input.value = obj.options[obj.selectedIndex].text;
                        else input.value = '';
                    }
                </script>
                
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="sendmail">
                    <div class="row g-3">
                        
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-12">
                                            <label for="to" class="form-label text-white">Destinataire</label>
                                            <div class="row gx-2 align-items-center">
                                                <div class="col">
                                                    <input type="text" class="form-control" id="to" name="to" value="{{ mailto }}" size="36" maxlength="128">
                                                </div>
                                                <div class="col-auto">
                                                    <select class="form-control" onchange="return setaddressee(this, to)">
                                                        <option>Derniers contacts</option>
                                                        {% for to in addressees %}
                                                            <option>{{ to.username }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="subject" class="form-label text-white">Objet</label>
                                            <input type="text" class="form-control" name="subject" value="{{ subject }}" size="64" maxlength="64">
                                        </div>
                                        <div class="col-12">
                                            <label for="message" class="form-label text-white">Message</label>
                                            <textarea class="form-control" name="message" cols="45" rows="10">{% if message %}{{message}}{% endif %}</textarea>
                                        </div>
                                        <div class="col-12">
                                            <input type="submit" name="sendmail" value="Envoyer" class="btn btn-primary">
                                        </div>
                                        <div class="col-12">
                                            <span class="text-danger">Pas d'insulte. Restez courtois, merci.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    
{% endblock %}
