{% load i18n %}

<div class="content-page px-3">
    <div class="pt-3 fs-6">
        <div class="row gx-2 align-items-center">
            <div class="col-auto d-flex">
                <i class="fa-fw fas fa-map"></i>
            </div>
            <div class="col">
                <span>{% translate "Carte spatiale" %}</span>
            </div>
        </div>
    </div>
    <div class="pt-3">
        <div class="row g-3 align-items-center justify-content-center">
            <div class="col-12 col-lg-4">
                <form method="get">
                
                    <div class="card">
                        <div class="card-body">
                            <div class="row gx-2 align-items-center justify-content-center">
                                <div class="col-auto">
                                    <a href="/ng0/map/">Univers</a>
                                </div>
                                <div class="col-auto">
                                    <a href="/ng0/map/?g={{ g }}">Galaxie</a>
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control text-center" name="g" id="locgalaxy" size="2" min="1" maxlength="2" autocomplete="off" value="{{ galaxy }}">
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control text-center" name="s" id="locsector" size="2" min="1" maxlength="2" autocomplete="off" value="{{ sector }}">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa-fw fas fa-map"></i>
                                    </button>
                                </div>
                            </div>
                        </div>                            
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
