{% extends "ng0/layout.html" %}
{% load i18n %}

{% block content %}
<div class="h-100 row gx-3">
    <div class="col-3">
        <div id="galaxies" class="list-group">
        </div>
    </div>
    <div class="col-6">
        <div id="map" class="row g-1"></div>
    </div>
    <div class="col-3">
        <div class="">
            <h6>{% translate "Legend" %}</h6>
            <div class="small">
                <div class="row gx-2 align-items-center text-free">
                    <div class="col-auto"><div class="lh-1" style="font-size:3px;"><i class="fas fa-circle"></i></div></div>
                    <div class="col">{% translate "Planet not colonized" %}</div>
                </div>
                <div class="row gx-2 align-items-center text-player">
                    <div class="col-auto"><div class="lh-1" style="font-size:3px;"><i class="fas fa-circle"></i></div></div>
                    <div class="col">{% translate "Planet colonized by Me" %}</div>
                </div>
                <div class="row gx-2 align-items-center text-ally">
                    <div class="col-auto"><div class="lh-1" style="font-size:3px;"><i class="fas fa-circle"></i></div></div>
                    <div class="col">{% translate "Planet colonized by ally" %}</div>
                </div>
                <div class="row gx-2 align-items-center text-enemy">
                    <div class="col-auto"><div class="lh-1" style="font-size:3px;"><i class="fas fa-circle"></i></div></div>
                    <div class="col">{% translate "Planet colonized by enemy" %}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    //--
    function displayGalaxies(galaxies) {
        //--
        let html = ''
        for (let galaxy of galaxies) {
            html += '<a class="list-group-item list-group-item-action' + ({{ cur_galaxy_id }} == galaxy['id'] ? ' active' : '') + '">'
                html += '<span>{% trans "Galaxy" %} #' + galaxy['id'] + '</span>'
            html += '</a>'
        }
        //--
        let elem = document.getElementById('galaxies')
        elem.innerHTML = html
    }
    //--
    function displayMap(planets) {
        //--
        let html = ''
        for (let sector = 1; sector < 101; sector++) {
            html += '<div class="col-auto" style="width:10%;">'
                html += '<a class="w-100 btn" style="padding:1px;">'
                    html += '<div class="row g-0">'
                        for (let number = 1; number < 26; number++) {
                            let index = (sector - 1) * 25 + (number - 1)
                            html += '<div class="col-auto d-flex align-items-center justify-content-center" style="width:20%; height:7px;">'
                                html += '<div class="lh-1" style="font-size:3px;"><i class="fas fa-circle text-' + planets[index]['relation'] + '"></i></div>'
                            html += '</div>'
                        }
                        html += '<div class="lh-1 text-center" style="margin-top:3px; font-size:8px;">' + sector + '</div>'
                    html += '</div>'
                html += '</a>'
            html += '</div>'
        }
        //--
        let elem = document.getElementById('map')
        elem.innerHTML = html
    }
    //--
    displayGalaxies({{ galaxies|safe }})
    displayMap({{ planets|safe }})
</script>
{% endblock %}
