{% extends "ng0/layout.html" %}
{% load i18n %}
{% load humanize %}
{% block content %}
    <div class="content-block">
        <div class="nav nav-tabs">
            <div class="nav-item">
                <a href="/ng0/planets-view/" class="nav-link text-nowrap active">{% translate 'Overview' %}</a>
            </div>
            <div class="nav-item">
                <a href="/ng0/planets-buy/" class="nav-link text-nowrap">{% translate 'Buying resources' %}</a>
            </div>
            <div class="nav-item">
                <a href="/ng0/planets-sell/" class="nav-link text-nowrap">{% translate 'Selling resources' %}</a>
            </div>
            <div class="nav-item">
                <a href="/ng0/planets-ground/" class="nav-link text-nowrap">{% translate 'Ships ground' %}</a>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 d-flex flex-column h-100" style="overflow:auto">
        {% for planet in planets %}
            <div class="content-block">
                <div class="card">
                    <div class="card-header h6 {% if planet.is_current %}bg-success{% endif %}">
                        <div class="row gx-3 align-items-center">
                            <div class="col-auto">
                                <img src="/static/ng0/img/planet{{ planet.img }}.png"
                                     width="24px"
                                     class="rounded"/>
                            </div>
                            <div class="col-auto">
                                <a href="/ng0/map/?g={{ planet.galaxy }}&s={{ planet.sector }}"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="{% translate 'View map' %}"/>{{ planet.galaxy }}.{{ planet.sector }}.{{ planet.planet }}</a>
                            </div>
                            <div class="col">
                                <span class="d-none d-lg-inline text-white">{{ planet.name }}</span>
                            </div>
                            {% if planet.commanderid %}
                                <div class="col-auto">
                                    <a href="/ng0/empire-commanders/#{{ planet.commander_name }}"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       data-bs-title="{% translate 'View commander' %}"><i class="fa-fw fas fa-user-astronaut"></i></a>
                                </div>
                            {% endif %}
                            <div class="col-auto">
                                <a href="/ng0/planet-view/?planet={{ planet.id }}"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="{% translate 'View planet' %}"><i class="fa-fw fas fa-eye"></i></a>
                            </div>
                            <div class="col-auto">
                                <a href="/ng0/planet-buildings/?planet={{ planet.id }}"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="{% translate 'View buildings' %}"><i class="fa-fw fas fa-building"></i></a>
                            </div>
                            <div class="col-auto">
                                <a href="/ng0/planet-ships/?planet={{ planet.id }}"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="{% translate 'View ships' %}"><i class="fa-fw fas fa-rocket"></i></a>
                            </div>
                            <div class="col-auto">
                                <a href="/ng0/planet-trainings/?planet={{ planet.id }}"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="{% translate 'View trainings' %}"><i class="fa-fw fas fa-user"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush">
                        <div class="list-group-item {% if planet.is_current %}bg-success{% endif %}">
                            <div class="row gx-3 gy-3">
                                <div class="col-12 col-lg-4">
                                    <div class="row g-1 flex-column">
                                        <div class="col-12 text-nowrap text-lg-end">
                                            <span>{% translate 'Resources' %}</span>
                                        </div>
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-2 align-items-center justify-content-end">
                                                <div class="col-auto d-flex">
                                                    <img src="/static/ng0/img/ore.png"
                                                         width="12px"
                                                         height="12px"
                                                         data-bs-toggle="tooltip"
                                                         data-bs-placement="top"
                                                         data-bs-title="{% translate 'Ore' %}">
                                                </div>
                                                <div class="col d-lg-none">
                                                    <span>{% translate 'Ore' %}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <small class="{% if planet.ore_production_anormal %}text-warning{% else %}text-success{% endif %}">+{{ planet.ore_production|intcomma }}</small>
                                                </div>
                                                <div class="col-auto">
                                                    <span class="{% if planet.ore_level >= 90 %}text-danger{% elif planet.ore_level >= 70 %}text-warning{% else %}text-white{% endif %}">{{ planet.ore|intcomma }}</span>
                                                    <small class="text-normal">/{{ planet.ore_capacity|intcomma }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-2 align-items-center justify-content-end">
                                                <div class="col-auto d-flex">
                                                    <img src="/static/ng0/img/hydro.png"
                                                         width="12px"
                                                         height="12px"
                                                         data-bs-toggle="tooltip"
                                                         data-bs-placement="top"
                                                         data-bs-title="{% translate 'Hydro' %}">
                                                </div>
                                                <div class="col d-lg-none">
                                                    <span>{% translate 'Hydro' %}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <small class="{% if planet.hydrocarbon_production_anormal %}text-warning{% else %}text-success{% endif %}">+{{ planet.hydrocarbon_production|intcomma }}</small>
                                                </div>
                                                <div class="col-auto">
                                                    <span class="{% if planet.hydrocarbon_level >= 90 %}text-danger{% elif planet.hydrocarbon_level >= 70 %}text-warning{% else %}text-white{% endif %}">{{ planet.hydrocarbon|intcomma }}</span>
                                                    <small class="text-normal">/{{ planet.hydrocarbon_capacity|intcomma }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-2 align-items-center justify-content-end">
                                                <div class="col-auto d-flex">
                                                    <img src="/static/ng0/img/energy.png"
                                                         width="12px"
                                                         height="12px"
                                                         data-bs-toggle="tooltip"
                                                         data-bs-placement="top"
                                                         data-bs-title="{% translate 'Energy' %}">
                                                </div>
                                                <div class="col d-lg-none">
                                                    <span>{% translate 'Energy' %}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <small class="{% if planet.energy_balance > 0 %}text-success{% else %}text-danger{% endif %}">
                                                        {% if planet.energy_balance > 0 %}+{% endif %}
                                                    {{ planet.energy_balance|intcomma }}</small>
                                                </div>
                                                <div class="col-auto">
                                                    <span class="text-white">{{ planet.energy|intcomma }}</span>
                                                    <small class="text-normal">/{{ planet.energy_capacity|intcomma }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="row g-1 flex-column">
                                        <div class="col-12 text-nowrap text-lg-end">
                                            <span>{% translate 'Population' %}</span>
                                        </div>
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-2 align-items-center justify-content-end">
                                                <div class="col-auto d-flex">
                                                    <img src="/static/ng0/img/worker.png"
                                                         width="12px"
                                                         height="12px"
                                                         data-bs-toggle="tooltip"
                                                         data-bs-placement="top"
                                                         data-bs-title="{% translate 'Worker' %}">
                                                </div>
                                                <div class="col d-lg-none">
                                                    <span>{% translate 'Worker' %}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <small class="text-success">{{ planet.workers_idle|intcomma }}</small>
                                                </div>
                                                <div class="col-auto">
                                                    <span class="{% if planet.workers_for_maintenance > planet.workers %}text-danger{% else %}text-white{% endif %}">{{ planet.workers|intcomma }}</span>
                                                    <small class="text-normal">/{{ planet.workers_capacity|intcomma }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-2 align-items-center justify-content-end">
                                                <div class="col-auto d-flex">
                                                    <img src="/static/ng0/img/scientist.png"
                                                         width="12px"
                                                         height="12px"
                                                         data-bs-toggle="tooltip"
                                                         data-bs-placement="top"
                                                         data-bs-title="{% translate 'Scientist' %}">
                                                </div>
                                                <div class="col d-lg-none">
                                                    <span>{% translate 'Scientist' %}</span>
                                                </div>
                                                {% if planet.scientists_training > 0 %}
                                                    <div class="col-auto">
                                                        <small class="text-success">+{{ planet.scientists_training|intcomma }}</small>
                                                    </div>
                                                {% endif %}
                                                <div class="col-auto">
                                                    <span class="text-white">{{ planet.scientists|intcomma }}</span>
                                                    <small class="text-normal">/{{ planet.scientists_capacity|intcomma }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-2 align-items-center justify-content-end">
                                                <div class="col-auto d-flex">
                                                    <img src="/static/ng0/img/soldier.png"
                                                         width="12px"
                                                         height="12px"
                                                         data-bs-toggle="tooltip"
                                                         data-bs-placement="top"
                                                         data-bs-title="{% translate 'Soldier' %}">
                                                </div>
                                                <div class="col d-lg-none">
                                                    <span>{% translate 'Soldier' %}</span>
                                                </div>
                                                {% if planet.soldiers_training > 0 %}
                                                    <div class="col-auto">
                                                        <small class="text-success">+{{ planet.soldiers_training|intcomma }}</small>
                                                    </div>
                                                {% endif %}
                                                <div class="col-auto">
                                                    <span class="{% if planet.soldiers_low %}text-danger{% else %}text-white{% endif %}">{{ planet.soldiers|intcomma }}</span>
                                                    <small class="text-normal">/{{ planet.soldiers_capacity|intcomma }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <div class="row g-1 flex-column">
                                        <div class="col-12 text-nowrap text-lg-end">
                                            <span>{% translate 'Working' %}</span>
                                        </div>
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-2 align-items-center justify-content-end">
                                                <div class="col-auto d-flex">
                                                    <img src="/static/ng0/img/worker.png"
                                                         width="12px"
                                                         height="12px"
                                                         data-bs-toggle="tooltip"
                                                         data-bs-placement="top"
                                                         data-bs-title="{% translate 'Worker' %}">
                                                </div>
                                                <div class="col d-lg-none">
                                                    <span>{% translate 'Maintenance' %}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <span class="text-white">{{ planet.workers_for_maintenance|intcomma }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-2 align-items-center justify-content-end">
                                                <div class="col-auto d-flex">
                                                    <img src="/static/ng0/img/credit.png"
                                                         width="12px"
                                                         height="12px"
                                                         data-bs-toggle="tooltip"
                                                         data-bs-placement="top"
                                                         data-bs-title="{% translate 'Upkeep' %}">
                                                </div>
                                                <div class="col d-lg-none">
                                                    <span>{% translate 'Upkeep' %}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <span class="text-white">{{ planet.upkeep|intcomma }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-2 align-items-center justify-content-end">
                                                <div class="col-auto d-flex">
                                                    <img src="/static/ng0/img/soldier.png"
                                                         width="12px"
                                                         height="12px"
                                                         data-bs-toggle="tooltip"
                                                         data-bs-placement="top"
                                                         data-bs-title="{% translate 'Soldier' %}">
                                                </div>
                                                <div class="col d-lg-none">
                                                    <span>{% translate 'Security' %}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <span class="text-white">{{ planet.soldiers_upkeep|intcomma }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <div class="row g-1 flex-column">
                                        <div class="col-12 text-nowrap text-lg-end">
                                            <span>{% translate 'Occupation' %}</span>
                                        </div>
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-2 align-items-center justify-content-end">
                                                <div class="col-auto d-flex">
                                                    <img src="/static/ng0/img/floor.png"
                                                         width="12px"
                                                         height="12px"
                                                         data-bs-toggle="tooltip"
                                                         data-bs-placement="top"
                                                         data-bs-title="{% translate 'Floor' %}">
                                                </div>
                                                <div class="col d-lg-none">
                                                    <span>{% translate 'Floor' %}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <span class="text-white">{{ planet.floor_occupied|intcomma }}</span>
                                                    <small class="text-normal">/{{ planet.floor|intcomma }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-2 align-items-center justify-content-end">
                                                <div class="col-auto d-flex">
                                                    <img src="/static/ng0/img/space.png"
                                                         width="12px"
                                                         height="12px"
                                                         data-bs-toggle="tooltip"
                                                         data-bs-placement="top"
                                                         data-bs-title="{% translate 'Space' %}">
                                                </div>
                                                <div class="col d-lg-none">
                                                    <span>{% translate 'Space' %}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <span class="text-white">{{ planet.space_occupied|intcomma }}</span>
                                                    <small class="text-normal">/{{ planet.space|intcomma }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
