{% extends "ng0/layout.html" %}
{% load i18n %}
{% load humanize %}
{% block content %}
    <div class="content-block">
        <div class="nav nav-tabs">
            <div class="nav-item">
                <a href="/ng0/planets-view/" class="nav-link text-nowrap">{% translate 'Overview' %}</a>
            </div>
            <div class="nav-item">
                <a href="/ng0/planets-buy/" class="nav-link text-nowrap">{% translate 'Buying resources' %}</a>
            </div>
            <div class="nav-item">
                <a href="/ng0/planets-sell/" class="nav-link text-nowrap">{% translate 'Selling resources' %}</a>
            </div>
            <div class="nav-item">
                <a href="/ng0/planets-ground/" class="nav-link text-nowrap active">{% translate 'Ships ground' %}</a>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 d-flex flex-column h-100" style="overflow:auto">
        <div class="content-block">
            <div class="row gx-3 gy-2">
                {% for planet in planets %}
                    <div class="col-12 col-lg-6">
                        <div class="card h-100">
                            <div class="card-header h6 {% if planet.is_current %}bg-success{% endif %}">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        <img src="/static/ng0/img/planet{{ planet.img }}.png"
                                             width="24px"
                                             class="rounded"/>
                                    </div>
                                    <div class="col-auto">
                                        <a href="/ng0/map/?g={{ planet.galaxy }}&s={{ planet.sector }}"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           data-bs-title="{% translate 'View map' %}"/>{{ planet.galaxy }}.{{ planet.sector }}.{{ planet.planet }}</a>
                                    </div>
                                    <div class="col">
                                        <span class="d-none d-lg-inline text-white">{{ planet.name }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row g-1">
                                    {% for ship in planet.ships %}
                                        <div class="col-12">
                                            <div class="row gx-3">
                                                <div class="col">
                                                    <span class="text-normal">{{ ship.label }}</span>
                                                </div>
                                                <div class="col-auto"><span class="text-white">{{ ship.quantity|intcomma }}</span></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12">
                        <span class="text-normal">{% translate 'No ship ground' %}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
