{% load i18n %}
{% load humanize %}

<div class="page-content">
    <ul class="nav nav-tabs mt-0 mb-3">
        <li class="nav-item {% if selectedtab == 'view' %}active{% endif %}">
            <a href="/ng0/planet-view/?planet={{ cur_planetid }}" class="nav-link">Aperçu</a>
        </li>
        <li class="nav-item {% if selectedtab == 'production' %}active{% endif %}">
            <a href="/ng0/planet-production/?planet={{ cur_planetid }}" class="nav-link">Production</a>
        </li>
        <li class="nav-item {% if selectedtab == 'working' %}active{% endif %}">
            <a href="/ng0/planet-working/?planet={{ cur_planetid }}" class="nav-link">Fonctionnement</a>
        </li>
        <li class="nav-item {% if selectedtab == 'buildings' %}active{% endif %}">
            <a href="/ng0/planet-buildings/?planet={{ cur_planetid }}" class="nav-link">Bâtiments</a>
        </li>
        <li class="nav-item {% if selectedtab == 'ships' %}active{% endif %}">
            <a href="/ng0/planet-ships/?planet={{ cur_planetid }}" class="nav-link">Vaisseaux</a>
        </li>
        <li class="nav-item {% if selectedtab == 'recycling' %}active{% endif %}">
            <a href="/ng0/planet-recycling/?planet={{ cur_planetid }}" class="nav-link">Recyclage</a>
        </li>
        <li class="nav-item {% if selectedtab == 'trainings' %}active{% endif %}">
            <a href="/ng0/planet-trainings/?planet={{ cur_planetid }}" class="nav-link">Entraînements</a>
        </li>
        <li class="nav-item {% if selectedtab == 'orbit' %}active{% endif %}">
            <a href="/ng0/planet-orbit/?planet={{ cur_planetid }}" class="nav-link">Orbite</a>
        </li>
        <li class="nav-item {% if selectedtab == 'sell' %}active{% endif %}">
            <a href="/ng0/market-sell/?planet={{ cur_planetid }}" class="nav-link">Vente</a>
        </li>
        <li class="nav-item {% if selectedtab == 'buy' %}active{% endif %}">
            <a href="/ng0/market-buy/?planet={{ cur_planetid }}" class="nav-link">Achat</a>
        </li>
        <li class="nav-item {% if selectedtab == 'transferts' %}active{% endif %}">
            <a href="/ng0/planet-transferts/?planet={{ cur_planetid }}" class="nav-link">Transferts</a>
        </li>
    </ul>
</div>
