{% extends "ng0/layout.html" %}
{% load humanize %}
{% block content %}
    <script>
        function confirmAbandon() { return window.confirm('Êtes-vous sûr de vouloir abandonner la planète "{{planet_name}}" ?'); }
        function confirmScientists(id) { return window.confirm('Êtes-vous sûr de vouloir renvoyer ' + getval('scientists' + id) + ' scientifiques ?'); }
        function confirmSoldiers(id) { return window.confirm('Êtes-vous sûr de vouloir renvoyer ' + getval('soldiers' + id) + ' soldats ?'); }
        function confirmWorkers(id) { return window.confirm('Êtes-vous sûr de vouloir renvoyer ' + getval('workers' + id) + ' travailleurs ?'); }
    </script>
    <div class="row g-3 flex-column">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span>Vue d'ensemble</span>
                </div>
                <div class="card-body">
                    <div class="row gx-3">
                        <div class="col-2">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <a href="/ng0/map/?g={{ pla_g }}&s={{ pla_s }}">{{ pla_g }}.{{ pla_s }}.{{ pla_p }}</a>
                                </div>
                                <div class="col-12 text-center">
                                    <img src="/static/ng0/img/planets/p{{ planet_img }}.gif"
                                         class="rounded"
                                         width="48px"/>
                                </div>
                                <form method="post"
                                      action="/ng0/planet-view/?planet={{ planet_id }}"
                                      class="col-12 text-center">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="abandon" />
                                    <input type="submit" value="Abandonner" onclick="return confirmAbandon()" />
                                </form>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row g-1">
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col-3 text-end">
                                            <span class="text-normal">Nom</span>
                                        </div>
                                        <div id="renameref" class="col">{{ planet_name }}</div>
                                        <div class="col-auto">
                                            <a href="#" onclick="return show('renameref', 'renamebox')">Renommer</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col-3 text-end">
                                            <span class="text-normal">Commandant</span>
                                        </div>
                                        <div id="cmdref" class="col">
                                            {% if commandername %}
                                                {{ commandername }}
                                            {% else %}
                                                <span class="text-normal">Aucun</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto">
                                            <a href="#" onclick="return show('cmdref', 'commandersbox')">Changer</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col-3 text-end">
                                            <span class="text-normal">Scientifiques</span>
                                        </div>
                                        <div id="scientistsref" class="col">
                                            {{ scientists|intcomma }} <small class="text-normal">/{{ scientists_capacity|intcomma }}</small>
                                        </div>
                                        <div class="col-auto">
                                            <a href="#" onclick="return show('scientistsref', 'scientistsbox')">Renvoyer</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col-3 text-end">
                                            <span class="text-normal">Soldats</span>
                                        </div>
                                        <div id="soldiersref" class="col-auto">
                                            <span class="{% if soldiers < upkeep_soldiers %}text-danger{% endif %}">{{ soldiers|intcomma }}</span> <small class="text-normal">/{{ soldiers_capacity|intcomma }}</small>
                                        </div>
                                        <div class="col">
                                            <small class="text-normal">requis sécurité</small> {{ upkeep_soldiers|intcomma }}
                                        </div>
                                        <div class="col-auto">
                                            <a href="#" onclick="return show('soldiersref', 'soldiersbox')">Renvoyer</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col-3 text-end">
                                            <span class="text-normal">Travailleurs</span>
                                        </div>
                                        <div id="workersref" class="col-auto">
                                            <span class="{% if workers < upkeep_workers %}text-danger{% endif %}">{{ workers|intcomma }}</span> <small class="text-normal">/{{ workers_capacity|intcomma }}</small>
                                        </div>
                                        <div class="col">
                                            <small class="text-normal">requis maintenance</small> {{ upkeep_workers|intcomma }}
                                        </div>
                                        <div class="col-auto">
                                            <a href="#" onclick="return show('workersref', 'workersbox')">Renvoyer</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col-3 text-end">
                                            <span class="text-normal">Formation</span>
                                        </div>
                                        <div class="col">
                                            {{ growth|floatformat:1 }}% <small class="text-normal">/heure</small>
                                        </div>
                                        <div class="col-auto">
                                            {% if suspend %}<a href="?a=suspend">Suspendre</a>{% endif %}
                                            {% if resume %}<a href="?a=resume">Reprendre</a>{% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <form action="?planet={{ planet_id }}" method="post" class="card">
                <div class="card-header">
                    <span>Achat de ressources</span>
                </div>
                <div class="card-body">
                    <div class="row g-1 flex-column">
                        <div class="col-12">
                            <div class="row gx-3 align-items-center">
                                <div class="col-4">
                                    <span class="text-normal">Prix pour {{ 1000|intcomma }} minerai</span>
                                </div>
                                <div class="col-auto">
                                    <input type="number" name="buy_ore" value="{{ buy_ore }}" maxlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row gx-3 align-items-center">
                                <div class="col-4">
                                    <span class="text-normal">Prix pour {{ 1000|intcomma }} hydrocarbure</span>
                                </div>
                                <div class="col-auto">
                                    <input type="number"
                                           name="buy_hydrocarbon"
                                           value="{{ buy_hydrocarbon }}"
                                           maxlength="5"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-12 text-end">
                            <input type="submit" value="Mettre à jour" />
                        </div>
                    </div>
                </div>
                <input type="hidden" name="action" value="resources_price" />
                {% csrf_token %}
            </form>
        </div>
    </div>
    <div id="renamebox" class="hidden">
        <form action='?planet={{ planet_id }}' method='post'>
            {% csrf_token %}
            <input type='hidden' name='action' value='rename'>
            <input type='text'
                   name='name'
                   size="28"
                   maxlength="16"
                   value='{{ planet_name }}'>
            &nbsp;
            <input type='submit' value='OK'>
            &nbsp;
            <img src='/static/ng0/img/close.gif'
                 width="12"
                 height="12"
                 title='Fermer'
                 class="close"
                 onclick='hide();'>
        </form>
    </div>
    <div id="scientistsbox" class="hidden">
        <form action='?planet={{ planet_id }}' method='post'>
            {% csrf_token %}
            <input type='hidden' name='action' value='firescientists'>
            <input type='hidden' name='planet' value='{{ planet_id }}'>
            <input type='text'
                   name='amount'
                   id="scientistsXXX"
                   size="8"
                   maxlength="8"
                   value='0'>
            &nbsp;
            <input type='submit' value='OK' onclick="return confirmScientists(XXX)">
            &nbsp;
            <img src='/static/ng0/img/close.gif'
                 width="12"
                 height="12"
                 title='Fermer'
                 class="close"
                 onclick='hide();'>
        </form>
    </div>
    <div id="soldiersbox" class="hidden">
        <form action='?planet={{ planet_id }}' method='post'>
            {% csrf_token %}
            <input type='hidden' name='action' value='firesoldiers'>
            <input type='text'
                   name='amount'
                   id="soldiersXXX"
                   size="8"
                   maxlength="8"
                   value='0'>
            &nbsp;
            <input type='submit' value='OK' onclick="return confirmSoldiers(XXX)">
            &nbsp;
            <img src='/static/ng0/img/close.gif'
                 width="12"
                 height="12"
                 title='Fermer'
                 class="close"
                 onclick='hide();'>
        </form>
    </div>
    <div id="workersbox" class="hidden">
        <form action='?planet={{ planet_id }}' method='post'>
            {% csrf_token %}
            <input type='hidden' name='action' value='fireworkers'>
            <input type='text'
                   name='amount'
                   id="workersXXX"
                   size="8"
                   maxlength="8"
                   value='0'>
            &nbsp;
            <input type='submit' value='OK' onclick="return confirmWorkers(XXX)">
            &nbsp;
            <img src='/static/ng0/img/close.gif'
                 width="12"
                 height="12"
                 title='Fermer'
                 class="close"
                 onclick='hide();'>
        </form>
    </div>
    <div id="commandersbox" class="hidden">
        <form action='?planet={{ planet_id }}' method='post'>
            {% csrf_token %}
            <input type='hidden' name='action' value='assigncommander'>
            <select name='commander'>
                {% if unassign %}
                    <option value='0'>
                        Renvoyer
                    </option>
                {% endif %}
                {% if none %}
                    <option value='0'>
                        Aucun
                    </option>
                {% endif %}
                {% for optgroup in optgroups %}
                    <optgroup label="{% if optgroup.typ == 'fleet' %}sur Flottes{% endif %}{% if optgroup.typ == 'planet' %}sur Planètes{% endif %}{% if optgroup.typ == 'none' %}Non affectés{% endif %}">
                        {% for cmd in optgroup.cmds %}
                            <option value={{ cmd.cmd_id }}{% if cmd.selected %} selected{% endif %}>&middot;&nbsp;{{ cmd.cmd_name }}
                                {% if cmd.assigned %}({{ cmd.name }}){% endif %}
                                {% if cmd.unavailable %}(Indisponible){% endif %}
                            </option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
            &nbsp;
            <input type='submit' value='OK'>
            &nbsp;
            <img src='/static/ng0/img/close.gif'
                 width="12"
                 height="12"
                 title='Fermer'
                 class="close"
                 onclick='hide()'>
        </form>
    </div>
{% endblock content %}
