{% extends "ng0/layout.html" %}
{% load tz %}
{% block content %}
    <div class="nav nav-tabs mb-3">
        <div class="nav-item">
            <a href="/ng0/profile-view/" class="nav-link active">Infos nation</a>
        </div>
        {% if not sendmail %}
            <div class="nav-item">
                <a href="/ng0/profile-options/" class="nav-link">Options</a>
            </div>
        {% endif %}
    </div>
    <div class="row g-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span>Profile</span>
                </div>
                <div class="card-body">
                    <div class="row gx-3">
                        <div class="col-auto">
                            {% if avatar_url %}
                                <img src="{{ avatar_url }}" width="48px" class="rounded" />
                            {% else %}
                                <img src="/static/ng0/img/noavatar.gif"
                                     width="48px"
                                     class="rounded"/>
                            {% endif %}
                        </div>
                        <div class="col">
                            <div class="row g-1">
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col-2 text-end text-normal">Nom de nation</div>
                                        <div class="col">
                                            <span class="{% if self %}text-player{% elif ally %}text-success{% else %}text-danger{% endif %}">{{ name }}</span>
                                        </div>
                                        {% if sendmail %}
                                            <div class="col-auto">
                                                <a href="/ng0/mail-new/?a=new&b={{ name }}"
                                                   title="Nouveau message à {{ name }}">Envoyer un message</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col-2 text-end text-normal">Alliance</div>
                                        <div class="col">
                                            {% if alliancetag %}
                                                <a href="/ng0/alliance-view/?tag={{ alliancetag }}">[{{ alliancetag }}]</a>
                                            {% else %}
                                                <span class="text-normal">Indépendant</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col-2 text-end text-normal">Date d'arrivée</div>
                                        <div class="col">{{ regdate|timezone:"Europe/Paris"|date:"d M Y H:i" }}</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col-2 text-end text-normal">Description</div>
                                        <div class="col">
                                            {% if description %}
                                                {{ description|escape|safe }}
                                            {% else %}
                                                <span class="text-normal">Aucune</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
