{% extends "ng0/layout.html" %}
{% load i18n %}

{% block content %}
<div class="h-100 row gx-3">
    <div class="col-3">
    </div>
    <div class="col-9">
        <div class="nav nav-pills">
            <div class="nav-item"><a href="/ng0/ranking_player" class="nav-link {% if ranking_tab == 'player' %}active{% endif %}">{% translate "Players" %}</a></div>
            <div class="nav-item"><a href="/ng0/ranking_alliance" class="nav-link {% if ranking_tab == 'alliance' %}active{% endif %}">{% translate "Alliances" %}</a></div>
        </div>
        {% block ranking_content %}{% endblock %}
    </div>
</div>
{% endblock %}