{% extends "ng0/layout.html" %}
{% load i18n %}

{% block content %}
<div class="p-3" style="width:512px;">
    <div class="w-100 h-100 card">
        <div class="card-header">
            <div class="row gx-2 align-items-center">
                <div class="col">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto">
                            <img src="/static/img/logo.png" width="24px" class="rounded" />
                        </div>
                        <div class="col-auto">
                            <span class="fs-6">NG-0</span>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <span class="fs-6 text-white">{% translate "Welcome" %}</span>
                </div>
            </div>
        </div>
        <div class="flex-grow-1 card-body">
            <form method="post" action="." class="row g-3">
                {% csrf_token %}
                <div class="col-12">
                    <span class="text-normal">{% translate "Before starting, you have to choose a nickname. This name will be the name displayed to other players. You cannot change it after starting." %}</span>
                </div>
                {% if form.non_field_errors %}
                <div class="col-12">
                    <div class="text-bg-danger p-2 rounded">
                        <div class="row gx-2 gy-2">
                            {% for error in form.non_field_errors %}
                                <div class="col-12 text-center">{{ error|escape }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-12">
                    <label for="id_nickname" class="form-label text-white required">{% translate "Nickname" %}</label>
                    <input type="text" class="form-control {% if form.errors and form.errors.nickname  %}is-invalid{% endif %}" name="nickname" maxlength="150" autocapitalize="none" autocomplete="nickname" autofocus="" required="" id="id_nickname" value="{% if form.nickname.value  %}{{ form.nickname.value }}{% endif %}">
                    {% if form.errors and form.errors.nickname %}
                        {% for error in form.errors.nickname %}
                            <div class="form-text"><span class="text-danger">{{ error|escape }}</span></div>
                        {% endfor %}
                    {% endif %}
                    <div class="form-text">{% translate "Required. Between 5 and 100 characters. Letters, digits and « @ », « . », « # », « - » et « _ » only." %}</div>
                </div>
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary">{% trans 'Start' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}


{% endblock %}