{% load i18n %}

<div class="nav nav-tabs mt-1">
    <div class="nav-item">
        <a class="nav-link {% if tab_selected == 'sector' %}active{% endif %}" href="/ng0/map-sector/">{% translate "Sector" %}</a>
    </div>
    <div class="nav-item">
        <a class="nav-link {% if tab_selected == 'galaxy' %}active{% endif %}" href="/ng0/map-galaxy/">{% translate "Galaxie" %}</a>
    </div>
    <div class="nav-item">
        <a class="nav-link {% if tab_selected == 'universe' %}active{% endif %}" href="/ng0/map-universe/">{% translate "Univers" %}</a>
    </div>
</div>
