{% load i18n %}

<div class="nav nav-tabs mt-1">
    <div class="nav-item">
        <a class="nav-link {% if tab_selected == 'view' %}active{% endif %}" href="/ng0/planet-view/">{% translate "Aperçu" %}</a>
    </div>
    <div class="nav-item">
        <a class="nav-link {% if tab_selected == 'buildings' %}active{% endif %}" href="/ng0/planet-buildings/">{% translate "Bâtiments" %}</a>
    </div>
    <div class="nav-item">
        <a class="nav-link {% if tab_selected == 'ships' %}active{% endif %}" href="/ng0/planet-ships/">{% translate "Vaisseaux" %}</a>
    </div>
    <div class="nav-item">
        <a class="nav-link {% if tab_selected == 'trainings' %}active{% endif %}" href="/ng0/planet-trainings/">{% translate "Entraînements" %}</a>
    </div>
    <div class="nav-item">
        <a class="nav-link {% if tab_selected == 'ground' %}active{% endif %}" href="/ng0/planet-ground/">{% translate "Sol" %}</a>
    </div>
    <div class="nav-item">
        <a class="nav-link {% if tab_selected == 'orbit' %}active{% endif %}" href="/ng0/planet-orbit/">{% translate "Orbite" %}</a>
    </div>
</div>
