{% extends "ng0/_layout.html" %}

{% load i18n %}
{% load humanize %}

{% block content %}

    <div class="content-page px-3">
        <div class="pt-3 fs-6">
            <div class="row gx-2 align-items-center">
                <div class="col-auto d-flex">
                    <i class="fa-fw fas fa-flask"></i>
                </div>
                <div class="col">
                    <span>{% translate "Recherches" %}</span>
                </div>
            </div>
        </div>
    </div>
                    
    <div class="content-page p-3" style="height:calc(100% - 40px);">
        <div class="h-100 scroll-content">
            <div class="row g-3">
        
                <script>
                    function cancelresearch() { return confirm('Êtes-vous sûr de vouloir abandonner cette recherche ?\r\nNote: toute recherche future recommencera à zéro'); }
                </script>
                
                {% for category in categories %}
                    {% for research in category.researches %}
                        <div class="col-12 col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row gx-2 align-items-center">
                                        <div class="col-auto">
                                            <span class="text-normal"><i class="fa-fw fas fa-question-circle" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
                                                <div><span class='text-normal'>{{ research.description|escape }}</span></div>
                                            "></i></span>
                                        </div>
                                        <div class="col text-truncate">
                                            <span>{{ research.label }}</span>
                                        </div>
                                        <div class="col-auto">
                                            <span class="text-white">{{ research.level }}</span>
                                            <span class="text-normal">/{{ research.levels }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body {% if research.status > 0 %}bg-dark{% endif %}">
                                    <div class="row gx-3 align-items-center">
                                        {% if research.level >= research.levels %}
                                            <div class="col">
                                                <div class="py-2 text-success">{% translate "Recherche terminée" %}</div>
                                            </div>
                                        {% elif research.status > 0 %}
                                            <div class="col py-2">
                                                <span class="text-yellow"><script>putCountdown({{ research.status }}, null, null);</script></span>
                                            </div>
                                            <div class="col-auto">
                                                {% if research.looping %}
                                                    <form method="post" class="d-inline">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="stop" />
                                                        <input type="hidden" name="r" value="{{ research.id }}" />
                                                        <button type="submit" class="btn btn-link p-0">{% translate "Automatique" %}</button>
                                                    </form>
                                                {% else %}
                                                    <form method="post" class="d-inline">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="continue" />
                                                        <input type="hidden" name="r" value="{{ research.id }}" />
                                                        <button type="submit" class="btn btn-link p-0">{% translate "Manuel" %}</button>
                                                    </form>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto">
                                                <script>
                                                    let html = ''
                                                    html += '<form method="post" class="d-inline" onsubmit="return cancelresearch()">'
                                                        html += '{% csrf_token %}'
                                                        html += '<input type="hidden" name="action" value="cancel" />'
                                                        html += '<input type="hidden" name="r" value="{{ research.id }}" />'
                                                        html += '<button type="submit" class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button>'
                                                    html += '</form>'
                                                    putCountdown({{research.status}}, html, "<a href='/ng0/tech-list/'>Terminée</a>");
                                                </script>
                                            </div>
                                        {% else %}
                                            <div class="col-auto py-2">
                                                <img src="/static/img/interface/credit.png" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Crédit" />
                                                <span class="{% if research.notenoughmoney %}text-danger{% endif %}"><script>putNumber({{ research.total_cost }})</script></span>
                                            </div>
                                            <div class="col py-2 text-end">
                                                <script>putTime({{ research.total_time }})</script>
                                            </div>
                                            <div class="col-auto text-end">
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="action" value="research" />
                                                    <input type="hidden" name="r" value="{{ research.id }}" />
                                                    <button type="submit" class="btn btn-primary {% if not research.can_research %}disabled{% endif %}">Rechercher</button>
                                                </form>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            
            </div>            
        </div>
    </div>

{% endblock %}
