{% extends "base.html" %}

{% load i18n %}

{% block content %}
    
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row gx-2 align-items-center">
                    <div class="col">
                        <div class="row gx-2 align-items-center">
                            <div class="col-auto">
                                <img src="/static/img/interface/logo.png" width="24px" class="rounded" />
                            </div>
                            <div class="col-auto">
                                <span class="fs-6">NG Exile</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <span class="fs-6 text-white">{% translate "Serveurs" %}</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row gx-2 gy-3">
                    <div class="col-12 text-center">
                        <span class="text-normal">{% translate "Sélectionner un serveur pour jouer" %}</span>
                    </div>
                    <div class="col-12">
                        <a href="/s03/" class="w-100 btn btn-secondary text-start">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <div class="fs-6 text-white">s03</div>
                                </div>
                                <div class="col text-end">
                                    <div class="small text-normal">{% translate "Serveur avec le code d'origine refactoré" %}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-fw fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 text-center">
                        <a href="/accounts/logout/" class="btn btn-danger">{% translate "Déconnexion" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}