@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
	height: 100%; width: 100%;
}

body {
	background-color: #000;
	font-family: Roboto, Arial; font-size: 12px; color: #fff;
}

a { color: #ffa500; }
a:hover { color: #c87f0a; }
a:link, a:visited, a:active, a:hover { text-decoration: none; }

p {	margin: 0 0 .75rem 0; }



/* ul li */

ul { list-style-type:disc; margin-top:10px; margin-bottom:10px; }
ul li { margin-left:20px; margin-top:4px; }

ul.requirements { list-style-type:disc; margin-top:0px; padding-top:5px; padding-left: 20px; margin-bottom:0px; margin-left:0; }
ul.requirements li { line-height:13px; margin-left:0px; margin-top:0px; }

/* dl dd */
dl.spy {
	margin:10px 0.5em;
}

dl.spy dt {
	margin-top:12px;
	font-weight:bold;
	color:white;
}

dl.spy dd {
	padding-top:4px;
	color:#BCBCC0;
}

dl.spy dd span.highlight {
	color:white;
}


p.shiprequirement { margin:0; margin-left:20px; color:#ddd}


div.clear { clear:both; }

#chat { overflow:auto; height:490px; color:#ccc; }
#chat .highlight { color:#1DD1D3; }
#chat .player { color:#FFFFFF; }
#chat .newday { text-align:center; font-weight:bold; color:#FFFFFF; margin-top:5px; }
#chat .smiley { vertical-align:-3px; }
#chatline { width:100%; height: 18px; }

#chatform { text-align:left; }
#joinchatform { display:none; visibility:hidden; }

/* layout */

#super {
	position: relative;
	height: 100%; width: 100%;
}

#topbar {
    position: absolute; top: 0px; left: 0px; right: 0px;
    height: 52px;
    padding: 0 .75rem;
    background-color: var(--bs-gray-800);
    display: flex; align-items: center;
}

::-webkit-scrollbar { width: .35rem; height: .25rem; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { border-radius: .25rem; background: rgba(255, 255, 255, .25); border: 1px solid #444; }

#leftnav {
	position: absolute; top: 52px; bottom: 0px; left: 0px;
    overflow-y: auto; overflow-x: hidden; scrollbar-color: rgba(255, 255, 255, .075); scrollbar-width: thin;
	width: 256px;
	background-color: var(--bs-gray-800);
    padding-bottom: .75rem;
}

#content {
	position: absolute; top: 52px; bottom: 0px; left: 256px; right: 0px;
    overflow-y: auto; overflow-x: hidden; scrollbar-color: rgba(255, 255, 255, .075); scrollbar-width: thin;
}

#page {
	width: 100%;
	margin: 0 auto; padding: 1rem;
}
@media (min-width: 992px) { #page { max-width: 720px; } }
@media (min-width: 1200px) { #page { max-width: 720px; } }




div#container { margin:6px; padding:6px; text-align:left; width:800px; background: url('/static/assets/interface/grad100.gif') repeat-x #3c3c3c; border: #222 1px solid; }

#gameover { font-size:36px; padding:10px; color:#f44; font-weight: bold; text-align: center; }
#start { font-size:36px; padding:10px; color:#4f4; font-weight: bold; text-align: center; }
#holidays { font-size:36px; padding:10px; color:#44f; font-weight: bold; text-align: center; }
#playername { font-size:20px; padding:10px; color:#fff; font-weight: bold; text-align: center; }

.none {display:block; text-decoration:none;}
.none:link {text-decoration:none;}
.none:visited {text-decoration:none;}
.none:active {text-decoration:none;}
.none:hover {text-decoration:none;}


/* menu */

.menu { color: #ced4da; display: flex; align-items: center; }
.menu:link, .menu:visited, .menu:active { color: #ced4da; }
.selected:link, .selected:visited, .selected:active { color: #ffa500; }
.menu:hover, .selected:hover { color: #ffa500; text-decoration: none; }

.lvl1 {
	padding: .5rem .75rem;
	background-color: var(--bs-gray-700);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.lvl2 {
	padding: .25rem .75rem .25rem 1.5rem;
}





/* forms elements */

.warning, .error {
	color:#f00;
	font-weight: bold;
	text-align: center;
}

.warning2, .error2 {
	color:#f61;
	font-weight: bold;
	text-align: center;
}

.message {
	text-align: center;
}

/* form css */

#form form {
	margin:0; padding:0;
}

#form .button {
	margin:15px 0px;
	border: 1px solid #bbb;
}


/* general */

select {
    background-color: #555;
	border: #888 1px solid;
    color: #ddd;
    padding: 0.125rem 0.5rem; height: 24px;
    border-radius: .25rem;
}

input, textarea {
	background-color:#555;
	border: #888 1px solid;
    color: #ddd;
    padding: 0.125rem 0.5rem;
    border-radius: .25rem;
}

input.signaturelink { width:600px; }

input.button {		
	background-color: #555;
	border: #999 1px solid;
	color:#eee;
	padding:2px 5px 2px 5px;
}

.checkbox, .radio { 
	margin:0px 4px 0px 0px; padding:0;
	border:0;
	background-color: transparent;	
}

input.button100 {
	background-color:#444;
	border:#999 1px solid;
	color:#eee;
	padding:2px 5px 2px 5px;
	width:100px;
}

input[type=number] {
    width:55px;
}

/* img related */

img.icon {
	margin:-4px 2px;
}

img.smallicon {
	margin:-1px 4px 0px 0px;
}

img.avatar {
	margin: 2px;
	border: #777 1px solid;
}

img.building {
	margin: 2px;
	border: #777 1px solid;
}

img.report {
	margin: 2px;
	border: #777 1px solid;
}

img.res {
	margin-right:4px;
	vertical-align: -4px;
}

img.planet {
	clear:both;
	border: #000 1px solid;
}

img.wallet {
	margin: 2px;
	border: #777 1px solid;
}

img.smallplanet {
	vertical-align: middle;
	border: #777 1px solid;
}

img.stance {
	margin-right:2px;
	vertical-align: -1px;
}

img.idleworkers {
	clear:both;
	margin-bottom:-2px;
	margin-right:2px;
	text-align: right;
}

/* main table*/

table.default { width: 100%; }

.default tr { background-color: #3c3c3c; }
.default td { padding:2px; border: #555 1px solid; }

.default tr.title { background: url('/static/assets/interface/grad50.gif') repeat-x #3c3c3c; text-align: center; }
.default tr.bigtitle td { background: url('/static/assets/interface/grad50.gif') repeat-x #3c3c3c; text-align: center; font-size: 12px; }
.default tr.header { background: url('/static/assets/interface/grad50.gif') repeat-x #3c3c3c; text-align: center; }
.default tr.category { background: url('/static/assets/interface/grad50.gif') repeat-x #3c3c3c; text-align: left; }

.default tr.item { background: url('/static/assets/interface/grad100.gif') repeat-x #3c3c3c; }
.default tr.itemdel { background: url('/static/assets/interface/grad100_destroy.gif') repeat-x #780000; }
.default tr.itemhighlight { background: url('/static/assets/interface/grad100_highlight.gif') repeat-x #005A00; }
.default tr.itemally { background: url('/static/assets/interface/grad100_ally.gif') repeat-x #2C4E2A; }

.default tr.odd { background: #303030; }
.default tr.even { background: #3c3c3c; }

.default tr.smallitem { background: url('/static/assets/interface/grad50.gif') repeat-x #3c3c3c; }
.default tr.smallitemhighlight { background: url('/static/assets/interface/grad50_highlight.gif') repeat-x #005A00; }
.default tr.smallitempna { background: url('/static/assets/interface/grad50_highlight.gif') repeat-x #005A00; }

.default tr.verysmallitem { background: url('/static/assets/interface/grad25.gif') repeat-x #3c3c3c; }

.default tr.ranking_nap { background: url('/static/assets/interface/grad25_nap.gif') repeat-x #785800; }
.default tr.ranking_war { background: url('/static/assets/interface/grad100_destroy.gif') repeat-x #780000; }
.default tr.ranking_alliance { background: url('/static/assets/interface/grad25_alliance.gif') repeat-x #106810; }

.default tr.giftitem { background: url('/static/assets/interface/grad50_gift.gif') repeat-x #2E4E2A; }
.default tr.taxchangeditem { background: url('/static/assets/interface/grad50_taxchanged.gif') repeat-x #4E4A2A; }
.default tr.memberleftitem { background: url('/static/assets/interface/grad50_memberleft.gif') repeat-x #4E2A2A; }

table.clear, tr.clear, .clear tr, .clear td, td.clear { padding: .125rem .5rem; border:0; background: transparent; }

tr.clear { height:4px; }

table.tableheader {
	background-color: #151515;
    width: 100%;
}
table.tableheader td { padding: .125rem .5rem; }


/* navigation when multiple pages are available */
.default tr.nav td { background: #333333; color:#B5B5B9; }
.default tr.nav td span.selected { color: #fff; font-weight: bold; }


/* tabs */

ul.vtabs { list-style-type: none; margin: 0; }
ul.vtabs li { height: 21px; background:none; padding: 0; margin: 0px 2px 2px 2px; background:#333; border: 1px solid #444; }
ul.vtabs li.active { background:url('/static/assets/interface/grad25.gif') repeat-x; border: 1px solid #555;}
ul.vtabs a { display: block; text-decoration: none; padding: 4px 30px 4px 4px; }


/* colors */
.destroy{color:#f44;}
.white{color:#fff;}
.grey{color:#BCBCC0;}
.cant_fire{color:#BCBCC0;}

/* warnings */
.impossible {color: #f44;}
.ok {color: #0f0;}
.notenough {color: #f44;}
.low {color: #f44;}
.med {color: #ffa500;}
.full {color: #f44;}
.recommanded {color: #0f0;}
.notrecommanded {color: #f44;}

/* capacity use */
.high2 {color: #f44;}
.med2 {color: #ffa500;}
.low2 {color: #0f0;}

/* general modifiers */
.plus {color: #0f0;}
.minus {color: #f44;}

/* relation colors */
.self {color: #77f;}
.self td {color: #77f;}
.player {color: #77f;}
.player td {color: #77f;}
.enemy {color: #f44;}
.enemy td {color: #f44;}
.ally {color: #0f0;}
.ally td {color: #0f0;}
.friend {color: #008000;}
.friend td {color: #008000;}
.neutral {color: #BCBCC0;}
.neutral td {color: #BCBCC0;}

/* fleet state */
.recycling {color: #0f0;}
.patrolling {color: #fff;}
.fighting {color: #f44;}

.state_fighting {color: #f44;}
.state_moving {color: #fff;}
.state_patrolling {color: #fff;}
.state_recycling {color: #0f0;}
.state_waiting {color: #fff;}

/* countdown color */
#countdown {color: #0f0;}

/* production color */
.prod {color: #0f0;}
.medprod {color: #ffa500;}
.negprod {color: #f44;}

/* buildings */
#maxlimit {color: #0f0;}
.unique {color: #0f0;}
.nodestruct {color: #f44;}

/* last connection time color ids*/
.twoweeksmore {color: #f44;}
.oneweekmore {color: #f44;}
.threedaysmore {color: #ffa500;}
.threedays {color: #0f0;}
.oneday {color: #0f0;}

.onholidays{color: #BCBCC0;}
.banned{color: #f44;}

.recent {color: #0f0;}
.fewdays {color: #ffa500;}
.fewweeks {color: #f44;}

/* money request */
.pending {color: #0f0;}
.denied {color: #f44;}

#reports div.subject
{
	font-weight: bold;
    font-size: 10px;
	padding:0px 0px 12px 0px;
}

#help .label { font-weight:bold; }
#help .description { color:#BCBCC0; margin:10px 0px 5px 0px; }
#help .required { font-weight:bold; }
#help .requirements { color:#BCBCC0; }

#stats .label{color:#fff;}
#stats .value{color:#BCBCC0;}

.bold {font-weight:bold;}

#mails div.subject
{
	font-weight: bold;
    font-size: 10px;
	min-height:22px;
	height:auto !important;
	height:22px;
}

#mails div.body
{
	min-height:48px;
	height:auto !important;
	height:48px;
}

#popup
{
	position:absolute; 
	z-index:100;
}
#popup table { border: #666 1px solid; border-collapse:collapse; }
#popup table tr { border-collapse:collapse; }
#popup table td { border-collapse:collapse; }
#popup .title { background: url('/static/assets/interface/grad50.gif') repeat-x; background-color: #3c3c3c; font-weight:bold; border-bottom: #666 1px solid; }
#popup .item { background: url('/static/assets/interface/grad50.gif') repeat-x; background-color: #3c3c3c; }

#popup2 table  { border: #222 1px solid; background-color:#4D4D57; border-collapse:collapse; }
#popup2 table tr { border-collapse:collapse; }
#popup2 table td { margin:0; padding:5px; border-collapse:collapse; }
#popup2 .title { background:none; border: #222 1px solid; font-weight:bold; text-align:center;}
#popup2 .item { background:none; border: #222 1px solid; text-align:center; }

#map p { margin:0; }
#map .moves { background-color: #000000; }
#map .hasnothing { border:1px solid #BCBCC0;padding:0px;margin:0px;}
#map .hasplanets { border:1px solid #77f;padding:0px;margin:0px;}
#map .hasallies { border:1px solid #0F0; padding:0px;margin:0px;}
#map .hasfriends { border:1px solid #080; padding:0px;margin:0px;}
#map .hasenemies { border:1px solid red; padding:0px;margin:0px;}


#mapuniverse { visibility: hidden; display:none; }
#mapuniverseview { width:690px; }
#mapuniverseview .gal { float:left; text-align:center; margin:1px; cursor:pointer; }
#mapuniverseview .galtext { position:relative; margin-top:-15px; }

#mapgalaxy { visibility: hidden; display:none; }
#mapgalaxyview { width:100%; display: flex; flex-wrap: wrap; background:#495057; border:solid 1px #495057; border-radius:.25rem; }
#mapgalaxyview div.sector {
	background:#000; border:solid 1px #495057; border-radius:.25rem; 
	cursor:pointer;
	width:51px; height: 51px;
    display: flex; flex-wrap: wrap; align-items: center; justify-content: center;
}

div.sector div { background:#000; border-radius:.25rem; font-size:3px; line-height:1; width: 9px; height: 9px; color:#000; display: flex; align-items: center; justify-content: center; }
div.sector div.player { color: #0ff; }
div.sector div.ally { color:#0f0; }
div.sector div.friend { color:#ccc; }
div.sector div.uninhabited { color: #343a40; }
div.sector div.hostile { color: #f00; }
div.sector div.resource { color: #ff0; }
div.sector div.vortex { color: #f0f; }


#mapsector table { border-collapse:collapse; border-spacing:0; }
#mapsector table tr.border { font-size:1px; line-height:1px; }
#mapsector img.arrow { cursor:pointer; }
#mapsector .borderup { background:url("/static/assets/styles/s_default/map/border-n.gif") repeat-x; }
#mapsector .borderleft { background:url("/static/assets/styles/s_default/map/border-w.gif") repeat-y; }
#mapsector .borderright { background:url("/static/assets/styles/s_default/map/border-e.gif") repeat-y; }
#mapsector .borderdown { background:url("/static/assets/styles/s_default/map/border-s.gif") repeat-x; }
#mapsectorview div.planet { float:left; width:20%; height:100px; }
#mapsectorview .planettext { position:relative; margin-top:-5px; }
#mapsectorview .planetname { font-size:9px; }


#mapradar { visibility: hidden; display:none; }

#maplegend {
	margin:10px 0px;
	border:1px solid #555;
	background-color:#333;
}
#maplegend td { padding:3px; }
#maplegend img { border:1px solid #000; }

.hidden { display: none; visibility: hidden; }
.justhidden { visibility: hidden; }

.editbox { height:17px; vertical-align:middle; }
.submitok { font-size:10px; height:19px; vertical-align:middle; }
.close { vertical-align:middle; cursor:pointer; }
.left { float:left; }
.right { float:right; }


/* HINT */
div#hint{
	position:absolute;
	z-index:100;
	background: transparent;
	width:200px;
	visibility: hidden;
}

div.rtop, div.rbottom{ display:block; height: 4px; }
div.rtop b, div.rbottom b{ display:block; height: 1px; overflow: hidden; }
b.r1{ margin: 0 4px; background:#222; }
b.r2{ margin: 0 3px; background:#3c3c3c; border-left:#222 1px solid; border-right:#222 1px solid; }
b.r3{ margin: 0 2px; background:#3c3c3c; border-left:#222 1px solid; border-right:#222 1px solid; }
b.r4{ margin: 0 1px; background:#3c3c3c; border-left:#222 1px solid; border-right:#222 1px solid; }

h1 { color:white; padding:0; }

table.description {
	padding-right:6px;
}

span.title {
	color:white;
	font-weight:bold;
}

/* bootstrap */

hr { margin: .5rem 0; }

.text-bg-success { color: #000!important; background-color: #0f0!important; }

.text-success { color: #0f0!important; }
.text-danger { color: #f44!important; }
.text-normal { color: #ced4da!important; }
.text-player { color: #77f!important; }
.text-yellow { color: #ff0!important; }

.bg-danger { background-color: #700000!important; }
.bg-success { background-color: #005400!important; }
.bg-info { background-color: #45457a!important; }

.border-player { border-color: #77f!important; }
.border-success { border-color: #0f0!important; }
.border-danger { border-color: #f44!important; }

.alert {
    --bs-alert-padding-x: .75rem;
    --bs-alert-padding-y: .5rem;
    --bs-alert-margin-bottom: .75rem;
}

.alert-danger {
    --bs-alert-color: #000;
    --bs-alert-bg: #e66;
    --bs-alert-border-color: #f00;
}

.alert-warning {
    --bs-alert-color: #000;
    --bs-alert-bg: #ff8543;
    --bs-alert-border-color: #ff9257;
}

.alert-info {
    --bs-alert-color: #000;
    --bs-alert-bg: #ee6;
    --bs-alert-border-color: #bb0;
}

.card {
    --bs-card-spacer-x: .75rem;
    --bs-card-spacer-y: .5rem;
    --bs-card-bg: var(--bs-gray-800);
    --bs-card-border-width: 1px;
    --bs-card-border-color: #000;
    --bs-card-border-radius: .25rem;
    --bs-card-inner-border-radius: calc(.25rem - 1px);
    --bs-card-cap-bg: var(--bs-gray-700);
    --bs-card-cap-padding-y: .5rem;
    --bs-card-cap-padding-x: .75rem;
}

.list-group {
    --bs-list-group-bg: var(--bs-gray-800);
    --bs-list-group-color: #fff;
    --bs-list-group-border-width: 1px;
    --bs-list-group-border-color: #000;
    --bs-list-group-border-radius: .25rem;
    --bs-list-group-item-padding-x: .75rem;
    --bs-list-group-item-padding-y: .5rem;
}

.nav {
    --bs-nav-link-padding-x: .75rem;
    --bs-nav-link-padding-y: .5rem;
    --bs-nav-link-color: #ffa500;
    --bs-nav-link-hover-color: #c87f0a;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-color: #323232;
    --bs-nav-tabs-border-radius: 0.25rem;
    --bs-nav-tabs-link-hover-border-color: transparent transparent #323232;
    --bs-nav-tabs-link-active-bg: var(--bs-gray-800);
    --bs-nav-tabs-link-active-border-color: #323232 #323232 #323232;
    --bs-nav-tabs-link-active-color: #fff;

    overflow-x: auto; overflow-y: hidden; flex-wrap: nowrap;
}

.tooltip {
    --bs-tooltip-bg: #212529;
    --bs-tooltip-border-radius: .25rem;
    --bs-tooltip-padding-x: .75rem;
    --bs-tooltip-padding-y: .5rem;
    --bs-tooltip-max-width: 25rem;
    --bs-tooltip-opacity: 1;
    
    font-family: Roboto, Arial; font-size: 12px;
}

.table {
    --bs-table-color: #fff;
    --bs-table-border-color: #000;
    
    margin-bottom: 0;
}

.table > :not(caption) > * > * { padding: .5rem .75rem; font-weight: normal; }

.table-card { border: 1px solid #000; }

.table-card th { background: var(--bs-gray-700); }
.table-card th.sort { color: #ffa500; cursor: pointer; }
.table-card th.sort:hover { color: #c87f0a; }

.table-card td { background: var(--bs-gray-800); }

.table-card tr:first-of-type > *:first-child { border-radius: .25rem 0 0 0; }
.table-card tr:first-of-type > *:last-child { border-radius: 0 .25rem 0 0; }
.table-card tr:last-of-type > *:first-child { border-radius: 0 0 0 .25rem; }
.table-card tr:last-of-type > *:last-child { border-radius: 0 0 .25rem 0; }
