{% load i18n %}

<!doctype html>
<html lang="en">
    <head>
        <!-- -->
        <title>NG Exile</title>
        <!-- -->
        <link rel="shortcut icon" href="/static/favicon.ico">
        <!-- -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- -->
        <link rel="stylesheet" type="text/css" href="/static/css/vendor-bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
        <!-- -->
        <script type="text/javascript" src="/static/js/vendor-bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor-fontawesome.js"></script>
        <!-- -->
        <script type="text/javascript">
        function shakewnd(n) {
            if (self.moveBy)
                for (i=10; i>0; i--)
                    for (x=0; x<n; x++) {
                        self.moveBy(i,i);
                        self.moveBy(0,-i);
                        self.moveBy(-i,i);
                        self.moveBy(0,-i);
                    }
                }
            }
        }
        </script>
    </head>
    <body onload="shakewnd(1)">
        <!-- -->
        <div class="h-100 w-100 d-flex align-items-center justify-content-center">
            <div><img src="/static/assets/error500.jpg" width="250px" height="216px"></div>
            <div>
                Une erreur est survenue sur la page que vous avez demandée.<br/>
                Merci de bien vouloir nous en excuser.
            </div>
        </div>
        <!-- -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-212X2QX8W5"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag(){ dataLayer.push(arguments) }
            gtag('js', new Date())
            gtag('config', 'G-212X2QX8W5')
        </script>
    </body>
</html>
