{% load i18n %}

<!doctype html>
<html lang="en">
    <head>

        <title>NG Exile</title>

        <link rel="shortcut icon" href="/static/favicon.ico">

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="/static/css/vendor-bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />

    </head>
    <body>

        <div class="h-100 w-100 d-flex align-items-md-center justify-content-center">
            <div class="">
                <div class="p-3 scrollbar" style="width:100%; max-width:512px;">
                    <div class="row g-3">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
        </div>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-212X2QX8W5"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag(){ dataLayer.push(arguments) }
            gtag('js', new Date())
            gtag('config', 'G-212X2QX8W5')
        </script>

        <script type="text/javascript" src="/static/js/vendor-bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor-fontawesome.js"></script>

    </body>
</html>
