{% extends "base.html" %}

{% load i18n %}

{% block content %}

    {% get_current_language as LANGUAGE_CODE %}
    
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row gx-2 align-items-center">
                    <div class="col">
                        <div class="row gx-2 align-items-center">
                            <div class="col-auto">
                                <img src="/static/img/interface/logo.png" width="24px" class="rounded" />
                            </div>
                            <div class="col-auto">
                                <span class="fs-6">NG Exile</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <span class="fs-6 text-white">{% translate "Bienvenue" %}</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row gx-2 gy-3">
                    <div class="col-12">
                        <div class="row gx-3 justify-content-center">
                            <form action="{% url 'set_language' %}" method="post" class="col-auto">
                                {% csrf_token %}
                                <input name="next" type="hidden" value=".">
                                <input name="language" type="hidden" value="en">
                                <button type="submit" class="btn {% if LANGUAGE_CODE == 'en' %}border-primary{% endif %}"><img src="/static/img/interface/en.png" width="24px" /></button>
                            </form>
                            <form action="{% url 'set_language' %}" method="post" class="col-auto">
                                {% csrf_token %}
                                <input name="next" type="hidden" value=".">
                                <input name="language" type="hidden" value="fr">
                                <button type="submit" class="btn {% if LANGUAGE_CODE == 'fr' %}border-primary{% endif %}"><img src="/static/img/interface/fr.png" width="24px" /></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row g-1">
                            <div class="col-12 text-center">
                                <span class="fs-6">{% translate "NG Exile est un jeu web en ligne totalement gratuit de simulation stratégique spatiale jouable avec un simple navigateur." %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row gx-3 gy-2 justify-content-center">
                            <div class="col-auto"><a href="/accounts/register/" class="btn btn-primary"><i class="fa-fw fas fa-edit me-1"></i> {% translate "Inscription" %}</a></div>
                            <div class="col-auto"><a href="/accounts/login/" class="btn btn-primary"><i class="fa-fw fas fa-sign-in-alt me-1"></i> {% translate "Connexion" %}</a></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row g-1">
                            <div class="col-12 text-center">
                                <span>{% translate "Puisque NG Exile est un jeu multijoueur, vous devez créer un compte pour jouer. Votre email ne sera jamais utilisé sauf pour le lien d'activation." %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row g-1">
                            <div class="col-12 text-center">
                                <span>{% translate "Pour vous tenir informé et obtenir les dernières informations, rejoignez le salon Discord du jeu." %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row g-1">
                            <div class="col-12 text-center">
                                <a href="https://discord.gg/x39nHzM" target="_blank" class="btn btn-secondary"><i class="fa-fw fab fa-discord me-1"></i> Discord</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-12 text-center">
        <span class="text-normal">&#169; Copyright 2022-2023 - Freddec Games</span>
    </div>

{% endblock content %}
