@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Bootstrap */

:root {
    --bs-body-font-family: Roboto, Arial;
    --bs-body-font-size: .75rem;
    --bs-body-color: #ced4da;
}

html, body { height:100%; width:100%; }

body { background: url('/static/ng0/img/bk.jpg') repeat #000; }

.fs-5 { font-size: 1rem!important; }

.text-muted { color: #adb5bd!important; }
.text-normal { color: var(--bs-body-color)!important; }
.text-danger { color: #ff4444!important; }
.text-success { color: #00ff00!important; }

.badge {
    --bs-badge-font-weight: 400;
}

.btn {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-padding-x: .5rem;
    --bs-btn-padding-y: .25rem;
    --bs-btn-font-size: var(--bs-body-font-size);
    --bs-btn-border-color: transparent;
    
    --bs-btn-active-bg: #6d6d6d;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-border-color: #6d6d6d;
}

.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffa500;
    --bs-btn-border-color: #ffa500;
    
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #cc8400;
    --bs-btn-hover-border-color: #cc8400;

    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #cc8400;
    --bs-btn-active-border-color: #cc8400;
}

.form-control {
    display: block;
    width: 100%;
    padding: .25rem .5rem;
    font-size: var(--bs-body-font-size);
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #6c757d;
    border: 1px solid var(--bs-border-color-translucent);
    border-radius: .375rem;
}
.form-control:focus {
    color: #fff;
    background-color: #6c757d;
    border-color: #ffa500;
    box-shadow: none;
}

.nav {
    --bs-nav-link-padding-x: .5rem;
    --bs-nav-link-padding-y: .25rem;
    --bs-nav-link-color: var(--bs-body-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
}

.dropdown-menu {
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-min-width: 15rem;
    --bs-dropdown-bg: #2d2d2d;
    --bs-dropdown-font-size: var(--bs-body-font-size);
    --bs-dropdown-border-color: #6d6d6d;
    --bs-dropdown-divider-bg: #6d6d6d;
    
    --bs-dropdown-link-color: var(--bs-body-color);
}

.card {
    --bs-card-spacer-y: .5rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: .5rem;
    --bs-card-cap-bg: rgba(0, 0, 0, .25);
    --bs-card-bg: #495057;
}

/* Layout */

#main {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    width: 100%; height: 100%;
}

#top {
    position: absolute; top:0; left:0; right:0;
    width: 100%; height: 52px;
    background-color: #2d2d2d;
    display: flex; align-items: center;
}

#bottom {
    position: absolute; bottom:0; left:0; right:0;
    width: 100%; height: 52px;
    background-color: #2d2d2d;
    display: flex; align-items: center;
}
