@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bs-yellow: #ff0;
    
    --bs-primary: #ffa500;
    --bs-secondary: #4176ef;
    --bs-success: #0f0;
    --bs-info: #3dd5f3;
    --bs-warning: #fa9f1b;
    --bs-danger: #ff7a87;
    --bs-light: var(--bs-gray-700);
    --bs-dark: var(--bs-gray-900);
    
    --bs-primary-rgb: 255,165,0;
    --bs-secondary-rgb: 65,118,239;
    --bs-success-rgb: 0,255,0;
    --bs-info-rgb: 61,213,243;
    --bs-warning-rgb: 250,159,27;
    --bs-danger-rgb: 255,122,135;
    --bs-light-rgb: 73,80,87;
    --bs-dark-rgb: 36,41,49;
    
    --bs-font-sans-serif: Roboto,"Open Sans",system-ui,-apple-system,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";    
    
    --bs-body-bg: var(--bs-black);
    --bs-body-color: #afb4bb;
    --bs-body-font-size: .75rem;
    
    --bs-link-color: #ffa500;
    --bs-link-hover-color: #c87f0a;
}

/* Layout */

html { height: 100%; width: 100%; }

body {
    background-size: cover; background-attachment: fixed; background-position: center; background-image: url(/static/img/background.jpg);
    height: 100%; width: 100%;
    overflow: hidden;
}

.root {
    position: relative;
    height: 100%; width: 100%;
}
.root:before {
    background-color: rgba(0, 0, 0, .5);
    content: "";
    position: fixed; display: block; inset: 0;
    opacity: 0; visibility: hidden; z-index: -1;
    pointer-events: none;
}
.root.leftnav-shown:before {
    cursor: pointer;
    opacity: 1;  visibility: visible; z-index: 9998;
    pointer-events: visible;    
}

@media (min-width: 768px) { .root { max-width: 720px; padding: 1rem 0; margin: 0 auto; -webkit-clip-path: inset(0 0 0 0 round .75rem); } }
@media (min-width: 992px) { .root { max-width: 960px; } }
@media (min-width: 1200px) { .root { max-width: 960px; } }
@media (min-width: 1400px) { .root { max-width: 960px; } }

.header {
    position: sticky; top: 0; z-index: 1000;
    height: 48px;
    background-color: var(--bs-gray-900);
}

@media (min-width: 768px) { .header { border-radius: 0.75rem 0.75rem 0 0; } }

.header-inner {
    display: flex; align-items: center;    
    height: 100%;
    padding-inline: .75rem;
}

.header-inner-start {    
    display: flex; align-items: center;
    flex-grow: 1; gap: .5rem;
}

.header-inner-end {    
    display: flex; align-items: center;
    gap: .25rem;
}

.header-title {
    color: #d8dbde; 
}

.header-btn {
    border-radius: .875rem;
    box-shadow: none!important;
    font-size: .8rem; color: inherit;
}
.header-btn:focus, .header-btn:hover {
    background-color: #2c323c;
    color: #d8dbde;
}

.leftnav {
    position: absolute; top: 0; bottom: 0;
    max-width: 15rem; width: 15rem;
    transition: transform .5s ease;
    background-color: var(--bs-gray-900);
}
:not(.leftnav-shown) .leftnav {
    transform: translateX(-15rem);
    z-index: 1002;
 }
.leftnav-shown .leftnav  {
    transform: translateX(0);
    z-index: 9999;
}

@media (min-width: 768px) { .leftnav { top: calc(1rem + 48px); bottom: 1rem; border-radius: 0 0 0 .75rem; } }
@media (min-width: 768px) { :not(.leftnav-shown) .leftnav { transform: translateX(0); } }


.leftnav-inner {
    display: flex; flex-direction: column;
    height: 100%; width: 100%;
    background-color: var(--bs-gray-800);
    color: #afb4bb;
}

@media (min-width: 768px) { .leftnav-inner { border-radius: 0 .375rem 0 .75rem; } }

.leftnav-inner-top {
    display: flex; flex-direction: column;
    height: 100%; width: 100%;
    overflow: auto;    
}

.leftnav-inner-bottom {
    position: sticky; bottom: 0;
    margin-top: auto;
    border-top: 1px solid #505864;
}

.content {
    position: absolute; top: 48px; bottom: 0;
    min-width: 0; max-width: 100vw;
    background-color: var(--bs-gray-900);
}

.content-inner {
    display: flex; flex-direction: column;
    height: 100%; width: 100%;
    overflow: auto;
}

.content-block {
    padding: .5rem .75rem;
}
.content-block:first-of-type { padding-top: 0; }

@media (min-width: 768px) { .content { top: calc(1rem + 48px); left: 15rem; bottom: 1rem; border-radius: 0 0 .75rem 0; } }

a:link, a:visited, a:active, a:hover { text-decoration: none; }

/* Bootstrap */

.btn {
    --bs-btn-padding-x: .75rem;
    --bs-btn-padding-y: .5rem;
    --bs-btn-font-size: .75rem;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-width: 0;
    
    --bs-btn-focus-box-shadow: none;
    
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    
    --bs-btn-disabled-opacity: .5;
}

.btn-sm {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: 0.25rem;
}

.btn-primary {
    --bs-btn-color: #2c2c2c;
    --bs-btn-bg: #ffa500;
    --bs-btn-hover-color: #2c2c2c;
    --bs-btn-hover-bg: #c87f0a;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #2c2c2c;
    --bs-btn-disabled-bg: #ffa500;
}

.nav {
    --bs-nav-link-padding-x: .75rem;
    --bs-nav-link-padding-y: .5rem;
    --bs-nav-link-color: var(--bs-body-color);
}

.nav-link {
    text-align: left; white-space: nowrap;
    width: 100%;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #2c2c2c;
    --bs-nav-pills-link-active-bg: var(--bs-primary);
}

.nav-tabs {
    --bs-nav-tabs-border-color: #505864;
    --bs-nav-tabs-link-hover-border-color: transparent transparent #505864;
    --bs-nav-tabs-link-active-color: var(--bs-primary);
    --bs-nav-tabs-link-active-bg: transparent;
    --bs-nav-tabs-link-active-border-color: transparent transparent var(--bs-primary);
    
    flex-wrap: nowrap;
    overflow-x: auto; overflow-y: hidden;
}

.badge {
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 400;
}

.card {
    --bs-card-spacer-y: .75rem;
    --bs-card-spacer-x: .75rem;
    --bs-card-bg: var(--bs-gray-800);
    --bs-card-border-width: 0;
    --bs-card-cap-padding-y: .5rem;
    --bs-card-cap-padding-x: .75rem;
}

.list-group {
    --bs-list-group-color: var(--bs-body-color);
    --bs-list-group-bg: var(--bs-gray-800);
    --bs-list-group-border-width: 0;
    --bs-list-group-item-padding-x: .75rem;
    --bs-list-group-item-padding-y: .5rem;
}

.tooltip {
    --bs-tooltip-padding-x: .75rem;
    --bs-tooltip-padding-y: .5rem;
    --bs-tooltip-max-width: 25rem;
    --bs-tooltip-opacity: 1;
    
    font-family: Poppins, Arial; font-size: .75rem;
}

.alert {
    --bs-alert-padding-x: .75rem;
    --bs-alert-padding-y: .5rem;
    --bs-alert-margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin-bottom: .5rem; }

.h6, h6 { font-size: .85rem; }

/* Custom */

.text-yellow { color: var(--bs-yellow); }

.link-danger { color: var(--bs-danger)!important; }
.link-danger:focus, .link-danger:hover { color: var(--bs-link-hover-color)!important; }

.link-success { color: var(--bs-success)!important; }
.link-success:focus, .link-success:hover { color: var(--bs-link-hover-color)!important; }

.link-info { color: var(--bs-info)!important; }
.link-info:focus, .link-info:hover { color: var(--bs-link-hover-color)!important; }

.px-3 {
    padding-right: .75rem!important; padding-left: .75rem!important;
}

.btn-icon {
    display: inline-flex; align-items: center; justify-content: center;
    height: 2rem; width: 2rem;
    padding: 0;    
    box-sizing: content-box;
}

.badge-top {
    position: absolute!important;
    inset: 0.15rem auto auto 100%!important;
    transform: translate(Max(-0.625rem, -50%), -50%);
    z-index: 1;
}

.form-check {
    min-height: auto;
}

.form-check-input:focus {
    border-color: var(--bs-link-color);
    box-shadow: none;
}
.form-check-input:checked {
    background-color: var(--bs-link-color);
    border-color: var(--bs-link-color);
}
