@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Bootstrap */

:root {
    --bs-body-bg: #000;
    --bs-body-color: #ced4da;
    --bs-body-font-size: .75rem;
    --bs-body-font-family: Roboto, Arial;
    
    --bs-border-color: #6d6d6d;
    
    --bs-link-color: #ffa500;
    --bs-link-hover-color: #cc8400;

    --bs-dark: #2d2d2d;
    --bs-light: #6d6d6d;
    --bs-danger: #dc3545;
    --bs-primary: #ffa500;
    --bs-success: #00ff89;
    
    --bs-dark-rgb: 45,45,45;
    --bs-light-rgb: 109,109,109;
    --bs-danger-rgb: 220,53,69;
    --bs-primary-rgb: 255,165,0;
    --bs-success-rgb: 0,255,137;
}

html, body { height:100%; width:100%; }

body {
    background: url('/static/ng0/img/interface/bk.jpg') repeat #000;
    display: flex; align-items: center; justify-content: center;
}

.fs-5 { font-size: 1rem!important; }

.text-muted { color: inherit!important; opacity: .75!important; }

.text-normal { color: var(--bs-body-color)!important; }

.text-bg-light {
    color: #fff!important;
    background-color: rgb(var(--bs-light-rgb))!important;
}

.text-bg-success {
    color: #000!important;
    background-color: rgb(var(--bs-success-rgb))!important;
}

.badge {
    --bs-badge-font-weight: 400;
}

.btn {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-padding-x: .5rem;
    --bs-btn-padding-y: .25rem;
    --bs-btn-font-size: var(--bs-body-font-size);
    --bs-btn-border-color: transparent;
    
    --bs-btn-active-bg: #6d6d6d;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-border-color: #6d6d6d;
}

.nav {
    --bs-nav-link-padding-x: .5rem;
    --bs-nav-link-padding-y: .5rem;
    --bs-nav-link-color: var(--bs-body-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
}

.nav-pills {
    --bs-nav-pills-link-active-color: var(--bs-primary);
    --bs-nav-pills-link-active-bg: transparent;
}

.nav-tabs {
    --bs-nav-tabs-border-color: var(--bs-dark);

    --bs-nav-tabs-link-hover-border-color: transparent;

    --bs-nav-tabs-link-active-color: var(--bs-primary);
    --bs-nav-tabs-link-active-bg: transparent;
    --bs-nav-tabs-link-active-border-color: transparent transparent var(--bs-primary);
}

.dropdown-menu {
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-min-width: 15rem;
    --bs-dropdown-bg: var(--bs-dark);
    --bs-dropdown-font-size: var(--bs-body-font-size);
    --bs-dropdown-border-color: var(--bs-border-color);

    --bs-dropdown-divider-bg: var(--bs-border-color);
    
    --bs-dropdown-link-color: var(--bs-body-color);

    --bs-dropdown-link-hover-color: var(--bs-link-hover-color);
    --bs-dropdown-link-hover-bg: transparent;
    
    --bs-dropdown-link-active-color: var(--bs-primary);
    --bs-dropdown-link-active-bg: transparent;
}

.dropdown-item {
    white-space: inherit;
}

/* Layout */

:root {
    --top-height: 52px;
    --bottom-height: 52px;
}

#main {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    width: 100%; height: 100%;
}

@media (min-width: 1200px) {
    #main {
        position: relative;
        border: 1px solid var(--bs-dark);
        max-width: 1024px; max-height: 576px;
    }
}

#top {
    position: absolute; top:0; left:0; right:0;
    width: 100%; height: var(--top-height);
    background-color: var(--bs-dark);
    display: flex; align-items: center;
}

#content {
    position: absolute; top:var(--top-height); bottom:var(--bottom-height); left:0; right:0;
    width: 100%;
}

#bottom {
    position: absolute; bottom:0; left:0; right:0;
    width: 100%; height: var(--bottom-height);
    background-color: var(--bs-dark);
    display: flex; align-items: center;
}

/* Custom */

.text-self { color: #0dcaf0!important; }
