{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="p-3" style="width:100%; max-width:512px;">
    <div class="row g-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto" style="padding-top:2px;">
                            <a href="/" class="mt-1"><i class="fa-fw fas fa-arrow-alt-circle-left"></i></a>
                        </div>
                        <div class="col">
                            <div class="row gx-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/img/logo.png" width="24px" class="rounded" />
                                </div>
                                <div class="col-auto">
                                    <span class="fs-6">NG Exile</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <span class="fs-6 text-white">{% translate "Sign Up" %}</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row gx-2 gy-3">
                        <div class="col-12 text-center">
                            <span class="text-danger">{% translate "An error occured during your activation. Your account is not activated :(" %}</span>
                        </div>
                        <div class="col-12 text-center">
                            <span>Please contact Freddec on Discord with the following data:</span><br>
                            <span>{{ activation_error }}</span>
                        </div>
                        <div class="col-12 text-center">
                            <a href="https://discord.gg/x39nHzM" target="_blank" class="btn btn-secondary"><i class="fa-fw fab fa-discord me-1"></i> Discord</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}