{% load i18n %}

{% for message in messages %}
    <div class="mt-2 alert alert-{{ message.tags }} text-center">
    
        {% if message.message == 'name_invalid' %}Entrez un nom de 4 à 32 lettres (A-Z, 0-9, -, .)
        {% elif message.message == 'name_already_used' %}Ce nom est déjà utilisé, veuillez en choisir un autre
        {% elif message.message == 'tag_invalid' %}Le tag doit être composé de 2 à 4 lettres
        {% elif message.message == 'tag_already_used-2' %}Ce tag est déjà utilisé, veuillez en choisir un autre

        {% elif message.message == 'name_invalid' %}Veuillez spécifier un nom de planète valide.
        
        {% elif message.message == 'mail_unknown_from' %}Expéditeur inconnu
        {% elif message.message == 'mail_unknown_to' %}Destinataire inconnu <script>onload=function() { document.newmail.to.focus(); document.newmail.to.value = document.newmail.to.value; }</script>
        {% elif message.message == 'mail_missing_to' %}Destinataire manquant <script>onload=function() { document.newmail.to.focus(); }</script>
        {% elif message.message == 'mail_same' %}Vous ne pouvez pas envoyer de message à vous même
        {% elif message.message == 'mail_empty' %}Spécifiez un message
        {% elif message.message == 'not_enough_credits' %}Vous ne possédez pas assez d'argent pour envoyer cette somme
        {% elif message.message == 'blocked' %}Vous êtes ignoré : le destinataire ne souhaite pas recevoir de message provenant de votre nation
        {% elif message.message == 'mail_sent' %}Message envoyé

        {% elif message.message == 'error_soldiers' %}Nombre de soldat incorrect !
        {% elif message.message == 'error_fleet' %}La flotte n'est pas prête pour une invasion !
        {% elif message.message == 'error_planet' %}Impossible d'envahir une planète inoccupée, alliée ou dans une alliance qui n'est pas en guerre contre nous !
        {% elif message.message == 'error_invade_enemy_ships' %}Impossible d'envahir tant que des vaisseaux militaires ennemis sont proches de la planète !
        {% elif message.message == 'error_name' %}mmm
        {% elif message.message == 'bad_destination' %}Destination non valide
        {% elif message.message == 'new_player_protection' %}Planète temporairement protégée
        {% elif message.message == 'long_travel_impossible' %}Saut impossible
        {% elif message.message == 'not_enough_credits' %}Pas assez de crédits
        {% elif message.message == 'error_jump_from_require_empty_location' %}Impossible de sauter d'ici. Déplacez la flotte à proximité d'un vortex avant de sauter.
        {% elif message.message == 'error_jump_protected_galaxy' %}Galaxie protégée
        {% elif message.message == 'error_jump_to_require_empty_location' %}Impossible de sauter vers cette destination. Choisissez un vortex comme point d'arrivé.
        {% elif message.message == 'error_jump_to_same_point_limit_reached' %}Trop de flottes sautent vers la même destination, utilisez des vortex avec stabilité suffisante.
        {% elif message.message == 'error_recycling' %}Une de nos flottes est déjà en train de recycler dans les parages !
        {% elif message.message == 'error_max_planets_reached' %}Nombre maximal de colonisations atteint !
        {% elif message.message == 'error_deploy_enemy_ships' %}Impossible de coloniser tant que des vaisseaux militaires ennemis sont proches de la planète !
        {% elif message.message == 'error_deploy_too_many_safe_planets' %}Impossible de coloniser plus de planètes dans des galaxies protégées !

        {% elif message.message == 'error_occupied' %}La flotte est occupée. Vous ne pouvez diviser une flotte qui combat, ni récolte ou voyage.
        {% elif message.message == 'error_already_exists' %}Le nom de la flotte est déjà utilisé, veuillez en choisir un autre.
        {% elif message.message == 'error_badname' %}Le nom de la flotte est invalide, il ne peut contenir que des lettres (a-z) et des chiffres (0-9).

        {% elif message.message == 'new_norights' %}Vous n'êtes pas en droit de faire une telle demande
        {% elif message.message == 'new_unknown' %}Aucune alliance avec un tel tag n'a été trouvée
        {% elif message.message == 'not_enough_credits' %}Pas assez de crédits !
        {% elif message.message == 'new_norights' %}Vous n'êtes pas en droit de faire une telle demande
        {% elif message.message == 'new_unknown' %}Aucune alliance avec un tel tag n'a été trouvée
        {% elif message.message == 'norights' %}Vous n'êtes pas en droit de faire une telle demande
        {% elif message.message == 'unknown' %}Aucune alliance avec un tel tag n'a été trouvée
        {% elif message.message == 'war_not_found' %}Nous ne sommes pas en guerre avec cette alliance

        {% elif message.message == 'new_norights' %}Vous n'êtes pas en droit de faire une telle demande
        {% elif message.message == 'new_unknown' %}Aucune alliance avec un tel tag n'a été trouvée
        {% elif message.message == 'new_already_exists' %}Nous avons déjà un versement automatique avec cette alliance, annuler celui existant et recommencez
        {% elif message.message == 'norights' %}Vous n'êtes pas en droit de faire une telle demande
        {% elif message.message == 'unknown' %}Aucune alliance avec un tel tag n'a été trouvée

        {% elif message.message == 'no_right' %}Vous n'êtes pas en droit de rallier de nouvelles nations
        {% elif message.message == 'name_unknown' %}Aucune nation répondant à ce nom n'a été trouvée
        {% elif message.message == 'already_member' %}Cette nation est déjà membre de notre alliance !
        {% elif message.message == 'already_invited-2' %}Cette nation a déjà été invitée récemment
        {% elif message.message == 'impossible-2' %}Cette nation ne peut être invitée

        {% elif norights %}Vous n'êtes pas en droit de faire une telle demande
        {% elif unknown %}Aucune alliance avec un tel tag n'a été trouvée
        {% elif already_naped %}Cette alliance a déjà un pacte avec notre alliance !
        {% elif request_waiting %}Cette alliance nous a déjà offert un pacte, acceptons leur pacte
        {% elif already_requested %}Nous avons déjà essayé d'établir un pacte avec cette alliance récemment

        {% elif message.message == 'norights' %}Vous n'êtes pas en droit de faire une telle demande
        {% elif message.message == 'unknown' %}Aucune alliance avec un tel tag n'a été trouvée
        {% elif message.message == 'nap_not_found' %}Nous n'avons aucun pacte avec cette alliance
        {% elif message.message == 'not_enough_credits' %}L'alliance ne dispose pas d'assez de crédits pour rompre le pacte
        
        {% else %}{{ message }}
        {% endif %}
        
    </div>
{% endfor %}
