{% extends 's03/alliance-wallet.html' %}
{% load humanize %}
{% block page %}
    {% if give %}
        <form action="?cat={{ walletpage }}" method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <span class="fs-6">Don d'argent</span>
                </div>
                <div class="card-body">
                    <div class="row gy-1 gx-3 align-items-center">
                        <div class="col-4 text-end">
                            <span class="text-normal">Trésorerie</span>
                        </div>
                        <div class="col-8">
                            {{ player_credits|intcomma }} <span class="text-normal">crédits</span>
                        </div>
                        <div class="col-4 text-end">
                            <span class="text-normal">Somme</span>
                        </div>
                        <div class="col-8 d-flex align-items-center">
                            <input type="number" class="form-control" min="0" name="credits" value="" size="8" maxlength="8">
                            <span class="ms-2 text-normal">crédits</span>
                        </div>
                        <div class="col-4 text-end">
                            <span class="text-normal">Description</span>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" name="description" value="{{ description }}" size="64" maxlength="64">
                        </div>
                        <div class="col-4 text-end">
                        </div>
                        <div class="col-8">
                            {% if can_give %}<input type="submit" class="btn btn-primary" name="give" value="Donner">
                            {% else %}<span class="text-danger">Impossible de faire un don avant deux semaines de jeu</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
    {% if list %}
        <div class="mt-3 card">
            <div class="card-header">
                <span class="fs-6">Dons d'argent ces 7 derniers jours</span>
            </div>
            <div class="list-group list-group-flush">
                {% for entry in entries %}
                    <div class="list-group-item">
                        <div class="row gx-3 align-items-center">
                            <div class="col-2">
                                <span class="text-normal">{{ entry.date }}</span>
                            </div>
                            <div class="col">
                                {{ entry.nation }}
                            </div>
                            <div class="col-auto">
                                {{ entry.credits|intcomma }} <span class="text-normal">crédits</span>
                            </div>
                            <div class="col-auto">
                                <span class="text-normal">{{ entry.description }}</span>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="list-group-item text-center">
                        <span class="text-normal">Aucun don</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
