{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<div class="page-content">
    <ul class="nav nav-tabs mt-0 mb-3">
        <li class="nav-item">
            <a href="/s03/alliance-view/" class="nav-link">Aperçu</a>
        </li>
        {% if show_management %}
            <li class="nav-item">
                <a href="/s03/alliance-manage/" class="nav-link">Gestion</a>
            </li>
        {% endif %}
        {% if show_ranks %}
            <li class="nav-item">
                <a href="/s03/alliance-ranks/" class="nav-link">Grades</a>
            </li>
        {% endif %}
        {% if show_members %}
            <li class="nav-item">
                <a href="/s03/alliance-members/" class="nav-link">Membres</a>
            </li>
        {% endif %}
        {% if show_members %}
            <li class="nav-item">
                <a href="/s03/alliance-recruitment/" class="nav-link">Recrutement</a>
            </li>
        {% endif %}
        <li class="nav-item active">
            <a href="/s03/alliance-naps/" class="nav-link">PNA</a>
        </li>
        <li class="nav-item">
            <a href="/s03/alliance-tributes/" class="nav-link">Tributs</a>
        </li>
        <li class="nav-item">
            <a href="/s03/alliance-wars/" class="nav-link">Guerres</a>
        </li>
        <li class="nav-item">
            <a href="/s03/alliance-wallet/" class="nav-link">Portefeuille</a>
        </li>
        {% if show_reports %}
            <li class="nav-item">
                <a href="/s03/alliance-reports/" class="nav-link">Rapports</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a href="/s03/alliance-invitations/" class="nav-link">Invitations</a>
        </li>
    </ul>
</div>
<div class="scroll-content" style="height:calc(100% - 52px);">
<div class="page-content">
    <script>
        function confirmBreakPact(tag, name) {
        
            var s = "Êtes-vous sûr de vouloir rompre le pacte avec [" + tag + "] " + name + " ?";
            return confirm(s);
        }
    </script>
    <div class="card mb-3">
        <div class="card-header">
            <div class="row gx-3">
                <div class="col"><span class="fs-6">Pacte(s) de non-agression</span></div>
                <div class="col-2 text-end"><span class="text-normal">Vision planète</span></div>
                <div class="col-2 text-end"><span class="text-normal">Partage radar</span></div>
                <div class="col-3"></div>
            </div>
        </div>
        <div class="list-group list-group-flush">
            {% for nap in naps %}
                <div class="list-group-item">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            {{ forloop.counter }}
                            <span class="text-normal">.</span>
                        </div>
                        <div class="col">
                            <a href="/s03/alliance-view/?tag={{ nap.tag }}" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[{{ nap.tag }}] {{ nap.name }}</a>
                        </div>
                        <div class="col-auto">
                            <span class="text-normal">{{ nap.created }}</span>
                        </div>
                        {% if not nap.breaking_time %}
                            <div class="col-2 text-end">
                                {% if can_create %}<a href="?a=sharelocs&tag={{ nap.tag }}">{% if nap.share_locs %}Oui{% else %}Non{% endif %}</a>
                                {% else %}{% if nap.share_locs %}Oui{% else %}Non{% endif %}
                                {% endif %}
                            </div>
                            <div class="col-2 text-end">
                                {% if can_create %}<a href="?a=shareradars&tag={{ nap.tag }}">{% if nap.share_radars %}Oui{% else %}Non{% endif %}</a>
                                {% else %}{% if nap.share_radars %}Oui{% else %}Non{% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="col-3 text-end">
                            {% if nap.breaking_time %}<span class="text-yellow"><script>putcountdown1({{nap.breaking_time}}, "Rompu", "?")</script></span>
                            {% elif nap.break_interval %}
                                <small class="text-normal me-1">délai</small>
                                <span class="me-3"><script>document.write(formattime({{nap.break_interval}}))</script></span>
                                {% if can_break %}<a href="?a=break&tag={{ nap.tag }}" onclick="return confirmBreakPact('{{ nap.tag }}','{{ nap.name }}')">Rompre</a>
                                {% else %}Rompu
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <span class="text-normal">Aucun</span>
                </div>
            {% endfor %}
            {% for message in messages %}
                <div class="list-group-item">
                    <div class="alert alert-{{ message.tags }} text-center">
                        {% if message.message == 'norights' %}Vous n'êtes pas en droit de faire une telle demande{% endif %}
                        {% if message.message == 'unknown' %}Aucune alliance avec un tel tag n'a été trouvée{% endif %}
                        {% if message.message == 'nap_not_found' %}Nous n'avons aucun pacte avec cette alliance{% endif %}
                        {% if message.message == 'not_enough_credits' %}L'alliance ne dispose pas d'assez de crédits pour rompre le pacte{% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <span class="fs-6">Propositions de pactes de non-agression</span>
        </div>
        <div class="list-group list-group-flush">
            {% for proposition in propositions %}
                <div class="list-group-item">
                    <div class="row gx-3 align-items-center">
                        <div class="col">
                            <a href="/s03/alliance-view/?tag={{ proposition.tag }}" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[{{ proposition.tag }}] {{ proposition.name }}</a>
                        </div>
                        <div class="col-auto">
                            <a href="/s03/mails/?to={{ proposition.username }}" data-bs-toggle="tooltip" data-bs-title="Envoyer message">{{ proposition.username }}</a>
                        </div>
                        <div class="col-auto">
                            <span class="text-normal">{{ proposition.created }}</span>
                        </div>
                        <div class="col-auto">
                            <script>document.write(formattime({{proposition.break_interval}}))</script>
                        </div>
                        <div class="col-auto">
                            <a href="?a=decline&tag={{ proposition.tag }}" class="btn btn-danger">Refuser</a>
                        </div>
                        <div class="col-auto">
                            <a href="?a=accept&tag={{ proposition.tag }}" class="btn btn-primary">Accepter</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <span class="text-normal">Aucune proposition</span>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if can_create %}
    <form action="?" method="post">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                <span class="fs-6">Établir un pacte de non-agression</span>
            </div>
            <div class="card-body">
                <div class="mb-2 text-center">
                    <span class="text-normal">Veuillez indiquer le tag de l'alliance avec laquelle créer un PNA.<br/>Vous pouvez spécifier un délai d'exécution lorsqu'une alliance décidera de rompre le pacte. Maximum 72 heures : 3 jours.</span>
                </div>
                <div class="row gx-2 align-items-center justify-content-center">
                    <div class="col-auto">
                        <span>Alliance (tag)</span>
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control" name="tag" value="" maxlength="4" />
                    </div>
                    <div class="col-auto">
                        <span>Délai d'exécution</span>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" name="hours" value="" maxlength="2">
                    </div>
                    <div class="col-auto">
                        <span class="text-normal">heures</span>
                    </div>
                    <div class="col-auto">
                        <input type="submit" class="btn btn-primary" name="submit" value="Envoyer">
                    </div>
                </div>
                {% for message in messages %}
                    <div class="mt-2 alert alert-{{ message.tags }} text-center">
                        {% if norights %}Vous n'êtes pas en droit de faire une telle demande{% endif %}
                        {% if unknown %}Aucune alliance avec un tel tag n'a été trouvée{% endif %}
                        {% if already_naped %}Cette alliance a déjà un pacte avec notre alliance !{% endif %}
                        {% if request_waiting %}Cette alliance nous a déjà offert un pacte, acceptons leur pacte{% endif %}
                        {% if already_requested %}Nous avons déjà essayé d'établir un pacte avec cette alliance récemment{% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <span class="fs-6">Nos demandes de pacte aux autres alliances</span>
        </div>
        <div class="list-group list-group-flush">
            {% for request in requests %}
                <div class="list-group-item">
                    <div class="row gx-3 align-items-center">
                        <div class="col">
                            <a href="/s03/alliance-view/?tag={{ request.tag }}" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[{{ request.tag }}] {{ request.name }}</a>
                        </div>
                        <div class="col-auto">
                            <a href="/s03/mails/?to={{ request.username }}" data-bs-toggle="tooltip" data-bs-title="Envoyer message">{{ request.username }}</a>
                        </div>
                        <div class="col-auto">
                            <span class="text-normal">{{ request.created }}</span>
                        </div>
                        <div class="col-auto">
                            <script>document.write(formattime({{request.break_interval}}))</script>
                        </div>
                        <div class="col-auto">
                            {% if not request.declined %}<span class="text-yellow">En attente</span>
                            {% else %}<span class="text-danger">Refusée</span>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <a href="?a=cancel&tag={{ request.tag }}" class="btn btn-danger">Annuler</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <span class="text-normal">Aucune demande</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}
