{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<div class="page-content">
{% if nav %}
    <ul class="nav nav-tabs mt-0 mb-3">
        <li class="nav-item {% if cat1_selected %}active{% endif %}">
            <a href="?cat=1" class="nav-link">Membres</a>
        </li>
        <li class="nav-item {% if cat2_selected %}active{% endif %}">
            <a href="?cat=2" class="nav-link">Invitations</a>
        </li>
    </ul>
{% endif %}
{% if cat1_selected %}
    <script>
        var ranks = new Array()
        {% for rank in ranks %}ranks[{{rank.rank_id}}] = '{{rank.rank_label}}';{% endfor %}
        
        {% if recruit %}
            function showKick(name) {
            
                $("kick" + name).style.display = "none";
                $("kickConfirm" + name).style.display = "block";
                $("kickConfirm" + name).style.visibility = "visible";
                
                return false;
            }
        {% endif %}
        
        function displayStatus(id, rank, manage, kick) {
        
            var s = '';

            if (!manage) s = ranks[rank];
            else {
            
                s = '<select name="player' + id + '" class="form-control" onchange="showSubmit()">';
                for (var x in ranks) s += '<option value="' + x + '"' + (rank == x ? ' selected' : '') + '>' + ranks[x] + '</option>';
                s += '</select>';
            }

            document.write(s);
        }
        
        function showSubmit() { $("submitChanges").className = "list-group-item"; }
    </script>
    <div class="mb-3">
        <div class="row gx-3 align-items-center">
            <div class="col-auto"><span class="text-normal">Trié par</span></div>
            <div class="col-auto"><a href="?cat={{ cat }}&col=1{% if r1 %}&r=1{% endif %}" class="{% if col == 1 %}badge text-bg-primary{% endif %}">Nom{% if col == 1 %}<i class="ms-1 fa-fw fas {% if r1 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
            <div class="col-auto"><a href="?cat={{ cat }}&col=2{% if r2 %}&r=1{% endif %}" class="{% if col == 2 %}badge text-bg-primary{% endif %}">Score{% if col == 2 %}<i class="ms-1 fa-fw fas {% if r2 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
            <div class="col-auto"><a href="?cat={{ cat }}&col=3{% if r3 %}&r=1{% endif %}" class="{% if col == 3 %}badge text-bg-primary{% endif %}">Planètes{% if col == 3 %}<i class="ms-1 fa-fw fas {% if r3 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
            <div class="col-auto"><a href="?cat={{ cat }}&col=4{% if r4 %}&r=1{% endif %}" class="{% if col == 4 %}badge text-bg-primary{% endif %}">Crédits{% if col == 4 %}<i class="ms-1 fa-fw fas {% if r4 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
            <div class="col-auto"><a href="?cat={{ cat }}&col=5{% if r5 %}&r=1{% endif %}" class="{% if col == 5 %}badge text-bg-primary{% endif %}">Activité{% if col == 5 %}<i class="ms-1 fa-fw fas {% if r5 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
            <div class="col-auto"><a href="?cat={{ cat }}&col=6{% if r6 %}&r=1{% endif %}" class="{% if col == 6 %}badge text-bg-primary{% endif %}">Ralliement{% if col == 6 %}<i class="ms-1 fa-fw fas {% if r6 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
            <div class="col-auto"><a href="?cat={{ cat }}&col=7{% if r7 %}&r=1{% endif %}" class="{% if col == 7 %}badge text-bg-primary{% endif %}">Grade{% if col == 7 %}<i class="ms-1 fa-fw fas {% if r7 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
        </div>
    </div>
    <div class="mb-3">
        <form action="?cat={{cat}}" method="post">
            {% csrf_token %}
            <div class="card">
                <div class="list-group list-group-flush">
                    {% for player in players %}
                        <div class="list-group-item">
                            <div class="row gx-3 align-items-center">
                                <div class="col-auto">{{ player.place }}.</div>
                                <div class="col">
                                    <div><a href="/s03/nation/?name={{ player.name }}" data-bs-toggle="tooltip" data-bs-title="Voir profil">{{ player.name }}</a></div>
                                    <div>
                                        <small class="text-normal">
                                            {% if player.orientation1 %}Marchand{% endif %}
                                            {% if player.orientation2 %}Militaire{% endif %}
                                            {% if player.orientation3 %}Scientifique{% endif %}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-2">
                                    {% if player.scoreshown %}
                                        <div>{{ player.score|intcomma }}</div>
                                        <div><small class="{% if player.score_delta > 0 %}text-success{% else %}text-danger{% endif %}">{% if player.score_delta > 0 %}+{% endif %}{{ player.score_delta|intcomma }}</small></div>
                                    {% else %}
                                        <span class="text-normal">Non publié</span>
                                    {% endif %}
                                </div>
                                <div class="col-1">
                                    <img src="/static/assets/interface/planet.gif" class="res" width="16" height="16" data-bs-toggle="tooltip" data-bs-title="Planètes">
                                    {{ player.stat_colonies|intcomma }}
                                </div>
                                <div class="col-2">
                                    <img src="/static/assets/interface/credits.gif" data-bs-toggle="tooltip" data-bs-title="Crédits" class="res" width="16px" height="16px">
                                    <span class="{% if player.credits < 0 %}text-danger{% endif %}">{{ player.credits|intcomma }}</span>
                                </div>
                                <div class="col-1">
                                    {% if player.onholidays %}<span class="text-normal">En vacances</span>{% endif %}
                                    {% if player.online %}<span class="text-success">En ligne</span>{% endif %}
                                    {% if player.less1h %}<span class="text-success">&lt;1 heure</span>{% endif %}
                                    {% if player.hours %}<span class="text-success">{{ player.hours_delay }} heure(s)</span>{% endif %}
                                    {% if player.days %}<span class="text-danger">{{ player.days_delay }} jour(s)</span>{% endif %}
                                    {% if player.1weekplus %}<span class="text-danger">>1 semaine</span>{% endif %}
                                    {% if player.2weeksplus %}<span class="text-danger">>2 semaines</span>{% endif %}
                                </div>
                                <div class="col-1">
                                    <span class="text-normal">{{ player.joined }}</span>
                                </div>
                                <div id="statusref{{ player.id }}" class="col-3 d-flex align-items-center">
                                    <script>displayStatus({{player.id}}, {{player.rank}}, 0{% if player.manage %}1{% endif %}, 0{% if player.kick %}1{% endif %});</script>
                                    {% if player.kick %}
                                        <span id="kick{{ player.id }}" onclick="return showKick({{ player.id }});"><a href="?#" class="ms-2">Exclure</a></span>
                                        <span id="kickConfirm{{ player.id }}" class="hidden w-100 text-end">
                                            {% if player.kick_price > 0 %}
                                                <small class="text-normal me-2">Coût</small>
                                                <img src="/static/assets/interface/credits.gif" data-bs-toggle="tooltip" data-bs-title="Crédits" class="res" width="16px" height="16px">
                                                {{ player.kick_price|intcomma }}
                                            {% endif %}
                                            <a href="?cat={{ cat }}&a=kick&name={{ player.name }}" class="ms-2 btn btn-primary">Confirmer</a>
                                        </span>
                                    {% elif player.leaving %}
                                        <div class="ms-2 text-end text-danger">
                                            <div><small>Quitte</small></div>
                                            <span class="text-yellow"><script>putcountdown1({{ player.leaving_time }}, "Terminé", "?cat={{cat}}");</script></span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div id="submitChanges" class="d-none">
                        <div class="row gx-3 justify-content-end">
                            <div class="col-3">
                                <input type="submit" class="btn btn-primary" name="submit" value="Valider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card card-body">
        <div class="row gx-3 align-items-center justify-content-around">
            <div class="col-auto">
                <span class="text-normal me-2">Total score</span>
                <span>{{ total_score|intcomma }}</span>
                <small class="ms-2 {% if total_score_delta > 0 %}text-success{% else %}text-danger{% endif %}">{% if total_score_delta > 0 %}+{% endif %}{{ total_score_delta|intcomma }}</small>
            </div>
            <div class="col-auto">
                <span class="text-normal me-2">Total planètes</span>
                <span>{{ total_colonies|intcomma }}</span>
            </div>
            <div class="col-auto">
                <span class="text-normal me-2">Total crédits</span>
                <img src="/static/assets/interface/credits.gif" data-bs-toggle="tooltip" data-bs-title="Crédits" class="res" width="16px" height="16px">
                <span>{{ total_credits|intcomma }}</span>
            </div>
        </div>
    </div>
{% endif %}
{% if cat2_selected %}
    <form action="?cat={{ cat }}" method="post">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                <span class="fs-6">Inviter une nation à rallier notre alliance</span>
            </div>
            <div class="card-body">
                <div class="row g-1 flex-column">
                    <div class="col-12">
                        <div class="row gx-2 align-items-center justify-content-center">
                            <div class="col-auto"><span class="text-normal">Joueur</span></div>
                            <div class="col-auto"><input type="text" class="form-control" name="name" value="{{ player }}"></div>
                            <div class="col-auto"><input type="submit" class="btn btn-primary" name="submit" value="Inviter"></div>
                        </div>
                    </div>
                    {% if message %}
                        <div class="col-12 text-center">
                            {% if ok %}<span class="text-success">Invitation envoyée</span>{% endif %}
                            {% if norights %}<span class="text-danger">Vous n'êtes pas en droit de rallier de nouvelles nations</span>{% endif %}
                            {% if unknown %}<span class="text-danger">Aucune nation répondant à ce nom n'a été trouvée</span>{% endif %}
                            {% if already_member %}<span class="text-danger">Cette nation est déjà membre de notre alliance !</span>{% endif %}
                            {% if already_invited %}<span class="text-danger">Cette nation a déjà été invitée récemment</span>{% endif %}
                            {% if impossible %}<span class="text-danger">Cette nation ne peut être invitée</span>{% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
    <div class="card">
        <div class="card-header">
            <span class="fs-6">Invitations de ralliement en cours</span>
        </div>
        <div class="list-group list-group-flush">
            {% for invitation in invits %}
                <div class="list-group-item">
                    <div class="row gx-3 align-items-center">
                        <div class="col">
                            {{ invitation.name }}
                        </div>
                        <div class="col-2">
                            <span class="text-normal">{{ invitation.date }}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-normal">{{ invitation.recruiter }}</span>
                        </div>
                        <div class="col-1 text-end">
                            <span class="text-success">En attente</span>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <span class="text-normal">Aucune invitation</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
</div>
{% endblock %}
