{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<div class="page-content">
{% if create %}
    <form method="post" action="?a=new">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <span class="fs-6">Nouvelle alliance</span>
            </div>
            <div class="card-body">
                <div class="row g-1 flex-column">
                    <div class="col-12 text-center">
                        <span class="fs-6">Formez une alliance, dirigez la et imposez-vous dans la galaxie !</span>
                    </div>
                    <div class="col-12 text-center">
                        <span class="text-normal">Choisissez un nom et un tag d'alliance. Le tag sera affiché à coté des noms des membres de l'alliance, et est en général un diminutif ou l'acronyme du nom de l'alliance. Par exemple : La Grande Alliance / LGA.</span>
                    </div>
                    <div class="col-12 text-center">
                        <span class="text-normal">Les frais de création d'alliance s'élèvent à <img src="{{ PATH_IMAGES }}interface/credits.gif" class="res" data-bs-togle="tooltip" data-bs-title="Crédits" width="16px" height="16px" /><span class="text-white">{{ 10000|intcomma }}</span>.</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row g-1 flex-column">
                    <div class="col-12">
                        <div class="row gx-2 align-items-center justify-content-center">
                            <div class="col-auto">Nom</div>
                            <div class="col-auto"><input type="text" class="form-control" name="alliancename" maxlength="32" size="32" value="{{ name }}"></div>
                            <div class="col-auto">Tag</div>
                            <div class="col-auto"><input type="text" class="form-control" name="alliancetag" maxlength="4" size="4" value="{{ tag }}"></div>
                            <div class="col-auto"><input type="submit" class="btn btn-primary" value="Créer" /></div>
                        </div>
                    </div>
                    {% if name_already_used %}<div class="col-12 text-center"><span class="text-danger">Ce nom est déjà utilisé, veuillez en choisir un autre.</span></div>{% endif %}
                    {% if invalid_name %}<div class="col-12 text-center"><span class="text-danger">Entrez un nom de 4 à 32 lettres (A-Z, 0-9, -, .).</span></div>{% endif %}
                    {% if tag_already_used %}<div class="col-12 text-center"><span class="text-danger">Ce tag est déjà utilisé, veuillez en choisir un autre.</span></div>{% endif %}
                    {% if invalid_tag %}<div class="col-12 text-center"><span class="text-danger">Le tag doit être composé de 2 à 4 lettres.</span></div>{% endif %}
                </div>
            </div>
        </div>
    </form>
{% else %}
    <div class="text-center">
        <span class="text-danger">Vous avez récemment quitté une alliance, il vous est actuellement impossible de créer une alliance.</span>
    </div>
{% endif %}
</div>
{% endblock %}
