{% extends 's03/alliance-wallet.html' %}
{% load humanize %}
{% block page %}
    {% if request %}
        <form action="?cat={{ walletpage }}" method="post">
            {% csrf_token %}
            <table class="default" width="100%">
                <tr class="title">
                    <td>Demande de financement</td>
                </tr>
                <tr class="item">
                    <td align=center>
                        <table class="clear">
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Trésorerie:</td>
                                <td align="left">{{ player_credits|intcomma }} crédits</td>
                            </tr>
                            <tr>
                                <td>Financement:</td>
                                <td align="left">
                                    <input type="number"
                                           min="0"
                                           name="credits"
                                           value="{{ req_credits }}"
                                           size="8"
                                           maxlength="8">
                                    crédits
                                </td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td align="left">
                                    <input type="text"
                                           name="description"
                                           value="{{ req_description }}"
                                           size="64"
                                           maxlength="64">
                                </td>
                            </tr>
                            <tr>
                                <td>Etat:</td>
                                <td align="left">
                                    {% if submitted %}<span class="pending">en cours ...</span>{% endif %}
                                    {% if none %}aucune demande de financement{% endif %}
                                    {% if denied %}<span class="denied">demande refusée</span>{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan=2 align=center>
                                    <input type="submit" name="request" value="Demander">
                                    <input type="submit" name="cancel" value="Annuler">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    {% endif %}
    {% if list %}
        <table class="default" width="100%">
            <tr class="title">
                <td colspan=5>En tant que trésorier, vous pouvez accepter ou refuser les demandes d'argent</td>
            </tr>
            <tr class="header">
                <td>Date</td>
                <td>Nation</td>
                <td>Crédits</td>
                <td>Description</td>
                <td>Action</td>
            </tr>
            {% for entry in entries %}
                <tr class="smallitem">
                    <td nowrap>{{ entry.date }}</td>
                    <td nowrap>{{ entry.nation }}</td>
                    <td align=right nowrap>{{ entry.credits|intcomma }}</td>
                    <td>{{ entry.description }}</td>
                    <td align="center" nowrap>
                        <a href="?cat={{ walletpage }}&a=accept&id={{ entry.id }}">Accepter</a> - <a href="?cat={{ walletpage }}&a=deny&id={{ entry.id }}">Refuser</a>
                    </td>
                </tr>
            {% endfor %}
            {% if norequests %}<td class="smallitem" colspan=5 align=center>Aucune demande</td>{% endif %}
        </table>
    {% endif %}
{% endblock %}
