{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    <table width=750>
        <tr>
            <td align=center>
                <div>
                    <table class="default">
                        <tr class="item">
                            <td>
                                <table class="clear">
                                    <tr>
                                        <td align=left rowspan=4>
                                            <img src="{{ PATH_IMAGES }}/interface/wallet.jpg"
                                                 class="wallet"
                                                 width="64"
                                                 height="64">
                                        </td>
                                        <td>Solde: {{ credits|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td>Dernière 24 heures: {{ last24h|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Taxes: {{ tax|floatformat:1 }}%
                                            {% if notax %}(exonéré){% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <ul class="htabs">
                    {% if cat1 %}
                        <li{% if cat1_selected %} class="active"{% endif %}>
                            <a href="?cat=1">Journal</a>
                        </li>
                    {% endif %}
                    {% if cat2 %}
                        <li{% if cat2_selected %} class="active"{% endif %}>
                            <a href="?cat=2">Financement</a>
                        </li>
                    {% endif %}
                    {% if cat3 %}
                        <li{% if cat3_selected %} class="active"{% endif %}>
                            <a href="?cat=3">Don</a>
                        </li>
                    {% endif %}
                    {% if cat4 %}
                        <li{% if cat4_selected %} class="active"{% endif %}>
                            <a href="?cat=4">Taxes</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div>
                {% block page %}{% endblock %}
            </div>
        </td>
    </tr>
</table>
{% endblock %}
