{% extends "s03/_layout.html" %}

{% load humanize %}

{% block content %}

    {% include "s03/alliance-tabs.html" %}
    
    <div class="scroll-content" style="height:calc(100% - 52px);">
        <div class="page-content">
            <div class="row g-3">
                
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="fs-6">Alliances nous invitant à les rejoindre</span>
                        </div>
                        <div class="list-group list-group-flush">
                            {% for invitation in invitations %}
                                <div class="list-group-item">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col"><a href="/s03/alliance-view/?tag={{ invitation.tag }}" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[{{ invitation.tag }}] {{ invitation.name }}</a></div>
                                        <div class="col-auto">{{ invitation.username }}</div>
                                        <div class="col-auto">{{ invitation.created }}</div>
                                        <div class="col-2 text-end">
                                            {% if cant_accept %}<span class="text-danger">Déjà dans une alliance</span>
                                            {% elif cant_join %}<span class="text-danger">Impossible de rejoindre</span>
                                            {% else %}
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="action" value="accept" />
                                                    <input type="hidden" name="tag" value="{{ invitation.tag }}" />
                                                    <button type="submit" class="btn btn-primary">Accepter</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto">
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="action" value="decline" />
                                                <input type="hidden" name="tag" value="{{ invitation.tag }}" />
                                                <button type="submit" class="btn btn-danger">Refuser</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="list-group-item text-center">
                                    <span class="text-normal">Aucune invitation</span>
                                </div>
                            {% endfor %}
                            {% if cant_join %}
                                <div class="list-group-item text-center">
                                    <span class="text-danger">Vous êtes actuellement en train de quitter votre ancienne alliance, il vous est actuellement impossible de rejoindre une autre alliance.</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                {% if can_leave %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="leave" />
                        <div class="row g-3">
                            
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="fs-6">Quitter l'alliance</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="row g-1 flex-column">
                                            <div class="col-12 d-flex justify-content-center">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" name="leave" id="leave" value="1">
                                                    <label class="form-check-label" for="leave">Je quitte mon alliance actuelle</label>
                                                </div>
                                            </div>
                                            <div class="col-12 text-center">
                                                <span class="text-danger">Attention, vous ne pourrez pas créer ou rejoindre d'alliance pendant 24 heures.</span>
                                            </div>
                                            <div class="col-12 text-center">
                                                <input type="submit" class="btn btn-primary" value="Valider">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </form>
                {% endif %}
            
            </div>
        </div>
    </div>
    
{% endblock %}
