{% load humanize %}

<div class="page-content">
    <ul class="nav nav-tabs mt-0 mb-3">
        {% if profile_alliance_id %}
            <li class="nav-item {% if selectedtab == 'view' %}active{% endif %}">
                <a href="/s03/alliance-view/" class="nav-link">Aperçu</a>
            </li>
            {% if show_management %}
                <li class="nav-item {% if selectedtab == 'manage' %}active{% endif %}">
                    <a href="/s03/alliance-manage/" class="nav-link">Gestion</a>
                </li>
            {% endif %}
            {% if show_ranks %}
                <li class="nav-item {% if selectedtab == 'ranks' %}active{% endif %}">
                    <a href="/s03/alliance-ranks/" class="nav-link">Grades</a>
                </li>
            {% endif %}
            {% if show_members %}
                <li class="nav-item {% if selectedtab == 'members' %}active{% endif %}">
                    <a href="/s03/alliance-members/" class="nav-link">Membres</a>
                </li>
            {% endif %}
            {% if show_members %}
                <li class="nav-item {% if selectedtab == 'recruitment' %}active{% endif %}">
                    <a href="/s03/alliance-recruitment/" class="nav-link">Recrutement</a>
                </li>
            {% endif %}
            <li class="nav-item {% if selectedtab == 'naps' %}active{% endif %}">
                <a href="/s03/alliance-naps/" class="nav-link">PNA</a>
            </li>
            <li class="nav-item {% if selectedtab == 'tributes' %}active{% endif %}">
                <a href="/s03/alliance-tributes/" class="nav-link">Tributs</a>
            </li>
            <li class="nav-item {% if selectedtab == 'wars' %}active{% endif %}">
                <a href="/s03/alliance-wars/" class="nav-link">Guerres</a>
            </li>
            <li class="nav-item {% if selectedtab == 'wallet' %}active{% endif %}">
                <a href="/s03/alliance-wallet/" class="nav-link">Portefeuille</a>
            </li>
            {% if show_reports %}
                <li class="nav-item {% if selectedtab == 'reports' %}active{% endif %}">
                    <a href="/s03/alliance-reports/" class="nav-link">Rapports</a>
                </li>
            {% endif %}
        {% endif %}
        <li class="nav-item {% if selectedtab == 'invitations' %}active{% endif %}">
            <a href="/s03/alliance-invitations/" class="nav-link">Invitations</a>
        </li>
        {% if not profile_alliance_id %}
            <li class="nav-item {% if selectedtab == 'create' %}active{% endif %}">
                <a href="/s03/alliance-create/" class="nav-link">Création</a>
            </li>
        {% endif %}
    </ul>
</div>
