{% extends "s03/layout.html" %}
{% block content %}
    <div class="nav nav-tabs mb-3">
        <div class="nav-item">
            <a href="/s03/alliance-view/" class="nav-link text-nowrap">Vue d'ensemble</a>
        </div>
        {% if show_management %}
            <div class="nav-item">
                <a href="/s03/alliance-manage/" class="nav-link">Gestion</a>
            </div>
        {% endif %}
        {% if show_management %}
            <div class="nav-item">
                <a href="/s03/alliance-ranks/" class="nav-link">Grades</a>
            </div>
        {% endif %}
        {% if show_members %}
            <div class="nav-item">
                <a href="/s03/alliance-members/" class="nav-link">Membres</a>
            </div>
        {% endif %}
        {% if show_members %}
            <div class="nav-item">
                <a href="/s03/alliance-recruit/" class="nav-link active">Recrutement</a>
            </div>
        {% endif %}
        <div class="nav-item">
            <a href="/s03/alliance-wallet/" class="nav-link">Portefeuille</a>
        </div>
        <div class="nav-item">
            <a href="/s03/alliance-wars/" class="nav-link">Guerres</a>
        </div>
        {% if show_reports %}
            <div class="nav-item">
                <a href="/s03/alliance-reports/" class="nav-link">Rapports</a>
            </div>
        {% endif %}
        <div class="nav-item">
            <a href="/s03/alliance-invitations/" class="nav-link">Invitations</a>
        </div>
    </div>
    <div class="row g-3 flex-column">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span>Invitations en cours</span>
                </div>
                <div class="card-body">
                    <div class="row g-1 flex-column">
                        {% for invitation in invits %}
                            <div class="col-12">
                                <div class="row gx-3">
                                    <div class="col">{{ invitation.name }}</div>
                                    <div class="col-auto">
                                        <span class="text-normal">{{ invitation.date }}</span>
                                    </div>
                                    <div class="col-auto">
                                        {% if invitation.waiting %}<span>En attente</span>{% endif %}
                                        {% if invitation.declined %}<span class="text-danger">Refusée</span>{% endif %}
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="col-12 text-center">
                                <span class="text-normal">Aucune invitation</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <form action="?cat={{ cat }}" method="post" class="card">
                <div class="card-header">
                    <span>Inviter une nation à rallier notre alliance</span>
                </div>
                <div class="card-body">
                    <div class="row gx-2 align-items-center justify-content-center">
                        <div class="col-auto">
                            <span class="text-normal">Nation</span>
                        </div>
                        <div class="col-auto">
                            <input type="text" name="name" value="{{ player }}">
                        </div>
                        <div class="col-auto">
                            <input type="submit" name="submit" value="Inviter">
                        </div>
                    </div>
                    {% if error %}
                        {% if norights %}
                            <div class="mt-1 text-center">
                                <span class="text-danger">Vous n'êtes pas en droit de rallier de nouvelles nations</span>
                            </div>
                        {% endif %}
                        {% if unknown %}
                            <div class="mt-1 text-center">
                                <span class="text-danger">Aucune nation répondant à ce nom n'a été trouvée</span>
                            </div>
                        {% endif %}
                        {% if already_member %}
                            <div class="mt-1 text-center">
                                <span class="text-danger">Cette nation est déjà membre de notre alliance !</span>
                            </div>
                        {% endif %}
                        {% if already_invited %}
                            <div class="mt-1 text-center">
                                <span class="text-danger">Cette nation a déjà été invitée récemment</span>
                            </div>
                        {% endif %}
                        {% if impossible %}
                            <div class="mt-1 text-center">
                                <span class="text-danger">Cette nation ne peut être invitée</span>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock content %}
