{% extends "s03/alliance-wallet.html" %}
{% load humanize %}
{% block page %}
<form action="?" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <div class="row gx-3 align-items-center">
            <div class="col-auto">
                <span class="text-normal">Filtres</span>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="gifts" name="gifts" value="1" {% if gifts_checked %}checked{% endif %}>
                    <label class="form-check-label" for="gifts">Financements et dons</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="settax" name="settax" value="1" {% if settax_checked %}checked{% endif %}>
                    <label class="form-check-label" for="settax">Modifications de taxe</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="taxes" name="taxes" value="1" {% if taxes_checked %}checked{% endif %}>
                    <label class="form-check-label" for="taxes">Taxes collectées</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="kicksbreaks" name="kicksbreaks" value="1" {% if kicksbreaks_checked %}checked{% endif %}>
                    <label class="form-check-label" for="kicksbreaks">Exclusions et Ruptures de pacte</label>
                </div>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-primary" name="refresh" value="Actualiser">
            </div>
        </div>
    </div>
</form>
<div class="card">
    <div class="list-group list-group-flush">
        {% for entry in entries %}
            <div class="list-group-item {% if entry.gift %}bg-success{% elif entry.taxchanged %}bg-info{% elif entry.member_left %}bg-danger{% endif %}">
                <div class="row gx-3 align-items-center">
                    <div class="col-2">
                        <span class="text-normal">{{ entry.date }}</span>
                    </div>
                    <div class="col-3">
                        {% if entry.gift %}Don{% endif %}
                        {% if entry.tax %}Taxe{% endif %}
                        {% if entry.member_left %}Départ du membre{% endif %}
                        {% if entry.member_kicked %}Exclusion du membre{% endif %}
                        {% if entry.money_request %}Financement{% endif %}
                        {% if entry.taxchanged %}Taxe changée{% endif %}
                        {% if entry.nap_broken %}PNA rompu{% endif %}
                        {% if entry.war_bill %}Guerre{% endif %}
                        {% if entry.tribute %}Tribut{% endif %}
                    </div>
                    <div class="col">
                        {{ entry.source }}
                        {{ entry.destination }}
                    </div>
                    {% if entry.income != 0 %}
                    <div class="col-auto">
                        <span class="text-success">+{{ entry.income|intcomma }}</span>
                    </div>
                    {% endif %}
                    {% if entry.outcome != 0 %}
                    <div class="col-auto">
                        <span class="text-danger">-{{ entry.outcome|intcomma }}</span>
                    </div>
                    {% endif %}
                    {% if entry.description != '' %}
                    <div class="col-auto">
                        {% if entry.taxchanged %}Nouvelle taxe{% endif %}
                        {{ entry.description }}
                    </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="list-group-item text-center">
                <span class="text-normal">Aucun mouvement effectué récemment</span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
