{% extends 's03/layout.html' %}

{% block content %}
<table width=750>
<tr>
<td align=center>
	<div>
	<table class="default">
	<tr class="item"><td>
	<table class="clear">
		<tr>
			<td align=left rowspan=4><img src="{{PATH_IMAGES}}interface/wallet.jpg" class="wallet" width=64 height=64></td>
			<td>Solde: {{credits}}</td>
		</tr>
		<tr><td>Dernière 24 heures: {{last24h}}</td></tr>
		<tr><td>Taxes: {{tax|floatformat:1}}%{% if notax %} (exonéré){% endif %}</td></tr>
	</table>
	</td></tr>
	</table>
	</div>

    <div class="nav nav-tabs mb-3">
        {% if cat1 %}<div class="nav-item"><a href="?cat=1" class="nav-link {% if cat1_selected %}active{% endif %}">Journal</a></div>{% endif %}
        {% if cat2 %}<div class="nav-item"><a href="?cat=2" class="nav-link {% if cat2_selected %}active{% endif %}">Financement</a></div>{% endif %}
        {% if cat3 %}<div class="nav-item"><a href="?cat=3" class="nav-link {% if cat3_selected %}active{% endif %}">Don</a></div>{% endif %}
        {% if cat4 %}<div class="nav-item"><a href="?cat=4" class="nav-link {% if cat4_selected %}active{% endif %}">Taxes</a></div>{% endif %}
    </div>

	<div>
	{% block page %}{% endblock %}
	</div>
</td>
</tr>
</table>
{% endblock %}