{% extends "s03/_layout.html" %}

{% load i18n %}
{% load humanize %}

{% block content %}

    {% include "s03/alliance-tabs.html" %}
    
    <div class="scroll-content" style="height:calc(100% - 52px);">
        <div class="page-content">
            <div class="row g-3">

                {% include "s03/_messages.html" %}

                <script>
                    function confirmStopWar(tag) {
                    
                        return confirm("Êtes-vous sûr de vouloir arrêter la guerre avec [" + tag + "] ?");
                    }
                </script>
                
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="fs-6">Guerres</span>
                        </div>
                        {% for war in wars %}
                            <div class="card-body">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        {{ forloop.counter }}
                                        <span class="text-normal">.</span>
                                    </div>
                                    <div class="col">
                                        <a href="/s03/alliance-view/?tag={{ war.tag }}" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[{{ war.tag }}] {{ war.name }}</a>
                                    </div>
                                    <div class="col-auto">
                                        <span class="text-normal">{{ war.created }}</span>
                                    </div>
                                    <div class="col-auto">
                                        {% if not war.can_fight %}<span class="text-success">Préparation en cours</span>
                                        {% else %}{{ war.next_bill }}
                                        {% endif %}
                                    </div>
                                    {% if can_create %}
                                    <div class="col-auto">
                                        <form method="post" class="d-inline">
                                            {% csrf_token %}
                                            <input type="hidden" name="action" value="pay" />
                                            <input type="hidden" name="tag" value="{{ war.tag }}" />
                                            <button type="submit" class="btn btn-link p-0">Étendre la guerre d'une semaine</button>
                                        </form>
                                        <img src="{{ PATH_IMAGES }}img/interface/credits.gif" data-bs-toggle="tooltip" data-bs-title="Crédits" class="res" width="16px" height="16px">
                                        {{ war.cost|intcomma }}
                                    </div>
                                    {% endif %}
                                    <div class="col-auto">
                                        {% if war.ceasing %}Fin de guerre demandée <span class="ms-2 text-yellow"><script>putcountdown1({{war.time }}, "Terminé", "?")</script></span>{% endif %}
                                        {% if can_break and war.stop %}
                                            <form method="post" class="d-inline" onsubmit="return confirmStopWar('{{ war.tag }}')">
                                                {% csrf_token %}
                                                <input type="hidden" name="action" value="stop" />
                                                <input type="hidden" name="tag" value="{{ war.tag }}" />
                                                <button type="submit" class="btn btn-danger">Arrêter la guerre</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="card-body text-center">
                                <span class="text-normal">Aucune</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% if can_create %}
                    {% if not newwar_confirm %}
                    
                        <form method="get">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="new" />
                            <div class="row g-3">
                            
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <span class="fs-6">Déclarer la guerre</span>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-2 text-center">
                                                <span class="text-normal">Veuillez indiquer le tag de l'alliance à laquelle déclarer la guerre.<br>Le coût est proportionnel à la force des alliances actuellement en guerre contre l'alliance ciblée.</span>
                                            </div>
                                            <div class="row gx-2 align-items-center justify-content-center">
                                                <div class="col-auto">
                                                    <span>Alliance (tag)</span>
                                                </div>
                                                <div class="col-auto">
                                                    <input type="text" class="form-control" name="tag" value="{{ tag }}" maxlength="4" />
                                                </div>
                                                <div class="col-auto">
                                                    <input type="submit" class="btn btn-primary" name="submit" value="Envoyer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>
                                
                            </div>
                        </form>
                        
                    {% else %}
                    
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="tag" value="{{ newwar.tag }}"/>
                            <div class="row g-3">
                            
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <span class="fs-6">Déclaration de guerre</span>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-2 text-center">
                                                <span class="text-normal">Veuillez confirmer la déclaration de guerre à l'encontre de l'alliance <span class="text-white">[{{ newwar.tag }}] {{ newwar.name }}</span>.</span>
                                            </div>
                                            <div class="row gx-2 align-items-center justify-content-center">
                                                <div class="col-auto">
                                                    <span class="text-normal">Coût</span>
                                                </div>
                                                <div class="col-auto">
                                                    <img src="{{ PATH_IMAGES }}img/interface/credits.gif" data-bs-toggle="tooltip" data-bs-title="Crédits" class="res" width="16px" height="16px">
                                                    {{ newwar.cost|intcomma }}
                                                    <span class="text-normal">par semaine</span>
                                                </div>
                                                <div class="col-auto">
                                                    <input type="submit" class="btn btn-primary" name="submit" value="Confirmer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </form>
                        
                    {% endif %}
                {% endif %}
            
            </div>
        </div>
    </div>

{% endblock %}
