{% extends 's03/alliance-wallet.html' %}

{% block page %}
{% if give %}
<form action="?cat={{walletpage}}" method="post">{% csrf_token %}
<table class="default" width="100%">
<tr class="title"><td>Don d'argent</td></tr>
<tr class="item"><td align="center">
	<table class="clear">
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td>Trésorerie: </td><td align="left">{{player_credits}} crédits</td></tr>
	<tr><td>Somme: </td><td align="left"><input type="number" min="0" name="credits" value="{{credits}}" size=8 maxlength=8> crédits</td></tr>
	<tr><td>Description: </td><td align="left"><input type="text" name="description" value="{{description}}" size=64 maxlength=64></td></tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	{% if can_give %}
	<tr><td colspan="2" align="center"><input type="submit" name="give" value="Donner"></td></tr>
	{% endif %}
	{% if can_give_after_a_week %}
	<tr><td class=error colspan=2 align=center>Impossible de faire un don avant deux semaines de jeu</td></tr>
	{% endif %}
	</table>
</td>
</tr>
</table>
</form>
{% endif %}
{% if list %}
<table class="default" width="100%">
<tr class="title"><td colspan="5">Dons d'argent ces 7 derniers jours</td></tr>
<tr class="header"><td>Date</td><td>Nation</td><td>Crédits</td><td>Description</td></tr>
{% for entry in entries %}
<tr class="smallitem"><td nowrap>{{date}}</td><td nowrap>{{nation}}</td><td align="right" nowrap>{{credits}}</td><td>{{description}}</td></tr>
{% empty %}
<td class="smallitem" colspan="5" align="center">Aucun don</td>
{% endfor %}
</table>
{% endif %}
{% endblock %}