{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<div class="page-content">
    <ul class="nav nav-tabs mt-0 mb-3">
        <li class="nav-item">
            <a href="/s03/alliance/" class="nav-link">Aperçu</a>
        </li>
        {% if show_management %}
            <li class="nav-item">
                <a href="/s03/alliance-manage/" class="nav-link">Gestion</a>
            </li>
        {% endif %}
        {% if show_ranks %}
            <li class="nav-item">
                <a href="/s03/alliance-ranks/" class="nav-link">Grades</a>
            </li>
        {% endif %}
        {% if show_members %}
            <li class="nav-item">
                <a href="/s03/alliance-members/" class="nav-link">Membres</a>
            </li>
        {% endif %}
        {% if show_members %}
            <li class="nav-item">
                <a href="/s03/alliance-recruitment/" class="nav-link">Recrutement</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a href="/s03/alliance-naps/" class="nav-link">PNA</a>
        </li>
        <li class="nav-item">
            <a href="/s03/alliance-tributes/" class="nav-link">Tributs</a>
        </li>
        <li class="nav-item active">
            <a href="/s03/alliance-wars/" class="nav-link">Guerres</a>
        </li>
        <li class="nav-item">
            <a href="/s03/alliance-wallet/" class="nav-link">Portefeuille</a>
        </li>
        {% if show_reports %}
            <li class="nav-item">
                <a href="/s03/alliance-reports/" class="nav-link">Rapports</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a href="/s03/alliance-invitations/" class="nav-link">Invitations</a>
        </li>
    </ul>
</div>
<div class="scroll-content" style="height:calc(100% - 52px);">
<div class="page-content">
    <script>
        function confirmStopWar(tag) {
        
            return confirm("Êtes-vous sûr de vouloir arrêter la guerre avec [" + tag + "] ?");
        }
    </script>
    <div class="card">
        <div class="card-header">
            <span class="fs-6">Guerres</span>
        </div>
        <div class="list-group list-group-flush">
            {% for war in wars %}
                <div class="list-group-item">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            {{ forloop.counter }}
                            <span class="text-normal">.</span>
                        </div>
                        <div class="col">
                            <a href="/s03/alliance/?tag={{ war.tag }}" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[{{ war.tag }}] {{ war.name }}</a>
                        </div>
                        <div class="col-auto">
                            <span class="text-normal">{{ war.created }}</span>
                        </div>
                        <div class="col-auto">
                            {% if not war.can_fight %}<span class="text-success">Préparation en cours</span>
                            {% else %}{{ war.next_bill }}
                            {% endif %}
                        </div>
                        {% if can_create %}
                        <div class="col-auto">
                            <a href="?a=pay&tag={{ war.tag }}">Étendre la guerre d'une semaine</a>
                            <img src="{{ PATH_IMAGES }}img/interface/credits.gif" data-bs-toggle="tooltip" data-bs-title="Crédits" class="res" width="16px" height="16px">
                            {{ war.cost|intcomma }}
                        </div>
                        {% endif %}
                        <div class="col-auto">
                            {% if war.ceasing %}Fin de guerre demandée <span class="ms-2 text-yellow"><script>putcountdown1({{war.time }}, "Terminé", "?")</script></span>{% endif %}
                            {% if can_break %}
                                {% if war.cease_requested %}
                                    <a href="?a=cease&tag={{ war.tag }}" class="btn btn-primary">Accepter la fin de la guerre <span class="ms-2 text-yellow"><script>putcountdown1({{war.time}}, "Terminé", "?")</script></span></a>
                                {% endif %}
                                {% if war.stop %}
                                    <a href="?a=stop&tag={{ war.tag }}" class="btn btn-danger" onclick="return confirmStopWar('{{ war.tag }}')">Arrêter la guerre</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <span class="text-normal">Aucune</span>
                </div>
            {% endfor %}
            {% for message in messages %}
                <div class="list-group-item">
                    <div class="alert alert-{{ message.tags }} text-center">
                        {% if message.message == 'norights' %}Vous n'êtes pas en droit de faire une telle demande{% endif %}
                        {% if message.message == 'unknown' %}Aucune alliance avec un tel tag n'a été trouvée{% endif %}
                        {% if message.message == 'war_not_found' %}Nous ne sommes pas en guerre avec cette alliance{% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if can_create %}
        {% if not newwar_confirm %}
            <form action="?" method="get">
                {% csrf_token %}
                <input type="hidden" name="a" value="new" />
                <div class="card mt-3">
                    <div class="card-header">
                        <span class="fs-6">Déclarer la guerre</span>
                    </div>
                    <div class="card-body">
                        <div class="mb-2 text-center">
                            <span class="text-normal">Veuillez indiquer le tag de l'alliance à laquelle déclarer la guerre.<br>Le coût est proportionnel à la force des alliances actuellement en guerre contre l'alliance ciblée.</span>
                        </div>
                        <div class="row gx-2 align-items-center justify-content-center">
                            <div class="col-auto">
                                <span>Alliance (tag)</span>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" name="tag" value="{{ tag }}" maxlength="4" />
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary" name="submit" value="Envoyer">
                            </div>
                        </div>
                        {% for message in messages %}
                            <div class="mt-2">
                                <div class="alert alert-{{ message.tags }} text-center">
                                    {% if message.message == 'new_norights' %}Vous n'êtes pas en droit de faire une telle demande{% endif %}
                                    {% if message.message == 'new_unknown' %}Aucune alliance avec un tel tag n'a été trouvée{% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        {% else %}
            <form action="?" method="post">
                {% csrf_token %}
                <input type="hidden" name="tag" value="{{ newwar.tag }}"/>
                <div class="card mt-3">
                    <div class="card-header">
                        <span class="fs-6">Déclaration de guerre</span>
                    </div>
                    <div class="card-body">
                        <div class="mb-2 text-center">
                            <span class="text-normal">Veuillez confirmer la déclaration de guerre à l'encontre de l'alliance <span class="text-white">[{{ newwar.tag }}] {{ newwar.name }}</span>.</span>
                        </div>
                        <div class="row gx-2 align-items-center justify-content-center">
                            <div class="col-auto">
                                <span class="text-normal">Coût</span>
                            </div>
                            <div class="col-auto">
                                <img src="{{ PATH_IMAGES }}img/interface/credits.gif" data-bs-toggle="tooltip" data-bs-title="Crédits" class="res" width="16px" height="16px">
                                {{ newwar.cost|intcomma }}
                                <span class="text-normal">par semaine</span>
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary" name="submit" value="Confirmer">
                            </div>
                        </div>
                        {% for message in messages %}
                            <div class="mt-2">
                                <div class="alert alert-{{ message.tags }} text-center">
                                    {% if message.message == 'new_norights' %}Vous n'êtes pas en droit de faire une telle demande{% endif %}
                                    {% if message.message == 'new_unknown' %}Aucune alliance avec un tel tag n'a été trouvée{% endif %}
                                    {% if message.message == 'not_enough_credits' %}Pas assez de crédits !{% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        {% endif %}
    {% endif %}
</div>
</div>
{% endblock %}
