{% extends "s03/layout.html" %}
{% load humanize %}
{% load bbcode_tags %}
{% block content %}
<div class="page-content">
    <div class="card">
        <div class="card-header text-center">
            <span class="fs-6">[{{ alliance.tag }}] {{ alliance.name }}</span>
        </div>
        <div class="list-group list-group-flush">
            {% if alliance.logo_url %}
                <div class="list-group-item text-center">
                    <img src="{{ alliance.logo_url }}" style="max-width:100%;"/>
                </div>
            {% endif %}
            {% if alliance.description %}
                <div class="list-group-item text-center">
                    {{ alliance.description|safe|bbcode }}
                </div>
            {% endif %}
            <div class="list-group-item text-center">
                <div class="row g-1 flex-column">
                    {% for rank in ranks %}
                        <div class="col-12">
                            <div class="row gx-3 justify-content-center">
                                <div class="col-auto"><span class="text-normal">{{ rank.label }}</span></div>
                                {% for member in rank.members %}
                                    <div class="col-auto"><a href="/s03/mails/?to={{ member.username }}" data-bs-toggle="tooltip" data-bs-title="Envoyer message">{{ member.username }}</a></div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="list-group-item">
                <div class="row gx-3 justify-content-center">
                    <div class="col-auto"><span class="text-normal">Nombre de membres</span></div>
                    <div class="col-auto">{{ alliance.members }} <small class="text-normal">/{{ alliance.max_members }}</small></div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row gx-3">
                    <div class="col-6">
                        <div class="mb-1 text-center">
                            <span class="text-normal">Pacte(s) de non-aggression</span>
                        </div>
                        <div class="row g-1 justify-content-center">
                            {% for nap in naps %}
                                <div class="col-auto"><a href="/s03/alliance/?tag={{ nap.tag }}" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[{{ nap.tag }}] {{ nap.name }}</a></div>
                            {% empty %}
                                <div class="col-auto"><span class="text-normal">Aucun</span></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-1 text-center">
                            <span class="text-normal">Guerres en cours</span>
                        </div>
                        <div class="row g-1 justify-content-center">
                            {% for war in wars %}
                                <div class="col-auto"><a href="/s03/alliance/?tag={{ war.tag }}" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[{{ war.tag }}] {{ war.name }}</a></div>
                            {% empty %}
                                <div class="col-auto"><span class="text-normal">Aucune</span></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
