{% extends 's03/layout.html' %}

{% block content %}
<script type="text/javascript">
function confirmStopWar(tag) {
	return confirm("Êtes-vous sûr de vouloir arrêter la guerre avec [" + tag + "] ?");
}
</script>
<table width="750" cellpadding=0 cellspacing=0>
<tr>
<td align="center">
	{% if nav %}
    <div class="nav nav-tabs mb-3">
        {% if cat1 %}<div class="nav-item"><a href="?cat=1" class="nav-link {% if cat1_selected %}active{% endif %}">Guerres en cours</a></div>{% endif %}
        {% if cat2 %}<div class="nav-item"><a href="?cat=2" class="nav-link {% if cat2_selected %}active{% endif %}">Déclaration de guerre</a></div>{% endif %}
    </div>
	{% endif %}
	<div>

{% if cat1_selected %}
<table class="default" width="100%">
<tr class="header">
<td><a href="?col=1{% if r1 %}&r=1{% endif %}">Alliance</a></td>
<td><a href="?col=2{% if r2 %}&r=1{% endif %}">Déclarée le</a></td>
<td>status</td>
</tr>
{% for war in wars %}
<tr><td>{{war.place}}. <a href="/s03/alliance/?tag={{war.tag}}">[{{war.tag}}] {{war.name}}</a></td>
<td>{{war.created}}<br/>{% if war.cant_fight %}Préparation en cours{% endif %}{% if war.can_fight %}{{war.next_bill}}{% endif %}</td>
<td>
{% if war.extend %}<a href="?cat={{cat}}&a=pay&tag={{war.tag}}">Étendre la guerre d'une semaine</a> <img src="{{PATH_IMAGES}}interface/credits.gif" title="Crédits" class="icon" width="16" height="16">{{war.cost}}<br/>{% endif %}
{% if war.ceasing %}Fin de guerre demandée (<script>putcountdown1({{war.time}}, "Terminé", "?")</script>){% endif %}
{% if war.cease_requested %}<a href="?cat={{cat}}&a=cease&tag={{war.tag}}">Accepter la fin de la guerre (<script>putcountdown1({{war.time}}, "Terminé", "?")</script>)</a>{% endif %}
{% if war.stop %}<a href="?cat={{cat}}&a=stop&tag={{war.tag}}" onclick="return confirmStopWar('{{war.tag}}')">Arrêter la guerre</a>{% endif %}
{% if war.surrender %}&nbsp;{% endif %}
</td>
</tr>
{% endfor %}
{% if nowars %}
<tr><td colspan=5 align=center>Aucun</td></tr>
{% endif %}
{% if message %}<tr><td colspan=5 class="error">
{% if norights %}Vous n'êtes pas en droit de faire une telle demande{% endif %}
{% if unknown %}Aucune alliance avec un tel tag n'a été trouvé{% endif %}
{% if war_not_found %}Nous ne sommes pas en guerre avec cette alliance{% endif %}
</td></tr>
{% endif %}
</table>
{% endif %}

{% if newwar %}
<form action="?cat={{cat}}&a=new" method="post">{% csrf_token %}
<table class="default" width="100%">
<tr class="title"><td colspan=2>Déclarer la guerre</td></tr>
<tr><td colspan=2>Veuillez indiquer le tag de l'alliance à laquelle déclarer la guerre.{% if old %}<br/>
La guerre n'est effective qu'après une période de préparation qui est égale au nombre de membres dans l'alliance ciblée en heure (20 membres = 20 heures de préparation).<br/>
Tant que la guerre n'est pas effective, les combats contre les flottes de cette alliance ne seront pas automatiques et les invasions des planètes de cette alliance seront impossibles.{% endif %}</td></tr>
<tr><td>Alliance (tag)</td><td><input type="text" name="tag" value="{{tag}}" maxlength=4></td></tr>
<tr><td>Coût par semaine</td><td>Le coût est proportionnel à la force des alliances actuellement en guerre contre l'alliance ciblée</td></tr>
<tr><td colspan="2" align="center"><input type="submit" name="submit" value="Envoyer"></td></tr>
{% if message %}<tr><td colspan="2" class="error">
{% if ok %}Guerre déclarée{% endif %}
{% if norights %}Vous n'êtes pas en droit de faire une telle demande{% endif %}
{% if unknown %}Aucune alliance avec un tel tag n'a été trouvée{% endif %}
{% if already_at_war %}Nous sommes déjà en guerre contre cette alliance !{% endif %}
{% if not_enough_credits %}Pas assez de crédits !{% endif %}
</td></tr>
{% endif %}
</table>
</form>

</td>
</table>
{% endif %}

{% if newwar_confirm %}
<form action="?cat={{cat}}&a=new2" method="post">{% csrf_token %}
<input type="hidden" name="tag" value="{{tag}}"/>
<table class="default" width="100%">
<tr class="title"><td colspan="2">Déclaration de guerre</td></tr>
<tr><td colspan=2>Veuillez confirmer la déclaration de guerre à l'encontre de l'alliance [{{tag}}] {{name}}.</td></tr>
<tr><td>Coût </td><td><img src="{{PATH_IMAGES}}interface/credits.gif" title="Crédits" class="icon" width="16" height="16"> {{cost}}</td></tr>
<tr><td colspan="2" align="center"><input type="submit" name="submit" value="Confirmer"></td></tr>
{% if message %}<tr><td colspan="2" class="error">
{% if ok %}Guerre déclarée{% endif %}
{% if norights %}Vous n'êtes pas en droit de faire une telle demande{% endif %}
{% if unknown %}Aucune alliance avec un tel tag n'a été trouvée{% endif %}
{% if already_at_war %}Nous sommes déjà en guerre contre cette alliance !{% endif %}
{% if not_enough_credits %}Pas assez de crédits !{% endif %}
</td></tr>
{% endif %}
</table>
</form>

</td>
</table>
{% endif %}

</div>

</td>
</tr>
</table>
{% endblock %}