{% extends 's03/layout.html' %}

{% block content %}


{% if display %}

<div class="nav nav-tabs mb-3">
    <div class="nav-item"><a href="/s03/alliance-view/" class="nav-link active">Vue d'ensemble</a></div>
    {% if allianceId %}
    {% if show_management %}<div class="nav-item"><a href="/s03/alliance-manage/" class="nav-link">Gestion</a></div>{% endif %}
    {% if show_management %}<div class="nav-item"><a href="/s03/alliance-ranks/" class="nav-link">Grades</a></div>{% endif %}
    {% if show_members %}<div class="nav-item"><a href="/s03/alliance-members/" class="nav-link">Membres</a></div>{% endif %}
    {% if show_members %}<div class="nav-item"><a href="/s03/alliance-recruit/" class="nav-link">Recrutement</a></div>{% endif %}
    <div class="nav-item"><a href="/s03/alliance-wars/" class="nav-link">Guerres</a></div>
    {% if show_reports %}<div class="nav-item"><a href="/s03/alliance-reports/" class="nav-link">Rapports</a></div>{% endif %}
    <div class="nav-item"><a href="/s03/alliance-invitations/" class="nav-link">Invitations</a></div>
    {% else %}
    <div class="nav-item"><a href="/s03/alliance-invitations/" class="nav-link">Invitations</a></div>
    <div class="nav-item"><a href="/s03/alliance-create/" class="nav-link">Création</a></div>
    {% endif %}    
</div>

<table class="default">
<tr class="bigtitle"><td>[{{tag}}] {{name}}</td></tr>
{% if logo %}<tr class="item"><td align=center><img src="{{logo_url}}" class="logo"></td></tr>{% endif %}
{% if description %}
<tr class="item"><td><p>{{description|escape|safe}}</p></td></tr>
{% endif %}

{% for rank in ranks %}
<tr class="item"><td><div id="stats"><span class="label">{{rank.rank_label}}:</span> <span class="value">{% for member in rank.members %}{% if member.first %}<a href="/s03/mail-new/?to={{member.member}}">{{member.member}}</a>{% endif %}{% if member.other %}, <a href="/s03/mail-new/?to={{member.member}}">{{member.member}}</a>{% endif %}{% endfor %}</span></div></td></tr>
{% endfor %}
<tr class="item"><td><div id="stats"><span class="label">Nombre de membres:</span> <span class="value">{{members}} / {{max_members}}</span></div></td></tr>
{% if website %}<tr class="item"><td><div id="stats"><span class="label">Site web:</span> <span class="value"><a href="{{website_url}}">{{website_url}}</a></span></div></td></tr>{% endif %}

<tr><td>
	<table class="clear">
	<tr valign="top">
	<td>
		<table>
		<tr class="title"><td>Guerres en cours</td></tr>
		{% for war in wars %}<tr class="smallitem"><td><a href="/s03/alliance-view/?tag={{war.wartag}}">[{{war.wartag}}] {{war.warname}}</a></td></tr>{% endfor %}
		{% if nowars %}<tr><td align=center>Aucune</td></tr>{% endif %}
		</table>
	</td></tr>
	</table>
</td></tr>
</table>
{% endif %}

{% endblock %}