{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    {% if selectedmenu != 'ranking' %}
    <div class="nav nav-tabs mb-3">
        <div class="nav-item">
            <a href="/s03/alliance-view/" class="nav-link active text-nowrap">Vue d'ensemble</a>
        </div>
        {% if allianceId %}
            {% if show_management %}
                <div class="nav-item">
                    <a href="/s03/alliance-manage/" class="nav-link">Gestion</a>
                </div>
            {% endif %}
            {% if show_management %}
                <div class="nav-item">
                    <a href="/s03/alliance-ranks/" class="nav-link">Grades</a>
                </div>
            {% endif %}
            {% if show_members %}
                <div class="nav-item">
                    <a href="/s03/alliance-members/" class="nav-link">Membres</a>
                </div>
            {% endif %}
            {% if show_members %}
                <div class="nav-item">
                    <a href="/s03/alliance-recruit/" class="nav-link">Recrutement</a>
                </div>
            {% endif %}
            <div class="nav-item">
                <a href="/s03/alliance-wallet/" class="nav-link">Portefeuille</a>
            </div>
            <div class="nav-item">
                <a href="/s03/alliance-wars/" class="nav-link">Guerres</a>
            </div>
            {% if show_reports %}
                <div class="nav-item">
                    <a href="/s03/alliance-reports/" class="nav-link">Rapports</a>
                </div>
            {% endif %}
            <div class="nav-item">
                <a href="/s03/alliance-invitations/" class="nav-link">Invitations</a>
            </div>
        {% else %}
            <div class="nav-item">
                <a href="/s03/alliance-invitations/" class="nav-link">Invitations</a>
            </div>
            <div class="nav-item">
                <a href="/s03/alliance-create/" class="nav-link">Création</a>
            </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="scroll-content pe-1" style="height:calc(100% - 44px);">
    <div class="card">
        <div class="card-header text-center">
            <span class="fs-6">[{{ tag }}] {{ name }}</span>
        </div>
        <div class="card-body">
            <div class="row g-1">
                {% if logo_url %}
                    <div class="col-12 text-center">
                        <img src="{{ logo_url }}" />
                    </div>
                {% endif %}
                <div class="col-12">
                    <div class="row gx-3">
                        <div class="col-3 text-end">
                            <span class="text-normal">Description</span>
                        </div>
                        <div class="col">
                            {% if description %}
                                {{ description|escape|safe }}
                            {% else %}
                                <span class="text-normal">Pas de description</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% for rank in ranks %}
                    <div class="col-12">
                        <div class="row gx-3">
                            <div class="col-3 text-end">
                                <span class="text-normal">{{ rank.rank_label }}</span>
                            </div>
                            <div class="col">
                                <div class="row gx-3">
                                    {% for member in rank.members %}
                                        <div class="col-auto">
                                            <a href="/s03/mail-new/?to={{ member.member }}">{{ member.member }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-12">
                    <div class="row gx-3">
                        <div class="col-3 text-end">
                            <span class="text-normal">Nombre de membres</span>
                        </div>
                        <div class="col">
                            {{ members }} <small class="text-normal">/{{ max_members }}</small>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row gx-3">
                        <div class="col-3 text-end">
                            <span class="text-normal">Portefeuille</span>
                        </div>
                        <div class="col">
                            <img src="{{ PATH_IMAGES }}interface/credits.gif" class="res" width="16px" />
                            {{ alliance_credits|intcomma }}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row gx-3">
                        <div class="col-3 text-end">
                            <span class="text-normal">Guerres en cours</span>
                        </div>
                        <div class="col">
                            <div class="row gx-3">
                                {% for war in wars %}
                                    <div class="col-auto">
                                        <a href="/s03/alliance-view/?tag={{ war.wartag }}">[{{ war.wartag }}] {{ war.warname }}</a>
                                    </div>
                                {% empty %}
                                    <div class="col-auto">
                                        <span class="text-normal">Aucune</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
