{% extends "s03/layout.html" %}
{% load tz %}
{% load humanize %}
{% block content %}
    <div id="battle">
        <table width="100%" class="default">
            <tr class="title">
                <td colspan="5">
                    {{ planet }} [{{g}}.{{s }}.{{p}}] - {{ time|timezone:"Europe/Paris"|date:"d M Y H:i" }} en {{ rounds }}&nbsp;round(s)
                </td>
            </tr>
            <tr class="header">
                <td>Flotte</td>
                <td>Vaisseaux</td>
                <td>Perdus</td>
                <td>Détruits</td>
                <td>Après combat</td>
                {% for opponent in opponents %}
                    <tr class="category {% if opponent.self %}self{% endif %}{% if opponent.friend %}friend{% endif %}{% if opponent.ally %}ally{% endif %}{% if opponent.enemy %}enemy{% endif %}">
                        <td>
                            {% if opponent.attack %}<img src="{{ PATH_IMAGES }}interface/stance_attack.gif"
     alt="Attaque"
     class="stance">{% endif %}
                            {% if opponent.defend %}<img src="{{ PATH_IMAGES }}interface/stance_defend.gif"
     alt="Rispote"
     class="stance">{% endif %}
                            <a href="?id={{ battleid }}&v={{ opponent.view }}{% if opponent.public %}&by={{ opponent.userid }}&key={{ key }}{% endif %}"
                               class="{% if opponent.self %}self{% endif %}{% if opponent.friend %}friend{% endif %}{% if opponent.ally %}ally{% endif %}{% if opponent.enemy %}enemy{% endif %}">
                                {% if opponent.alliance %}[{{ opponent.alliancetag }}]{% endif %}
                                {{ opponent.name }}
                                {% if opponent.won %}(vainqueur){% endif %}
                            </a>
                        </td>
                        <td>{{ opponent.count }}</td>
                        <td>{{ opponent.lost }}</td>
                        <td>{{ opponent.killed }}</td>
                        <td>{{ opponent.after }}</td>
                    </tr>
                    {% for fleet in opponent.fleets %}
                        <tr class="category {% if fleet.self %}self{% endif %}{% if fleet.friend %}friend{% endif %}{% if fleet.ally %}ally{% endif %}{% if fleet.enemy %}enemy{% endif %}">
                            <td>
                                {{ fleet.name }} (B:{{ fleet.mod_shield }} M:{{ fleet.mod_handling }} C:{{ fleet.mod_tracking_speed }} D:{{ fleet.mod_damage }})
                            </td>
                            <td>{{ fleet.count }}</td>
                            <td>{{ fleet.lost }}</td>
                            <td>{{ fleet.killed }}</td>
                            <td>{{ fleet.after }}</td>
                        </tr>
                        {% for ship in fleet.ships %}
                            <tr class="smallitem">
                                <td>
                                    <span class="dot">&middot;</span>
                                    {% if ship.label %}{{ ship.label }}{% endif %}
                                    {% if ship.category10 %}Vaisseaux utilitaires{% endif %}
                                    {% if ship.category11 %}Vaisseaux de déploiement{% endif %}
                                    {% if ship.category15 %}Vaisseaux tactiques{% endif %}
                                    {% if ship.category20 %}Vaisseaux légers{% endif %}
                                    {% if ship.category30 %}Corvettes{% endif %}
                                    {% if ship.category40 %}Frégates{% endif %}
                                    {% if ship.category50 %}Croiseurs{% endif %}
                                    {% if ship.category60 %}Dreadnought{% endif %}
                                    {% if ship.category80 %}Titan{% endif %}
                                    {% if ship.category90 %}Plateforme de défense{% endif %}
                                </td>
                                <td>{{ ship.ships }}</td>
                                <td>{{ ship.lost }}</td>
                                <td>
                                    {% for kill in ship.kills %}
                                        {{ kill.killed_name }} x{{ kill.killed_count|intcomma }}
                                        <br/>
                                    {% endfor %}
                                    {% if ship.killed_total %}Total: {{ ship.killed }}{% endif %}
                                    {% if ship.killed_zero %}0{% endif %}
                                </td>
                                <td>{{ ship.after }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    <tr class="smallitem">
                        <td colspan=5>&nbsp;</td>
                    </tr>
                {% endfor %}
                {% if publiclink %}
                    <tr class="title">
                        <td colspan="5">
                            <p>
                                Un rapport de ce combat est visible par tous à cette adresse publique:
                                <br/>
                                <a href="https://{{ baseurl }}/s03/battle-view/?id={{ battleid }}&by={{ userid }}&v={{ userid }}&key={{ key }}">https://{{ baseurl }}/s03/battle-view/?id={{ battleid }}&v={{ userid }}&by={{ userid }}&key={{ key }}</a>
                            </p>
                            <p class=error>Veillez à ne pas laisser l'ennemi s'en emparer.</p>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endblock %}
