{% extends "s03/layout.html" %}
{% load tz %}
{% load humanize %}
{% block content %}
<div class="page-content">
<div class="card mb-3">
    <div class="card-header">
        <span class="fs-6">Rapport de combat</span>
    </div>
    <div class="card-body">
        <div class="row gy-1 gx-3">
            <div class="col-3 text-end">
                <span class="text-normal">Localisation</span>
            </div>
            <div class="col-9">
                {{g}}.{{s}}.{{p}}
            </div>
            <div class="col-3 text-end">
                <span class="text-normal">Date</span>
            </div>
            <div class="col-9">
                {{ time|timezone:"Europe/Paris"|date:"d M Y H:i" }}
            </div>
            <div class="col-3 text-end">
                <span class="text-normal">Round</span>
            </div>
            <div class="col-9">
                {{ rounds }}
            </div>
            {% if publiclink %}
                <div class="col-3 text-end">
                    <span class="text-normal">Lien public</span>
                </div>
                <div class="col-9">
                    <a href="https://{{ baseurl }}/s03/battle-view/?id={{ battleid }}&by={{ userid }}&v={{ userid }}&key={{ key }}">https://{{ baseurl }}/s03/battle-view/?id={{ battleid }}&v={{ userid }}&by={{ userid }}&key={{ key }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row g-3 flex-column">
    {% for opponent in opponents %}
        {% for fleet in opponent.fleets %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row gx-3 align-items-baseline">
                            <div class="col-auto">
                                <span class="fs-6 {% if opponent.self %}self{% elif opponent.friend %}friend{% elif opponent.ally %}text-success{% elif opponent.enemy %}text-danger{% endif %}">
                                    {% if opponent.attack %}<img src="{{ PATH_IMAGES }}img/interface/stance_attack.gif" class="me-1 stance" data-bs-toggle="tooltip" data-bs-title="Mode attaque" width="10px" height="10px">
                                    {% else %}<img src="{{ PATH_IMAGES }}img/interface/stance_defend.gif" class="me-1 stance" data-bs-toggle="tooltip" data-bs-title="Mode riposte" width="10px" height="10px">
                                    {% endif %}
                                    {{ fleet.name }}
                                </span>
                            </div>
                            <div class="col">
                                <span class="fs-6 {% if opponent.self %}self{% elif opponent.friend %}friend{% elif opponent.ally %}text-success{% elif opponent.enemy %}text-danger{% endif %}">
                                    {% if opponent.alliance %}[{{ opponent.alliancetag }}]{% endif %}
                                    {{ opponent.name }}
                                </span>
                                {% if opponent.won %}<span class="ms-3">Vainqueur</span>{% endif %}
                            </div>
                            {% if fleet.mod_shield > 100 %}
                            <div class="col-auto">
                                <small class="text-normal">bouclier</small>
                                <span class="text-success">{{ fleet.mod_shield }}%</span>
                            </div>
                            {% endif %}
                            {% if fleet.mod_handling > 100 %}
                            <div class="col-auto">
                                <small class="text-normal">manoeuvrabilité</small>
                                <span class="text-success">{{ fleet.mod_handling }}%</span>
                            </div>
                            {% endif %}
                            {% if fleet.mod_tracking_speed > 100 %}
                            <div class="col-auto">
                                <small class="text-normal">ciblage</small>
                                <span class="text-success">{{ fleet.mod_tracking_speed }}%</span>
                            </div>
                            {% endif %}
                            {% if fleet.mod_damage > 100 %}
                            <div class="col-auto">
                                <small class="text-normal">dégât</small>
                                <span class="text-success">{{ fleet.mod_damage }}%</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for ship in fleet.ships %}
                            <div class="list-group-item">
                                <div class="row gx-3 align-items-baseline">
                                    <div class="col-6">
                                        <div class="row gx-3">
                                            <div class="col">
                                                <span class="text-normal">
                                                    {% if ship.label %}{{ ship.label }}{% endif %}
                                                    {% if ship.category10 %}Vaisseaux utilitaires{% endif %}
                                                    {% if ship.category11 %}Vaisseaux de déploiement{% endif %}
                                                    {% if ship.category15 %}Vaisseaux tactiques{% endif %}
                                                    {% if ship.category20 %}Vaisseaux légers{% endif %}
                                                    {% if ship.category30 %}Corvettes{% endif %}
                                                    {% if ship.category40 %}Frégates{% endif %}
                                                    {% if ship.category50 %}Croiseurs{% endif %}
                                                    {% if ship.category60 %}Dreadnought{% endif %}
                                                </span>
                                                <small class="text-normal">x</small>
                                                <span class="text-normal">{{ ship.ships|intcomma }}</span>
                                                <small class="text-normal"><i class="fa-fw fas fa-long-arrow-alt-right"></i></small>
                                                {{ ship.after|intcomma }}
                                            </div>
                                            <div class="col-auto">
                                                {% if ship.lost > 0 %}<span class="text-danger">{{ ship.lost }} <i class="fa-fw fas fa-thumbs-down" data-bs-toggle="tooltip" data-bs-title="Perdus"></i></span>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row gx-3">
                                            <div class="col-auto">
                                                {% if ship.killed > 0 %}<span class="text-success"><i class="fa-fw fas fa-thumbs-up" data-bs-toggle="tooltip" data-bs-title="Détruits"></i> {{ ship.killed }}</span>{% endif %}
                                            </div>
                                            <div class="col">
                                                <div class="row g-1 gx-4 justify-content-end">
                                                    {% for kill in ship.kills %}
                                                        <div class="col-auto">
                                                            <span class="text-normal">{{ kill.killed_name }}</span> <small class="text-normal">x</small> {{ kill.killed_count|intcomma }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
</div>
{% endblock %}
