{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<script>
    function showDestroy(id) {
    
        $("destroy" + id).style.display = "none";
        $("destroyConfirm" + id).style.display = "block";
        return false;
    }
    
    var lasturl = "";
    var lastcall = null;
    
    function refreshPage(url) {
    
        if (typeof url != "undefined") {
        
            if ((url == lasturl) && (lastcall != null) && (new Date().getTime() - lastcall < 3000)) return;
            lasturl = url;
            lastcall = new Date().getTime();
            window.location = url + "&y=" + document.documentElement.scrollTop;
        }
        else
            window.location = "?y=" + document.documentElement.scrollTop;
    }
</script>
<div class="row g-3 flex-column">
    {% for category in categories %}
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {% if category.id == 10 %}<span class="fs-6">Colonie</span>{% endif %}
                    {% if category.id == 11 %}<span class="fs-6">Construction</span>{% endif %}
                    {% if category.id == 20 %}<span class="fs-6">Production</span>{% endif %}
                    {% if category.id == 21 %}<span class="fs-6">Production de minerai</span>{% endif %}
                    {% if category.id == 22 %}<span class="fs-6">Production d'hydrocarbure</span>{% endif %}
                    {% if category.id == 23 %}<span class="fs-6">Production d'énergie</span>{% endif %}
                    {% if category.id == 30 %}<span class="fs-6">Ressources humaines</span>{% endif %}
                    {% if category.id == 31 %}<span class="fs-6">Stockage de minerai</span>{% endif %}
                    {% if category.id == 32 %}<span class="fs-6">Stockage d'hydrocarbure</span>{% endif %}
                    {% if category.id == 33 %}<span class="fs-6">Stockage d'énergie</span>{% endif %}
                    {% if category.id == 40 %}<span class="fs-6">Armement</span>{% endif %}
                    {% if category.id == 80 %}<span class="fs-6">Espace</span>{% endif %}
                    {% if category.id == 110 %}<span class="fs-6">Evénements</span>{% endif %}
                </div>
                <div class="list-group list-group-flush">
                    {% for building in category.buildings %}
                        <div class="list-group-item {% if building.isbuilding %}bg-success{% elif building.isdestroying %}bg-danger{% endif %}">
                            <div class="row gx-3 align-items-center">
                                <div class="col-auto">
                                    <img src="{{PATH_IMAGES}}buildings/{{ building.id }}.jpg" width="42px" height="42px" class="rounded" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
                                        <div class='mb-1'><span class='fs-6'>Description</span></div>
                                        <div class='mb-3'><span class='text-normal'>{{ building.description|escape }}</span></div>
                                        {% if building.ore_prod or building.hydro_prod or building.energy_prod %}
                                        <div class='mb-1'><span class='fs-6'>Production</span></div>
                                        <div class='mb-3'>
                                            <div class='row gx-3'>
                                                {% if building.ore_prod %}
                                                <div class='col-auto'>
                                                    <img src='/static/assets/interface/ore.gif' class='res' width='16' height='16'>
                                                    <span class='text-normal'>{{ building.ore_prod|intcomma }}</span>
                                                    {% if building.ore_modifier %}<small class='ms-1 text-success'>+{{ building.ore_modifier|intcomma }}%</small>{% endif %}
                                                </div>
                                                {% endif %}
                                                {% if building.hydro_prod %}
                                                <div class='col-auto'>
                                                    <img src='/static/assets/interface/hydrocarbon.gif' class='res' width='16' height='16'>
                                                    <span class='text-normal'>{{ building.hydro_prod|intcomma }}</span>
                                                    {% if building.hydro_modifier %}<small class='ms-1 text-success'>+{{ building.hydro_modifier|intcomma }}%</small>{% endif %}
                                                </div>
                                                {% endif %}
                                                {% if building.energy_prod %}
                                                <div class='col-auto'>
                                                    <img src='/static/assets/interface/energy.gif' class='res' width='16' height='16'>
                                                    <span class='text-normal'>{{ building.energy_prod|intcomma }}</span>
                                                    {% if building.energy_modifier %}<small class='ms-1 text-success'>+{{ building.energy_modifier|intcomma }}%</small>{% endif %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if building.workers_for_maintenance or building.upkeep or building.upkeep_energy %}
                                        <div class='mb-1'><span class='fs-6'>Coût fonctionnement</span></div>
                                        <div class='row gx-3'>
                                            {% if building.workers_for_maintenance %}
                                            <div class='col-auto'>
                                                <img src='/static/assets/interface/workers.gif' class='res' width='16' height='16'>
                                                <span class='text-normal'>{{ building.workers_for_maintenance|intcomma }}</span>
                                            </div>
                                            {% endif %}
                                            {% if building.upkeep %}
                                            <div class='col-auto'>
                                                <img src='/static/assets/interface/credits.gif' class='res' width='16' height='16'>
                                                <span class='text-normal'>{{ building.upkeep|intcomma }}</span>
                                            </div>
                                            {% endif %}
                                            {% if building.upkeep_energy %}
                                            <div class='col-auto'>
                                                <img src='/static/assets/interface/energy.gif' class='res' width='16' height='16'>
                                                <span class='text-normal'>{{ building.upkeep_energy|intcomma }}</span>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    ">
                                </div>
                                <div class="col">
                                    <div class="row g-1 flex-column">
                                        <div class="col-12"><a href="/s03/help/?cat=buildings#{{ building.id }}" data-bs-toggle="tooltip" data-bs-title="Voir l'aide">{{ building.name }}</a></div>
                                        <div class="col-12">
                                            <div class="row gx-3">
                                                <div class="col-auto" style="width:75px;">
                                                    {% if building.floor %}
                                                    <img src="/static/assets/interface/floor.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Terrain" width="16" height="16">
                                                    <span class="{% if building.not_enough_floor %}text-danger{% endif %}">{{ building.floor|intcomma }}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="col-auto" style="width:75px;">
                                                    {% if building.space %}
                                                    <img src="/static/assets/interface/space.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Espace" width="16" height="16">
                                                    <span class="{% if building.not_enough_space %}text-danger{% endif %}">{{ building.space|intcomma }}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="col-auto" style="width:100px;">
                                                    {% if building.ore %}
                                                    <img src="/static/assets/interface/ore.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Minerai" width="16" height="16">
                                                    <span class="{% if building.not_enough_ore %}text-danger{% endif %}">{{ building.ore|intcomma }}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="col-auto" style="width:100px;">
                                                    {% if building.hydrocarbon %}
                                                    <img src="/static/assets/interface/hydrocarbon.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure" width="16" height="16">
                                                    <span class="{% if building.not_enough_hydrocarbon %}text-danger{% endif %}">{{ building.hydrocarbon|intcomma }}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="col-auto" style="width:75px;">
                                                    {% if building.workers %}
                                                    <img src="/static/assets/interface/workers_idle.gif" class="idleworkers" data-bs-toggle="tooltip" data-bs-title="Oisifs" width="12" height="12">
                                                    <span class="{% if building.not_enough_workers %}text-danger{% endif %}">{{ building.workers|intcomma }}</span>
                                                    {% endif %}
                                                </div>
                                                {% if building.prestige %}
                                                <div class="col-auto" style="width:75px;">
                                                    <img src="/static/assets/interface/prestige.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige" width="12" height="12">
                                                    <span class="{% if building.not_enough_prestige %}text-danger{% endif %}">{{ building.prestige|intcomma }}</span>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    {% if building.quantity %}
                                    <small class="text-normal">x</small>
                                    <span>{{ building.quantity }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-2 text-center">
                                    {% if not building.isdestroying %}
                                        {% if building.isbuilding %}
                                            <div class="row g-1 flex-column">
                                                <div class="col-12"><span class="text-yellow"><script>putcountdown1({{ building.remainingtime }}, '')</script></span></div>
                                                <div class="col-12"><script>putcountdown2({{ building.remainingtime }}, '<a href="#" class="btn btn-danger" onclick="refreshPage(\'/s03/buildings/?planet={{ planetid }}&a=cancel&b={{ building.id }}\'); return false;">Annuler</a>', '<a href="#" onclick="refreshPage(); return false;">Terminé</a>')</script></div>
                                            </div>
                                        {% elif building.buildings_required %}
                                            <div><span class="text-danger">Bâtiment(s) requis</span></div>
                                        {% elif building.limitreached %}
                                            <div><span class="text-success">Limite atteinte</span></div>
                                        {% elif building.built %}
                                            <div><span class="text-success">Bâtiment construit</span></div>
                                        {% elif building.build %}
                                            <div class="row g-1 flex-column">
                                                <div class="col-12"><script>document.write(formattime({{ building.time }}));</script></div>
                                                <div class="col-12"><a href="#" class="btn btn-primary" onclick="refreshPage('?planet={{ planetid }}&a=build&c=0&b={{ building.id }}'); return false;" data-bs-toggle="tooltip" data-bs-title="Lancer la construction">Construire</a></div>
                                            </div>
                                        {% else %}
                                            <div class="row g-1 flex-column">
                                                <div class="col-12"><script>document.write(formattime({{ building.time }}));</script></div>
                                                {% if building.not_enough_ore or building.not_enough_hydrocarbon or building.not_enough_workers or building.not_enough_prestige %}<div class="col-12"><span class="text-danger">Ressources insuffisantes</span></div>{% endif %}
                                                {% if building.not_enough_floor or building.not_enough_space %}<div class="col-12"><span class="text-danger">Pas assez de place</span></div>{% endif %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-2 text-center">
                                    {% if not building.isbuilding %}
                                        {% if building.isdestroying %}
                                            <div class="row g-1 flex-column">
                                                <div class="col-12"><script>putcountdown1({{ building.nextdestroytime }}, '')</script></div>
                                                <div class="col-12"><script>putcountdown2({{ building.nextdestroytime }}, '<span class="text-danger">Démolition en cours</span>', '<a href="#" onclick="refreshPage(); return false;">Terminé</a>')</script></div>
                                            </div>
                                        {% elif building.workers_required %}
                                            <div><span class="text-danger">Pas assez de travailleurs</span></div>
                                        {% elif building.required %}
                                            <div><span class="text-danger">Bâtiment requis</span></div>
                                        {% elif building.capacity %}
                                            <div><span class="text-danger">Stockage requis</span></div>
                                        {% elif building.destroy %}
                                            <div>
                                                <span id="destroy{{ building.id }}"><a href="?" data-bs-toggle="tooltip" data-bs-title="Détruire le bâtiment" onclick="javascript:return showDestroy({{ building.id }});">Démolir</a></span>
                                                <span id="destroyConfirm{{ building.id }}" style="display:none;"><a href="#" class="btn btn-primary" onclick="refreshPage('?planet={{ planetid }}&a=destroy&b={{ building.id }}'); return false;" data-bs-toggle="tooltip" data-bs-title="Confirmer la destruction">Confirmer</a></span>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
