{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    <script type="text/javascript">
function showDestroy(id) {
	$("destroy"+id).style.display = "none";
	$("destroyConfirm"+id).style.display = "block";
	return false;
}
var lastcall=null;
var lasturl="";
function refreshPage(url) {
	if(typeof url!="undefined") {
		if((url == lasturl) && (lastcall != null) && (new Date().getTime() - lastcall < 3000)) return;
		lasturl = url;
		lastcall = new Date().getTime();
		window.location=url + "&y="+document.documentElement.scrollTop;
	}
	else
		window.location="?y="+document.documentElement.scrollTop;
}
    </script>
    <script type="text/javascript"
            src='/static/scripts/third-party/tooltip.js?v=1'></script>
    <script>
tipname = "hint";
tipwidth = 450;
tiptext = $("hinttext");
    </script>
    <script type="text/javascript">
var buildingsDesc = new Array(0{% for category in categories %}{% for building in category.buildings %},new Array('{{building.description|escapejs}}','{{building.ore_prod|intcomma}}',{{building.ore_modifier}},'{{building.hydro_prod|intcomma}}',{{building.hydro_modifier}},'{{building.energy_prod|intcomma}}',{{building.energy_modifier}},'{{building.workers_for_maintenance|intcomma}}','{{building.upkeep|intcomma}}','{{building.upkeep_energy|intcomma}}'){% endfor %}{% endfor %});

function bonus(i){return '<td align="right" class='+(i>=0?"plus":"minus")+' nowrap>('+(i>=0?"+":"")+i+')</td>';}

function desc(id) {
	var d=buildingsDesc[id];
	var s='<table width="100%"><tr valign="top"><td style="padding:5px;"><span class="title">Description</span><br/><br/>'+
	d[0]+'<br/><br/>'+
	'<span class="title">Coût fonctionnement</span><br/><br/>'+
	(d[8]!='0'?'Coût: <img src="{{PATH_IMAGES}}interface/credits.gif" title="Crédits" width=16 height=16 class=res>'+d[8]:'')+
	(d[7]!='0'?'<br/>Entretien: <img src="{{PATH_IMAGES}}interface/workers.gif" title="Travailleurs" width=16 height=16 class=res>'+d[7]:'')+
	(d[9]!='0'?'<br/>Énergie: <img src="{{PATH_IMAGES}}interface/energy.gif" title="Énergie" width=16 height=16 class=res>'+d[9]:'')+
	'</td>';
	if(d[1]!=0 || d[3]!=0 || d[5]!=0)
	{
		s=s+'<td width="1%" style="padding:5px;">'+
		'<span class="title">Production</span><br/><br/>'+
		'<table width="100%">'+
		'<tr><td><img src="{{PATH_IMAGES}}interface/ore.gif" title="Minerai" width=16 height=16></td><td align=right class="white">'+d[1]+"</td>"+bonus(d[2])+'</tr>'+
		'<tr><td><img src="{{PATH_IMAGES}}interface/hydrocarbon.gif" title="Hydrocarbure" width=16 height=16></td><td align=right class="white">'+d[3]+'</td>'+bonus(d[4])+'</tr>'+
		'<tr><td><img src="{{PATH_IMAGES}}interface/energy.gif" title="Energie" width=16 height=16></td><td align=right class="white">'+d[5]+'</td>'+bonus(d[6])+'</tr>'+
		'</table></td>';
	}
	return s + '</tr></table>';
}
var idx = 1;
function writeBuilding(id,name,quantity,status,o,o2,h,h2,w,w2,e,e2,f,f2,s,s2,remainingtime,build,time,destroy,destroytime,pp,pp2) {
	var typ;
	if(status==01) typ='highlight';
	if(status==02) typ='del';
	var a = '<tr valign=middle align=right class="item'+typ+'">'+
			'<td align=center><img src="{{PATH_IMAGES}}buildings/'+id+'.jpg" width=64 height=64 class="building" onmouseover="ddrivetip(desc('+idx+'))" onmouseout="hideddrivetip()"></td>'+
			'<td nowrap align=left valign=top>'+

			'<div style="margin-bottom:5px"><table class=clear width="100%"><tr><td><a href="/s03/help/?cat=buildings#'+id+'" onmouseover="ddrivetip(desc('+idx+'))" onmouseout="hideddrivetip()"><b>'+name+'</b></a></td><td align=right>x'+quantity+'</td></tr></table></div>'+
			'<table class="clear" width="200">'+
			'<tr><td width="1%"><img src="{{PATH_IMAGES}}interface/ore.gif" title="Minerai" width=16 height=16></td><td width=50 align=right'+(o2>0?' class="notenough"':'')+'>'+o+'</td><td width="1%"><img src="{{PATH_IMAGES}}interface/spacer.gif" width=4></td>'+
			'<td width="1%"><img src="{{PATH_IMAGES}}interface/workers_idle.gif" title="Travailleurs" width=12 height=12></td><td width=40 align=right'+(w2>0?' class="notenough"':'')+'>'+w+'</td><td width="1%"><img src="{{PATH_IMAGES}}interface/spacer.gif" width=4></td>'+
			'<td width="1%"><img src="{{PATH_IMAGES}}interface/floor.gif" title="Terrain" width=16 height=16></td><td width=16 align=right'+(f2>0?' class="notenough"':'')+'>'+f+'</td><td></td></tr>'+

			'<tr><td width="1%"><img src="{{PATH_IMAGES}}interface/hydrocarbon.gif" title="Hydrocarbure" width=16 height=16></td><td width=50 align=right'+(h2>0?' class="notenough"':'')+'>'+h+'</td><td width="1%"><img src="{{PATH_IMAGES}}interface/spacer.gif" width=4></td>'+
			'<td width="1%"></td><td width=40 align=right'+(e2>0?' class="notenough"':'')+'></td><td width="1%"><img src="{{PATH_IMAGES}}interface/spacer.gif" width=4></td>'+
			'<td width="1%"><img src="{{PATH_IMAGES}}interface/space.gif" title="Espace" width=16 height=16></td><td width=16 align=right'+(s2>0?' class="notenough"':'')+'>'+s+'</td><td></td></tr>'+

			'<tr><td width="1%">' + (pp!='0'?'<img src="{{PATH_IMAGES}}interface/prestige.gif" title="Prestige" width=16 height=16></td><td width="50" align=right'+(pp2>0?' class="notenough"':'')+'>'+pp+'</td><td width="1%"><img src="{{PATH_IMAGES}}interface/spacer.gif" width="4">':'') +'</td>'+
			'<td width="1%"></td>'+
			'<td width="1%"></td></tr>'+
			'</table>'+

			'</td>'+

			'<td align=center>';

	if(status==01||status==012)
		a+= '<script>putcountdown1('+remainingtime+',"");</scr'+'ipt><br/><script>putcountdown2('+remainingtime+', "<a href=\'#\' onclick=\'refreshPage(\\"/s03/buildings/?planet={{planetid}}&a=cancel&b='+id+'\\"); return false;\'>annuler</a>", "<a href=\'#\' onclick=\'refreshPage(); return false;\'>terminé</a>");</sc'+'ript>';
	else
	if(build==1)
		a+= '<span class="error">bâtiment(s) requis</span>';
	else
	if(build==2)
		a+= '<span id="maxlimit">limite atteinte</span>';
	else
	if(build==3)
		a+= '<span class="unique">bâtiment construit</span>';
	else
	if(build==4)
		a+= '<a href=\'#\' onclick="refreshPage(\'?planet={{planetid}}&a=build&c=0&b='+id+'\'); return false;" title="Lancer la construction"><script>document.write(formattime('+time+'));</sc'+'ript><br/>construire</a>';
	else {
		if(parseInt(time) > 0) a+= '<script>document.write(formattime('+time+'));</scr'+'ipt>';
		if(o2>0||h2>0||w2>0||e2>0) a+= '<br/><span class="notenough">ressources insuffisantes</span>';
		if(f2>0||s2>0) a+= '<br/><span class="notenough">pas assez de place</span>';
	}
		a+= '</td>'+
			'<td align=center valign=middle>';
	switch(destroy) {
		case 01: a+= '<span class="nodestruct" title="Pas assez de travailleurs pour détruire le bâtiment">démolir</span>'; break;
		case 02: a+= '<span class="nodestruct" title="Détruisez d\'abord les bâtiments qui dépendent de celui-ci">démolir</span>'; break;
		case 03: a+= '<span class="nodestruct" title="La destruction de ce bâtiment entraînerait une perte de scientifiques, soldats, travailleurs, de minerai ou d\'hydrocarbure">démolir</span>'; break;
		case 04: a+= '<span class="nodestruct" title="Le terrain du dernier bâtiment est toujours en train d\'être déblayé"><script>putcountdown2('+destroytime+', "démolition en cours", "<a href=\'#\' onclick=\'refreshPage(); return false;\'>démolition terminée</a>");</scr'+'ipt></span><br/><script>putcountdown1('+destroytime+',"");</scr'+'ipt>'; break;
		case 05: a+= '<span id="destroy'+id+'"><a href="?" title="Détruire le bâtiment" onclick="javascript:return showDestroy('+id+');">démolir</a></span><span id="destroyConfirm'+id+'" style="display: none;font-weight:bold;"><a href=\'#\' onclick="refreshPage(\'?planet={{planetid}}&a=destroy&b='+id+'\'); return false;" title="Confirmer la destruction">confirmer</></span>'; break;
		default: a+= '-';
	}
	a+= '</td></tr>';

	document.write(a);
	idx++;
}
</script>
<table class="default">
{% for category in categories %}
<tr class="category">
<td colspan=4>
{% if category.id == 10 %}Colonie{% endif %}
{% if category.id == 11 %}Construction{% endif %}
{% if category.id == 20 %}Production{% endif %}
{% if category.id == 21 %}Production de minerai{% endif %}
{% if category.id == 22 %}Production d'hydrocarbure{% endif %}
{% if category.id == 23 %}Production d'énergie{% endif %}
{% if category.id == 30 %}Ressources humaines{% endif %}
{% if category.id == 31 %}Stockage de minerai{% endif %}
{% if category.id == 32 %}Stockage d'hydrocarbure{% endif %}
{% if category.id == 33 %}Stockage d'énergie{% endif %}
{% if category.id == 40 %}Armement{% endif %}
{% if category.id == 80 %}Espace{% endif %}
{% if category.id == 90 %}Défense{% endif %}
{% if category.id == 100 %}Artéfacts et reliques{% endif %}
{% if category.id == 110 %}Evénements{% endif %}
</td>
</tr>
<script type="text/javascript">
{% for building in category.buildings %}writeBuilding({{building.id}},'{{building.name}}',{{building.quantity}},0{% if building.isbuilding %}1{% endif %}{% if building.isdestroying %}2{% endif %},
	'{{building.ore|intcomma}}',0{% if building.not_enough_ore %}1{% endif %},'{{building.hydrocarbon|intcomma}}',0{% if building.not_enough_hydrocarbon %}1{% endif %},'{{building.workers|intcomma}}',0{% if building.not_enough_workers %}1{% endif %},
	'{{building.energy|intcomma}}',0{% if building.not_enough_energy %}1{% endif %},'{{building.floor|intcomma}}',0{% if building.not_enough_floor %}1{% endif %},'{{building.space|intcomma}}',0{% if building.not_enough_space %}1{% endif %},
	'{{building.remainingtime}}',0{% if building.buildings_required %}1{% endif %}{% if building.limitreached %}2{% endif %}{% if building.built %}3{% endif %}{% if building.build %}4{% endif %},{{building.time}},
	0{% if building.workers_required %}1{% endif %}{% if building.required %}2{% endif %}{% if building.capacity %}3{% endif %}{% if building.next_destruction_in %}4{% endif %}{% if building.destroy %}5{% endif %},'{{building.nextdestroytime}}','{{building.prestige|intcomma}}', 0{% if building.not_enough_prestige %}1{% endif %});
{% endfor %}
</script>
<tr class="clear">
<td colspan=4>
&nbsp;
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
