{% extends "s03/layout.html" %}
{% load tz %}
{% load humanize %}
{% block content %}
<div class="page-content">
<script>
    function confirmFireCommander(name) {
    
        if (confirm('Êtes-vous sûr de vouloir vous séparer du commandant "' + name + '" ?')) {
            if (confirm('Êtes-vous VRAIMENT sûr de vouloir vous séparer du commandant "' + name + '" ?\nNote: Les commandants renvoyés ne peuvent pas être récupérés !'))
                return true;
        }
        
        return false;
    }

    function confirmTrain(prestige) {
    
        return confirm('Êtes-vous sûr de vouloir effectuer un entraînement intensif pour ' + prestige + ' points de prestige ?');
    }
</script>
{% if commander_list %}
    <div class="card">
        <div class="card-header">
            <div class="row gx-3 align-items-baseline">
                <div class="col"><span class="fs-6">Les commandants de votre empire</span></div>
                <div class="col-auto">{{ commander_list|length }} <small class="text-normal">/{{ max_commanders }}</small></div>
            </div>
        </div>
        <div class="list-group list-group-flush">
            {% for commander in commander_list %}
                <div class="list-group-item">
                    <div class="row gx-3">
                        <div class="col-4">
                            <div class="row gy-1 gx-3">
                                <div id="renamebox{{ commander.id }}" class="hidden">
                                    <form action='?' method='get' class="row gx-2">
                                        <input type='hidden' name='a' value='rename'>
                                        <input type='hidden' name='id' value='{{ commander.id }}'>
                                        <div class="col"><input type='text' class="form-control" name='name' size="28" maxlength="32" value='{{ commander.name }}'></div>
                                        <div class="col-auto"><input type='submit' value='OK' class="btn btn-primary"></div>
                                        <div class="col-auto"><button type="button" onclick='hide();' class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button></div>
                                    </form>
                                </div>
                                <div id="renameref{{ commander.id }}" class="col">
                                    <span class="text-normal"><i class="fa-fw fas fa-user-astronaut"></i></span>
                                    {{ commander.name }}
                                    <a href="#" name="{{ commander.name }}" onclick="return show('renameref{{ commander.id }}','renamebox{{ commander.id }}')" data-bs-toggle="tooltip" data-bs-title="Renommer"><i class="fa-fw fas fa-edit"></i></a>
                                </div>
                                {% if commander.can_fire %}
                                <div class="col-auto">
                                    <a href="?a=fire&id={{ commander.id }}" onclick="return confirmFireCommander('{{ commander.name }}')">Renvoyer</a>
                                </div>
                                {% endif %}
                                <div class="col-12"></div>
                                <div class="col-3 text-end"><span class="text-normal">Salaire</span></div>
                                <div class="col-9">
                                    <img src="{{ PATH_IMAGES }}interface/credits.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits" width="16" height="16">
                                    <span>{{ commander.salary|intcomma }}</span>
                                </div>
                                <div class="col-3 text-end"><span class="text-normal">Engagé</span></div>
                                <div class="col-9"><span class="text-normal">{{ commander.recruited|timezone:"Europe/Paris"|date:"d M Y H:i" }}</span></div>
                                <div class="col-3 text-end"><span class="text-normal">Affectation</span></div>
                                <div class="col-9">
                                    {% if commander.not_assigned %}<span class="text-normal">Aucune</span>
                                    {% elif commander.planet_command %}
                                        <img src="{{ PATH_IMAGES }}interface/planet.gif" width="16" height="16" class="res" data-bs-toggle="tooltip" data-bs-title="Planète">
                                        <script>putplanet("{{commander.planetid}}","{{commander.commandment}}","{{commander.g}}","{{commander.s}}","{{commander.p}}", 2);</script>
                                    {% elif commander.fleet_command %}
                                        <img src="{{ PATH_IMAGES }}interface/fleets.gif" width="16" height="16" class="res" data-bs-toggle="tooltip" data-bs-title="Flotte">
                                        <a href="/s03/fleet/?id={{ commander.fleetid }}" data-bs-toggle="tooltip" data-bs-title="Voir flotte">{{ commander.commandment }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row gy-1 gx-3">
                                {% for bonus in commander.bonuses %}
                                    <div class="col-12">
                                        <span class="text-success">
                                            {{ bonus.bonus }}%
                                            {% if bonus.description14 %}Planète - Production de minerai{% endif %}
                                            {% if bonus.description15 %}Planète - Production d'hydrocarbure{% endif %}
                                            {% if bonus.description16 %}Planète - Production d'énergie{% endif %}
                                            {% if bonus.description17 %}Planète - Formation des travailleurs{% endif %}
                                            {% if bonus.description24 %}Planète - Vitesse de construction des bâtiments{% endif %}
                                            {% if bonus.description25 %}Planète - Vitesse de construction des vaisseaux{% endif %}
                                            {% if bonus.description18 %}Flotte - Vitesse{% endif %}
                                            {% if bonus.description19 %}Flotte - Bouclier{% endif %}
                                            {% if bonus.description20 %}Flotte - Manœuvrabilité{% endif %}
                                            {% if bonus.description21 %}Flotte - Ciblage{% endif %}
                                            {% if bonus.description22 %}Flotte - Dégats{% endif %}
                                            {% if bonus.description23 %}Flotte - Réduction signature{% endif %}
                                        </span>
                                    </div>
                                {% endfor %}
                                {% if commander.levelup %}
                                    <div class="col-12">
                                        <a href="?a=skills&id={{ commander.id }}">Répartir les {{ commander.points }} points de compétences restants</a>
                                    </div>
                                {% endif %}
                                {% if commander.train %}
                                    <div class="col-12">
                                        <a href="?a=train&id={{ commander.id }}" onclick="return confirmTrain('{{ commander.prestige|intcomma }}')">
                                            Entrainement intensif pour
                                            <img src="{{ PATH_IMAGES }}interface/prestige.gif" width="16" height="16" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige">
                                            {{ commander.prestige|intcomma }}
                                        </a>
                                    </div>
                                {% endif %}
                                {% if commander.cant_train %}
                                    <div class="col-12">
                                        <span class="text-danger">Vous ne pouvez entrainer ce commandant qu'une fois par jour</span>
                                    </div>
                                {% endif %}
                                {% if commander.cant_train_anymore %}
                                    <div class="col-12">
                                        <span class="text-danger">Vous ne pouvez pas entrainer ce commandant plus</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <span class="text-normal">Aucun actuellement</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% if available_commanders %}
    <div class="mt-3 card">
        <div class="card-header">
            <span class="fs-6">Commandants pouvant être recrutés</span>
        </div>
        <div class="list-group list-group-flush">
            {% for commander in available_commanders %}
                <div class="list-group-item">
                    <div class="row gx-3">
                        <div class="col-4">
                            <div class="row gy-1 gx-3">
                                <div class="col">
                                    <span class="text-normal"><i class="fa-fw fas fa-user-astronaut"></i></span>
                                    {{ commander.name }}
                                </div>
                                {% if commander.can_engage %}
                                <div class="col-auto">
                                    <a href="?a=engage&id={{ commander.id }}" onclick="return confirmEngageCommander('{{ commander.name }}')">Engager</a>
                                </div>
                                {% endif %}
                                <div class="col-12"></div>
                                <div class="col-3 text-end"><span class="text-normal">Salaire</span></div>
                                <div class="col-9">
                                    <img src="{{ PATH_IMAGES }}interface/credits.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits" width="16" height="16">
                                    <span>{{ commander.salary|intcomma }}</span>
                                </div>
                                <div class="col-3 text-end"><span class="text-normal">Repéré le</span></div>
                                <div class="col-9"><span class="text-normal">{{ commander.added|timezone:"Europe/Paris"|date:"d M Y H:i" }}</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row gy-1 gx-3">
                                {% for bonus in commander.bonuses %}
                                    <div class="col-12">
                                        <span class="text-success">
                                            {{ bonus.bonus }}%
                                            {% if bonus.description14 %}Planète - Production de minerai{% endif %}
                                            {% if bonus.description15 %}Planète - Production d'hydrocarbure{% endif %}
                                            {% if bonus.description16 %}Planète - Production d'énergie{% endif %}
                                            {% if bonus.description17 %}Planète - Formation des travailleurs{% endif %}
                                            {% if bonus.description24 %}Planète - Vitesse de construction des bâtiments{% endif %}
                                            {% if bonus.description25 %}Planète - Vitesse de construction des vaisseaux{% endif %}
                                            {% if bonus.description18 %}Flotte - Vitesse{% endif %}
                                            {% if bonus.description19 %}Flotte - Bouclier{% endif %}
                                            {% if bonus.description20 %}Flotte - Manœuvrabilité{% endif %}
                                            {% if bonus.description21 %}Flotte - Ciblage{% endif %}
                                            {% if bonus.description22 %}Flotte - Dégats{% endif %}
                                            {% if bonus.description23 %}Flotte - Réduction signature{% endif %}
                                        </span>
                                    </div>
                                {% endfor %}
                                {% if commander.levelup %}
                                    <div class="col-12">
                                        {{ commander.points }} points de compétences restants à distribuer
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <span class="text-normal">Aucun actuellement</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% if editcommander %}
<script>
    function confirmAssign() {
    
        var s = "";
        var obj = document.getElementById('points');
        if (obj.innerHTML != "0") s = "Note: Vous pourrez assigner les points restants plus tard.\r\n";
        return confirm("Les compétences assignées à ce commandant seront définitives.\r\n" + s + "\r\nÊtes-vous sûr de votre choix ?");
    }

    var count = 0;
    var skills = [];
    var points = {{maxpoints}};

    function sk(i,j) {
    
        var skill = skills[i];

        var inp = $(skill.name);

        if (points - j < 0) return false;

        var pointsInSkill = parseInt(inp.value);

        if (pointsInSkill + j >= 0 && points-j >= 0) {
        
            pointsInSkill += j;

            var obj = $('span'+skill.name);

            if ((skill.value + pointsInSkill * skill.inc).toFixed(2) > skill.max) {
            
                alert('Limite atteinte pour cette compétence (' + ((skill.max - 1) * 100).toFixed(0) + ')');
                return false;
            }

            obj.innerHTML = Math.round((skill.value + pointsInSkill * skill.inc - 1) * 100);
            inp.value = pointsInSkill;

            points -= j;
        }

        $('points').innerHTML = points;

        return false;
    }

    function addskill(name, label, increase, value, max) {
    
        skills[count] = { name:name, inc:increase, value:value, max:max };
        document.write('<input type="hidden" id="' + name + '" name="' + name + '" value="0">');
        document.write(
            '<div class="col-12">' +
                '<div class="row gx-3 align-items-center">' +
                    '<div class="col-auto">' + label + '</div>' +
                    '<div class="col"><small class="text-normal">max</small> ' + Math.round((max - 1) * 100) + '%</div>' +
                    '<div class="col-auto">+<span id="span' + name + '">' + Math.round((value - 1) * 100) + '</span>%</div>' +
                    '<div class="col-auto"><a href="" onclick="return sk(' + count + ',1)" ondblclick="return sk(' + count + ',1)"><i class="fa-fw fas fa-plus-circle"></i></a></div>' +
                    '<div class="col-auto"><a href="" onclick="return sk(' + count + ',-1)" ondblclick="return sk(' + count + ',-1)"><i class="fa-fw fas fa-minus-circle"></i></a></div>' +
                '</div>' +
            '</div>'
        );
        count++;
    }
</script>
<form action="?a=edit&id={{ commanderid }}" method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <a href="/s03/commanders/" class="me-2"><i class="fa-fw fas fa-long-arrow-alt-left"></i> Retour</a>
            <span class="fs-6"><span class="text-normal"><i class="fa-fw fas fa-user-astronaut"></i></span> {{ name }}</span>
        </div>
        <div class="card-body">
            <div class="row gx-3 gy-3">
                <div class="col-6">
                    <div class="row g-1 flex-column">
                        <script>
                            addskill('fleet_speed', 'Flotte - Vitesse', 0.02, {{speed}}, {{max_speed}});
                            addskill('fleet_shield', 'Flotte - Bouclier', 0.02, {{shield}}, {{max_shield}});
                            addskill('fleet_handling', 'Flotte - Manœuvrabilité', 0.05, {{handling}}, {{max_handling}});
                            addskill('fleet_targeting', 'Flotte - Ciblage', 0.05, {{targeting}}, {{max_targeting}});
                            addskill('fleet_damages', 'Flotte - Dégats', 0.02, {{damages}}, {{max_damages}});
                            addskill('fleet_signature', 'Flotte - Réduction signature', 0.02, {{signature}}, {{max_signature}});
                        </script>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row g-1 flex-column">
                        <script>
                            addskill('ore', 'Planète - Production de minerai', 0.01, {{ore}}, {{max_ore}});
                            addskill('hydrocarbon', 'Planète - Production d\'hydrocarbure', 0.01, {{hydrocarbon}}, {{max_hydrocarbon}});
                            addskill('energy', 'Planète - Production d\'énergie', 0.1, {{energy}}, {{max_energy}});
                            addskill('workers', 'Planète - Formation des travailleurs', 0.1, {{workers}}, {{max_workers}});
                            addskill('buildindspeed', 'Planète - Vitesse de construction des bâtiments', 0.05, {{build}}, {{max_build}});
                            addskill('shipconstructionspeed', 'Planète - Vitesse de construction des vaisseaux', 0.05, {{ship}}, {{max_ship}});
                        </script>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row gx-3 align-items-center justify-content-end">
                        <div class="col-auto">
                            <span class="text-normal">Points restant</span>
                            <span id="points">{{ maxpoints }}</span>
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary" value="Valider" onclick="return confirmAssign()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
</div>
{% endblock %}
