{% extends "s03/layout.html" %}
{% load tz %}
{% load humanize %}
{% block content %}
<div class="page-content">
<script>
    function confirmFireCommander(name) {
    
        if (confirm('Êtes-vous sûr de vouloir vous séparer du commandant "' + name + '" ?')) {
            if (confirm('Êtes-vous VRAIMENT sûr de vouloir vous séparer du commandant "' + name + '" ?\nNote: Les commandants renvoyés ne peuvent pas être récupérés !'))
                return true;
        }
        
        return false;
    }

    function confirmTrain(prestige) {
    
        return confirm('Êtes-vous sûr de vouloir effectuer un entraînement intensif pour ' + prestige + ' points de prestige ?');
    }
</script>
{% if commanders %}
    <div class="card">
        <div class="card-header">
            <div class="row gx-3 align-items-baseline">
                <div class="col"><span class="fs-6">Les commandants de votre empire</span></div>
                <div class="col-auto">{{ commanders|length }} <small class="text-normal">/{{ max_commanders }}</small></div>
            </div>
        </div>
        <div class="list-group list-group-flush">
            {% for commander in commanders %}            
                <div class="list-group-item">
                    <div class="row gx-3">
                        <div class="col-4">
                            <div class="row gy-1 gx-3">
                                <div id="renamebox{{ commander.cmd_id }}" class="hidden">
                                    <form action='?' method='get' class="row gx-2">
                                        <input type='hidden' name='a' value='rename'>
                                        <input type='hidden' name='id' value='{{ commander.cmd_id }}'>
                                        <div class="col"><input type='text' class="form-control" name='name' size="28" maxlength="32" value='{{ commander.cmd_name }}'></div>
                                        <div class="col-auto"><input type='submit' value='OK' class="btn btn-primary"></div>
                                        <div class="col-auto"><button type="button" onclick='hide();' class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button></div>
                                    </form>
                                </div>
                                <div id="renameref{{ commander.cmd_id }}" class="col">
                                    <span class="text-normal"><i class="fa-fw fas fa-user-astronaut"></i></span>
                                    {{ commander.cmd_name }}
                                    <a href="#" name="{{ commander.cmd_name }}" class="ms-1" onclick="return show('renameref{{ commander.cmd_id }}','renamebox{{ commander.cmd_id }}')" data-bs-toggle="tooltip" data-bs-title="Renommer"><i class="fa-fw fas fa-edit"></i></a>
                                </div>
                                {% if commander.can_be_fired %}
                                <div class="col-auto">
                                    <a href="?a=fire&id={{ commander.cmd_id }}" onclick="return confirmFireCommander('{{ commander.cmd_name }}')">Renvoyer</a>
                                </div>
                                {% endif %}
                                <div class="col-12"></div>
                                <div class="col-3 text-end"><span class="text-normal">Salaire</span></div>
                                <div class="col-9">
                                    <img src="{{ PATH_IMAGES }}img/interface/credits.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits" width="16px" height="16px">
                                    <span>{{ commander.salary|intcomma }}</span>
                                </div>
                                <div class="col-3 text-end"><span class="text-normal">Engagé</span></div>
                                <div class="col-9"><span class="text-normal">{{ commander.recruited|timezone:"Europe/Paris"|date:"d M Y H:i" }}</span></div>
                                <div class="col-3 text-end"><span class="text-normal">Affectation</span></div>
                                <div class="col-9">
                                    {% if commander.planet_id %}
                                        <img src="{{ PATH_IMAGES }}img/interface/planet.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Planète">
                                        <script>putplanet("{{commander.planet_id}}","{{commander.planet_name}}","{{commander.galaxy}}","{{commander.sector}}","{{commander.planet}}", 2);</script>
                                    {% elif commander.fleet_id %}
                                        <img src="{{ PATH_IMAGES }}img/interface/fleets.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Flotte">
                                        <a href="/s03/fleet/?id={{ commander.fleet_id }}" data-bs-toggle="tooltip" data-bs-title="Voir flotte">{{ commander.fleet_name }}</a>
                                    {% else %}
                                        <span class="text-normal">Aucune</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row gy-1 gx-3">
                                {% if commander.mod_production_ore %}<div class="col-12"><span class="text-success">{{ commander.mod_production_ore }}% Planète - Production de minerai</span></div>{% endif %}
                                {% if commander.mod_production_hydrocarbon %}<div class="col-12"><span class="text-success">{{ commander.mod_production_hydrocarbon }}% Planète - Production d'hydrocarbure</span></div>{% endif %}
                                {% if commander.mod_production_energy %}<div class="col-12"><span class="text-success">{{ commander.mod_production_energy }}% Planète - Production d'énergie</span></div>{% endif %}
                                {% if commander.mod_production_workers %}<div class="col-12"><span class="text-success">{{ commander.mod_production_workers }}% Planète - Formation des travailleurs</span></div>{% endif %}
                                {% if commander.mod_construction_speed_buildings %}<div class="col-12"><span class="text-success">{{ commander.mod_construction_speed_buildings }}% Planète - Vitesse de construction des bâtiments</span></div>{% endif %}
                                {% if commander.mod_construction_speed_ships %}<div class="col-12"><span class="text-success">{{ commander.mod_construction_speed_ships }}% Planète - Vitesse de construction des vaisseaux</span></div>{% endif %}
                                {% if commander.mod_fleet_speed %}<div class="col-12"><span class="text-success">{{ commander.mod_fleet_speed }}% Flotte - Vitesse</span></div>{% endif %}
                                {% if commander.mod_fleet_shield %}<div class="col-12"><span class="text-success">{{ commander.mod_fleet_shield }}% Flotte - Bouclier</span></div>{% endif %}
                                {% if commander.mod_fleet_handling %}<div class="col-12"><span class="text-success">{{ commander.mod_fleet_handling }}% Flotte - Manœuvrabilité</span></div>{% endif %}
                                {% if commander.mod_fleet_tracking_speed %}<div class="col-12"><span class="text-success">{{ commander.mod_fleet_tracking_speed }}% Flotte - Ciblage</span></div>{% endif %}
                                {% if commander.mod_fleet_damage %}<div class="col-12"><span class="text-success">{{ commander.mod_fleet_damage }}% Flotte - Dégats</span></div>{% endif %}
                                {% if commander.mod_fleet_signature %}<div class="col-12"><span class="text-success">{{ commander.mod_fleet_signature }}% Flotte - Réduction signature</span></div>{% endif %}
                                {% if commander.points %}
                                    <div class="col-12">
                                        <a href="?a=skills&id={{ commander.cmd_id }}">Répartir les {{ commander.points }} points de compétences restants</a>
                                    </div>
                                {% endif %}
                                {% if commander.can_train %}
                                    <div class="col-12">
                                        <a href="?a=train&id={{ commander.cmd_id }}" onclick="return confirmTrain('{{ commander.train_cost|intcomma }}')">
                                            Entrainement intensif pour
                                            <img src="{{ PATH_IMAGES }}img/interface/prestige.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige">
                                            {{ commander.train_cost|intcomma }}
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="col-12">
                                        <span class="text-danger">Vous ne pouvez entrainer ce commandant qu'une fois par jour</span>
                                    </div>
                                {% endif %}
                                {% if commander.cant_train_anymore %}
                                    <div class="col-12">
                                        <span class="text-danger">Vous ne pouvez pas entrainer ce commandant plus</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <span class="text-normal">Aucun actuellement</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% if available_commanders %}
    <div class="mt-3 card">
        <div class="card-header">
            <span class="fs-6">Commandants pouvant être recrutés</span>
        </div>
        <div class="list-group list-group-flush">
            {% for commander in available_commanders %}
                <div class="list-group-item">
                    <div class="row gx-3">
                        <div class="col-4">
                            <div class="row gy-1 gx-3">
                                <div class="col">
                                    <span class="text-normal"><i class="fa-fw fas fa-user-astronaut"></i></span>
                                    {{ commander.cmd_name }}
                                </div>
                                {% if can_engage %}
                                <div class="col-auto">
                                    <a href="?a=engage&id={{ commander.cmd_id }}" onclick="return confirmEngageCommander('{{ commander.cmd_name }}')">Engager</a>
                                </div>
                                {% endif %}
                                <div class="col-12"></div>
                                <div class="col-3 text-end"><span class="text-normal">Salaire</span></div>
                                <div class="col-9">
                                    <img src="{{ PATH_IMAGES }}img/interface/credits.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits" width="16px" height="16px">
                                    <span>{{ commander.salary|intcomma }}</span>
                                </div>
                                <div class="col-3 text-end"><span class="text-normal">Repéré le</span></div>
                                <div class="col-9"><span class="text-normal">{{ commander.added|timezone:"Europe/Paris"|date:"d M Y H:i" }}</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row gy-1 gx-3">
                                {% if commander.mod_production_ore %}<div class="col-12"><span class="text-success">{{ commander.mod_production_ore }}% Planète - Production de minerai</span></div>{% endif %}
                                {% if commander.mod_production_hydrocarbon %}<div class="col-12"><span class="text-success">{{ commander.mod_production_hydrocarbon }}% Planète - Production d'hydrocarbure</span></div>{% endif %}
                                {% if commander.mod_production_energy %}<div class="col-12"><span class="text-success">{{ commander.mod_production_energy }}% Planète - Production d'énergie</span></div>{% endif %}
                                {% if commander.mod_production_workers %}<div class="col-12"><span class="text-success">{{ commander.mod_production_workers }}% Planète - Formation des travailleurs</span></div>{% endif %}
                                {% if commander.mod_construction_speed_buildings %}<div class="col-12"><span class="text-success">{{ commander.mod_construction_speed_buildings }}% Planète - Vitesse de construction des bâtiments</span></div>{% endif %}
                                {% if commander.mod_construction_speed_ships %}<div class="col-12"><span class="text-success">{{ commander.mod_construction_speed_ships }}% Planète - Vitesse de construction des vaisseaux</span></div>{% endif %}
                                {% if commander.mod_fleet_speed %}<div class="col-12"><span class="text-success">{{ commander.mod_fleet_speed }}% Flotte - Vitesse</span></div>{% endif %}
                                {% if commander.mod_fleet_shield %}<div class="col-12"><span class="text-success">{{ commander.mod_fleet_shield }}% Flotte - Bouclier</span></div>{% endif %}
                                {% if commander.mod_fleet_handling %}<div class="col-12"><span class="text-success">{{ commander.mod_fleet_handling }}% Flotte - Manœuvrabilité</span></div>{% endif %}
                                {% if commander.mod_fleet_tracking_speed %}<div class="col-12"><span class="text-success">{{ commander.mod_fleet_tracking_speed }}% Flotte - Ciblage</span></div>{% endif %}
                                {% if commander.mod_fleet_damage %}<div class="col-12"><span class="text-success">{{ commander.mod_fleet_damage }}% Flotte - Dégats</span></div>{% endif %}
                                {% if commander.mod_fleet_signature %}<div class="col-12"><span class="text-success">{{ commander.mod_fleet_signature }}% Flotte - Réduction signature</span></div>{% endif %}
                                {% if commander.points %}
                                    <div class="col-12">
                                        {{ commander.points }} points de compétences restants à distribuer
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <span class="text-normal">Aucun actuellement</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% if commander %}
<script>
    function confirmAssign() {
    
        var s = "";
        var obj = document.getElementById('points');
        if (obj.innerHTML != "0") s = "Note: Vous pourrez assigner les points restants plus tard.\r\n";
        return confirm("Les compétences assignées à ce commandant seront définitives.\r\n" + s + "\r\nÊtes-vous sûr de votre choix ?");
    }

    var count = 0;
    var skills = [];
    var points = {{ commander.points }};

    function sk(i,j) {
    
        var skill = skills[i];

        var inp = $(skill.name);

        if (points - j < 0) return false;

        var pointsInSkill = parseInt(inp.value);

        if (pointsInSkill + j >= 0 && points-j >= 0) {
        
            pointsInSkill += j;

            var obj = $('span' + skill.name);

            if ((skill.value + pointsInSkill * skill.inc).toFixed(2) > skill.max) {
            
                alert('Limite atteinte pour cette compétence (' + ((skill.max - 1) * 100).toFixed(0) + ')');
                return false;
            }

            obj.innerHTML = Math.round((skill.value + pointsInSkill * skill.inc - 1) * 100);
            inp.value = pointsInSkill;
            
            var obj = $('div' + skill.name);
            obj.className = 'col-auto ' + ((skill.value + pointsInSkill * skill.inc) > 1 ? 'text-success' : 'text-normal')
            
            points -= j;
        }

        $('points').innerHTML = points;

        return false;
    }

    function addskill(name, label, increase, value, max, salary) {
    
        skills[count] = { name:name, inc:increase, value:value, max:max };
        document.write('<input type="hidden" id="' + name + '" name="' + name + '" value="0">');
        document.write(
            '<div class="col-12">' +
                '<div class="row gx-3 align-items-center">' +
                    '<div class="col-auto"><span class="text-normal"><i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="' +
                        '<div><small class=\'text-normal me-3\'>max</small> ' + Math.round((max - 1) * 100) + '%</div>' +
                        '<div><small class=\'text-normal me-3\'>salaire</small> <span class=\'text-success\'>+' + Math.round(increase * 100) + '%</span> <i class=\'fas fa-long-arrow-alt-right text-normal mx-2\'></i> <img src=\'{{ PATH_IMAGES }}img/interface/credits.gif\' class=\'res\' width=\'16px\' height=\'16px\'> +' + formatnumber(salary) + '</div>' +
                    '"></i></span></div>' +
                    '<div class="col"><span class="text-normal">' + label + '</span></div>' +
                    '<div id="div' + name + '" class="col-auto ' + (value > 1 ? 'text-success' : 'text-normal') + '">+<span id="span' + name + '">' + Math.round((value - 1) * 100) + '</span>%</div>' +
                    '<div class="col-auto"><a href="" onclick="return sk(' + count + ',1)" ondblclick="return sk(' + count + ',1)"><i class="fa-fw fas fa-plus-circle"></i></a></div>' +
                    '<div class="col-auto"><a href="" onclick="return sk(' + count + ',-1)" ondblclick="return sk(' + count + ',-1)"><i class="fa-fw fas fa-minus-circle"></i></a></div>' +
                '</div>' +
            '</div>'
        );
        count++;
    }
</script>
<form action="?" method="post">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ commander.id }}" />
    <div class="card">
        <div class="card-header">
            <a href="/s03/commanders/" class="me-2"><i class="fa-fw fas fa-long-arrow-alt-left"></i> Retour</a>
            <span class="fs-6"><span class="text-normal"><i class="fa-fw fas fa-user-astronaut"></i></span> {{ commander.name }}</span>
        </div>
        <div class="card-body">
            <div class="row gx-3 gy-3">
                <div class="col-6">
                    <div class="row g-1 flex-column">
                        <script>
                            addskill('fleet_speed', 'Flotte - Vitesse', 0.02, {{ commander.mod_fleet_speed }}, 1.3, 1000);
                            addskill('fleet_shield', 'Flotte - Bouclier', 0.02, {{ commander.mod_fleet_shield }}, 1.4, 1000);
                            addskill('fleet_handling', 'Flotte - Manœuvrabilité', 0.05, {{ commander.mod_fleet_handling }}, 1.75, 1000);
                            addskill('fleet_targeting', 'Flotte - Ciblage', 0.05, {{ commander.mod_fleet_tracking_speed }}, 1.75, 1000);
                            addskill('fleet_damages', 'Flotte - Dégats', 0.02, {{ commander.mod_fleet_damage }}, 1.3, 1000);
                            addskill('fleet_signature', 'Flotte - Réduction signature', 0.02, {{ commander.mod_fleet_signature }}, 1.2, 400);
                        </script>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row g-1 flex-column">
                        <script>
                            addskill('ore', 'Planète - Production de minerai', 0.01, {{ commander.mod_production_ore }}, 2.0, 100);
                            addskill('hydrocarbon', 'Planète - Production d\'hydrocarbure', 0.01, {{ commander.mod_production_hydrocarbon }}, 2.0, 100);
                            addskill('energy', 'Planète - Production d\'énergie', 0.1, {{ commander.mod_production_energy }}, 2.0, 1000);
                            addskill('workers', 'Planète - Formation des travailleurs', 0.1, {{ commander.mod_production_workers }}, 2.0, 1000);
                            addskill('buildindspeed', 'Planète - Vitesse de construction des bâtiments', 0.05, {{ commander.mod_construction_speed_buildings }}, 3.0, 1000);
                            addskill('shipconstructionspeed', 'Planète - Vitesse de construction des vaisseaux', 0.05, {{ commander.mod_construction_speed_ships }}, 3.0, 2500);
                        </script>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row gx-3 align-items-center justify-content-end">
                        <div class="col-auto">
                            <span class="text-normal">Points restant</span>
                            <span id="points">{{ commander.points }}</span>
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary" value="Valider" onclick="return confirmAssign()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
</div>
{% endblock %}
