{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    <div class="nav nav-tabs mb-2">
        <div class="nav-item">
            <a href="/s03/empire-planets/" class="nav-link">Aperçu</a>
        </div>
        <div class="nav-item">
            <a href="/s03/market-buy/" class="nav-link">Achats</a>
        </div>
        <div class="nav-item">
            <a href="/s03/market-sell/" class="nav-link">Ventes</a>
        </div>
        <div class="nav-item">
            <a href="/s03/empire-ground/" class="nav-link active">Au sol</a>
        </div>
    </div>
    <div class="scroll-content pe-1" style="height:calc(100% - 44px);">
        <div class="row gx-2 gy-2">
            {% for planet in planets %}
                <div class="col-12 col-lg-6">
                    <div class="h-100 card {% if planet.is_current %}bg-success{% endif %}">
                        <div class="card-header">
                            <div class="row gx-2">
                                <div class="col-auto">
                                    <img src="{{ PATH_IMAGES }}planets/p{{ planet.img }}.gif"
                                         width="38px"
                                         class="rounded"/>
                                </div>
                                <div class="col">
                                    <div class="row g-1 flex-column">
                                        <div class="col-12">
                                            <span>{{ planet.planetname }}</span>
                                        </div>
                                        <div class="col-12">
                                            <div class="row gx-3">
                                                <div class="col">
                                                    <a href="/s03/map/?g={{ planet.galaxy }}&s={{ planet.sector }}" data-bs-toggle="tooltip" data-bs-title="Carte spatiale"><i class="fa-fw fas fa-map"></i> {{ planet.g }}.{{ planet.s }}.{{ planet.p }}</a>
                                                </div>
                                                {% if planet.commanderid %}
                                                    <div class="col-auto">
                                                        <a href="/s03/empire-commanders/#{{ planet.commander_name }}" data-bs-toggle="tooltip" data-bs-title="Commandant"><i class="fa-fw fas fa-user-astronaut"></i></a>
                                                    </div>
                                                {% endif %}
                                                <div class="col-auto">
                                                    <a href="/s03/planet-view/?planet={{ planet.planetid }}" data-bs-toggle="tooltip" data-bs-title="Planète"><i class="fa-fw fas fa-eye"></i></a>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="/s03/planet-buildings/?planet={{ planet.planetid }}" data-bs-toggle="tooltip" data-bs-title="Bâtiments"><i class="fa-fw fas fa-building"></i></a>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="/s03/planet-ships/?planet={{ planet.planetid }}" data-bs-toggle="tooltip" data-bs-title="Vaisseaux"><i class="fa-fw fas fa-rocket"></i></a>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="/s03/planet-trainings/?planet={{ planet.planetid }}" data-bs-toggle="tooltip" data-bs-title="Entraînements"><i class="fa-fw fas fa-users"></i></a>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="/s03/planet-orbit/?planet={{ planet.planetid }}" data-bs-toggle="tooltip" data-bs-title="Orbite"><i class="fa-fw fas fa-dot-circle"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row g-1">
                                {% for ship in planet.ships %}
                                    <div class="col-12">
                                        <div class="row gx-3">
                                            <div class="col">
                                                <span class="text-normal">{{ ship.ship }}</span>
                                            </div>
                                            <div class="col-auto">{{ ship.quantity|intcomma }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <span class="text-normal">Aucun vaisseau au sol</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
