{% extends 's03/layout.html' %}

{% load tz %}
{% load humanize %}
{% load bbcode_tags %}

{% block content %}

<script>
function sig(signature) {

	if (signature > 0) document.write(formatnumber(signature))
	else document.write('Indéterminé')
}
</script>

<div class="row g-3">
    {% if motd %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <span>Annonce de l'alliance</span>
            </div>
            <div class="card-body">
            
                <p>
                    {% if defcon_5 %}<b>DEFCON 5</b>: Préparation normale en temps de paix{% endif %}
                    {% if defcon_4 %}<b>DEFCON 4</b>: Préparation normale, mais renseignement accru et mesures de sécurité renforcées{% endif %}
                    {% if defcon_3 %}<b>DEFCON 3</b>: Accroissement de la préparation des forces au-dessus de la préparation normale{% endif %}
                    {% if defcon_2 %}<b>DEFCON 2</b>: Accroissement supplémentaire dans la préparation des forces{% endif %}
                    {% if defcon_1 %}<b>DEFCON 1</b>: Préparation maximale des forces (état de guerre){% endif %}
                </p>
                
                <div>{{motd|escape|safe|bbcode}}</div>
                
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <span>Statistiques de votre empire - {{date|timezone:"Europe/Paris"|date:"d M Y H:i:s"}}</span>
            </div>
            <div class="card-body">
                <div class="row gx-3">
                    <div class="col">
                        <div class="row g-1">
                            
                            <div class="col-12">
                                <div class="row gx-2 flex-nowrap align-items-center">
                                    <div class="col-auto text-normal">Nation</div>
                                    <div class="col-auto">{% if orientation1 %}Marchand {% endif %}{% if orientation2 %}Militaire {% endif %}{% if orientation3 %}Scientifique {% endif %}</div>
                                    <div class="col-auto text-player">{{nation}}</div>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="row gx-2 flex-nowrap align-items-center">
                                    <div class="col-auto text-normal">Grade</div>
                                    <div class="col-auto">{% if alliance %}{{alliance_rank_label}} de <a href="/s03/alliance-view/?tag={{alliance_tag}}">[{{alliance_tag}}] {{alliance_name}}</a>{% endif %}{% if no_alliance %}Indépendant{% endif %}</div>
                                </div>
                            </div>
                                
                            <div class="col-12">
                                <div class="row gx-2 flex-nowrap align-items-baseline">
                                    <div class="col-auto text-normal">Score</div>
                                    <div class="col-auto">{{stat_score|intcomma}}</div>
                                    <div class="col-auto small {% if plus %}text-success{% endif %}{% if minus %}text-danger{% endif %}">{% if plus %}+{% endif %}{{stat_score_delta|intcomma}}</div>
                                    <div class="col-auto small"><a href="/s03/ranking-players/">{{stat_rank|intcomma}} <small>/{{stat_players|intcomma}}</small></a></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="row g-1">
                            
                            <div class="col-12">
                                <div class="row gx-2 flex-nowrap align-items-center">
                                    <div class="col-auto text-normal">Planètes</div>
                                    <div class="col-auto">{{stat_colonies|intcomma}} <small class="text-normal">/{{stat_maxcolonies|intcomma}}</small></div>
                                </div>
                            </div>
                                
                            <div class="col-12">
                                <div class="row gx-2 flex-nowrap align-items-center">
                                    <div class="col-auto text-normal">Minerai</div>
                                    <div class="col-auto">{{stat_prod_ore|intcomma}} <small class="text-normal">/heure</small></div>
                                </div>
                            </div>
                                
                            <div class="col-12">
                                <div class="row gx-2 flex-nowrap align-items-center">
                                    <div class="col-auto text-normal">Hydrocarbure</div>
                                    <div class="col-auto">{{stat_prod_hydrocarbon|intcomma}} <small class="text-normal">/heure</small></div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col">
                        <div class="row g-1">
                            
                            <div class="col-12">
                                <div class="row gx-2 flex-nowrap align-items-center">
                                    <div class="col-auto text-normal">Travailleurs</div>
                                    <div class="col-auto">{{stat_workers|intcomma}}</div>
                                </div>
                            </div>
                                
                            <div class="col-12">
                                <div class="row gx-2 flex-nowrap align-items-center">
                                    <div class="col-auto text-normal">Scientifiques</div>
                                    <div class="col-auto">{{stat_scientists|intcomma}}</div>
                                </div>
                            </div>
                                
                            <div class="col-12">
                                <div class="row gx-2 flex-nowrap align-items-center">
                                    <div class="col-auto text-normal">Soldats</div>
                                    <div class="col-auto">{{stat_soldiers|intcomma}}</div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <span>Mouvements en cours</span>
            </div>
            <div class="list-group list-group-flush">
                {% for fleet in fleets %}
                <div class="list-group-item">
                    <div class="row gx-2 flex-nowrap align-items-baseline">
                        <div class="col-auto">
                            {% if fleet.owned %}
                                {% if fleet.attack %}<img src="{{PATH_IMAGES}}interface/stance_attack.gif" class="stance" width="10" height="10" />{% endif %}
                                {% if fleet.defend %}<img src="{{PATH_IMAGES}}interface/stance_defend.gif" class="stance" width="10" height="10" />{% endif %}
                                <a href="/s03/fleet-view/?id={{fleet.id}}" class="self">{{fleet.name}}</a>
                            {% elif fleet.ally %}<a href="/s03/mails/?to={{fleet.name}}" class="ally">{{fleet.name}}</a>
                            {% elif fleet.friend %}<a href="/s03/mails/?to={{fleet.name}}" class="friend">{{fleet.name}}</a>
                            {% elif fleet.hostile %}<a href="/s03/profile-view/?name={{fleet.name}}" class="enemy">{{fleet.name}}</a>
                            {% endif %}
                        </div>
                        <div class="col small">
                            <script>sig({{fleet.signature}})</script>
                        </div>
                        <div class="col-auto">
                            {% if fleet.movingfrom %}<script>putplanet("{{fleet.f_planetid}}","{{fleet.f_planetname}}","{{fleet.f_g}}","{{fleet.f_s}}","{{fleet.f_p}}",{{fleet.f_relation}});</script>
                            {% else %}<span class="text-normal">Planète inconnue</span>
                            {% endif %}
                        </div>
                        <div class="col-auto text-normal"><i class="fa-fw fas fa-long-arrow-alt-right"></i></div>
                        <div class="col-auto"><script>putplanet('{{fleet.t_planetid}}', '{{fleet.t_planetname}}', '{{fleet.t_g}}', '{{fleet.t_s}}', '{{fleet.t_p}}', {{fleet.t_relation}})</script></div>
                        <div class="col-auto text-yellow"><script>putcountdown1({{fleet.time}}, 'Terminé', '/s03/empire-view/')</script></div>
                    </div>
                </div>
                {% empty %}
                <div class="list-group-item">
                    <span class="text-normal">Aucun mouvement en cours</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <span>Coût d'entretien</span>
            </div>
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <div class="row gx-3">
                        <div class="col">
                            <div class="row g-1">
                        
                                <div class="col-12">
                                    <div class="row gx-2 flex-nowrap align-items-center">
                                        <div class="col-auto text-normal">Vaisseaux</div>
                                        <div class="col-auto">{{ships_estimated_cost|intcomma}}</div>
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                    <div class="row gx-2 flex-nowrap align-items-center">
                                        <div class="col-auto text-normal">Vaisseaux en position</div>
                                        <div class="col-auto">{{ships_in_position_estimated_cost|intcomma}}</div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="row gx-2 flex-nowrap align-items-center">
                                        <div class="col-auto text-normal">Vaisseaux posés</div>
                                        <div class="col-auto">{{ships_parked_estimated_cost|intcomma}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col">
                            <div class="row g-1">
                            
                                <div class="col-12">
                                    <div class="row gx-2 flex-nowrap align-items-center">
                                        <div class="col-auto text-normal">Commandants</div>
                                        <div class="col-auto">{{commanders_estimated_cost|intcomma}}</div>
                                    </div>
                                </div>
                            
                                <div class="col-12">
                                    <div class="row gx-2 flex-nowrap align-items-center">
                                        <div class="col-auto text-normal">Planètes</div>
                                        <div class="col-auto">{{planets_estimated_cost|intcomma}}</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="row g-1">
                        
                                <div class="col-12">
                                    <div class="row gx-2 flex-nowrap align-items-center">
                                        <div class="col-auto text-normal">Scientifiques</div>
                                        <div class="col-auto">{{scientists_estimated_cost|intcomma}}</div>
                                    </div>
                                </div>
                            
                                <div class="col-12">
                                    <div class="row gx-2 flex-nowrap align-items-center">
                                        <div class="col-auto text-normal">Soldats</div>
                                        <div class="col-auto">{{soldiers_estimated_cost|intcomma}}</div>
                                    </div>                        
                                </div>                        
                                
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <span class="text-normal">Les coûts d'entretien et de fonctionnement estimés pour la prochaine période s'élèvent à</span> <img src="/static/assets/interface/credits.gif" class="res" width="16px">{{total_estimation|intcomma}}.
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <span>Recherche en cours</span>
            </div>
            <div class="card-body">
                {% if research %}
                    <div class="row gx-2 flex-nowrap align-items-center">
                        <div class="col"><a href="/s03/empire-techs/#{{researchid}}">{{researchlabel}}</a></div>
                        <div class="col-auto text-yellow"><script>putcountdown1({{researchtime}}, 'Terminé', '/s03/empire-techs/')</script></div>
                    </div>
                {% else %}
                    <a href="/s03/empire-techs/">Aucune recherche en cours</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <span>Bâtiments en construction</span>
            </div>
            <div class="list-group list-group-flush">
                {% for item in constructionyards %}
                <div class="list-group-item">
                    <div class="row g-1">
                        <div class="col-12">
                            <a href="/s03/planet-buildings/?planet={{item.planetid}}"><small>{{item.galaxy}}.{{item.sector}}.{{item.planet}}</small> {{item.planetname}}</a>
                        </div>
                        {% for building in item.buildings %}
                        <div class="col-12">
                            <div class="row gx-2 flex-nowrap align-items-center">
                                <div class="col {% if building.destroy %}text-danger{% endif %}">{{building.building}}</div>
                                <div class="col-auto text-yellow"><script>putcountdown1({{building.time}}, 'Terminé', '/s03/planet-buildings/?planet={{item.planetid}}#{{building.buildingid}}')</script></div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-12">
                            <span class="text-normal">Aucune construction en cours</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <span>Vaisseaux en construction</span>
            </div>
            <div class="list-group list-group-flush">
                {% for planet in shipyards %}
                <div class="list-group-item">
                    <div class="row g-1">
                        <div class="col-12">
                            <a href="/s03/planet-ships/?planet={{planet.planetid}}"><small>{{planet.galaxy}}.{{planet.sector}}.{{planet.planet}}</small> {{planet.planetname}}</a>
                        </div>
                        <div class="col-12">
                            {% if planet.ship %}
                            <div class="row gx-2 flex-nowrap align-items-center">
                                <div class="col {% if planet.recycle %}text-danger{% endif %}">{{planet.shiplabel}}</div>
                                <div class="col-auto text-yellow"><script>putcountdown1({{planet.time}}, 'Terminé', '/s03/planet-ships/?planet={{planet.planetid}}&f=0#{{planet.shipid}}')</script></div>
                            </div>
                            {% elif planet.waiting_resources %}
                            <div class="row gx-2 flex-nowrap align-items-center">
                                <div class="col">{{planet.waiting_ship}}</div>
                                <div class="col-auto text-danger">En attente de ressources</div>
                            </div>
                            {% elif planet.none %}
                            <span class="text-normal">Aucune construction en cours</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="list-group-item">
                    <span class="text-normal">Aucune chantier spatial</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}