{% extends 's03/layout.html' %}

{% load humanize %}

{% block content %}

<div class="nav nav-tabs mb-3">
    <div class="nav-item"><a href="/s03/empire-fleets/" class="nav-link active">Flottes</a></div>
    <div class="nav-item"><a href="/s03/empire-orbiting/" class="nav-link">Flottes en orbite</a></div>
    <div class="nav-item"><a href="/s03/empire-ground/" class="nav-link">Vaisseaux au sol</a></div>
    <div class="nav-item"><a href="/s03/empire-stats/" class="nav-link">Détruits / perdus</a></div>
</div>  

<div class="card">
    <div class="list-group list-group-flush">
        {% for fleet in fleets %}
        <div class="list-group-item">
            <div class="row gx-3">
                <div class="col">
                    {% if fleet.stance %}<img src="{{PATH_IMAGES}}interface/stance_attack.gif" class="stance" width="10" height="10" />
                    {% else %}<img src="{{PATH_IMAGES}}interface/stance_defend.gif" class="stance" width="10" height="10" />
                    {% endif %}
                    <a href="/s03/fleet-view/?id={{fleet.id}}">{{fleet.name}}</a>
                    <small class="ms-1">{{fleet.signature|intcomma}}</small>
                </div>
                {% if fleet.commandername %}
                <div class="col-2 text-end">
                    {{fleet.commandername}}
                </div>
                {% endif %}
                <div class="col-2 text-end">
                    {{fleet.size|intcomma}}
                    <small class="text-normal">ships</small>
                </div>
                <div class="col-2 text-end">
                    {{fleet.cargo_load|intcomma}} <small class="text-normal">/{{fleet.cargo_capacity|intcomma}}</small>
                </div>
                <div class="col-4 text-end">
                    <script>putplanet('{{fleet.planetid}}', '{{fleet.planetname}}', '{{fleet.g}}', '{{fleet.s}}', '{{fleet.p}}', {{fleet.relation}})</script>
                    {% if fleet.t_planetid %}
                    <small class="text-normal"><i class="fa-fw fas fa-long-arrow-alt-right"></i></small>
                    <script>putplanet('{{fleet.t_planetid}}', '{{fleet.t_planetname}}', '{{fleet.t_g}}', '{{fleet.t_s}}', '{{fleet.t_p}}', {{fleet.t_relation}})</script>
                    <span class="ms-2 text-yellow"><script>putcountdown1({{fleet.time}}, 'Terminé', '/s03/empire-fleets/')</script></span>
                    {% elif fleet.action == 2 %}
                    <span class="ms-2">Recyclage</span>
                    <span class="ms-2 text-yellow"><script>putcountdown1({{fleet.time}}, 'Terminé', '/s03/empire-fleets/')</script></span>
                    {% elif fleet.action == 4 %}
                    <span class="ms-2">Attente</span>
                    <span class="ms-2 text-yellow"><script>putcountdown1({{fleet.time}}, 'Terminé', '/s03/empire-fleets/')</script></span>
                    {% elif fleet.action == x %}
                    <span class="ms-2 text-danger">Combat</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}