{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    <div class="nav nav-tabs mb-3">
        <div class="nav-item">
            <a href="/s03/empire-fleets/" class="nav-link">Flottes</a>
        </div>
        <div class="nav-item">
            <a href="/s03/empire-orbiting/" class="nav-link">Flottes en orbite</a>
        </div>
        <div class="nav-item">
            <a href="/s03/empire-ground/" class="nav-link active">Vaisseaux au sol</a>
        </div>
        <div class="nav-item">
            <a href="/s03/empire-stats/" class="nav-link">Détruits / perdus</a>
        </div>
    </div>
    <div class="row g-3">
        {% for planet in planets %}
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row gx-3">
                            <div class="col">
                                <a href="/s03/map/?g={{ planet.g }}&s={{ planet.s }}">{{ planet.g }}.{{ planet.s }}.{{ planet.p }}</a>
                            </div>
                            <div class="col-auto">
                                <a href="/s03/planet-orbit/?planet={{ planet.planetid }}">{{ planet.planetname }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row g-1">
                            {% for ship in planet.ships %}
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col">
                                            <span class="text-normal">{{ ship.ship }}</span>
                                        </div>
                                        <div class="col-auto">{{ ship.quantity|intcomma }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="card card-body">
                    <span class="text-normal">Aucun vaisseau au sol</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
