{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    <div id="fleets_ships_stats">
        <table class="default" width="800">
            <tr class="header">
                <td>Vaisseau</td>
                <td width=100>Détruits</td>
                <td width=100>Perdus</td>
            </tr>
            {% if no_ship %}
                <tr>
                    <td colspan="3">
                        <p class="error">Vous n'avez détruit et/ou perdu aucun vaisseau.</p>
                    </td>
                </tr>
            {% endif %}
            {% for category in cats %}
                <tr class="category">
                    <td colspan="3">
                        {% if category.id == 10 %}Vaisseaux utilitaires{% endif %}
                        {% if category.id == 11 %}Vaisseaux de déploiement{% endif %}
                        {% if category.id == 15 %}Vaisseaux tactiques{% endif %}
                        {% if category.id == 20 %}Vaisseaux légers{% endif %}
                        {% if category.id == 30 %}Corvettes{% endif %}
                        {% if category.id == 40 %}Frégates{% endif %}
                        {% if category.id == 50 %}Croiseurs{% endif %}
                        {% if category.id == 60 %}Dreadnought{% endif %}
                        {% if category.id == 80 %}Titan{% endif %}
                        {% if category.id == 90 %}Plateforme de défense{% endif %}
                        &nbsp;
                    </td>
                </tr>
                {% for ship in category.ships %}
                    <tr align="right" class="item">
                        <td nowrap align="left">
                            <a href="/s03/help/?cat=ships#{{ ship.id }}"><b>{{ ship.name }}</b></a>
                        </td>
                        <td align="right">{{ ship.killed|intcomma }}</td>
                        <td align="right">{{ ship.lost|intcomma }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            {% if total %}
                <tr>
                    <td class="clear">&nbsp;</td>
                    <td align="right">{{ kills|intcomma }}</td>
                    <td align="right">{{ losses|intcomma }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}
