{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    {% if master %}
        <script type="text/javascript"
                src='/static/scripts/third-party/tooltip.js?v=1'></script>
        <script>
            tipname = "hint";
            tipwidth = 250;
            tiptext = $("hinttext");
        </script>
        <script type="text/javascript">
            var resources = [];
            resources[1] = { image:'ore', label:'Minerai' };
            resources[2] = { image:'hydrocarbon', label:'Hydrocarbure' };
            resources[3] = { image:'scientists', label:'Scientifiques' };
            resources[4] = { image:'soldiers', label:'Soldats' };
            resources[5] = { image:'workers', label:'Travailleurs' };

            var categories = [];
            var activeCategory = 0;
            var fleetList = [];
            var currentList = [];
            var sortColumn = 0;
            var sortReversed = false;
            var lastUpdate = null;

            function Category(id, name) {
            
                this.id = id;
                this.name = name;
            }

            function Planet(id, name, relation, g, s, p) {
            
                this.id = id;
                this.name = name;
                this.relation = relation;
                this.g = g;
                this.s = s;
                this.p = p;

                this.toString = function() {
                    if (this.id != 0)
                        return planet_str(this.id,this.name,this.g,this.s,this.p,this.relation);
                    else
                        return 'Indéterminé';
                }
            }

            function Resource(id, quantity) {
            
                this.id = id;
                this.quantity = quantity;
            }

            function Ship(id, quantity) {
            
                this.id = id;
                this.quantity = quantity;
            }

            function Fleet(id, name, category, stance, size, signature, cargoload, cargocapacity, action, timeremaining, commandername, position, destination, ships, resources) {
            
                this.id = id;
                this.name = name;
                this.category = category;
                this.stance = stance;
                this.size = size;
                this.signature = signature;
                this.cargoload = cargoload;
                this.cargocapacity = cargocapacity;
                this.position = position;
                this.destination = destination;
                this.action = action;
                this.endtime = new Date().getTime() + timeremaining*1000;
                this.commandername = commandername;
                this.ships = ships;
                this.resources = resources;

                this.remainingTime = function(){
                    return Math.max(0, Math.ceil((this.endtime - new Date().getTime())/1000));
                }
            }

            function dShipList(id) {
            
                for (var x in currentList) {
                
                    var fleet = currentList[x];
                    if (fleet.id == id) {
                    
                        var s = '<table width="100%" style="margin:0px 5px">';

                        for (var i=1;i<fleet.ships.length;i++)
                            s+= '<tr><td width="1%" nowrap align="right">' + fleet.ships[i].id + '</td><td align="left">&nbsp;x&nbsp;' + fleet.ships[i].quantity + '</td></tr>';

                        return s + '</table>';
                    }
                }

                return '';
            }

function dCargo(id) {
	for(var x in currentList){
		var fleet = currentList[x];
		if(fleet.id == id){
			var s = '<table width="100%">';
			for(var i=1;i<fleet.resources.length;i++){
				var res = fleet.resources[i];
				s+='<tr><td width="1%" nowrap><img src="{{PATH_IMAGES}}interface/' + resources[res.id].image + '.gif" width="16" height="16" class="res">' + resources[res.id].label + '</td><td width="1%" align="right" nowrap class="grey">' + res.quantity.n() + '</td></tr>';
			}
			return s + '</table>';
		}
	}

	return '';
}


function $fleet(id) {
	for(var x in fleetList)
		if(fleetList[x].id == id)
			return fleetList[x];
}

function setFleetCategory(id,oldCategory,newCategory) {
	for(var x in fleetList){
		var fleet = fleetList[x];
		if(fleet.id == id){
			if(fleet.category == oldCategory) fleet.category = newCategory;

			// update fleet list
			if(activeCategory != 0)	displayCategory(activeCategory);

			return;
		}
	}
}

// sort functions
function sortName(a,b) {
	var x = a.name.toUpperCase();
	var y = b.name.toUpperCase();

	if(x < y) return -1;
	if(x > y) return 1;

	return a.id - b.id;
}

function sortSize(a,b) {
	if(a.size < b.size) return -1;
	if(a.size > b.size) return 1;
	return sortName(a,b);
}

function sortSignature(a,b) {
	if(a.signature < b.signature) return -1;
	if(a.signature > b.signature) return 1;
	return sortName(a,b);
}

function sortCargo(a,b) {
	if(a.cargoload < b.cargoload) return -1;
	if(a.cargoload > b.cargoload) return 1;
	return sortName(a,b);
}

function sortPosition(a,b) {
	if(a.position.id < b.position.id) return -1;
	if(a.position.id > b.position.id) return 1;
	return sortName(a,b);
}

function sortAction(a,b) {
	if(a.action < b.action) return -1;
	if(a.action > b.action) return 1;

	if(a.endtime < b.endtime) return -1;
	if(a.endtime > b.endtime) return 1;

	return sortName(a,b);
}

function sortCommander(a,b) {
	var x = a.commandername.toUpperCase();
	var y = b.commandername.toUpperCase();
	if(x < y) return -1;
	if(x > y) return 1;
	return sortName(a,b);
}

function sortList(list) {
	switch(sortColumn){
		case 0:	// name
			list.sort(sortName);
		break;
		case 1: // size
			list.sort(sortSize);
		break;
		case 2: // signature
			list.sort(sortSignature);
		break;
		case 3: // cargo load
			list.sort(sortCargo);
		break;
		case 4: // position
			list.sort(sortPosition);
		break;
		case 5: // action
			list.sort(sortAction);
		break;
		case 6: // action
			list.sort(sortCommander);
		break;
	}

	if(sortReversed) list.reverse();
}

function sortBy(column) {
	if(sortColumn != column){
		sortColumn = column;
		sortReversed = false;
	}
	else
		sortReversed = !sortReversed;

	sortList(currentList);

	displayFleetList(currentList);

	return false;
}

function column(id, name) {
	var arrow='none';
	if(sortColumn == id) arrow = (sortReversed?'down':'up');
	return '<td nowrap><a href="#" onclick="return sortBy(' + id + ')">' + name +'</a>&nbsp;<img src="{{PATH_IMAGES}}interface/arrow' + arrow + '.gif" /></td>';
}

// when a countdown finishes, make the list be refreshed on next tab change
function counterFinished(c){ lastUpdate = null; }

function displayFleetList(list) {
	var ships = 0;
	var signature = 0;
	var cargoload = 0;
	var s = '<table class="default" width="100%">'+
			'<tr class="header">' + column(0,'Nom') + column(1,'Vaisseaux') + column(2,'Signature') + column(3,'Cargaison') + column(4,'Position') + column(5,'Action') + column(6,'Commandant') + '</tr>';

	for(var i=0;i<list.length;i++){
		var fleet = list[i];

		ships += fleet.size;
		signature += fleet.signature;
		cargoload += fleet.cargoload;

		var z = '<tr class="' + (i%2==0?'even':'odd') + '"><td>';

		if(fleet.stance == 1)
			z+= '<img src="{{PATH_IMAGES}}interface/stance_attack.gif" class="stance" alt="Attaque" width="10" height="10">';
		else
			z+= '<img src="{{PATH_IMAGES}}interface/stance_defend.gif" class="stance" alt="Riposte" width="10" height="10">';

		z+= '<a href="/s03/fleet/?planet=' + fleet.position.id + '&id=' + fleet.id + '" id="fleet' + fleet.id + '" onmouseover="ddrivetip(dShipList(' + fleet.id + '))" onmouseout="hideddrivetip()" nowrap><b>' + fleet.name + '</b></td>';

		z+= '<td align="right" nowrap>' + fleet.size.n() + '</td><td align="right" nowrap>' + fleet.signature.n() + '</td><td align="right"' + (fleet.cargoload > 0?'onmouseover="ddrivetip(dCargo(' + fleet.id + '))"':'')+ 'onmouseout="hideddrivetip()" nowrap>' + fleet.cargoload.n() + ' / ' + fleet.cargocapacity.n() + '</td><td>' + fleet.position + '</td>';

		z+= '<td nowrap>';
		switch(fleet.action){
			case '0':
				z+= '<span class="state_patrolling">En patrouille</span>';
			break;
			case '1':
				var c = startCountdown('fleetcountdown' + fleet.id, fleet.remainingTime(), null, '<a href="/s03/fleets/?id=' + fleet.id + '">Arrivé</a>', counterFinished);
				z+= '<span class="state_moving">En transit vers ' + fleet.destination + ' - (' + c + ')';
			break;
			case '2':
				var c = startCountdown('fleetcountdown' + fleet.id, fleet.remainingTime(), null, '<a href="/s03/fleets/?id=' + fleet.id + '">Cycle terminé</a>', counterFinished);
				z+= '<span class="state_recycling">Recyclage de ressources</span> - (' + c + ')';
			break;
			case '4':
				var c = startCountdown('fleetcountdown' + fleet.id, fleet.remainingTime(), null, '<a href="/s03/fleets/?id=' + fleet.id + '">Terminé</a>', counterFinished);
				z+= '<span class="state_waiting">En attente</span> - (' + c + ')';
			break;
			case 'x':
				z+= '<span class="state_fighting">En combat</span>';
			break;
		}
		z+= '</td>';

		z+= '<td><img src="{{PATH_IMAGES}}interface/commander.gif" width="10" height="6" class="smallicon" title="Commandant">';
		if(fleet.commandername != '' && fleet.commandername != 'None')
			z+= '<a href="/s03/commanders/#'+escape(fleet.commandername)+'">' + fleet.commandername + '</a>';
		else
			z+= '-';
		z+= '</td></tr>';

		s+= z;
	}

	s+= '<tr class="smallitem"><td nowrap>Total: <b>' + list.length.n() + '</b></td><td nowrap align="right"><b>' + ships.n() + '</b></td><td nowrap align="right"><b>' + signature.n() + '</b></td><td nowrap align="right"><b>' + cargoload.n() + '</b></td><td colspan="3" class="justhidden">&nbsp;</td></tr>'+
		'</table>';

	$('fleet_list').innerHTML = s;

	for(var i=0;i<list.length;i++) makeDraggable($('fleet'+list[i].id), list[i].id);
}

function retrieveFleetListResponse(req) {
	try {
		lastUpdate = new Date();

		if(req.status=="200")
			eval(req.responseText);
	} catch (e)	{
		window.location.reload(true);
	}
}

function displayCategory(category) {
	setCategory(category);

	var obj = $('fleet_list');
	obj.innerHTML = '';
	obj.style.visibility = 'visible';
	obj.style.display = 'block';

	var obj = $('createcategoryform');
	obj.style.visibility = 'hidden';
	obj.style.display = 'none';

	if(lastUpdate == null || new Date().getTime() - lastUpdate > 20000){
		var url = "/s03/fleets_handler/?a=list";

		openURL(url, retrieveFleetListResponse);

		return false;
	}

	if(category == -1){
		currentList = [];
		for(var x in fleetList)
			if(fleetList[x].category <= 0 || categories[fleetList[x].category] == null)
				currentList.push(fleetList[x]);
	}
	else
	if(category == 0)
		currentList = fleetList;
	else{
		currentList = [];
		for(var x in fleetList)
			if(fleetList[x].category == category)
				currentList.push(fleetList[x]);
	}

	sortList(currentList);

	displayFleetList(currentList);

	return false;
}

// drag/drop functions

var dragObject = null;
var dropCategory = null;

function makeDraggable(item, fleetid) {
	if(!item) return;
	item.onmousedown = function(ev){
		dropCategory = null;
		dragObject = $fleet(fleetid);
		{% if t %}//quand la sourie bouge faire apparaitre le tooltip (la function du	tooltip fait deja tout le travail pour nous :-){% endif %}
		document.onmousemove = function(e){
			positiontip(e);
		}
		{% if t %}// enlever le onmouseout function comme sa on est sur que le tooltip reste coller au pointer{% endif %}
		item.onmouseout = function(){
		}
		{% if t %}//quand la sourie et depresser hide le tooltip et remetre la function sur le onmouseout event{% endif %}
		document.onmouseup = function(){
			hideddrivetip();
			item.onmouseout = function(){hideddrivetip()};
		}
		ev.cancelBubble = true;
		return false;
	}
}


function startDrag(item, ev){
	dragObject = item;
	ev.cancelBubble = true;
	return false;
}

function dropTest(id, b){
	if(dragObject != null && b)
		dropCategory = id;
	else
		dropCategory = null;
}

function mouseDown(){
	dropCategory = null;
}

function mouseUp(){
	if(dragObject != null && dropCategory != null){
		var url = "/s03/fleets_handler/?a=setcat&id=" + dragObject.id + "&old=" + dragObject.category + "&new=" + dropCategory;

		openURL(url, evalResponse);
	}
	dragObject = null;
	dropCategory = null;
}

// category functions

function $tab(id){
	if(id == null)
		return $('newtab');
	else
		return $('tab'+id);
}

function setCategory(id){
	var tab = $tab(activeCategory);
	if(tab != null) tab.className = "";
	
	tab = $tab(id);
	if(tab != null) tab.className = "active";

	activeCategory = id;
}

function showNewCategoryForm(){
	setCategory(null);

	var obj = $('fleet_list');
	obj.style.visibility = "hidden";
	obj.style.display = "none";

	var obj = $('createcategoryform');
	obj.style.visibility = "visible";
	obj.style.display = "block";

	$('categoryname').focus();
}

// add, category
function addCategory(id, name){
	var newtab = $tab(null);
	var tab = $tab(id);

	// remove category
	if(tab != null && name == ''){
		$('fleets_categories').removeChild(tab);
		categories[id] == null;
		return;
	}

	// add category if not found
	if(tab == null){
		tab = document.createElement('li');
		tab.id = 'tab'+id;
		$('fleets_categories').insertBefore(tab, newtab);
	}

	tab.innerHTML = '<a href="" onclick="displayCategory('+id+'); return false;" ondblclick="editCategory(' + id + ')" onmouseover="dropTest('+id+',true)" onmouseout="dropTest('+id+',false)" onmousedown="mouseDown()" onmouseup="mouseUp()">' + name + '</a>';
	categories[id] = new Category(id, name);
}

// replace tab content with an input box to edit category name
function editCategory(id){
	if(id <= 0) return false;

	var tab = $tab(id);

	if(categories[id].editing){
		categories[id].editing = false;
		tab.innerHTML = categories[id].old;
		return false;
	}

	categories[id].editing = true;
	categories[id].old = tab.innerHTML;
	tab.innerHTML = '<form action="#" method="get" onsubmit="return renameCategory('+id+')">'+
					'<input type="text" size="20" id="editcat' + id + '" value="' + categories[id].name + '" onblur="editCategory(' + id + ')">'+
					'</form>';
	$('editcat' + id).focus();
}

var creatingCategory = false;

function createCategoryResponse(req){
	creatingCategory = false;

	try {
		if(req.status=="200")
			eval(req.responseText);
	} catch (e)	{
		window.location.reload(true);
	}
}

function createCategory(){
	var name = $('categoryname').value;
	var url = "/s03/fleets_handler/?a=newcat&name=" + encodeURIComponent(name);

	for(var x in categories)
		if(categories[x] && categories[x].id != null && (categories[x].name.toLowerCase() == name.toLowerCase())) {
			alert('Une catégorie avec ce nom existe déjà.');
			return;
		}

	creatingCategory = true;
	openURL(url, createCategoryResponse);

	return false;
}

function renameCategory(id){
	var name = $('editcat'+id).value;
	var url = '/s03/fleets_handler/?a=rencat&id=' + id + '&name=' + encodeURIComponent(name);

	for(var x in categories)
		if(categories[x] && x!=id && categories[x].id != null && (categories[x].name.toLowerCase() == name.toLowerCase())) {
			alert('Une catégorie avec ce nom existe déjà.');
			return;
		}

	creatingCategory = true;
	openURL(url, createCategoryResponse);

	return false;
}
        </script>
        <div id="fleets">
            <div>
                <ul class="htabs" id="fleets_categories">
                    <li id="newtab">
                        <a href="#" onClick="showNewCategoryForm(); return false;">&nbsp;</a>
                    </li>
                </ul>
            </div>
            <div id="fleet_list"></div>
            <div id="createcategoryform">
                <form action="#" method="get" onsubmit="return createCategory();">
                    <table class="default" width="100%">
                        <tr class="title">
                            <td>Créer une nouvelle catégorie</td>
                        </tr>
                        <tr>
                            <td align="center">
                                Nom de catégorie :
                                <input type="text" id="categoryname" maxlength="32">
                                <br/>
                                <br/>
                                Une fois la catégorie créée, vous pouvez glisser/déposer les flottes vers les onglets de la page pour changer leurs catégories.
                                <br/>
                                Pour renommer une catégorie, double cliquez sur l'onglet
                                <br/>
                                Pour supprimer une catégorie, double cliquez sur l'onglet et spécifiez un nouveau nom vide
                                <br/>
                                <br/>
                                <input type="submit" value="Créer">
                                <br/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <script type="text/javascript">
addCategory(-1, 'Sans catégorie');
addCategory(0, 'Tout');
{% for category in categories %}addCategory({{category.id}}, '{{category.label}}');{% endfor %}
{{list}}
displayCategory(activeCategory);
        </script>
    {% endif %}
{% endblock %}
