{% load humanize %}
{% if list %}
    fleetList = [];
    {% for fleet in fleets %}
        fleetList.push(new Fleet({{ fleet.id }},'{{ fleet.name }}',{{ fleet.category }},{{ fleet.stance }},{{ fleet.size }},{{ fleet.signature }},{{ fleet.cargo_load }},{{ fleet.cargo_capacity }},"{{ fleet.action }}",{{ fleet.time }},'{{ fleet.commandername }}',
        new Planet({{ fleet.planetid }},'{{ fleet.planetname }}',{{ fleet.relation }},"{{ fleet.g }}","{{ fleet.s }}","{{ fleet.p }}"),
        new Planet({{ fleet.t_planetid }},'{{ fleet.t_planetname }}',{{ fleet.t_relation }},"{{ fleet.t_g }}","{{ fleet.t_s }}","{{ fleet.t_p }}"),
        new Array(0
        {% for ship in fleet.ships %},new Ship('{{ ship.ship_label }}',{{ ship.ship_quantity }}){% endfor %}
        ),
        new Array(0
        {% for resource in fleet.resources %},new Resource({{ resource.res_id }},{{ resource.res_quantity }}){% endfor %}
        ) ));
    {% endfor %}
    displayCategory(activeCategory);
{% endif %}
{% if fleet_category_changed %}setFleetCategory({{ id }},{{old }},{{ new }});{% endif %}
{% if category %}addCategory({{ category.id }}, '{{ category.label }}');{% endif %}
{% if category_name_invalid %}alert('Nom de catégorie invalide');{% endif %}
