{% extends "s03/_layout.html" %}

{% load humanize %}

{% block content %}

    <div class="scroll-content" style="height:100%;">
        <div class="page-content">
            <div class="row g-3">

                {% include "s03/_messages.html" %}
            
                <script>
                    function getval(objname) {
                        var obj = document.getElementsByName(objname);
                        if (obj == null || obj[0] == null) return 0;
                        var s = parseInt(obj[0].value, 10);
                        if (isNaN(s)) return 0;
                        else return s;
                    }

                    function setval(objname, val) {
                        document.getElementsByName(objname)[0].value = val;
                    }

                    var resources = new Array("ore", "hydrocarbon", "scientists", "soldiers", "workers");

                    function updateresources() {
                        var rOrig = {{ fleet.cargo_load }};
                        var rNew = 0;

                        for (i = 0; i < resources.length; i++) {
                            rNew += getval("load_" + resources[i]);
                            rOrig -= getval("load_" + resources[i]);
                        }
                        
                        let disabled = false
                        if (rOrig > parseInt(document.getElementById("capacityOrig2").innerHTML.replaceAll(' ', '')) || rOrig < 0) {
                        
                            rOrig = '<span class="text-danger">' + formatnumber(rOrig) + '</span>';
                            disabled = true
                        }
                        else rOrig = formatnumber(rOrig)
                        
                        if (rNew > parseInt(document.getElementById("capacityNew2").innerHTML.replaceAll(' ', '')) || rNew < 0) {
                        
                            rNew = '<span class="text-danger">' + formatnumber(rNew) + '</span>';
                            disabled = true
                        }
                        else rNew = formatnumber(rNew)

                        document.getElementById("loadOrig").innerHTML = rOrig;
                        document.getElementById("loadNew").innerHTML = rNew;
                        
                        if (disabled) document.getElementById("btnSubmit").disabled = true;
                        else document.getElementById("btnSubmit").disabled = false;
                        
                        window.setTimeout("updateresources()", 200);
                    }

                    function setmaximum(res, res_max) {
                        var maxload = parseInt(document.getElementById("capacityNew2").innerHTML.replaceAll(' ', ''));

                        for (i = 0; i < resources.length; i++) {
                            if (resources[i] != res)
                                maxload -= getval("load_" + resources[i]);
                        }

                        if (maxload > res_max)
                            maxload = res_max;
                        else
                        if (maxload < 0)
                            maxload = 0;

                        document.getElementsByName("load_" + res)[0].value = maxload;
                    }


                    function transfer_all() {
                        setmaximum('ore', {{ fleet.cargo_ore }});
                        setmaximum('hydrocarbon', {{ fleet.cargo_hydrocarbon }});
                        setmaximum('scientists', {{ fleet.cargo_scientists }});
                        setmaximum('soldiers', {{ fleet.cargo_soldiers }});
                        setmaximum('workers', {{ fleet.cargo_workers }});
                    }

                    var ships = new Array();

                    function updatecargo() {
                        var cargoOrig = 0;
                        var cargoNew = 0;

                        for (i = 0; i < ships.length; i++) {
                            cargoOrig = cargoOrig + ships[i][1] * ships[i][2] - Math.min(getval("transfership" + ships[i][0]), ships[i][2]) * ships[i][1];
                            cargoNew = cargoNew + Math.min(getval("transfership" + ships[i][0]), ships[i][2]) * ships[i][1];
                        }

                        obj = document.getElementById("capacityOrig2");
                        if (obj.innerHTML != cargoOrig) obj.innerHTML = formatnumber(cargoOrig);
                        obj = document.getElementById("capacityNew2");
                        if (obj.innerHTML != cargoOrig) obj.innerHTML = formatnumber(cargoNew);

                        window.setTimeout("updatecargo()", 200);
                    }

                    function shipsInFleets() {
                        var n = 0;
                        var total = 0;
                        for (i = 0; i < ships.length; i++) {
                            n += getval("transfership" + ships[i][0]);
                            total += getval("origship" + ships[i][0]);
                        }

                        return false;
                    }

                    function submitchanges() {

                        var nbShipsOrig = 0;
                        var nbShipsNew = 0;
                        for (i = 0; i < ships.length; i++) {
                            nbShipsOrig = nbShipsOrig + ships[i][2];
                            nbShipsNew = nbShipsNew + Math.min(getval("transfership" + ships[i][0]), ships[i][2]);
                        }
                        nbShipsOrig = nbShipsOrig - nbShipsNew;
                        var e_ressource = false;
                        var e_ship = false;

                        for (i = 0; i < resources.length; i++) {
                            if (getval("load_" + resources[i]) < 0 || getval("load_" + resources[i]) < 0) {
                                e_ressource = true;
                                break;
                            }}

                        for (i = 0; i < ships.length; i++) {
                            if (getval("transfership" + ships[i][0]) < 0 || getval("transfer" + ships[i][0]) < 0) {
                                e_ship = true;
                                break;
                            }}

                        if (e_ressource) {
                            alert("Quantités de ressources incorrectes.");
                            return false;
                        } else if (e_ship) {
                            alert("Quantités de vaisseaux incorrectes.");
                            return false;
                        } else if (nbShipsOrig == 0) {
                            alert("La flotte {{fleet.name}} ne peut contenir zéro vaisseau.");
                            return false;
                        } else if (nbShipsNew == 0) {
                            alert("La nouvelle flotte ne peut contenir zéro vaisseau.");
                            return false;
                        }
                        else
                            return true;
                    }
                </script>
                
                <form method="post" onsubmit="return submitchanges()">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="split">
                    <div class="row g-3">
                    
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row gx-3 align-items-baseline">
                                        <div class="col-auto"><a href="/s03/fleet-view/?id={{ fleet.id }}"><i class="fa-fw fas fa-long-arrow-alt-left"></i> Retour</a></div>
                                        <div class="col-auto"><span class="fs-6 text-info">{{ fleet.name }}</span></div>
                                        <div class="col-auto"><span class="fs-6">Diviser la flotte</span></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row gx-3 align-items-start">
                                        <div class="col-7">
                                            <div class="row gx-3 align-items-center">
                                                <div class="col">Transfert de vaisseaux</div>
                                                <div class="col-2 text-end"><span class="text-normal">Cargo</span></div>
                                                <div class="col-2 text-end"><span class="text-normal">Quantité</span></div>
                                                <div class="col-4"><span class="text-normal">Transférer</span></div>
                                            </div>
                                            {% for ship in ships %}
                                                <div class="mt-1 row gx-3 align-items-center">
                                                    <div class="col"><span class="text-normal">{{ ship.label }}</span></div>
                                                    <div class="col-2" align="right">{{ ship.capacity|intcomma }}</div>
                                                    <div class="col-2" align="right" name="origship{{ ship.id }}">{{ ship.count|intcomma }}</div>
                                                    <div class="col-4 d-flex align-items-center">
                                                        <input type="number" class="form-control me-2"
                                                               min="0"
                                                               name="transfership{{ ship.id }}"
                                                               value="{{ ship.transfer }}"
                                                               size="8">
                                                        <a href="javascript:setval('transfership{{ ship.id }}', {{ ship.count }})">max</a>
                                                    </div>
                                                    <script>
                                                        ships.push(new Array({{ ship.id }}, {{ ship.capacity }}, {{ ship.count }}));
                                                    </script>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-5">
                                            <div class="row gx-3 align-items-center">
                                                <div class="col">Transfert de ressources</div>
                                                <div class="col-2 text-end"><span class="text-normal">En soute</span></div>
                                                <div class="col-4"><span class="text-normal">Transférer</span></div>
                                            </div>
                                            <div class="mt-1 row gx-3 align-items-center">
                                                <div class="col">
                                                    <span class="text-normal">Minerai</span>
                                                </div>
                                                <div class="col-2 text-end" name="orig_ore">
                                                    {{ fleet.cargo_ore|intcomma }}
                                                </div>
                                                <div class="col-4 d-flex align-items-center">
                                                    <input type="number" class="form-control me-2" min="0" name="load_ore" value="{{ t_ore }}" size="8">
                                                    <a href="javascript:setmaximum('ore', {{ fleet.cargo_ore }})">max</a>
                                                </div>
                                            </div>
                                            <div class="mt-1 row gx-3 align-items-center">
                                                <div class="col">
                                                    <span class="text-normal">Hydrocarbures</span>
                                                </div>
                                                <div class="col-2 text-end" name="orig_hydrocarbon">
                                                    {{ fleet.cargo_hydrocarbon|intcomma }}
                                                </div>
                                                <div class="col-4 d-flex align-items-center">
                                                    <input type="number" class="form-control me-2"
                                                           min="0"
                                                           name="load_hydrocarbon"
                                                           value="{{ t_hydrocarbon }}"
                                                           size="8">
                                                    <a href="javascript:setmaximum('hydrocarbon', {{ fleet.cargo_hydrocarbon }})">max</a>
                                                </div>
                                            </div>
                                            <div class="mt-1 row gx-3 align-items-center">
                                                <div class="col">
                                                    <span class="text-normal">Scientifiques</span>
                                                </div>
                                                <div class="col-auto" colspan=2 align=right name="orig_scientists">
                                                    {{ fleet.cargo_scientists|intcomma }}
                                                </div>
                                                <div class="col-4 d-flex align-items-center">
                                                    <input type="number" class="form-control me-2"
                                                           min="0"
                                                           name="load_scientists"
                                                           value="{{ t_scientists }}"
                                                           size="8">
                                                    <a href="javascript:setmaximum('scientists', {{ fleet.cargo_scientists }})">max</a>
                                                </div>
                                            </div>
                                            <div class="mt-1 row gx-3 align-items-center">
                                                <div class="col">
                                                    <span class="text-normal">Soldats</span>
                                                </div>
                                                <div class="col-auto" colspan=2 align=right name="orig_soldiers">
                                                    {{ fleet.cargo_soldiers|intcomma }}
                                                </div>
                                                <div class="col-4 d-flex align-items-center">
                                                    <input type="number" class="form-control me-2"
                                                           min="0"
                                                           name="load_soldiers"
                                                           value="{{ t_soldiers }}"
                                                           size="8">
                                                    <a href="javascript:setmaximum('soldiers', {{ fleet.cargo_soldiers }})">max</a>
                                                </div>
                                            </div>
                                            <div class="mt-1 row gx-3 align-items-center">
                                                <div class="col">
                                                    <span class="text-normal">Travailleurs</span>
                                                </div>
                                                <div class="col-auto" colspan=2 align=right name="orig_workers">
                                                    {{ fleet.cargo_workers|intcomma }}
                                                </div>
                                                <div class="col-4 d-flex align-items-center">
                                                    <input type="number" class="form-control me-2" min=0 name="load_workers" value="{{ t_workers }}" size=8>
                                                    <a href="javascript:setmaximum('workers', {{ fleet.cargo_workers }})">max</a>
                                                </div>
                                            </div>
                                            <div class="mt-2 row gx-3 align-items-center justify-content-end">
                                                <div class="col-4">
                                                    <a href="javascript:transfer_all()">Tout transférer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3 row gx-4 align-items-center justify-content-center">
                                        <div class="col-auto">
                                            <div class="row gx-3 align-items-center">
                                                <div class="col-auto">
                                                    <span class="text-normal">Utilisation cargo</span> {{ fleet.name }}
                                                </div>
                                                <div class="col-auto" colspan=3>
                                                    <span id="loadOrig">{{ fleet.cargo_load|intcomma }}</span> <small class="text-normal">/<span id="capacityOrig2">{{ fleet.cargo_capacity|intcomma }}</span> unités</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="row gx-3 align-items-center">
                                                <div class="col-auto">
                                                    <span class="text-normal">Utilisation cargo</span> Nouvelle flotte
                                                </div>
                                                <div class="col-auto" colspan=3>
                                                    <span id="loadNew">0</span> <small class="text-normal">/<span id="capacityNew2">0</span> unités</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3 row gx-2 align-items-center justify-content-center">
                                        <div class="col-auto">
                                            <span class="text-normal">Nom de la nouvelle flotte</span>
                                        </div>
                                        <div class="col-auto">
                                            <input type="text" class="form-control "name="newname" value="" maxlength="16">
                                        </div>
                                        <div class="col-auto">
                                            <input id="btnSubmit" type="submit" class="btn btn-primary" value="Diviser">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </form>
            
                <script>
                    window.setTimeout("updatecargo()", 200);
                    window.setTimeout("updateresources()", 200);
                </script>
                
            </div>
        </div>
    </div>

{% endblock %}
