{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<div class="page-content">
<div class="row g-3" data-masonry='{"percentPosition": true }'>
    {% for planet in planets %}
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <div class="row gx-3">
                        <div class="col"><a href="/s03/planet-orbit/?planet={{ planet.planet_id }}" class="fs-6" data-bs-toggle="tooltip" data-bs-title="Voir orbite">{{ planet.planet_name }}</a></div>
                        <div class="col-auto"><a href="/s03/map/?g={{ planet.galaxy }}&s={{ planet.sector }}&p={{ planet.planet }}" data-bs-toggle="tooltip" data-bs-title="Carte spatiale">{{ planet.galaxy }}.{{ planet.sector }}.{{ planet.planet }}</a></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row g-1 flex-column">
                        {% for ship in planet.ships %}
                            <div class="col-12">
                                <div class="row gx-3">
                                    <div class="col"><span class="text-normal">{{ ship.label }}</span></div>
                                    <div class="col-auto">{{ ship.quantity|intcomma }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-12">
            <div class="card card-body text-center">
                <span class="text-normal">Aucun vaisseau en attente</span>
            </div>
        </div>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
</div>
{% endblock %}
