{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<div class="page-content">
<div class="row g-3" data-masonry='{"percentPosition": true }'>
    {% for planet in planets %}
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <div class="row gx-3">
                        <div class="col"><a href="/s03/orbit/?planet={{ planet.planetid }}" data-bs-toggle="tooltip" data-bs-title="Voir orbite">{{ planet.planetname }}</a></div>
                        <div class="col-auto"><a href="/s03/map/?g={{ planet.g }}&s={{ planet.s }}&p={{ planetp }}" data-bs-toggle="tooltip" data-bs-title="Carte spatiale">{{ planet.g }}.{{ planet.s }}.{{ planet.p }}</a></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row g-1 flex-column">
                        {% for fleet in planet.fleets %}
                            <div class="col-12">
                                <div class="col-auto">
                                    <a href="/s03/mails/?subject=À propos de la flotte {{ fleet.fleetname }}&to={{ fleet.fleetowner }}" class="{% if fleet.ally %}ally{% elif fleet.friend %}friend{% elif fleet.enemy %}enemy{% endif %}" data-bs-toggle="tooltip" data-bs-title="Contacter {{ fleet.fleetowner }}">
                                        {% if fleet.tag %}[{{ fleet.tag }}]{% endif %}
                                        {{ fleet.fleetname }}
                                    </a>
                                </div>
                                <div class="col-auto">
                                    <small>{{ fleet.fleetsignature|intcomma }}</small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-12 text-center">
            <span class="text-normal">Aucune flotte étrangère en orbite de nos planètes</span>
        </div>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
</div>
{% endblock %}
