{% load humanize %}

<!doctype html>
<html lang="en">
    <head>
        
        <title>[s03] NG Exile</title>
        
        <link rel="shortcut icon" href="/static/favicon.ico">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link href="{{PATH_IMAGES}}styles/s_default/style.css" type="text/css" rel="stylesheet" media="all"/>
        
        <script type="text/javascript" src="/static/js/vendor-fontawesome.js"></script>
        
        <script type="text/javascript" src="/static/scripts/common.js"></script>
        <script type="text/javascript" src="/static/scripts/third-party/ajax1.js"></script>
        <script type="text/javascript" src="/static/scripts/time.js"></script>
        
        {% if scroll %}<script>function loaded() { scrollTo(0, {{scrolly}}); }</script>{% endif %}
        
    </head>

    <body{% if scroll %} onload="loaded()"{% endif %}>

        <div id="hint" onclick="donothide(event)">
            <div id="hinttext" class="card card-body bg-dark"></div>
        </div>

        <script>
            var timers_enabled = {{timers_enabled}};
            var startTime;
        </script>

        <div id="super">
            
            <div id="topbar">
                <div class="flex-grow-1 row gx-4 align-items-center">
                
                    <div class="col-auto">
                        <div class="row gx-2 align-items-center">
                            <div class="col-auto"><img src="/static/img/logo.png" width="32px" /></div>
                            <div class="col-auto"><span class="fs-6">[s03] NG Exile</span></div>
                        </div>
                    </div>
                    
                    <div class="col-auto">
                        <div class="row gx-1 align-items-center">
                            <div class="col-auto"><img src="{{PATH_IMAGES}}interface/credits.gif" width="16px" /></div>
                            <div class="col-auto"><span {% if credits < 0 %}class="text-danger"{% endif %}>{{credits|intcomma}}</span></div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="row gx-1 align-items-center">
                            <div class="col-auto"><img src="{{PATH_IMAGES}}interface/prestige.gif" width="16px" /></div>
                            <div class="col-auto"><span>{{prestige_points|intcomma}}</span></div>
                        </div>
                    </div>
                    
                    <div class="col-auto">
                        <div class="row gx-3 align-items-center justify-content-center">
                        
                            <form class="col-auto" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="7XYD7SJFKQ8M4">
                                <button type="submit" class="p-0 border-0 bg-transparent" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Make a donation">
                                    <img src="/static/img/paypal.png" width="22px" />
                                </button>
                            </form>

                            <div class="col-auto">
                                <a href="https://ko-fi.com/freddecgames" target="_blank" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Buy me a Ko-fi">
                                    <img src="/static/img/kofi.png" width="22px" />
                                </a>
                            </div>

                            <div class="col-auto">
                                <a href="https://www.patreon.com/bePatron?u=61283131" target="_blank" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Become a Patreon supporter">
                                    <img src="/static/img/patreon.png" width="22px" />
                                </a>
                            </div>

                            <div class="col-auto">
                                <a href="https://discord.gg/3UkgeeT9CV" target="_blank" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Discord">
                                    <img src="/static/img/discord.png" width="22px" />
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="col-auto">
                        <div class="row gx-2 align-items-center justify-content-center">
                        
                            <div class="col-auto">
                                <a href="/s03/help/" class="fs-5"><i class="fa-fw fas fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Aide"></i></a>
                            </div>
                            
                            <div class="col-auto">
                                <a href="/s03/profile-view/" class="fs-5"><i class="fa-fw fas fa-user-circle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Options"></i></a>
                            </div>
                            
                            <div class="col-auto">
                                <a href="/accounts/logout/" class="fs-5"><i class="fa-fw fas fa-sign-out-alt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Déconnexion"></i></a>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div id="leftnav">{% include 's03/menu.html' %}</div>
            
            <div id="content">
                <div id="page">

                    {% if impersonating %}
                    <div class="alert alert-info">
                        <div><b>Impersonisation</b> (<a href="/impersonate/stop/" style="color:#f00">Revenir au compte de départ</a>)</div>
                        <div>Compte "{{username}}" - impossible d'envoyer de messages</div>
                    </div>
                    {% endif %}
                
                    {% if creditswarning %}
                    <div class="alert alert-warning">
                        <div><b>Fonds insuffisants</b></div>
                        <div>Nous sommes actuellement en déficit, cette situation est tolérable pendant un moment mais nous devons réagir. Nous pouvons soit alléger nos coûts d'entretien, soit augmenter nos revenus en vendant une plus grande partie de notre production.</div>
                        <div>Vous avez {% if hours %}{{bankruptcy_hours}} heure(s){% endif %} pour faire revenir l'argent de la trésorerie dans le positif avant qu'un coup d'état n'éclate et que vous soyiez chassé de votre poste.</div>
                        <div>Chaque heure passée en déficit, le nombre d'heures avant le coup d'état diminue d'une heure. Celui-ci remonte chaque heure passée dans le positif.</div>
                    </div>
                    {% endif %}
                    
                    {% if deleting %}
                    <div class="alert alert-danger">
                        <div><b>Suppression du compte en cours</b></div>
                        <div>Ce compte sera effacé le {{delete_datetime|date:"D d M Y"}} à {{delete_datetime|time}}</div>
                    </div>
                    {% endif %}
                    
                    {% if context %}{% include 's03/header.html' %}{% endif %}
                    
                    {% block content %}{% endblock %}
                    
                </div>
            </div>
            
        </div>
        
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-212X2QX8W5"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag(){ dataLayer.push(arguments) }
            gtag('js', new Date())
            gtag('config', 'G-212X2QX8W5')
        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        </script>
        
    </body>
</html>