{% load i18n %}
{% load humanize %}

<div class="page-content">
    <ul class="nav nav-tabs mt-0 mb-3">
        <li class="nav-item {% if selectedtab == 'inbox' %}active{% endif %}">
            <a href="/s03/mail-inbox/" class="nav-link">Reçus</a>
        </li>
        <li class="nav-item {% if selectedtab == 'outbox' %}active{% endif %}">
            <a href="/s03/mail-outbox/" class="nav-link">Envoyés</a>
        </li>
        <li class="nav-item {% if selectedtab == 'new' %}active{% endif %}">
            <a href="/s03/mail-new/" class="nav-link">Composer</a>
        </li>
        <li class="nav-item {% if selectedtab == 'blacklist' %}active{% endif %}">
            <a href="/s03/mail-blacklist/" class="nav-link">Nations ignorées</a>
        </li>
    </ul>
</div>
