{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    <div id=mails align=center>
        <form method=post action='?a=unignorelist'>
            {% csrf_token %}
            <table class=default width=450 id=ignorelist>
                <tr class=title>
                    <td colspan=3>Nations dont les messages sont ignorés</td>
                </tr>
                <tr class=header>
                    <td>Nation</td>
                    <td>Bloqués</td>
                    <td>Ignoré depuis</td>
                </tr>
                {% for ignorednation in ignorednations %}
                    <tr>
                        <td nowrap>
                            <input type=checkbox class=checkbox id=check_{{ ignorednation.index }} name=unignore value="{{ ignorednation.userid }}"/><label for=check_{{ ignorednation.index }}>{{ ignorednation.name }}
                            </label>
                        </td>
                        <td width='1%' align=right>{{ ignorednation.blocked|intcomma }}</td>
                        <td width='1%' nowrap>{{ ignorednation.added }}</td>
                    </tr>
                {% endfor %}
                {% if noignorednations %}
                    <tr>
                        <td align=center colspan=3>Aucune nation</td>
                    </tr>
                {% endif %}
                <tr>
                    <td align=center colspan=3>
                        <input type=submit value="Retirer"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
