{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<div class="page-content">
    <ul class="nav nav-tabs mt-0 mb-3">
        <li class="nav-item">
            <a href="/s03/mails/" class="nav-link">Reçus</a>
        </li>
        <li class="nav-item">
            <a href="/s03/mails/?a=sent" class="nav-link">Envoyés</a>
        </li>
        <li class="nav-item">
            <a href="/s03/mails/?a=new" class="nav-link">Composer</a>
        </li>
        <li class="nav-item active">
            <a href="/s03/mails/?a=ignorelist" class="nav-link">Nations ignorées</a>
        </li>
    </ul>
</div>
<div class="page-content scroll-content" style="height:calc(100% - 52px);">
<form method="post" action="?a=unignorelist">
    {% csrf_token %}
    <div class="card">
        <div class="list-group list-group-flush">
            {% for ignorednation in ignorednations %}
                <div class="list-group-item">
                    <div class="row gx-3 align-items-center">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check_{{ ignorednation.index }}" name="unignore" value="{{ ignorednation.userid }}"/>
                                <label class="form-check-label" for="check_{{ ignorednation.index }}">{{ ignorednation.name }}</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <span class="text-normal">{{ ignorednation.added }}</span>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <span class="text-normal">Aucun joueur bloqué</span>
                </div>
            {% endfor %}
            {% if ignorednations|length > 0 %}
                <div class="list-group-item">
                    <input type="submit" class="btn btn-primary" value="Débloquer"/>
                </div>
            {% endif %}
        </div>
    </div>
</form>
</div>
{% endblock %}
