{% extends "s03/_layout.html" %}

{% load i18n %}
{% load humanize %}

{% block content %}

    {% include "s03/mail-tabs.html" %}
    
    <div class="scroll-content" style="height:calc(100% - 52px);">
        <div class="page-content">
            <div class="row g-3">
        
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="unignore">
                    
                        <div class="col-12">
                            <div class="card">
                                {% for ignorednation in ignorednations %}
                                    <div class="card-body">
                                        <div class="row gx-3 align-items-center">
                                            <div class="col">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check_{{ forloop.counter }}" name="user" value="{{ ignorednation.name }}"/>
                                                    <label class="form-check-label" for="check_{{ forloop.counter }}">{{ ignorednation.name }}</label>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <span class="text-normal">{{ ignorednation.added }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="card-body text-center">
                                        <span class="text-normal">Aucun joueur bloqué</span>
                                    </div>
                                {% endfor %}
                                {% if ignorednations|length > 0 %}
                                    <div class="card-body">
                                        <input type="submit" class="btn btn-primary" value="Débloquer"/>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    
                    </div>
                </form>
            
            </div>
        </div>
    </div>
    
{% endblock %}
