{% extends 's03/layout.html' %}
{% load tz %}


{% block content %}
<div id="mails">
<table class="default" width="100%">

<tr class="title"><td colspan=2>Messages envoyés</td></tr>

{% if nav %}<tr class="nav"><td colspan=2 align=left>Page {{page_display}}, Messages {{min}}-{{max}}. Aller à
{% for p in ps %}&nbsp;{% if p.link %}<a href="?a=sent&start={{p.page_link}}">{% endif %}{% if p.selected %}<span class="selected">{% endif %}{{p.page_id}}{% if p.selected %}</span>{% endif %}{% if p.link %}</a>{% endif %}{% endfor %}.
</td></tr>{% endif %}

{% for mail in mails %}
<tr id="mail{{mail.index}}" class="item{% if mail.new_mail %}highlight{% endif %}">
	<td width="1%" rowspan=1 align=center valign=top nowrap>
	{% if mail.reply %}<a href="?to={{mail.sent_to}}" title="Nouveau message à {{mail.sent_to}}">{% endif %}
	{% if mail.avatar %}<img src="{{mail.avatar_url}}" width=64 height=64 class="avatar">{% endif %}
	{% if mail.noavatar %}<img src="{{PATH_IMAGES}}interface/noavatar.gif" width=64 height=64 class="avatar">{% endif %}<br><b>{% if mail.admins %}Administrateurs{% endif %}{% if mail.to_alliance %}Alliance{% endif %}{% if mail.nation %}{{mail.sent_to}}{% endif %}</b>
	{% if mail.reply %}</a>
	{% if mail.alliance %}<br/><a href="/s03/alliance/?tag={{mail.alliancetag}}">[{{mail.alliancetag}}]</a><br/>{% endif %}{% endif %}
	</td>
	<td width="90%" valign=top>
	<div class="subject">
	{{mail.date|timezone:"Europe/Paris"}} | {{mail.subject}}{% if mail.money %} | Somme envoyée : <img src="{{PATH_IMAGES}}interface/credits.gif" title="Crédits" class="icon" width=16 height=16> {{mail.moneyamount}}{% endif %}</div>
	<div class="body">{% if mail.html %}{{mail.body|safe}}{% endif %}{% if mail.bbcode %}{{mail.bodybb}}{% endif %}</div>
	</td>
</tr>
{% endfor %}

{% if nav %}<tr class="nav"><td colspan=2 align=left>Page {{page_display}}, Messages {{min}}-{{max}}. Aller à
{% for p in ps %}&nbsp;{% if p.link %}<a href="?a=sent&start={{p.page_link}}">{% endif %}{% if p.selected %}<span class="selected">{% endif %}{{p.page_id}}{% if p.selected %}</span>{% endif %}{% if p.link %}</a>{% endif %}{% endfor %}.
</td></tr>{% endif %}
{% if nomails %}<tr><td colspan=2 align=center>Aucun</td></tr>{% endif %}

</table>
</div>
{% endblock %}