{% extends "s03/layout.html" %}
{% block content %}
    <div class="nav nav-tabs mb-3">
        <div class="nav-item">
            <a href="/s03/mail-inbox/" class="nav-link">Reçu</a>
        </div>
        <div class="nav-item">
            <a href="/s03/mail-outbox/" class="nav-link">Envoyé</a>
        </div>
        <div class="nav-item">
            <a href="/s03/mail-new/" class="nav-link">Composer</a>
        </div>
        <div class="nav-item">
            <a href="/s03/mail-blacklist/" class="nav-link active">Nations bloquées</a>
        </div>
    </div>
    <div class="scroll-content pe-1" style="height:calc(100% - 44px);">
    <form method="post" action="?a=unignorelist" class="card">
        <div class="list-group list-group-flush">
            {% if ignorednations|length > 0 %}
                {% for ignorednation in ignorednations %}
                    <div class="list-group-item">
                        <div class="row gx-3 align-items-center">
                            <div class="col d-flex align-items-center">
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           id="check_{{ ignorednation.index }}"
                                           name="unignore"
                                           value="{{ ignorednation.userid }}"/>
                                    <label class="form-check-label" for="check_{{ ignorednation.index }}">{{ ignorednation.name }}</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <span class="text-normal">{{ ignorednation.added }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="list-group-item">
                    <input type="submit" value="Débloquer" />
                </div>
            {% else %}
                <div class="list-group-item">
                    <span class="text-normal">Aucune nation bloquée</span>
                </div>
            {% endif %}
        </div>
        {% csrf_token %}
    </form>
    </div>
{% endblock content %}
