{% extends 's03/layout.html' %}

{% load tz %}

{% block content %}

<div class="nav nav-tabs mb-3">
    <div class="nav-item"><a href="/s03/mail-inbox/" class="nav-link active">Reçu</a></div>
    <div class="nav-item"><a href="/s03/mail-outbox/" class="nav-link">Envoyé</a></div>
    <div class="nav-item"><a href="/s03/mail-new/" class="nav-link">Composer</a></div>
    <div class="nav-item"><a href="/s03/mail-blacklist/" class="nav-link">Nations bloquées</a></div>
</div>

<script>
    function updatebg(index, event) {
    
        var list = document.getElementsByName("checked_mails");
        var obj = list[index];
        document.getElementById("mail" + index).className = (obj.checked ? "list-group-item bg-danger":"list-group-item");
    }
    
    function donotclick(index, event){ updatebg(index, event); event.cancelBubble = true; }

    function ignore(name) {
    
        if (confirm('Êtes-vous sûr de vouloir bloquer les messages en provenance du joueur "' + name + '" ?'))
            openURL("/s03/mail-inbox/?a=ignore&user=" + name, evalResponse);
            
        return false;
    }
    
    function unignore(name) {
    
        openURL("/s03/mail-inbox/?a=unignore&user=" + name, evalResponse);
        return false;
    }
</script>

<form method="post" action="?" class="card">
    <div class="list-group list-group-flush">
        {% if mails|length > 0 %}
            {% for mail in mails %}
                <div id="mail{{mail.index}}" class="list-group-item">
                    <div class="row gx-3">
                        <div class="col-auto pt-3">
                            <input type="checkbox" class="checkbox" name="checked_mails" value="{{mail.mailid}}" onclick="donotclick({{mail.index}}, event)" />
                        </div>
                        <div class="col">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto">
                                            {% if mail.avatar_url %}<img src="{{mail.avatar_url}}" width="48px" class="rounded" />
                                            {% else %}<img src="{{PATH_IMAGES}}interface/noavatar.gif" width="48px" class="rounded" />
                                            {% endif %}
                                        </div>
                                        <div class="col">
                                            <div class="row gx-3">
                                                <div class="col">
                                                    {% if mail.from %}{{mail.from}} <span class="text-normal">|</span>{% endif %}
                                                    <span class="text-normal">{{mail.date|timezone:"Europe/Paris"}}</span>
                                                </div>
                                            </div>
                                            <span class="fs-6">{{mail.subject}}</span>
                                        </div>
                                        <div class="col-auto">
                                            {% if mail.ignore %}<a href="#" onclick="return ignore('{{mail.from}}')" class="me-2">Bloquer</a>{% endif %}
                                            {% if mail.ignored %}<span class="text-danger">Bloqué</span> <a href="#" onclick="return unignore('{{mail.from}}')" class="mx-2">Débloquer</a>{% endif %}
                                            {% if mail.from %}<a href="?a=reply&mailid={{mail.mailid}}">Répondre</a>{% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-normal">
                                    {% if mail.html %}{{mail.body|safe|escape}}
                                    {% elif mail.bbcode %}{{mail.bodybb}}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="list-group-item">
                <input type="submit" name="delete" value="Supprimer" />
            </div>
        {% else %}
            <div class="list-group-item">
                <span class="text-normal">Aucun message</span>
            </div>
        {% endif %}
    </div>
    {% csrf_token %}
</form>

{% endblock %}