{% extends "s03/layout.html" %}
{% load tz %}
{% load humanize %}
{% load bbcode_tags %}
{% block content %}
<div class="page-content">
{% if nav %}
    <div class="card card-body mb-3">
        <div class="row gx-3">
            <div class="col-auto">
                <span class="text-normal">Page {{ page_display }}</span>
            </div>
            <div class="col">
                <span class="text-normal">Messages {{ min }}-{{ max }}</span>
            </div>
            <div class="col-auto">
                <span class="text-normal">Aller à la page</span>
                {% for p in ps %}
                    {% if p.link %}<a href="?start={{ p.page_link }}" class="ms-2" data-bs-toggle="tooltip" data-bs-title="Voir page">{{ p.page_id }}</a>{% endif %}
                    {% if p.selected %}<span class="ms-2">{{ p.page_id }}</span>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% if nomails %}
    <div class="text-center">
        <span class="text-normal">Aucun message</span>
    </div>
{% else %}
    {% for mail in mails %}
    <div class="mb-3 card card-body">
        <div class="row g-2 flex-column">
            <div class="col-12">
                <div class="row gx-3 align-items-center">
                    <div class="col-auto">
                        {% if mail.avatar %}<img src="{{ mail.avatar_url }}" width="48" height="48" class="rounded">
                        {% else %}<img src="{{ PATH_IMAGES }}interface/noavatar.gif" width="48" height="48" class="rounded">
                        {% endif %}
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            {% if mail.alliancetag %}<a href="/s03/alliance/?tag={{ mail.alliancetag }}" class="me-2" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[{{ mail.alliancetag }}]</a>{% endif %}
                            {% if mail.sent_to %}<a href="/s03/nation/?name={{ mail.sent_to }}" class="me-2" data-bs-toggle="tooltip" data-bs-title="Voir profile">{{ mail.sent_to }}</a>{% endif %}
                            <span class="text-normal me-2">{{ mail.date|timezone:"Europe/Paris" }}</span>
                            {% if mail.to_alliance %}<span class="ms-2">À l'alliance</span>{% endif %}
                        </div>
                        <div>
                            <span class="fs-6">{{ mail.subject }}</span>
                            {% if mail.moneyamount > 0 %}
                                <span class="ms-3 text-normal">Crédits envoyés</span>
                                <img src="{{ PATH_IMAGES }}interface/credits.gif" title="Crédits" class="res" width="16" height="16">
                                {{ mail.moneyamount|intcomma }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                {% if mail.html %}{{ mail.body|safe }}{% endif %}
                {% if mail.bbcode %}{{ mail.bodybb|bbcode }}{% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}
