{% extends "s03/layout.html" %}
{% load l10n %}
{% load humanize %}
{% block content %}
<div class="page-content">
<script>
    var currGalaxy = "";
    var currSector = "";

    function setLocGalaxy(g) { $("locgalaxy").value = g; }
    function setLocSector(s) { $("locsector").value = s; }
    
    function setLoc(g, s) { currGalaxy = g; currSector = s; setLocGalaxy(g); setLocSector(s); }

    function openGalaxy(g) { window.location = "?g=" + g; }
    function openSector(g, s) { window.location = "?g=" + g + "&s=" + s; }
</script>
<div class="mb-3">
    <form method="get" action="?" class="card card-body py-2">
        <div class="row gx-3 align-items-center justify-content-center">
            <div class="col-auto">
                <a href="#"
                   onclick="openGalaxy(''); return false;"
                   data-bs-toggle="tooltip"
                   data-bs-title="Voir l'univers">Univers</a>
            </div>
            <div class="col-auto">
                <div class="row gx-2 align-items-center">
                    <div class="col-auto">
                        {% if galaxy_link %}
                            <a href="#"
                               onclick="openGalaxy(currGalaxy); return false;"
                               data-bs-toggle="tooltip"
                               data-bs-title="Voir la galaxie">Galaxie</a>
                        {% else %}
                            <span class="text-normal">Galaxie</span>
                        {% endif %}
                    </div>
                    <div class="col-auto">
                        <input type="number"
                               class="form-control text-center"
                               name="g"
                               id="locgalaxy"
                               size="2"
                               min="1"
                               maxlength="2"
                               autocomplete="off"
                               value="{{ galaxy }}">
                    </div>
                    <div class="col-auto">
                        <span class="text-normal">Secteur</span>
                    </div>
                    <div class="col-auto">
                        <input type="number"
                               class="form-control text-center"
                               name="s"
                               id="locsector"
                               size="2"
                               min="1"
                               maxlength="2"
                               autocomplete="off"
                               value="{{ sector }}">
                    </div>
                    <div class="col-auto">
                        <input type="submit" class="btn btn-primary" value="Localiser">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% if nav_universe %}
    <div class="row gx-1 align-items-center justify-content-center">
        {% for galaxy in galaxies %}
            <div class="col-auto">
                <a href="#"
                   onmouseover="setLocGalaxy({{ galaxy.galaxyid }})"
                   onclick="openGalaxy({{ galaxy.galaxyid }})"
                   data-bs-toggle="tooltip"
                   data-bs-title="Voir la galaxie"
                   class="d-block bg-black rounded border {% if galaxy.hasplanet %}border-info{% elif galaxy.hasally %}border-success{% elif galaxy.hasfriend %}border-success{% elif galaxy.hasenemy %}border-danger{% endif %}">
                    <div>
                        <img src="{{ PATH_IMAGES }}img/galaxies/01.jpg"
                             width="64px"
                             height="64px"
                             class="rounded">
                    </div>
                    <div class="text-center">
                        <span>{{ galaxy.galaxyid }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% elif nav_galaxy %}
    <div class="mb-3">
        <div class="row gx-3 align-items-center">
            <div class="col-4">
                <div class="card card-body py-2">
                    <div class="row g-1 flex-column">
                        <div class="col-12 text-center">
                            <span class="fs-6">Marché</span>
                        </div>
                        <div class="col-12">
                            <div class="row gx-3 align-items-center justify-content-center">
                                <div class="col-auto">
                                    <small class="text-normal me-2">Minerai</small>
                                    <img src="{{ PATH_IMAGES }}img/interface/credits.gif"
                                         data-bs-toggle="tooltip"
                                         data-bs-title="Crédits"
                                         class="res"
                                         width="16px"
                                         height="16px">
                                    <span>{{ price_ore }}</span>
                                </div>
                                <div class="col-auto">
                                    <small class="text-normal me-2">Hydrocarbure</small>
                                    <img src="{{ PATH_IMAGES }}img/interface/credits.gif"
                                         data-bs-toggle="tooltip"
                                         data-bs-title="Crédits"
                                         class="res"
                                         width="16px"
                                         height="16px">
                                    <span>{{ price_hydrocarbon }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card-body py-2">
                    <div class="row g-1 flex-column">
                        <div class="col-12 text-center">
                            <span class="fs-6">Souveraineté</span>
                        </div>
                        <div class="col-12">
                            <div class="row gx-3 align-items-center justify-content-center">
                                {% if not sov_tag_1 %}
                                    <div class="col-auto">
                                        <span class="text-normal">Aucune alliance n'a la souveraineté</span>
                                    </div>
                                {% else %}
                                    <div class="col-auto">
                                        <a href="/s03/alliance/?tag={{ sov_tag_1 }}"
                                           data-bs-toggle="tooltip"
                                           data-bs-title="Voir l'alliance">[{{ sov_tag_1 }}]</a>
                                        <span class="ms-1">{{ sov_perc_1 }}%</span>
                                    </div>
                                {% endif %}
                                {% if sov_tag_2 %}
                                    <div class="col-auto">
                                        <a href="/s03/alliance/?tag={{ sov_tag_2 }}"
                                           data-bs-toggle="tooltip"
                                           data-bs-title="Voir l'alliance">[{{ sov_tag_2 }}]</a>
                                        <span class="ms-1">{{ sov_perc_2 }}%</span>
                                    </div>
                                {% endif %}
                                {% if sov_tag_3 %}
                                    <div class="col-auto">
                                        <a href="/s03/alliance/?tag={{ sov_tag_3 }}"
                                           data-bs-toggle="tooltip"
                                           data-bs-title="Voir l'alliance">[{{ sov_tag_3 }}]</a>
                                        <span class="ms-1">{{ sov_perc_3 }}%</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card-body py-2">
                    <div class="row g-1 flex-column">
                        <div class="col-12 text-center">
                            <span class="fs-6">Ouverture</span>
                        </div>
                        <div class="col-12 text-center">
                            {% if protected_until > 0 %}
                                <script>document.write(formattime({{ protected_until }}))</script>
                            {% else %}
                                <span class="text-success">Ouverte au saut</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var pl = new Array();
        pl['0'] = 'hostile';
        pl['1'] = 'uninhabited';
        pl['2'] = 'friend';
        pl['3'] = 'ally';
        pl['4'] = 'player';
        pl['5'] = 'resource';
        pl['6'] = 'resource';
        pl['7'] = 'vortex';
        pl['8'] = 'nothing';
    
        function displayGalaxy(id, data) {
        
            var html = "";

            var pos = 0;
            for (var i = 1; i < 100; i++) {
                
                var s = ''
                s += '<div class="col-auto" style="width:10%; padding:1px;">'
                    s += '<a href="#" class="d-block bg-black rounded p-1" onmouseover="setLocSector(' + i + ')" onclick="openSector(' + id + ',' + i + ')" data-bs-toggle="tooltip" data-bs-title="Secteur ' + i + '">';
                        s += '<div class="row g-0 align-items-center justify-content-center">'

                            for (var j = 0; j < 25; j++) {
                            
                                c = pl[data.charAt(pos)];
                                
                                let classname = ''
                                if (c == 'nothing') classname = 'text-black'
                                else if (c == 'uninhabited') classname = 'text-muted'
                                else if (c == 'hostile') classname = 'text-danger'
                                else if (c == 'resource') classname = 'text-yellow'
                                else if (c == 'vortex') classname = 'text-purple'
                                else if (c == 'friend') classname = 'text-friend'
                                else if (c == 'ally') classname = 'text-success'
                                else if (c == 'player') classname = 'text-self'
                                
                                s += '<div class="col-auto lh-1 d-flex align-items-center justify-content-center" style="width:20%; padding:3px;">'
                                    s += '<i class="fa-fw fas fa-circle ' + classname + '" style="font-size:3px;"></i>'
                                s += '</div>';
                                                            
                                pos++;
                            }

                        s += '</div>';
                    s += '</a>';
                s += '</div>';

                html += s;
            }

            $('mapGalaxy').innerHTML = html;
        }
    </script>
    <div class="mb-3 d-flex align-items-center justify-content-center">
        <div class="card card-body p-1" style="max-width:560px;">
            <div id="mapGalaxy" class="row g-0">
            </div>
            <script>displayGalaxy({{ galaxy }}, '{{ mapgalaxy }}');</script>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <div class="card card-body py-2" style="max-width:560px;">
            <div class="row gx-3">
                <div class="col-3">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto lh-1 d-flex align-items-center justify-content-center"
                             style="padding:3px">
                            <i class="fa-fw fas fa-circle text-black" style="font-size:3px;"></i>
                        </div>
                        <div class="col-auto">
                            <span class="text-black">Système vide</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto lh-1 d-flex align-items-center justify-content-center"
                             style="padding:3px">
                            <i class="fa-fw fas fa-circle text-muted" style="font-size:3px;"></i>
                        </div>
                        <div class="col-auto">
                            <span class="text-muted">Planète inhabitée</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto lh-1 d-flex align-items-center justify-content-center"
                             style="padding:3px">
                            <i class="fa-fw fas fa-circle text-danger" style="font-size:3px;"></i>
                        </div>
                        <div class="col-auto">
                            <span class="text-danger">Planète hostile</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto lh-1 d-flex align-items-center justify-content-center"
                             style="padding:3px">
                            <i class="fa-fw fas fa-circle text-yellow" style="font-size:3px;"></i>
                        </div>
                        <div class="col-auto">
                            <span class="text-yellow">Ressources</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto lh-1 d-flex align-items-center justify-content-center"
                             style="padding:3px">
                            <i class="fa-fw fas fa-circle text-friend" style="font-size:3px;"></i>
                        </div>
                        <div class="col-auto">
                            <span class="text-friend">Planète en PNA</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto lh-1 d-flex align-items-center justify-content-center"
                             style="padding:3px">
                            <i class="fa-fw fas fa-circle text-success" style="font-size:3px;"></i>
                        </div>
                        <div class="col-auto">
                            <span class="text-success">Planète alliée</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto lh-1 d-flex align-items-center justify-content-center"
                             style="padding:3px">
                            <i class="fa-fw fas fa-circle text-info" style="font-size:3px;"></i>
                        </div>
                        <div class="col-auto">
                            <span class="text-info">Planète controlée</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto lh-1 d-flex align-items-center justify-content-center"
                             style="padding:3px">
                            <i class="fa-fw fas fa-circle text-purple" style="font-size:3px;"></i>
                        </div>
                        <div class="col-auto">
                            <span class="text-purple">Vortex</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elif nav_sector %}
    <script>
        function get_left(obj) {
        
            var left = obj.offsetLeft;
            while ((obj = obj.offsetParent) != null) { left += obj.offsetLeft; }
            return left;
        }

        function get_top(obj) {
        
            var top = obj.offsetTop;
            while ((obj = obj.offsetParent) != null) { top += obj.offsetTop; }
            return top;
        }

        function showmenu(objet, title, txt) {

            var hint = $("hint");
            hint.style.visibility = "hidden";

            var obj = $(objet);
            var max = $("mapSector").offsetWidth + get_left($("mapSector"));
            var x = (get_left(obj) + 16);
            var y = (get_top(obj) - $("page").scrollTop);

            var hinttext = $("hinttext");
            hinttext.innerHTML = "<div class='mb-1'><span class='fs-6 text-white'>" + title + "</span></div>" + txt;

            if (x + hint.offsetWidth > max) { x = x - hint.offsetWidth - 16; }
            
            hint.style.left = x + 'px';
            hint.style.top = y + 'px';
            hint.style.visibility = "visible";
        }

        function hidemenu() {
        
            var menu = $("hint");
            menu.style.visibility = "hidden";
            menu.style.left = 0;
            menu.style.top = 0;
        }

        document.onclick = hidemenu;

        function getRelationClass(rel) {
        
            switch (rel){
            
                case 2: return "text-self"; break;
                case 1: return "text-success"; break;
                case 0:	return "text-friend"; break;
                case -1: return "text-danger"; break;
                case -2: return "text-danger"; break;
                case -3: return "text-normal"; break;
            }
            
            return "";
        }

        function Fl(id, name, tag, owner, rel, signature, fleeing) {
            
            var c = getRelationClass(rel);
                
            s = ""
            
            if (tag != '') s += '<a href="/s03/alliance/?tag=' + tag + '" title="Voir l\'alliance" class="me-1 ' + c + '">[' + tag + ']</a>';

            if (rel == 2 || id != 0) s += '<a href="/s03/fleet/?id=' + id + '" class="text-self">' + name + '</a>';
            else s += '<a href="/s03/mails/?subject=À propos de la flotte ' + name + '&to=' + owner + '" title="Contacter ' + owner + '" class="' + c + '">' + name + '</a>';

            if (signature > 0) s += '<small class="ms-2">' + formatnumber(signature) + '</small>';
            else s += '<small class="ms-2">???</small>';

            if (fleeing) s += '<small class="ms-2 text-white">En fuite</small>';
            
            return s;
        }

        function descOrbit(idx, planetid, rel, parked) {
        
            var s = "";
            var orbit = orb[idx];
            
            s += "<div class='row g-1 flex-column'>"
            
            for (var i = 1; i < orbit.length; i++) {
            
                s += "<div class='col-12'>"
                s += Fl(orbit[i][0], orbit[i][1], orbit[i][2], orbit[i][3], orbit[i][4], orbit[i][5], orbit[i][6]);
                s += "</div>"
            }
            
            if (parked > 0) {
            
                s += "<div class='col-12'>"
                if (rel == 2) s += '<a href="/s03/orbit/?planet=' + planetid + '" class="' + getRelationClass(rel) + '">Au sol</a><small class="ms-2">' + formatnumber(parked) + '</small>';
                else s += '<span class="me-2 ' + getRelationClass(rel) + '">Au sol</span><small>' + formatnumber(parked) + '</small>';
                s += "</div>"
            }
            
            s += "</div>"
            
            return s;
        }

        var orb = new Array();
        var idx = 1;

        function loc(img, alliancetag, id, owner, name, rel, radar, jammer, ore, hydrocarbon, floor, space, a_ore, a_hydrocarbon, vortex_strength, frozen, parked, orbit, elements, b_ore, b_hydrocarbon) {
        
            var c = getRelationClass(rel);

            s = '<div class="col-auto" style="width:20%;">'
                s += '<table border="0" cellspacing="0" cellpadding="0" width="100%">'
                    s += '<tr>'

                        s += '<td align="right" width="25%">';
                            if (ore != '0' || hydrocarbon != '0') {                            
                                s += '<a href="#" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-light" data-bs-title="'
                                    s += '<div class=\'mb-1\'><span class=\'fs-6\'>Ressources</span></div>'
                                    s += '<div class=\'row g-1 flex-column\'>'
                                        if (ore != '0') {
                                            s += '<div class=\'col-12\'>'
                                                s += '<div class=\'row gx-3\'>'
                                                    s += '<div class=\'col\'>'
                                                        s += '<img src=\'{{ PATH_IMAGES}}img/interface/ore.gif\' class=\'res\' width=\'16px\' height=\'16px\'>'
                                                        s += '<span class=\'text-normal\'>Minerai</span>'
                                                    s += '</div>'
                                                    s += '<div class=\'col-auto\'>' + ore + '</div>'
                                                s += '</div>'
                                            s += '</div>'
                                        }
                                        if (hydrocarbon != '0') {
                                            s += '<div class=\'col-12\'>'
                                                s += '<div class=\'row gx-3\'>'
                                                    s += '<div class=\'col\'>'
                                                        s += '<img src=\'{{ PATH_IMAGES}}img/interface/hydrocarbon.gif\' class=\'res\' width=\'16px\' height=\'16px\'>'
                                                        s += '<span class=\'text-normal\'>Hydrocarbure</span>'
                                                    s += '</div>'
                                                    s += '<div class=\'col-auto\'>' + hydrocarbon + '</div>'
                                                s += '</div>'
                                            s += '</div>'
                                        }
                                    s += '</div>'
                                s += '">'
                                    s += '<img src="{{PATH_IMAGES}}img/map/resource.gif" width="16px" height="16px">'
                                s += '</a>'
                            }
                            else s += '&nbsp;'
                        s += '</td>'

                        s += '<td align="center" rowspan="4" width="50%">'
                            s += '<div><img class="planet" src="{{PATH_IMAGES}}img/planets/p' + img + '.gif" width="52px" height="52px"></div>'
                            s += '<div class="small">' + idx + '</div>'
                        s += '</td>'

                        s += '<td width="25%">'
                            if (floor != '' || space != '') {                        
                                s += '<a href="#" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-light" data-bs-title="'
                                    s += '<div class=\'mb-1\'><span class=\'fs-6\'>Planète</span></div>'
                                    s += '<div class=\'row g-1 flex-column\'>'
                                        s += '<div class=\'col-12\'>'
                                            s += '<div class=\'row gx-3\'>'
                                                s += '<div class=\'col\'>'
                                                    s += '<img src=\'{{ PATH_IMAGES}}img/interface/floor.gif\' class=\'res\' width=\'16px\' height=\'16px\'>'
                                                    s += '<span class=\'text-normal\'>Terrain</span>'
                                                s += '</div>'
                                                s += '<div class=\'col-auto\'>' + floor + '</div>'
                                            s += '</div>'
                                        s += '</div>'
                                        s += '<div class=\'col-12\'>'
                                            s += '<div class=\'row gx-3\'>'
                                                s += '<div class=\'col\'>'
                                                    s += '<img src=\'{{ PATH_IMAGES}}img/interface/space.gif\' class=\'res\' width=\'16px\' height=\'16px\'>'
                                                    s += '<span class=\'text-normal\'>Espace</span>'
                                                s += '</div>'
                                                s += '<div class=\'col-auto\'>' + space + '</div>'
                                            s += '</div>'
                                        s += '</div>'
                                        s += '<div class=\'col-12\'>'
                                            s += '<div class=\'row gx-3\'>'
                                                s += '<div class=\'col\'>'
                                                    s += '<img src=\'{{ PATH_IMAGES}}img/interface/ore.gif\' class=\'res\' width=\'16px\' height=\'16px\'>'
                                                    s += '<span class=\'text-normal\'>Abondance minerai</span>'
                                                s += '</div>'
                                                s += '<div class=\'col-auto\'>' + a_ore + '%</div>'
                                            s += '</div>'
                                        s += '</div>'
                                        s += '<div class=\'col-12\'>'
                                            s += '<div class=\'row gx-3\'>'
                                                s += '<div class=\'col\'>'
                                                    s += '<img src=\'{{ PATH_IMAGES}}img/interface/hydrocarbon.gif\' class=\'res\' width=\'16px\' height=\'16px\'>'
                                                    s += '<span class=\'text-normal\'>Abondance hydrocarbure</span>'
                                                s += '</div>'
                                                s += '<div class=\'col-auto\'>' + a_hydrocarbon + '%</div>'
                                            s += '</div>'
                                        s += '</div>'
                                        if (vortex_strength > 0) {
                                            s += '<div class=\'col-12\'>'
                                                s += '<div class=\'row gx-3\'>'
                                                    s += '<div class=\'col\'><span class=\'text-normal\'>Stabilité vortex</span></div>'
                                                    s += '<div class=\'col-auto\'>' + vortex_strength + '</div>'
                                                s += '</div>'
                                            s += '</div>'
                                        }
                                    s += '</div>'
                                s += '">'
                                    s += '<small class="text-normal"><i class="fa-fw fas fa-info"></i></small>'
                                s += '</a>'
                            }
                            else if (vortex_strength != '0') {                        
                                s += '<a href="#" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-light" data-bs-title="'
                                    s += '<div class=\'mb-1\'><span class=\'fs-6\'>Planète</span></div>'
                                    s += '<div class=\'row g-1 flex-column\'>'
                                        s += '<div class=\'col-12\'>'
                                            s += '<div class=\'row gx-3\'>'
                                                s += '<div class=\'col\'><span class=\'text-normal\'>Stabilité vortex</span></div>'
                                                s += '<div class=\'col-auto\'>' + vortex_strength + '</div>'
                                            s += '</div>'
                                        s += '</div>'
                                    s += '</div>'
                                s += '">'
                                    s += '<img width=16 height=16 src="{{PATH_IMAGES}}img/map/info.gif">'
                                s += '</a>'
                            }
                            else s += '&nbsp;'
                        s += '</td>'
                            
                    s += '</tr>'
                    s += '<tr>'
                    
                        s += '<td align="right">&nbsp;</td>'
                        
                        s += '<td align="left">'
                            if (radar > 0 || jammer != 0) {                    
                                if (jammer == -1) {
                                    s += '<a href="#" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-light" data-bs-title="Radar brouillé">'
                                        s += '<img width=16 height=16 src="{{PATH_IMAGES}}img/map/radarjammed.gif">'
                                    s += '</a>'
                                }
                                else if (radar > 0 && jammer == 0) {                            
                                    s += '<a href="#" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-light" data-bs-title="'
                                        s += '<div class=\'mb-1\'><span class=\'fs-6\'>Radar détecté</span></div>'
                                        s += '<div class=\'row g-1 flex-column\'>'
                                            s += '<div class=\'col-12\'>'
                                                s += '<div class=\'row gx-3\'>'
                                                    s += '<div class=\'col\'><span class=\'text-normal\'>Radar</span></div>'
                                                    s += '<div class=\'col-auto\'>' + radar + '</div>'
                                                s += '</div>'
                                            s += '</div>'
                                        s += '</div>'
                                    s += '">'
                                        s += '<img width=16 height=16 src="{{PATH_IMAGES}}img/map/radar.gif">'
                                    s += '</a>'
                                }
                                else if (jammer > 0) {                            
                                    s += '<a href="#" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-light" data-bs-title="'
                                        s += '<div class=\'mb-1\'><span class=\'fs-6\'>Radar brouillé détecté</span></div>'
                                        s += '<div class=\'row g-1 flex-column\'>'
                                            s += '<div class=\'col-12\'>'
                                                s += '<div class=\'row gx-3\'>'
                                                    s += '<div class=\'col\'><span class=\'text-normal\'>Radar</span></div>'
                                                    s += '<div class=\'col-auto\'>' + radar + '</div>'
                                                s += '</div>'
                                            s += '</div>'
                                            s += '<div class=\'col-12\'>'
                                                s += '<div class=\'row gx-3\'>'
                                                    s += '<div class=\'col\'><span class=\'text-normal\'>Brouillage</span></div>'
                                                    s += '<div class=\'col-auto\'>' + jammer + '</div>'
                                                s += '</div>'
                                            s += '</div>'
                                        s += '</div>'
                                    s += '">'
                                        s += '<img width=16 height=16 src="{{PATH_IMAGES}}img/map/radarjammed-known.gif">'
                                    s += '</a>'
                                }
                            }
                            else s += '&nbsp;'
                        s += '</td>'
                
                    s += '</tr>'
                    s += '<tr>'

                        s += '<td align=right>'
                            if (frozen) {
                                s += '<a href="#" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-light" data-bs-title="En vacances"><img width=16 height=16 src="{{PATH_IMAGES}}img/map/sleeping.gif"></a>'
                            }
                            else if (b_ore != '0' || b_hydrocarbon != '0') {
                                s += '<a href="#" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-light" data-bs-title="'
                                    s += '<div class=\'mb-1\'><span class=\'fs-6\'>Achat de ressources</span></div>'
                                    s += '<div class=\'row g-1 flex-column\'>'
                                        if (b_ore !='0') {
                                            s += '<div class=\'col-12\'>'
                                                s += '<div class=\'row gx-3\'>'
                                                    s += '<div class=\'col\'>'
                                                        s += '<img src=\'{{ PATH_IMAGES}}img/interface/ore.gif\' class=\'res\' width=\'16px\' height=\'16px\'>'
                                                        s += '<span class=\'text-normal\'>Minerai</span>'
                                                    s += '</div>'
                                                    s += '<div class=\'col-auto\'>' + b_ore + '</div>'
                                                s += '</div>'
                                            s += '</div>'
                                        }
                                        if (b_hydrocarbon !='0') {
                                            s += '<div class=\'col-12\'>'
                                                s += '<div class=\'row gx-3\'>'
                                                    s += '<div class=\'col\'>'
                                                        s += '<img src=\'{{ PATH_IMAGES}}img/interface/hydrocarbon.gif\' class=\'res\' width=\'16px\' height=\'16px\'>'
                                                        s += '<span class=\'text-normal\'>Hydrocarbure</span>'
                                                    s += '</div>'
                                                    s += '<div class=\'col-auto\'>' + b_hydrocarbon + '</div>'
                                                s += '</div>'
                                            s += '</div>'
                                        }
                                    s += '</div>'
                                s += '">'
                                    s += '<img width=16 height=16 src="{{PATH_IMAGES}}img/interface/credits.gif">'
                                s += '</a>'
                            }
                            else s += '&nbsp;'
                        s += '</td>'

                        orb[idx] = orbit

                        s += '<td align="left">'
                            if (parked > 0 || orbit.length > 0) {
                                var enemyfleets = false;
                                for (var k = 1; k < orbit.length; k++)
                                    if (orbit[k][4] < 0)
                                        enemyfleets = true;
                                if (enemyfleets) f = "-enemy";
                                else if(orbit.length > 0) f = "-fleets";
                                else f = "";
                                s += '<a href="#" class="none" onclick="return donothide(event)" onfocus="this.onmouseover()" onmouseover="showmenu(\'fleets.' + idx + '\', \'Flottes\', descOrbit(' + idx + ',' + id + ',' + rel + ',' + parked + '))">'
                                    s += '<img id="fleets.' + idx + '" width=16 height=16 src="{{PATH_IMAGES}}img/map/orbit' + f + '.gif">'
                                s += '</a>'
                            }
                            else s += '&nbsp;'
                        s += '</td>'
                
                    s += '</tr>'
                    s += '<tr>'

                        s += '<td align="right">';
                            if (elements.length > 0) {
                                s += '<a href="#" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-light" data-bs-title="'
                                    s += '<div class=\'mb-1\'><span class=\'fs-6\'>Spécial</span></div>'
                                    s += '<div class=\'row g-1 flex-column\'>'
                                        for (var i = 1; i < elements.length; i++) {
                                            s += '<div class=\'col-12\'><span class=\'text-normal\'>' + elements[i] + '</span></div>'
                                        }
                                    s += '</div>'
                                s += '">'
                                    s += '<img width=16 height=16 src="{{PATH_IMAGES}}img/map/special.gif">'
                                s += '</a>'
                            }
                            else s += '&nbsp;'
                        s += '</td>'

                        s += '<td align="left">&nbsp;</td>'
                        
                    s += '</tr>'
                    s += '<tr>'

                        s += '<td colspan="3" align="center">'
                            if (alliancetag != '') s += '<a href="/s03/alliance/?tag=' + alliancetag + '" class="me-1 ' + c + '" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-light" data-bs-title="Voir alliance">[' + alliancetag + ']</a>'
                            if (rel == 2) {
                                if (floor > 0 && space > 0) s += '<a href="/s03/planet/?planet=' + id + '" class="' + c + '" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-light" data-bs-title="Voir planète">' + name + '</a>'
                                else s += '<span class="' + c + '">' + name + '</span>'
                            }
                            else if (rel==-3 && isNaN(parseInt(img))) s += ''
                            else if (rel==-3) s += '<span class="text-muted">Inhabitée</span>'
                            else {
                                if (owner == '') s += '<span class="' + c + '" title="Planète occupée">Occupée</span>';
                                else s += '<a href="/s03/nation/?name=' + owner + '" class="' + c + '" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-light" data-bs-title="Voir profil">' + owner + '</a>'
                            }                            
                        s += '</td>'
                
                    s += '</tr>'
                s += '</table>'
            s += '</div>'

            idx++

            return s
        }

        function displaySector(arr) {
        
            idx = 1;

            var html = "";
            for (var i = 1; i < arr.length; i++) {
            
                var p = arr[i];
                html += loc(p[0], p[1], p[2], p[3], p[4], p[5], p[6], p[7], p[8], p[9], p[10], p[11], p[12], p[13], p[14], p[15], p[16], p[17], p[18], p[19], p[20]);
            }

            $('mapSector').innerHTML = html
        }
    </script>
    <div class="d-flex align-items-center justify-content-center">
        <div class="bg-black border rounded">
            <table cellspacing="0" border="0">
                <tr>
                    <td>
                        <a href="#"
                           onclick="openSector({{ galaxy }},{{ sector0 }})"
                           data-bs-toggle="tooltip"
                           data-bs-title="Secteur {{ sector0 }}"><i class="fa-fw fas fa-chevron-up" style="transform:rotate(-45deg);"></i></a>
                    </td>
                    <td align="center">
                        <a href="#"
                           onclick="openSector({{ galaxy }},{{ sector1 }})"
                           data-bs-toggle="tooltip"
                           data-bs-title="Secteur {{ sector1 }}"><i class="fa-fw fas fa-chevron-up"></i></a>
                    </td>
                    <td>
                        <a href="#"
                           onclick="openSector({{ galaxy }},{{ sector2 }})"
                           data-bs-toggle="tooltip"
                           data-bs-title="Secteur {{ sector2 }}"><i class="fa-fw fas fa-chevron-up" style="transform:rotate(45deg);"></i></a>
                    </td>
                </tr>
                <tr>
                    <td valign="middle">
                        <a href="#"
                           onclick="openSector({{ galaxy }},{{ sector7 }})"
                           data-bs-toggle="tooltip"
                           data-bs-title="Secteur {{ sector7 }}"><i class="fa-fw fas fa-chevron-left"></i></a>
                    </td>
                    <td>
                        <div id="mapSector" class="row gx-0 gy-3" style="width:720px;">
                        </div>
                        <script>
                            displaySector(new Array(0
                                {% for planet in locations %}
                                    ,new Array('{% if planet.planet %}{{planet.planet_img}}{% endif %}{% if planet.vortex %}vortex{% endif %}{% if planet.asteroids %}asteroids{% endif %}{% if planet.clouds %}clouds{% endif %}', '{{planet.alliancetag}}','{{planet.planetid}}','{{planet.ownername}}','{{planet.planetname}}',{{planet.relation}},{{planet.radarstrength}},{{planet.radarjamming}},'{{planet.ore|intcomma}}','{{planet.hydrocarbon|intcomma}}','{{planet.floor}}','{{planet.space}}', '{{planet.a_ore}}','{{planet.a_hydrocarbon}}','{{planet.vortex_strength}}',{% if planet.frozen %}true{% endif %}{% if planet.active %}false{% endif %},{{planet.parked}}
                                    ,new Array({% if planet.orbit %}0{% for fleet in planet.fleets %},new Array({{fleet.fleetid}},'{{fleet.fleetname}}','{{fleet.alliancetag}}','{{fleet.fleetowner}}',{{fleet.relation}},{{fleet.signature}},0{% if fleet.fleeing %}1{% endif %}){% endfor %}{% endif %})
                                    ,new Array({% if planet.elements %}0{% for element in planet.elements %},'{{element.element}}'{% endfor %}{% endif %})
                                    ,'{{planet.buy_ore|intcomma}}','{{planet.buy_hydrocarbon|intcomma}}'
                                ){% endfor %}
                            ));                            
                        </script>
                    </td>
                    <td valign="middle">
                        <a href="#"
                           onclick="openSector({{ galaxy }},{{ sector3 }})"
                           data-bs-toggle="tooltip"
                           data-bs-title="Secteur {{ sector3 }}"><i class="fa-fw fas fa-chevron-right"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#"
                           onclick="openSector({{ galaxy }},{{ sector6 }})"
                           data-bs-toggle="tooltip"
                           data-bs-title="Secteur {{ sector6 }}"><i class="fa-fw fas fa-chevron-down" style="transform:rotate(45deg);"></i></a>
                    </td>
                    <td align="center">
                        <a href="#"
                           onclick="openSector({{ galaxy }},{{ sector5 }})"
                           data-bs-toggle="tooltip"
                           data-bs-title="Secteur {{ sector5 }}"><i class="fa-fw fas fa-chevron-down"></i></a>
                    </td>
                    <td>
                        <a href="#"
                           onclick="openSector({{ galaxy }},{{ sector4 }})"
                           data-bs-toggle="tooltip"
                           data-bs-title="Secteur {{ sector4 }}"><i class="fa-fw fas fa-chevron-down" style="transform:rotate(-45deg);"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% if radar %}
        <script>
            function radarFleet(rel, tag, owner, fleetid, fleet, sig, f_id, f_name, f_g, f_s, f_p, f_rel, t_id, t_name, t_g, t_s, t_p, t_rel, time, losing) {
            
                let classname = getRelationClass(rel);
                
                let html = ''
                html += '<div class="list-group-item">'
                    html += '<div class="row gx-3">'
                        html += '<div class="col">'
                            if (tag != '') {
                                html += '<a href="/s03/alliance/?tag=' + tag + '" class="me-1 ' + classname + '" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[' + tag + ']</a>'
                            }
                            if (rel == 2) {
                                html += '<a href="/s03/fleet/?id=' + fleetid + '" class="text-self" data-bs-toggle="tooltip" data-bs-title="Voir flotte">' + fleet + '</a>'
                            }
                            else {
                                html += '<a href="/s03/mails/?to=' + owner + '" class="' + classname + '" data-bs-toggle="tooltip" data-bs-title="Contacter propriétaire">' + owner + '</a>'
                            }
                            if (sig > 0) {
                                html += '<small class="ms-2">' + formatnumber(sig) + '</small>'
                            }
                            else {
                                html += '<small class="ms-2 text-normal">???</small>'
                            }
                        html += '</div>'
                        html += '<div class="col-auto">'
                            if (f_id != '') html += planet_str(f_id,f_name,f_g,f_s,f_p,f_rel)
                            else html += '<span class="text-normal">???</span>'
                            html += '<i class="fa-fw fas fa-long-arrow-alt-right mx-2 text-normal"></i>'
                            if (t_id != '') html += planet_str(t_id,t_name,t_g,t_s,t_p,t_rel)
                            else html += '<span class="text-normal">???</</span>'
                    html += '</div>'
                        html += '<div class="col-1 text-end">'
                            html += '<span class="text-yellow"><script>putcountdown1(' + time + ', "Arrivée", "/s03/overview/")</'+'script></span>'
                        html += '</div>'
                    html += '</div>'
                html += '</div>'
                
                document.write(html);
            }
        </script>
        <div class="mt-3">
            <div class="card">
                <div class="card-header">
                    <span class="fs-6">Mouvements de flotte</span>
                </div>
                <div class="list-group list-group-flush">
                    {% for fleet in movings %}
                        <script>radarFleet({{ fleet.relation }}, "{{ fleet.alliancetag }}", "{{ fleet.name }}", "{{ fleet.fleetid }}", "{{ fleet.fleetname }}", {{ fleet.signature }}, "{{ fleet.f_planetid }}", "{{ fleet.f_planetname }}", "{{ fleet.f_g }}", "{{ fleet.f_s }}", "{{ fleet.f_p }}", {{ fleet.f_relation }}, "{{ fleet.t_planetid }}", "{{ fleet.t_planetname }}", "{{ fleet.t_g }}", "{{ fleet.t_s }}", "{{ fleet.t_p }}", {{ fleet.t_relation }}, {{ fleet.time}}, {% if fleet.losing %}true{% else %}false{% endif %});</script>
                    {% empty %}
                        <div class="list-group-item">
                            <span class="text-normal">Aucune flotte détectée</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="card">
                <div class="card-header">
                    <span class="fs-6">Flottes entrant dans le secteur</span>
                </div>
                <div class="list-group list-group-flush">
                    {% for fleet in enterings %}
                        <script>radarFleet({{ fleet.relation }}, "{{ fleet.alliancetag }}", "{{ fleet.name }}", "{{ fleet.fleetid }}", "{{ fleet.fleetname }}", {{ fleet.signature }}, "{{ fleet.f_planetid }}", "{{ fleet.f_planetname }}", "{{ fleet.f_g }}", "{{ fleet.f_s }}", "{{ fleet.f_p }}", {{ fleet.f_relation }}, "{{ fleet.t_planetid }}", "{{ fleet.t_planetname }}", "{{ fleet.t_g }}", "{{ fleet.t_s }}", "{{ fleet.t_p }}", {{ fleet.t_relation }}, {{ fleet.time}}, {% if fleet.losing %}true{% else %}false{% endif %});</script>
                    {% empty %}
                        <div class="list-group-item">
                            <span class="text-normal">Aucune flotte détectée</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="card">
                <div class="card-header">
                    <span class="fs-6">Flottes sortant du secteur</span>
                </div>
                <div class="list-group list-group-flush">
                    {% for fleet in leavings %}
                        <script>radarFleet({{ fleet.relation }}, "{{ fleet.alliancetag }}", "{{ fleet.name }}", "{{ fleet.fleetid }}", "{{ fleet.fleetname }}", {{ fleet.signature }}, "{{ fleet.f_planetid }}", "{{ fleet.f_planetname }}", "{{ fleet.f_g }}", "{{ fleet.f_s }}", "{{ fleet.f_p }}", {{ fleet.f_relation }}, "{{ fleet.t_planetid }}", "{{ fleet.t_planetname }}", "{{ fleet.t_g }}", "{{ fleet.t_s }}", "{{ fleet.t_p }}", {{ fleet.t_relation }}, {{ fleet.time}}, {% if fleet.losing %}true{% else %}false{% endif %});</script>
                    {% empty %}
                        <div class="list-group-item">
                            <span class="text-normal">Aucune flotte détectée</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
<script>setLoc('{{ galaxy }}', '{{ sector }}');</script>
</div>
{% endblock %}
