{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
{% if header %}
    <div class="page-content">
        <ul class="nav nav-tabs mt-0 mb-3">
            <li class="nav-item">
                <a href="/s03/planet-view/?planet={{ cur_planetid }}" class="nav-link">Aperçu</a>
            </li>
            <li class="nav-item">
                <a href="/s03/planet-production/?planet={{ cur_planetid }}" class="nav-link">Production</a>
            </li>
            <li class="nav-item">
                <a href="/s03/planet-working/?planet={{ cur_planetid }}" class="nav-link">Fonctionnement</a>
            </li>
            <li class="nav-item">
                <a href="/s03/planet-buildings/?planet={{ cur_planetid }}" class="nav-link">Bâtiments</a>
            </li>
            <li class="nav-item">
                <a href="/s03/planet-ships/?planet={{ cur_planetid }}" class="nav-link">Vaisseaux</a>
            </li>
            <li class="nav-item">
                <a href="/s03/planet-recycling/?planet={{ cur_planetid }}" class="nav-link">Recyclage</a>
            </li>
            <li class="nav-item">
                <a href="/s03/planet-trainings/?planet={{ cur_planetid }}" class="nav-link">Entraînements</a>
            </li>
            <li class="nav-item">
                <a href="/s03/planet-orbit/?planet={{ cur_planetid }}" class="nav-link">Orbite</a>
            </li>
            <li class="nav-item">
                <a href="/s03/market-sell/?planet={{ cur_planetid }}" class="nav-link">Vente</a>
            </li>
            <li class="nav-item active">
                <a href="/s03/market-buy/?planet={{ cur_planetid }}" class="nav-link">Achat</a>
            </li>
            <li class="nav-item">
                <a href="/s03/planet-transferts/?planet={{ cur_planetid }}" class="nav-link">Transferts</a>
            </li>
        </ul>
    </div>
    <div class="scroll-content" style="height:calc(100% - 158px);">
        <div class="page-content">
{% else %}
    <div class="page-content">
        <ul class="nav nav-tabs mt-0 mb-3">
            <li class="nav-item">
                <a href="/s03/market-sell/" class="nav-link">Vente</a>
            </li>
            <li class="nav-item active">
                <a href="/s03/market-buy/" class="nav-link">Achat</a>
            </li>
        </ul>
    </div>
    <div class="scroll-content" style="height:calc(100% - 52px);">
        <div class="page-content">
{% endif %}
<script>
	var planets = new Array(0{% for planet in m_planets %}{% if planet.can_buy %},new Array({{planet.id}},{{planet.ore_max}},{{planet.hydrocarbon_max}},{{planet.price_ore}},{{planet.price_hydrocarbon}}){% endif %}{% endfor %});

	function updateprice(id) {
    
		var ore_q = 0;
		var hydro_q = 0;

		var planet = planets[id];

		ore_q = getval("o"+planet[0]);
		if (ore_q > planet[1]) { ore_q = planet[1]; setval("o"+planet[0], planet[1]); }
		var ore_price = planet[3];

		hydro_q = getval("h"+planet[0]);
		if (hydro_q > planet[2]) { hydro_q = planet[2]; setval("h"+planet[0], planet[2]); }
		var hydro_price = planet[4];

		var price = ore_q*ore_price + hydro_q*hydro_price;

		var obj = $("totalprice"+planet[0]);
		if ((obj != null) && (obj.innerHTML != price)) {

            obj.innerHTML = formatnumber(price);
            {% if not showHeader %}computetotal();{% endif %}
		}
	}
    
    {% if not showHeader %}
        function computetotal() {
        
            var total={{total}};

            for (var i=1; i<planets.length; i++) {
            
                var planet=planets[i];
                var obj = $("totalprice" + planet[0]);
                total += parseInt(obj.innerHTML.replace(" ", ""));
            }
            
            var obj = $("total");
            obj.innerHTML = formatnumber(total);
        }
    {% endif %}
</script>
<form method="post" action="?a=buy{% if header %}&planet={{ cur_planetid }}{% endif %}">
    {% csrf_token %}
    <input type="hidden" name="rel" value="1">
    <div class="card">
        <div class="card-header">
            <span class="fs-6">Achat de ressources</span>
        </div>
        <div class="list-group list-group-flush">
            {% for planet in m_planets %}
                <div class="list-group-item {% if planet.highlight %}bg-success{% endif %}">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <img src="{{ PATH_IMAGES }}img/planets/p{{ planet.img }}.gif" class="rounded" width="48px" height="48px">                        
                        </div>
                        <div class="col-4">
                            <div class="row g-1 flex-column">
                                <div class="col-12">
                                    <a href="/s03/map/?g={{ planet.galaxy }}&s={{ planet.sector }}&p={{ planet.planet }}" class="me-2" data-bs-toggle="tooltip" data-bs-title="Carte spatiale">{{ planet.galaxy }}.{{ planet.sector }}.{{ planet.planet }}</a>
                                    <a href="/s03/planet-view/?planet={{ planet.id }}" data-bs-toggle="tooltip" data-bs-title="Voir planète">{{ planet.name }}</a>
                                </div>
                                <div class="col-12">
                                    <img src="{{ PATH_IMAGES }}img/interface/ore.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Minerai">
                                    <span class="{% if planet.high_ore_capacity %}text-danger{% endif %}">{{ planet.ore|intcomma }}</span>
                                    <small class="text-normal">/{{ planet.ore_capacity|intcomma }}</small>
                                    <small class="ms-2 text-success">+{{ planet.ore_production|intcomma }}</small>
                                </div>
                                <div class="col-12">
                                    <img src="{{ PATH_IMAGES }}img/interface/hydrocarbon.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure">
                                    <span class="{% if planet.high_hydrocarbon_capacity %}text-danger{% endif %}">{{ planet.hydrocarbon|intcomma }}</span>
                                    <small class="text-normal">/{{ planet.hydrocarbon_capacity|intcomma }}</small>
                                    <small class="ms-2 text-success">+{{ planet.hydrocarbon_production|intcomma }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            {% if planet.buying %}
                                <div class="row g-1 flex-column">
                                    <div class="col-12">
                                        <img src="{{ PATH_IMAGES }}img/interface/ore.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Minerai">
                                        {{ planet.ore_bought|intcomma }}
                                    </div>
                                    <div class="col-12">
                                        <img src="{{ PATH_IMAGES }}img/interface/hydrocarbon.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure">
                                        {{ planet.hydrocarbon_bought|intcomma }}
                                    </div>
                                </div>
                            {% elif planet.cant_buy_enemy %}
                                <span class="text-danger">Impossible d'acheter tant que des vaisseaux ennemis orbitent autour de la planète</span>
                            {% elif planet.cant_buy_workers %}
                                <span class="text-danger">Impossible d'acheter, nous n'avons pas assez de personnel pour s'occuper des marchandises et des transactions avec les marchands</span>
                            {% elif planet.cant_buy_merchants %}
                                <span class="text-danger">Impossible d'acheter, cette galaxie n'est pas desservie par les marchands</span>
                            {% elif planet.can_buy %}
                                <div class="row g-1 flex-column">
                                    <div class="col-12 d-flex align-items-center">
                                        <img src="{{ PATH_IMAGES }}img/interface/ore.gif" width="16px" height="16px" class="res me-2" data-bs-toggle="tooltip" data-bs-title="Minerai">
                                        <input type="number" class="form-control" min="0" id="o{{ planet.id }}" name="o{{ planet.id }}" value="" onkeyup="updateprice({{ forloop.counter }})" size="3" maxlength="4">
                                        <span class="mx-2 text-normal">x{{ 1000|intcomma }}</span>
                                        <img src="{{ PATH_IMAGES }}img/interface/credits.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits">
                                        <span class="me-2">{{ planet.price_ore|floatformat:2 }}</span>
                                        <a href="javascript:setval('o{{ planet.id }}', {{ planet.ore_max }}); updateprice({{ forloop.counter }})">max</a>
                                    </div>
                                    <div class="col-12 d-flex align-items-center">
                                        <img src="{{ PATH_IMAGES }}img/interface/hydrocarbon.gif" width="16px" height="16px" class="res me-2" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure">
                                        <input type="number" class="form-control" min="0" id="h{{ planet.id }}" name="h{{ planet.id }}" value="" onkeyup="updateprice({{ forloop.counter }})" size="3" maxlength="4">
                                        <span class="mx-2 text-normal">x{{ 1000|intcomma }}</span>
                                        <img src="{{ PATH_IMAGES }}img/interface/credits.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits">
                                        <span class="me-2">{{ planet.price_hydrocarbon|floatformat:2 }}</span>
                                        <a href="javascript:setval('h{{ planet.id }}', {{ planet.hydrocarbon_max }}); updateprice({{ forloop.counter }})">max</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            {% if planet.buy %}<a href="javascript:setval('o{{ planet.id }}', 0); setval('h{{ planet.id }}', 0); updateprice({{ forloop.counter }})">Rien</a>{% endif %}
                        </div>
                        <div class="col-auto">
                            {% if planet.buy %}<a href="javascript:setval('o{{ planet.id }}', {{ planet.ore_max }}); setval('h{{ planet.id }}', {{ planet.hydrocarbon_max }}); updateprice({{ forloop.counter }})">Tout</a>{% endif %}
                        </div>
                        <div class="col text-end">
                            <img src="{{ PATH_IMAGES }}img/interface/credits.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits">
                            <span id="totalprice{{ planet.id }}">{{ planet.buying_price|intcomma }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if buy %}
                <div class="list-group-item">
                    <div class="row gx-3 align-items-center justify-content-end">
                        {% if not showHeader %}
                            <div class="col-auto">
                                <span class="text-normal me-2">Total</span>
                                <img src="{{ PATH_IMAGES }}img/interface/credits.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits">
                                <span id="total">0</span>
                            </div>
                        {% endif %}
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary" value="Acheter">
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</form>
{% if not showHeader %}<script>computetotal();</script>{% endif %}
</div>
{% if header %}</div>{% endif %}
{% endblock %}
