{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
{% if get_planet %}
    <div class="page-content">
        <ul class="nav nav-tabs mt-0 mb-3">
            <li class="nav-item">
                <a href="/s03/planet/?planet={{ cur_planetid }}" class="nav-link">Aperçu</a>
            </li>
            <li class="nav-item">
                <a href="/s03/production/?planet={{ cur_planetid }}" class="nav-link">Production</a>
            </li>
            <li class="nav-item">
                <a href="/s03/production/?planet={{ cur_planetid }}&cat=2" class="nav-link">Fonctionnement</a>
            </li>
            <li class="nav-item">
                <a href="/s03/buildings/?planet={{ cur_planetid }}" class="nav-link">Bâtiments</a>
            </li>
            <li class="nav-item">
                <a href="/s03/shipyard/?planet={{ cur_planetid }}" class="nav-link">Vaisseaux</a>
            </li>
            <li class="nav-item">
                <a href="/s03/shipyard/?planet={{ cur_planetid }}&recycle=1" class="nav-link">Recyclage</a>
            </li>
            <li class="nav-item">
                <a href="/s03/training/?planet={{ cur_planetid }}" class="nav-link">Entraînements</a>
            </li>
            <li class="nav-item">
                <a href="/s03/orbit/?planet={{ cur_planetid }}" class="nav-link">Orbite</a>
            </li>
            <li class="nav-item active">
                <a href="/s03/market-sell/?planet={{ cur_planetid }}" class="nav-link">Vente</a>
            </li>
            <li class="nav-item">
                <a href="/s03/market-buy/?planet={{ cur_planetid }}" class="nav-link">Achat</a>
            </li>
            <li class="nav-item">
                <a href="/s03/production/?planet={{ cur_planetid }}&cat=3" class="nav-link">Transferts</a>
            </li>
        </ul>
    </div>
    <div class="scroll-content" style="height:calc(100% - 158px);">
        <div class="page-content">
{% else %}
    <div class="page-content">
        <ul class="nav nav-tabs mt-0 mb-3">
            <li class="nav-item active">
                <a href="/s03/market-sell/" class="nav-link">Vente</a>
            </li>
            <li class="nav-item">
                <a href="/s03/market-buy/" class="nav-link">Achat</a>
            </li>
        </ul>
    </div>
    <div class="scroll-content" style="height:calc(100% - 52px);">
        <div class="page-content">
{% endif %}
<script>
	var planets = [];
	{% for planet in m_planets %}
	planets.push({ id:{{planet.planet_id}}, oreMax:{{planet.ore_max}}, hydroMax:{{planet.hydrocarbon_max}}, orePrice:{{planet.ore_price2}}, hydroPrice:{{planet.hydrocarbon_price2}}, total:0 });
	{% endfor %}

	function getPlanet(id) {
    
		for (var i = 0; i < planets.length; i++)
			if (planets[i].id == id)
				return planets[i];
                
		return null;
	}

	function updateprice(id) {
    
		var p = getPlanet(id);
		if( p == null) return;

		var ore = getval("o" + p.id);
		if (ore > p.oreMax) {
			ore = p.oreMax;
			setval("o" + p.id, p.oreMax);
		}

		var hydro = getval("h" + p.id);
		if (hydro > p.hydroMax) {
			hydro = p.hydroMax;
			setval("h" + p.id, p.hydroMax);
		}

		p.total = ore * p.orePrice + hydro * p.hydroPrice;

		var obj = $("totalprice" + p.id);

		if ((obj != null) && (obj.innerHTML != formatnumber(p.total))) {
        
			obj.innerHTML = formatnumber(Math.round(p.total*100)/100.0);
            {% if totalprice %}computetotal();{% endif %}
		}
	}
    
    {% if totalprice %}
        function computetotal() {
        
            var total = {{total}};

            for (var i=0; i<planets.length; i++) {
            
                var p = planets[i];
                var obj = $("totalprice" + p.id);
                total += parseInt(obj.innerHTML.replace(" ",""));
            }

            var obj = $("total");
            obj.innerHTML = formatnumber(total);
        }
    {% endif %}
</script>
<form method="post" action="?a=sell{% if get_planet %}&planet={{ get_planet }}{% endif %}">
    {% csrf_token %}
    <input type="hidden" name="rel" value="1">
    <div class="card">
        <div class="card-header">
            <span class="fs-6">Vente de ressources</span>
        </div>
        <div class="list-group list-group-flush">
            {% for planet in m_planets %}
                <div class="list-group-item {% if planet.highlight %}bg-success{% endif %}">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <img src="{{ PATH_IMAGES }}img/planets/p{{ planet.planet_img }}.gif" class="rounded" width="48px" height="48px">                        
                        </div>
                        <div class="col-4">
                            <div class="row g-1 flex-column">
                                <div class="col-12">
                                    <a href="/s03/map/?g={{ planet.g }}&s={{ planet.s }}&p={{ planet.p }}" class="me-2" data-bs-toggle="tooltip" data-bs-title="Carte spatiale">{{ planet.g }}.{{ planet.s }}.{{ planet.p }}</a>
                                    <a href="/s03/planet/?planet={{ planet.planet_id }}" data-bs-toggle="tooltip" data-bs-title="Voir planète">{{ planet.planet_name }}</a>
                                </div>
                                <div class="col-12">
                                    <img src="{{ PATH_IMAGES }}img/interface/ore.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Minerai">
                                    <span class="{% if planet.high_ore_capacity %}text-danger{% endif %}">{{ planet.planet_ore|intcomma }}</span>
                                    <small class="text-normal">/{{ planet.planet_ore_capacity|intcomma }}</small>
                                    <small class="ms-2 text-success">+{{ planet.planet_ore_production|intcomma }}</small>
                                </div>
                                <div class="col-12">
                                    <img src="{{ PATH_IMAGES }}img/interface/hydrocarbon.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure">
                                    <span class="{% if planet.high_hydrocarbon_capacity %}text-danger{% endif %}">{{ planet.planet_hydrocarbon|intcomma }}</span>
                                    <small class="text-normal">/{{ planet.planet_hydrocarbon_capacity|intcomma }}</small>
                                    <small class="ms-2 text-success">+{{ planet.planet_hydrocarbon_production|intcomma }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row g-1 flex-column">
                                <div class="col-12 d-flex align-items-center">
                                    <img src="{{ PATH_IMAGES }}img/interface/ore.gif" width="16px" height="16px" class="res me-2" data-bs-toggle="tooltip" data-bs-title="Minerai">
                                    <input type="number" class="form-control" min="0" id="o{{ planet.planet_id }}" name="o{{ planet.planet_id }}" value="{{ planet.ore }}" onkeyup="updateprice({{ planet.planet_id }})" size="3" maxlength="4" />
                                    <span class="mx-2 text-normal">x{{ 1000|intcomma }}</span>
                                    <img src="{{ PATH_IMAGES }}img/interface/credits.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits">
                                    <span class="me-2">{{ planet.ore_price|floatformat:2|intcomma }}</span>
                                    <a href="javascript:setval('o{{ planet.planet_id }}', {{ planet.ore_max }}); updateprice({{ planet.planet_id }})">Max</a>
                                </div>
                                <div class="col-12 d-flex align-items-center">
                                    <img src="{{ PATH_IMAGES }}img/interface/hydrocarbon.gif" width="16px" height="16px" class="res me-2" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure">
                                    <input type="number" class="form-control" min="0" id="h{{ planet.planet_id }}" name="h{{ planet.planet_id }}" value="{{ planet.hydrocarbon }}" onkeyup="updateprice({{ planet.planet_id }})" size="3" maxlength="4" />
                                    <span class="mx-2 text-normal">x{{ 1000|intcomma }}</span>
                                    <img src="{{ PATH_IMAGES }}img/interface/credits.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits">
                                    <span class="me-2">{{ planet.hydrocarbon_price|floatformat:2|intcomma }}</span>
                                    <a href="javascript:setval('h{{ planet.planet_id }}', {{ planet.hydrocarbon_max }}); updateprice({{ planet.planet_id }})">Max</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a href="javascript:setval('o{{ planet.planet_id }}', 0); setval('h{{ planet.planet_id }}', 0); updateprice({{ planet.planet_id }})">Rien</a>
                        </div>
                        <div class="col-auto">
                            <a href="javascript:setval('o{{ planet.planet_id }}', {{ planet.ore_max }}); setval('h{{ planet.planet_id }}', {{ planet.hydrocarbon_max }}); updateprice({{ planet.planet_id }})">Tout</a>
                        </div>
                        <div class="col text-end">
                            <img src="{{ PATH_IMAGES }}img/interface/credits.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits">
                            <span id="totalprice{{ planet.planet_id }}">{{ planet.selling_price|intcomma }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if sell %}
                <div class="list-group-item">
                    <div class="row gx-3 align-items-center justify-content-end">
                        <div class="col-auto">
                            <span class="text-normal me-2">Total</span>
                            <img src="{{ PATH_IMAGES }}img/interface/credits.gif" width="16px" height="16px" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits">
                            <span id="total">0</span>
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary" value="Vendre">
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</form>
<script>computetotal();</script>
</div>
{% if get_planet %}</div>{% endif %}
{% endblock %}
