{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    <div class="nav nav-tabs mb-3">
        <div class="nav-item">
            <a href="/s03/market-buy/" class="nav-link active">Achats</a>
        </div>
        <div class="nav-item">
            <a href="/s03/market-sell/" class="nav-link">Ventes</a>
        </div>
    </div>
    <script>
        var planets = new Array(0{% for planet in planets %}{% if planet.can_buy %}, new Array({{planet.id}}, {{planet.ore_max}}, {{planet.hydrocarbon_max}}, {{planet.price_ore}}, {{planet.price_hydrocarbon}}){% endif %}{% endfor %});

        function updateprice(id) {
        
            var planet = planets[id + 1];

            var ore_q = getval("o" + planet[0]);
            if (ore_q > planet[1]) { ore_q = planet[1]; setval("o" + planet[0], planet[1]); }

            var hydro_q = getval("h" + planet[0]);
            if (hydro_q > planet[2]) { hydro_q = planet[2]; setval("h" + planet[0], planet[2]); }

            var ore_price = planet[3];
            var hydro_price = planet[4];
            var price = ore_q * ore_price + hydro_q * hydro_price;

            var obj = $("totalprice" + planet[0]);
            if ((obj != null) && (obj.innerHTML != price)) {
            
                obj.innerHTML = formatnumber(price);
                obj.innerHTML = formatnumber(parseInt(obj.innerHTML.replace(" ","")))
                computetotal();
            }
        }

        function computetotal() {
        
            var total = 0;

            for (var i = 1; i < planets.length; i++) {
            
                var planet = planets[i];
                var obj = $("totalprice" + planet[0]);
                total += parseInt(obj.innerHTML.replace(" ",""));
            }
            
            var obj = $("total");
            obj.innerHTML = formatnumber(total);
        }
    </script>
    <form method="post" action="." class="card">
        <div class="list-group list-group-flush">
            {% for planet in planets %}
                <div class="list-group-item {% if planet.is_current %}bg-success{% endif %}">
                    <div class="row gx-3 align-items-center">
                        <div class="col-auto">
                            <div class="row g-1 flex-column">
                                <div class="col-12 text-center">
                                    <img src="{{ PATH_IMAGES }}planets/p{{ planet.img }}.gif"
                                         width="48px"
                                         class="rounded"/>
                                </div>
                                <div class="col-12 text-center">
                                    <a href="/s03/map/?g={{ planet.g }}&s={{ planet.s }}">{{ planet.galaxy }}.{{ planet.sector }}.{{ planet.planet }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row g-1 flex-column">
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col">
                                            <a href="/s03/planet-view/?planet={{ planet.id }}">{{ planet.name }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row gx-3 flex-nowrap align-items-center">
                                        <div class="col-4">
                                            <div class="row g-1 flex-column">
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/s03/img/interface/ore.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span class="{% if planet.ore_level >= 90 %}text-danger{% elif planet.ore_level >= 70 %}text-warning{% endif %}">{{ planet.ore_count|intcomma }}</span>
                                                    <small class="ms-1 text-normal">/{{ planet.ore_capacity|intcomma }}</small>
                                                    <small class="ms-1 text-success">+{{ planet.ore_production|intcomma }}</small>
                                                </div>
                                                <div class="col-12 text-nowrap">
                                                    <img src="/static/s03/img/interface/hydrocarbon.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px">
                                                    <span class="{% if planet.hydrocarbon_level >= 90 %}text-danger{% elif planet.hydrocarbon_level >= 70 %}text-warning{% endif %}">{{ planet.hydrocarbon_count|intcomma }}</span>
                                                    <small class="ms-1 text-normal">/{{ planet.hydrocarbon_capacity|intcomma }}</small>
                                                    <small class="ms-1 text-success">+{{ planet.hydrocarbon_production|intcomma }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        {% if planet.buying %}
                                            <div class="col">
                                                <div class="row g-1 flex-column">
                                                    {% if planet.buying_ore > 0 %}
                                                        <div class="col-12 text-nowrap">
                                                            <img src="/static/s03/img/interface/ore.gif"
                                                                 class="res"
                                                                 width="16px"
                                                                 height="16px">
                                                            <span>{{ planet.buying_ore|intcomma }}</span>
                                                        </div>
                                                    {% endif %}
                                                    {% if planet.buying_hydrocarbon > 0 %}
                                                        <div class="col-12 text-nowrap">
                                                            <img src="/static/s03/img/interface/hydrocarbon.gif"
                                                                 class="res"
                                                                 width="16px"
                                                                 height="16px">
                                                            <span>{{ planet.buying_hydrocarbon|intcomma }}</span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-auto text-end">
                                                <span class="text-success">Livraison en cours</span>
                                            </div>
                                        {% endif %}
                                        {% if planet.can_buy %}
                                            <div class="col">
                                                <div class="row g-1 flex-column">
                                                    <div class="col-12 text-nowrap">
                                                        <div class="row gx-3 align-items-center">
                                                            <div class="col-auto">
                                                                <input type="number"
                                                                       min="0"
                                                                       id="o{{ planet.id }}"
                                                                       name="o{{ planet.id }}"
                                                                       value=""
                                                                       onkeyup="updateprice({{ planet.index }})"
                                                                       size="3"
                                                                       maxlength="4"/>
                                                            </div>
                                                            <div class="col-auto">
                                                                <small class="text-normal">x</small> {{ 1000|intcomma }}
                                                            </div>
                                                            <div class="col-auto">
                                                                <img src="{{ PATH_IMAGES }}interface/credits.gif"
                                                                     class="res"
                                                                     width="16px"
                                                                     height="16px"/>
                                                                {{ planet.price_ore|floatformat:2 }}
                                                            </div>
                                                            <div class="col-auto">
                                                                <a href="javascript:setval('o{{ planet.id }}', {{ planet.ore_max }}); updateprice({{ planet.index }})">max</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 text-nowrap">
                                                        <div class="row gx-3 align-items-center">
                                                            <div class="col-auto">
                                                                <input type="number"
                                                                       min="0"
                                                                       id="h{{ planet.id }}"
                                                                       name="h{{ planet.id }}"
                                                                       value=""
                                                                       onkeyup="updateprice({{ planet.index }})"
                                                                       size="3"
                                                                       maxlength="4"/>
                                                            </div>
                                                            <div class="col-auto">
                                                                <small class="text-normal">x</small> {{ 1000|intcomma }}
                                                            </div>
                                                            <div class="col-auto">
                                                                <img src="{{ PATH_IMAGES }}interface/credits.gif"
                                                                     class="res"
                                                                     width="16px"
                                                                     height="16px"/>
                                                                {{ planet.price_hydrocarbon|floatformat:2 }}
                                                            </div>
                                                            <div class="col-auto">
                                                                <a href="javascript:setval('h{{ planet.id }}', {{ planet.hydrocarbon_max }}); updateprice({{ planet.index }})">max</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto text-end">
                                                <img src="{{ PATH_IMAGES }}interface/credits.gif"
                                                     class="res"
                                                     width="16px"
                                                     height="16px"/>
                                                <span id="totalprice{{ planet.id }}">0</span>
                                            </div>
                                        {% endif %}
                                        {% if planet.cant_buy_enemy %}
                                            <div class="col text-center">
                                                <span class="text-danger">Impossible d'acheter tant que des vaisseaux ennemis orbitent autour de la planète</span>
                                            </div>
                                        {% endif %}
                                        {% if planet.cant_buy_worker %}
                                            <div class="col text-center">
                                                <span class="text-danger">Impossible d'acheter, nous n'avons pas assez de personnel pour s'occuper des marchandises et des transactions avec les marchands</span>
                                            </div>
                                        {% endif %}
                                        {% if planet.cant_buy_merchant %}
                                            <div class="col text-center">
                                                <span class="text-danger">Impossible d'acheter, cette galaxie n'est pas desservie par la Guilde Marchand</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="list-group-item">
                <div class="row gx-3 align-items-center">
                    <div class="col">
                        <span class="text-normal">Total</span>
                    </div>
                    <div class="col-auto">
                        <img src="{{ PATH_IMAGES }}interface/credits.gif"
                             class="res"
                             width="16px"
                             height="16px"/>
                        <span id="total">0</span>
                    </div>
                    <div class="col-auto">
                        <input type="submit" value="Acheter" />
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="action" value="buy" />
        {% csrf_token %}
    </form>
{% endblock %}
