{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    <div class="nav nav-tabs mb-2">
        <div class="nav-item">
            <a href="/s03/empire-planets/" class="nav-link">Aperçu</a>
        </div>
        <div class="nav-item">
            <a href="/s03/market-buy/" class="nav-link active">Achats</a>
        </div>
        <div class="nav-item">
            <a href="/s03/market-sell/" class="nav-link">Ventes</a>
        </div>
        <div class="nav-item">
            <a href="/s03/empire-ground/" class="nav-link">Au sol</a>
        </div>
    </div>
    <script>
        var planets = new Array(0{% for planet in planets %}{% if planet.can_buy %}, new Array({{planet.id}}, {{planet.ore_max}}, {{planet.hydrocarbon_max}}, {{planet.price_ore}}, {{planet.price_hydrocarbon}}){% endif %}{% endfor %});

        function updateprice(id) {
        
            var planet = planets[id + 1];

            var ore_q = getval("o" + planet[0]);
            if (ore_q > planet[1]) { ore_q = planet[1]; setval("o" + planet[0], planet[1]); }

            var hydro_q = getval("h" + planet[0]);
            if (hydro_q > planet[2]) { hydro_q = planet[2]; setval("h" + planet[0], planet[2]); }

            var ore_price = planet[3];
            var hydro_price = planet[4];
            var price = ore_q * ore_price + hydro_q * hydro_price;

            var obj = $("totalprice" + planet[0]);
            if ((obj != null) && (obj.innerHTML != price)) {
            
                obj.innerHTML = formatnumber(price);
                obj.innerHTML = formatnumber(parseInt(obj.innerHTML.replace(" ","")))
                computetotal();
            }
        }

        function computetotal() {
        
            var total = 0;

            for (var i = 1; i < planets.length; i++) {
            
                var planet = planets[i];
                var obj = $("totalprice" + planet[0]);
                total += parseInt(obj.innerHTML.replace(" ",""));
            }
            
            var obj = $("total");
            obj.innerHTML = formatnumber(total);
            
            var btn = $("submit");
            if (total > {{ credits }}) { btn.disabled = true }
            else { btn.disabled = false }
        }
    </script>
    <form method="post" action="." style="height:calc(100% - 44px);">
        <div class="scroll-content pe-1" style="height:calc(100% - 48px);">
            <div class="row gx-2 gy-2">
                {% for planet in planets %}
                    <div class="col-12 col-lg-6">
                        <div class="card {% if planet.is_current %}bg-success{% endif %}">
                            <div class="card-header">
                                <div class="row gx-2">
                                    <div class="col-auto">
                                        <img src="{{ PATH_IMAGES }}planets/p{{ planet.img }}.gif"
                                             width="38px"
                                             class="rounded"/>
                                    </div>
                                    <div class="col">
                                        <div class="row g-1 flex-column">
                                            <div class="col-12">
                                                <span>{{ planet.name }}</span>
                                            </div>
                                            <div class="col-12">
                                                <div class="row gx-3">
                                                    <div class="col">
                                                        <a href="/s03/map/?g={{ planet.galaxy }}&s={{ planet.sector }}" data-bs-toggle="tooltip" data-bs-title="Carte spatiale"><i class="fa-fw fas fa-map"></i> {{ planet.galaxy }}.{{ planet.sector }}.{{ planet.planet }}</a>
                                                    </div>
                                                    {% if planet.commanderid %}
                                                        <div class="col-auto">
                                                            <a href="/s03/empire-commanders/#{{ planet.commander_name }}" data-bs-toggle="tooltip" data-bs-title="Commandant"><i class="fa-fw fas fa-user-astronaut"></i></a>
                                                        </div>
                                                    {% endif %}
                                                    <div class="col-auto">
                                                        <a href="/s03/planet-view/?planet={{ planet.id }}" data-bs-toggle="tooltip" data-bs-title="Planète"><i class="fa-fw fas fa-eye"></i></a>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="/s03/planet-buildings/?planet={{ planet.id }}" data-bs-toggle="tooltip" data-bs-title="Bâtiments"><i class="fa-fw fas fa-building"></i></a>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="/s03/planet-ships/?planet={{ planet.id }}" data-bs-toggle="tooltip" data-bs-title="Vaisseaux"><i class="fa-fw fas fa-rocket"></i></a>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="/s03/planet-trainings/?planet={{ planet.id }}" data-bs-toggle="tooltip" data-bs-title="Entraînements"><i class="fa-fw fas fa-users"></i></a>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="/s03/planet-orbit/?planet={{ planet.id }}" data-bs-toggle="tooltip" data-bs-title="Orbite"><i class="fa-fw fas fa-dot-circle"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row g-1 flex-column">
                                    <div class="col-12">
                                        <div class="row gx-3">
                                            <div class="col">
                                                <img src="/static/s03/img/interface/ore.gif"
                                                     class="res"
                                                     width="16px"
                                                     height="16px">
                                                 <span class="text-normal">Minerai</span>
                                            </div>
                                            <div class="col-auto">
                                                <small class="ms-1 {% if planet.ore_production_anormal %}text-warning{% else %}text-success{% endif %}">+{{ planet.ore_production|intcomma }}</small>
                                            </div>
                                            <div class="col-auto">
                                                <span class="{% if planet.ore_level >= 90 %}text-danger{% elif planet.ore_level >= 70 %}text-warning{% endif %}">{{ planet.ore_count|intcomma }}</span>
                                                <small class="text-normal">/{{ planet.ore_capacity|intcomma }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-nowrap">
                                        <div class="row gx-3">
                                            <div class="col">
                                                <img src="/static/s03/img/interface/hydrocarbon.gif"
                                                     class="res"
                                                     width="16px"
                                                     height="16px">
                                                <span class="text-normal">Hydrocarbure</span>
                                            </div>
                                            <div class="col-auto">
                                                <small class="ms-1 {% if planet.hydrocarbon_production_anormal %}text-warning{% else %}text-success{% endif %}">+{{ planet.hydrocarbon_production|intcomma }}</small>
                                            </div>
                                            <div class="col-auto">
                                                <span class="{% if planet.hydrocarbon_level >= 90 %}text-danger{% elif planet.hydrocarbon_level >= 70 %}text-warning{% endif %}">{{ planet.hydrocarbon_count|intcomma }}</span>
                                                <small class="text-normal">/{{ planet.hydrocarbon_capacity|intcomma }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if planet.buying %}
                                <div class="card-body">
                                    <div class="row g-1 flex-column">
                                        <div class="col-12 text-end">
                                            <div class="row gx-3">
                                                {% if planet.buying_ore > 0 %}
                                                    <div class="col-auto text-nowrap">
                                                        <img src="/static/s03/img/interface/ore.gif"
                                                             class="res"
                                                             width="16px"
                                                             height="16px">
                                                        <span>{{ planet.buying_ore|intcomma }}</span>
                                                    </div>
                                                {% endif %}
                                                {% if planet.buying_hydrocarbon > 0 %}
                                                    <div class="col-auto text-nowrap">
                                                        <img src="/static/s03/img/interface/hydrocarbon.gif"
                                                             class="res"
                                                             width="16px"
                                                             height="16px">
                                                        <span>{{ planet.buying_hydrocarbon|intcomma }}</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-12 text-end">
                                            <span class="text-success">Livraison en cours</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if planet.can_buy %}
                                <div class="card-body">
                                    <div class="row g-1 flex-column">
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-3 align-items-center justify-content-end">
                                                <div class="col-auto">
                                                    <img src="{{ PATH_IMAGES }}interface/credits.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px"/>
                                                    {{ planet.price_ore|floatformat:2 }}
                                                </div>
                                                <div class="col-auto">                                                    
                                                    <small class="text-normal">{{ 1000|intcomma }} x</small>
                                                </div>
                                                <div class="col-auto">
                                                    <input type="number"
                                                           min="0"
                                                           id="o{{ planet.id }}"
                                                           name="o{{ planet.id }}"
                                                           value=""
                                                           oninput="updateprice({{ planet.index }})"
                                                           size="3"
                                                           maxlength="4"/>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="javascript:setval('o{{ planet.id }}', {{ planet.ore_max }}); updateprice({{ planet.index }})">max</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-nowrap">
                                            <div class="row gx-3 align-items-center justify-content-end">
                                                <div class="col-auto">
                                                    <img src="{{ PATH_IMAGES }}interface/credits.gif"
                                                         class="res"
                                                         width="16px"
                                                         height="16px"/>
                                                    {{ planet.price_hydrocarbon|floatformat:2 }}
                                                </div>
                                                <div class="col-auto">
                                                    <small class="text-normal">{{ 1000|intcomma }} x</small>
                                                </div>
                                                <div class="col-auto">
                                                    <input type="number"
                                                           min="0"
                                                           id="h{{ planet.id }}"
                                                           name="h{{ planet.id }}"
                                                           value=""
                                                           oninput="updateprice({{ planet.index }})"
                                                           size="3"
                                                           maxlength="4"/>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="javascript:setval('h{{ planet.id }}', {{ planet.hydrocarbon_max }}); updateprice({{ planet.index }})">max</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body text-end">
                                    <img src="{{ PATH_IMAGES }}interface/credits.gif"
                                         class="res"
                                         width="16px"
                                         height="16px"/>
                                    <span id="totalprice{{ planet.id }}">0</span>
                                </div>
                            {% endif %}
                            {% if planet.cant_buy_enemy %}
                                <div class="card-body text-end">
                                    <span class="text-danger">Impossible d'acheter tant que des vaisseaux ennemis orbitent autour de la planète</span>
                                </div>
                            {% endif %}
                            {% if planet.cant_buy_worker %}
                                <div class="card-body text-end">
                                    <span class="text-danger">Impossible d'acheter, nous n'avons pas assez de personnel pour s'occuper des marchandises et des transactions avec les marchands</span>
                                </div>
                            {% endif %}
                            {% if planet.cant_buy_merchant %}
                                <div class="card-body text-end">
                                    <span class="text-danger">Impossible d'acheter, cette galaxie n'est pas desservie par la Guilde Marchand</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="mt-2 card card-body">
            <div class="row gx-3 align-items-center">
                <div class="col">
                    <span class="text-normal">Total</span>
                </div>
                <div class="col-auto">
                    <img src="{{ PATH_IMAGES }}interface/credits.gif"
                         class="res"
                         width="16px"
                         height="16px"/>
                    <span id="total">0</span>
                </div>
                <div class="col-auto">
                    <input id="submit" type="submit" value="Acheter" />
                </div>
            </div>
        </div>
        <input type="hidden" name="action" value="buy" />
        {% csrf_token %}
    </form>
{% endblock %}
