<script>
let defaultTitle = document.title

function setTitle(title) { document.title = defaultTitle + ' - ' + title }

function putMenuLevel2(url, content, name, label, selectedMenu) {

    let selected = (name == selectedMenu) ? ' text-bg-primary' : ''
    document.write('<div class="px-2 py-0"><a href="' + url + '" class="menu lvl2' + selected + '"><div class="flex-grow-1 row gx-2 align-items-baseline"><div class="col">' + content + '</div><div class="col-auto"><i class="fa-fw fas fa-chevron-right"></i></div></div></a></div>')
    
    if (selected) setTitle(label)
}

putMenuLevel2('/s03/empire-view/', '<i class="fa-fw fas fa-crown me-2"></i> Empire', 'empire', 'Empire', '{{selectedmenu}}')
putMenuLevel2('/s03/empire-planets/', '<i class="fa-fw fas fa-globe me-2"></i> Planètes', 'planets', 'Planètes', '{{selectedmenu}}')
putMenuLevel2('/s03/market-buy/', '<i class="fa-fw fas fa-store me-2"></i> Commerce', 'market', 'Commerce', '{{selectedmenu}}')
putMenuLevel2('/s03/empire-commanders/', '<i class="fa-fw fas fa-user-astronaut me-2"></i> Commandants', 'commanders', 'Commandants', '{{selectedmenu}}')
putMenuLevel2('/s03/empire-fleets/', '<i class="fa-fw fas fa-space-shuttle me-2"></i> Flottes', 'fleets', 'Flottes', '{{selectedmenu}}')
putMenuLevel2('/s03/empire-techs/', '<i class="fa-fw fas fa-flask me-2"></i> Recherches', 'techs', 'Recherches', '{{selectedmenu}}')
putMenuLevel2('/s03/alliance-view/', '<i class="fa-fw fas fa-users me-2"></i> Alliance', 'alliance', 'Alliance', '{{selectedmenu}}')

putMenuLevel2('/s03/map/?g={{cur_g}}&s={{cur_s}}', '<i class="fa-fw fas fa-map me-2"></i> Carte spatiale', 'map', 'Carte spatiale', '{{selectedmenu}}')
putMenuLevel2('/s03/ranking-players/', '<div class="row gx-2 align-items-baseline"><div class="col"><i class="fa-fw fas fa-signal me-2"></i> Classement</div><div class="col-auto">{{ranking}} <small>/{{ranking_players}}</small></div></div>', 'ranking', 'Classement', '{{selectedmenu}}')

putMenuLevel2('/s03/planet-view/?planet={{planetid}}', '<div class="row gx-2 align-items-baseline"><div class="col"><i class="fa-fw fas fa-globe-europe me-2"></i> Planète</div><div class="col-auto">{{cur_g}}.{{cur_s}}.{{cur_p}}</div></div>', 'planet', 'Planète {{cur_g}}.{{cur_s}}.{{cur_p}}', '{{selectedmenu}}')
</script>
