{% load humanize %}
<script>
    var menulinks = new Array();
    var activeSection = '';
    var selectedmenu = '';
    var sectionmenu = '';

    var defaultTitle = document.title;

    function setTitle(title) {
    
        if (title.indexOf("<") > -1) { document.title = defaultTitle + ' - ' + title.substring(0, title.indexOf("<")) }
        else { document.title = defaultTitle + ' - ' + title }
    }

    function putMenu(url, name, label, lvl) {
    
        if (name == activeSection) { setTitle(label) }

        var selected = (name == selectedmenu) ? " selected" : "";
        var hidden = ((lvl < 3) || (sectionmenu != "" && name.indexOf(sectionmenu) == 0)) ? "" : " hidden";

        if (lvl == 1) document.write('<a href="' + url + '" class="menu lvl1 d-flex align-items-baseline"><div class="col">' + label + '</div><div class="col-auto small"><i class="fa-fw fas fa-angle-double-down"></i></div></a>');
        else {
        
            document.write('<a href="' + url + '" id="menu_' + name + '" class="menu lvl' + lvl + selected + hidden + '"><span class="px-2"><i class="fa-fw fas fa-caret-right"></i></span>' + label + '</a>');
            menulinks.push(new Array(name, lvl, false));
        }
    }

    function setSelectedMenu(name) {
    
        selectedmenu = name;

        if (name.indexOf("_") == -1) {
        
            sectionmenu = "";
            activeSection = name;
        }
        else {
        
            sectionmenu = name.split("_")[0] + "_";
            activeSection = name.split("_")[0];
        }

        var link, linkname, selected, hidden;

        for (var i = 0; i < menulinks.length; i++) {
        
            linkname = menulinks[i][0];
            link = $('menu_' + linkname);
            selected = (selectedmenu == linkname) ? " selected" : "";
            hidden = (menulinks[i][1] < 3 || (sectionmenu != "" && linkname.indexOf(sectionmenu)==0)) ? "" : " hidden";

            if (!menulinks[i][2]) link.className = "menu lvl" + menulinks[i][1] + selected + hidden;
            else link.className = "lvl" + menulinks[i][1] + 'last' + hidden;
        }
    }

    function setMailsCount(nb) {
    
        var o = $('mailscount');
        if (nb > 0) o.innerHTML = nb;
        else o.innerHTML = '';
    }

    function setReportsCount(nb) {
    
        var o = $('reportscount');
        if (nb > 0) o.innerHTML = nb;
        else o.innerHTML = '';
    }

    setSelectedMenu('{{selectedmenu}}');
</script>
<div id="leftnav-top" class="scroll-content">
    {% if impersonating %}
        <div class="px-3 py-2 text-bg-warning">
            <div><b>Impersonisation</b></div>
            <div><a href="/impersonate/stop/" class="text-danger">Revenir au compte de départ</a></div>
            <div>Impossible d'envoyer des messages</div>
        </div>
    {% endif %}
    {% if creditswarning %}
        <div class="px-3 py-2 text-bg-warning">
            <div><b>Fonds insuffisants</b></div>
            <div>Nous sommes actuellement en déficit, cette situation est tolérable pendant un moment mais nous devons réagir. Nous pouvons soit alléger nos coûts d'entretien, soit augmenter nos revenus en vendant une plus grande partie de notre production.</div>
            <div>Vous avez {% if hours %}{{ bankruptcy_hours|intcomma }} heure(s){% endif %} pour faire revenir l'argent de la trésorerie dans le positif avant qu'un coup d'état n'éclate et que vous soyiez chassé de votre poste.</div>
            <div>Chaque heure passée en déficit, le nombre d'heures avant le coup d'état diminue d'une heure. Celui-ci remonte chaque heure passée dans le positif.</div>
        </div>
    {% endif %}
    {% if deleting %}
        <div class="px-3 py-2 text-bg-danger">
            <div><b>Suppression du compte en cours</b></div>
            <div>Ce compte sera effacé le {{ delete_datetime|date:"D d M Y" }} à {{ delete_datetime|time }}</div>
        </div>
    {% endif %}
    <script>
        putMenu("/s03/mails/", "mails", "Communication", 1);
            putMenu("/s03/mails/", "mails", "Messagerie <span id='mailscount' class='ms-2 badge text-bg-success'></span>", 2);
                putMenu("/s03/mails/", "mails_inbox", "Reçu", 3);
                putMenu("/s03/mails/?a=sent", "mails_sent", "Envoyé", 3);
                putMenu("/s03/mails/?a=new", "mails_compose", "Composer", 3);
                putMenu("/s03/mails/?a=ignorelist", "mails_ignorelist", "Nations ignorées", 3);
            putMenu("/s03/reports/", "reports", "Rapports <span id='reportscount' class='ms-2 badge text-bg-success'></span>", 2);
            putMenu("/s03/chat/", "chat", "Salon", 2);
        putMenu("/s03/overview/", "empire", "Empire", 1);
            putMenu("/s03/overview/", "overview", "Vue d'ensemble", 2);
            putMenu("/s03/upkeep/", "upkeep", "Coût d'entretien", 2);
            putMenu("/s03/commanders/", "commanders", "Commandants", 2);
            putMenu("/s03/fleets/", "fleets", "Flottes", 2);
                putMenu("/s03/fleets/", "fleets_fleets", "Flottes", 3);
                putMenu("/s03/fleets-orbiting/", "fleets_orbiting", "Flottes en orbite", 3);
                putMenu("/s03/fleets-standby/", "fleets_standby", "Vaisseaux au sol", 3);
                putMenu("/s03/fleets-ships-stats/", "fleets_ships_stats", "Détruits / perdus", 3);
            putMenu("/s03/planets/", "planets", "Planètes", 2);
            putMenu("/s03/market-sell/", "merchants", "Marchands", 2);
                putMenu("/s03/market-buy/", "merchants_buy", "Achat", 3);
                putMenu("/s03/market-sell/", "merchants_sell", "Vente", 3);
            putMenu("/s03/research/", "research", "Recherche", 2);
            putMenu("/s03/alliance/", "alliance", "Alliance", 2);
                putMenu("/s03/alliance/", "alliance_overview", "Vue d'ensemble", 3);
                {% if show_management %}putMenu("/s03/alliance-manage/", "alliance_manage", "Gestion", 3);{% endif %}
                {% if show_members %}putMenu("/s03/alliance-members/", "alliance_members", "Membres", 3);{% endif %}
                putMenu("/s03/alliance-naps/", "alliance_naps", "PNA", 3);
                putMenu("/s03/alliance-tributes/", "alliance_tributes", "Tributs", 3);
                putMenu("/s03/alliance-wars/", "alliance_wars", "Guerres", 3);
                putMenu("/s03/alliance-wallet/", "alliance_wallet", "Portefeuille", 3);
                {% if show_reports %}	putMenu("/s03/alliance-reports/", "alliance_reports", "Rapports", 3);{% endif %}
                putMenu("/s03/alliance-invitations/", "alliance_invitations", "Invitations", 3);
                putMenu("/s03/alliance-create/", "noalliance_create", "Création", 3);
                putMenu("/s03/alliance-invitations/", "noalliance_invitations", "Invitations", 3);
        putMenu("/s03/map/", "map", "Galaxie", 1);
            putMenu("/s03/map/?g={{ cur_g }}&s={{ cur_s }}", "map", "Carte spatiale", 2);
            putMenu("/s03/ranking-alliances/", "ranking", "Alliances", 2);
            putMenu("/s03/mercenary-intelligence/", "intelligence", "Espionnage", 2);
        putMenu("/s03/planet/?planet={{ planetid }}", "planet", "Planète <span class='ms-2'>{{ cur_g }}.{{ cur_s }}.{{ cur_p }}</span>", 1);
            putMenu("/s03/planet/?planet={{ planetid }}", "planet", "Vue d'ensemble", 2);
            putMenu("/s03/production/?planet={{ planetid }}", "production", "Production", 2);
            putMenu("/s03/buildings/?planet={{ planetid }}", "buildings", "Bâtiments", 2);
            putMenu("/s03/shipyard/?planet={{ planetid }}", "shipyard", "Vaisseaux", 2);
                putMenu("/s03/shipyard/?planet={{ planetid }}&f=0", "shipyard_all", "Tous", 3);
                putMenu("/s03/shipyard/?planet={{ planetid }}&f=1", "shipyard_military", "Militaire", 3);
                putMenu("/s03/shipyard/?planet={{ planetid }}&f=2", "shipyard_unarmed", "Utilitaire", 3);
                putMenu("/s03/shipyard/?planet={{ planetid }}&f=3", "shipyard_upgrade", "Upgrade", 3);
                putMenu("/s03/shipyard/?planet={{ planetid }}&recycle=1", "shipyard_recycle", "Recyclage", 3);
            putMenu("/s03/training/?planet={{ planetid }}", "training", "Entraînements", 2);
            putMenu("/s03/orbit/?planet={{ planetid }}", "orbit", "Orbite", 2);
            putMenu("/s03/market-sell/?planet={{ planetid }}", "market", "Marché", 2);
                putMenu("/s03/market-buy/?planet={{ planetid }}", "market_buy", "Achat", 3);
                putMenu("/s03/market-sell/?planet={{ planetid }}", "market_sell", "Vente", 3);
        putMenu("/s03/options/", "options", "Compte", 1);
            putMenu("/s03/nation/", "nation", "Infos nations", 2);
            putMenu("/s03/options/", "options", "Options", 2);
            putMenu("/s03/notes/", "notes", "Notes", 2);
            putMenu("/s03/help/", "help", "Aide", 2);
            putMenu("/accounts/logout/", "logout", "Déconnexion", 2);

        {% if new_mail %}setMailsCount({{new_mail}});{% endif %}
        {% if new_report %}setReportsCount({{new_report}});{% endif %}
    </script>
</div>
<div id="leftnav-bottom"
     class="px-3 d-flex align-items-center justify-content-around">
    <div class="flex-grow-1 row gx-3 align-items-center justify-content-around">
        <form class="col-auto"
              action="https://www.paypal.com/cgi-bin/webscr"
              method="post"
              target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="7XYD7SJFKQ8M4">
            <button type="submit"
                    class="p-0 border-0 bg-transparent"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    data-bs-title="Make a donation">
                <img src="/static/img/paypal.png" width="22px" />
            </button>
        </form>
        <div class="col-auto">
            <a href="https://ko-fi.com/freddecgames"
               target="_blank"
               data-bs-toggle="tooltip"
               data-bs-placement="left"
               data-bs-title="Buy me a Ko-fi">
                <img src="/static/img/kofi.png" width="22px" />
            </a>
        </div>
        <div class="col-auto">
            <a href="https://www.patreon.com/bePatron?u=61283131"
               target="_blank"
               data-bs-toggle="tooltip"
               data-bs-placement="left"
               data-bs-title="Become a Patreon supporter">
                <img src="/static/img/patreon.png" width="22px" />
            </a>
        </div>
        <div class="col-auto">
            <a href="https://discord.gg/3UkgeeT9CV"
               target="_blank"
               data-bs-toggle="tooltip"
               data-bs-placement="left"
               data-bs-title="Discord">
                <img src="/static/img/discord.png" width="22px" />
            </a>
        </div>
    </div>
</div>
