<script>
let defaultTitle = document.title

function setTitle(title) { document.title = defaultTitle + ' - ' + title }

function putMenuLevel1(url, label) { document.write('<a href="' + url + '" class="menu lvl1"><span class="col">' + label + '</span><i class="fa-fw fas fa-chevron-down"></i></a>') }

function putMenuLevel2(url, label, name, selectedMenu) {

    let selected = (name == selectedMenu) ? ' selected' : ''
    document.write('<a href="' + url + '" class="menu lvl2' + selected + '"><span class="col"><i class="fa-fw fas fa-caret-right"></i>' + label + '</a>')
    
    if (selected) setTitle(label)
}

function putMenuLevel3(url, label, name, selectedMenu) {

    let selected = (name == selectedMenu) ? ' selected' : ''
    document.write('<a href="' + url + '" class="menu lvl3' + selected + '"><span class="col"><i class="fa-fw fas fa-caret-right"></i>' + label + '</a>')
    
    if (selected) setTitle(label)
}

function setMailsCount(count) {

	let elem = $('mailscount')
	if (count > 0) elem.innerHTML = '(' + count + ')'
	else elem.innerHTML = ''
}

function setReportsCount(count) {

	let elem = $('reportscount')
	if (count > 0) elem.innerHTML = '(' + count + ')'
	else elem.innerHTML = ''
}

putMenuLevel1('/s03/overview/', 'Empire')

    putMenuLevel2('/s03/overview/', 'Vue d\'ensemble', 'overview', '{{selectedmenu}}')
    putMenuLevel2('/s03/upkeep/', 'Coût d\'entretien', 'upkeep', '{{selectedmenu}}')
    putMenuLevel2('/s03/commanders/', 'Commandants', 'commanders', '{{selectedmenu}}')
    putMenuLevel2('/s03/fleets/', 'Flottes', 'fleets', '{{selectedmenu}}')

        {% if 'fleets_' in selectedmenu %}
        putMenuLevel3('/s03/fleets/', 'Flottes', 'fleets_fleets', '{{selectedmenu}}')
        putMenuLevel3('/s03/fleets-orbiting/', 'Flottes en orbite', 'fleets_orbiting', '{{selectedmenu}}')
        putMenuLevel3('/s03/fleets-standby/', 'Vaisseaux au sol', 'fleets_standby', '{{selectedmenu}}')
        putMenuLevel3('/s03/fleets-ships-stats/', 'Détruits / perdus', 'fleets_ships_stats', '{{selectedmenu}}')
        {% endif %}

    putMenuLevel2('/s03/planets/', 'Planètes', 'planets', '{{selectedmenu}}')
    putMenuLevel2('/s03/market-sell/', 'Marchands', 'merchants', '{{selectedmenu}}')

        {% if 'merchants_' in selectedmenu %}
        putMenuLevel3('/s03/market-buy/', 'Achat', 'merchants_buy', '{{selectedmenu}}')
        putMenuLevel3('/s03/market-sell/', 'Vente', 'merchants_sell', '{{selectedmenu}}')
        {% endif %}

    putMenuLevel2('/s03/research/', 'Recherches', 'research', '{{selectedmenu}}')
    putMenuLevel2('/s03/alliance/', 'Alliance', 'alliance', '{{selectedmenu}}')

        {% if 'allianceno_' in selectedmenu %}
        putMenuLevel3('/s03/alliance-create/', 'Création', 'allianceno_create', '{{selectedmenu}}')
        putMenuLevel3('/s03/alliance-invitations/', 'Invitations', 'allianceno_invitations', '{{selectedmenu}}')
        {% endif %}

        {% if 'alliance_' in selectedmenu %}
        putMenuLevel3('/s03/alliance/', 'Vue d\'ensemble', 'alliance_overview', '{{selectedmenu}}')
        {% if show_management %}putMenuLevel3('/s03/alliance-manage/', 'Gestion', 'alliance_manage', '{{selectedmenu}}'){% endif %}
        {% if show_members %}putMenuLevel3('/s03/alliance-members/', 'Membres', 'alliance_members', '{{selectedmenu}}'){% endif %}
        putMenuLevel3('/s03/alliance-naps/', 'PNA', 'alliance_naps', '{{selectedmenu}}')
        putMenuLevel3('/s03/alliance-tributes/', 'Tributs', 'alliance_tributes', '{{selectedmenu}}')
        putMenuLevel3('/s03/alliance-wars/', 'Guerres', 'alliance_wars', '{{selectedmenu}}')
        putMenuLevel3('/s03/alliance-wallet/', 'Portefeuille', 'alliance_wallet', '{{selectedmenu}}')
        {% if show_reports %}putMenuLevel3('/s03/alliance-reports/', 'Rapports', 'alliance_reports', '{{selectedmenu}}'){% endif %}
        putMenuLevel3('/s03/alliance-invitations/', 'Invitations', 'alliance_invitations', '{{selectedmenu}}')
        {% endif %}

putMenuLevel1('/s03/map/', 'Galaxie')

    putMenuLevel2('/s03/map/?g={{cur_g}}&s={{cur_s}}', 'Carte spatiale', 'map', '{{selectedmenu}}')
    putMenuLevel2('/s03/ranking-alliances/', 'Alliances', 'ranking', '{{selectedmenu}}')
    putMenuLevel2('/s03/mercenary-intelligence/', 'Espionnage', 'intelligence', '{{selectedmenu}}')

putMenuLevel1('/s03/planet/?planet={{planetid}}', 'Planète ({{cur_g}}.{{cur_s}}.{{cur_p}})')

    putMenuLevel2('/s03/planet/?planet={{planetid}}', 'Vue d\'ensemble', 'planet', '{{selectedmenu}}')
    putMenuLevel2('/s03/production/?planet={{planetid}}', 'Production', 'production', '{{selectedmenu}}')
    putMenuLevel2('/s03/buildings/?planet={{planetid}}', 'Bâtiments', 'buildings', '{{selectedmenu}}')
    putMenuLevel2('/s03/shipyard/?planet={{planetid}}', 'Chantier spatial', 'shipyard_all', '{{selectedmenu}}')
    putMenuLevel2('/s03/shipyard/?planet={{planetid}}&recycle=1', 'Recyclage', 'shipyard_recycle', '{{selectedmenu}}')
    putMenuLevel2('/s03/training/?planet={{planetid}}', 'Entraînement', 'training', '{{selectedmenu}}')
    putMenuLevel2('/s03/orbit/?planet={{planetid}}', 'Orbite', 'orbit', '{{selectedmenu}}')
    putMenuLevel2('/s03/market-sell/?planet={{planetid}}', 'Marché', 'market', '{{selectedmenu}}')

        {% if 'market_' in selectedmenu %}
        putMenuLevel3('/s03/market-buy/?planet={{planetid}}', 'Achat', 'market_buy', '{{selectedmenu}}')
        putMenuLevel3('/s03/market-sell/?planet={{planetid}}', 'Vente', 'market_sell', '{{selectedmenu}}')
        {% endif %}

putMenuLevel1('/s03/mails/', 'Communication')

    putMenuLevel2('/s03/nation/', 'Infos nations', 'nation', '{{selectedmenu}}')
    putMenuLevel2('/s03/mails/', 'Messagerie <span id="mailscount"></span>', 'mails', '{{selectedmenu}}')

        {% if 'mails_' in selectedmenu %}
        putMenuLevel3('/s03/mails/', 'Reçu', 'mails_inbox', '{{selectedmenu}}')
        putMenuLevel3('/s03/mails/?a=sent', 'Envoyé', 'mails_sent', '{{selectedmenu}}')
        putMenuLevel3('/s03/mails/?a=new', 'Composer', 'mails_compose', '{{selectedmenu}}')
        putMenuLevel3('/s03/mails/?a=ignorelist', 'Nations ignorées', 'mails_ignorelist', '{{selectedmenu}}')
        {% endif %}

    putMenuLevel2('/s03/reports/', 'Rapports <span id="reportscount"></span>', 'reports', '{{selectedmenu}}')
    putMenuLevel2('/s03/chat/', 'Salon', 'chat', '{{selectedmenu}}')
    putMenuLevel2('/s03/notes/', 'Notes', 'notes', '{{selectedmenu}}')

putMenuLevel1('/s03/options/', 'Compte')

    putMenuLevel2('/s03/help/', 'Aide', 'help', '{{selectedmenu}}')
    putMenuLevel2('/s03/options/', 'Options', 'options', '{{selectedmenu}}')
    putMenuLevel2('https://ngexile.freddecgames.com/accounts/logout/', 'Déconnexion', 'logout', '{{selectedmenu}}')

{% if new_mail %}setMailsCount({{new_mail}}){% endif %}
{% if new_report %}setReportsCount({{new_report}}){% endif %}
</script>
