{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<script>
    var costs = new Array();

    costs["nation"] = new Array({{nation_cost_lvl_0}}, {{nation_cost_lvl_1}}, {{nation_cost_lvl_2}}, {{nation_cost_lvl_3}});
    costs["planet"] = new Array({{planet_cost_lvl_0}}, {{planet_cost_lvl_1}}, {{planet_cost_lvl_2}}, {{planet_cost_lvl_3}});

    function updateCost(obj, type) {
    
        var selected = obj.selectedIndex;
        document.getElementById(type + "cost").innerHTML = formatnumber(costs[type][selected]);
    }

    function confirmAction(id) {
    
        var cost = $(id).innerHTML;
        return confirm('Confirmez-vous la dépense de ' + cost + ' Points de Prestige pour l\'espionnage ?');
    }
</script>
<div class="row gx-3">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <span class="fs-6">Espionner une nation</span>
            </div>
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <span class="text-normal">Espionner une nation vous permettra de recueillir des informations concernant le nombre et la position des planètes lui appartenant. Différentes qualités de service vous sont proposées, car bien entendu, plus vous paierez cher, et plus les espions recrutés seront efficaces et discrets.</span>
                </div>
                <div class="list-group-item">
                    <div class="mb-1 d-flex">
                        <span>Novice</span>
                        <span class="ms-auto">
                        <img src="{{ PATH_IMAGES }}interface/prestige.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige" width="16" height="16">
                        {{ nation_cost_lvl_0|intcomma }}
                        </span>
                    </div>
                    <span class="text-normal">Cet espion a <span class="text-white">60%</span> de chance de se faire repérer par la nation que vous espionnez et espionnera un maximum de <span class="text-white">5</span> planètes.</span>
                </div>
                <div class="list-group-item">
                    <div class="mb-1 d-flex">
                        <span>Initié</span>
                        <span class="ms-auto">
                        <img src="{{ PATH_IMAGES }}interface/prestige.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige" width="16" height="16">
                        {{ nation_cost_lvl_1|intcomma }}
                        </span>
                    </div>
                    <span class="text-normal">Cet espion a <span class="text-white">30%</span> de chance de se faire repérer par la nation que vous espionnez et espionnera un maximum de <span class="text-white">10</span> planètes.</span>
                </div>
                <div class="list-group-item">
                    <div class="mb-1 d-flex">
                        <span>Agent</span>
                        <span class="ms-auto">
                        <img src="{{ PATH_IMAGES }}interface/prestige.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige" width="16" height="16">
                        {{ nation_cost_lvl_2|intcomma }}
                        </span>
                    </div>
                    <span class="text-normal">Cet espion a <span class="text-white">15%</span> de chance de se faire repérer par la nation que vous espionnez. Il s'infiltrera au sein des hautes instances de la nation pour en connaître <span class="text-white">tous les secrets</span> (recherches en cours, nombre exact et positions des planètes...). Cette mission peut être assez longue.</span>
                </div>
                <div class="list-group-item">
                    <div class="mb-1 d-flex">
                        <span>Taupe</span>
                        <span class="ms-auto">
                        <img src="{{ PATH_IMAGES }}interface/prestige.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige" width="16" height="16">
                        {{ nation_cost_lvl_3|intcomma }}
                        </span>
                    </div>
                    <span class="text-normal">Cet espion <span class="text-white">ne peut être détecté</span>. Il s'infiltrera au sein des hautes instances de la nation pour en connaître <span class="text-white">tous les secrets</span> (recherches en cours, nombre exact et positions des planètes...). Cette mission peut prendre beaucoup de temps.</span>
                </div>
                <div class="list-group-item">
                    <form method="post"
                          action="/s03/mercenary-intelligence/"
                          onsubmit="return confirmAction('nationcost')">
                        {% csrf_token %}
                        <input type="hidden" name="spy" value="nation" />
                        <div class="row gx-2 gy-1 align-items-center justify-content-center">
                            <div class="col-auto"><span class="text-normal">Espionner</span></div>
                            <div class="col-auto"><input type="text" class="form-control" name="nation_name" value="" size="14" maxlength="12"></div>
                            <div class="col-auto"><span class="text-normal">avec</span></div>
                            <div class="col-auto">
                                <select class="form-control" name="level" onchange="updateCost(this, 'nation');">
                                    <option value="0">Novice</option>
                                    <option value="1">Initié</option>
                                    <option value="2">Agent</option>
                                    <option value="3">Taupe</option>
                                </select>
                            </div>
                            <div class="col-12"></div>
                            <div class="col-auto"><span class="text-normal">Coût</span></div>
                            <div class="col-auto">
                                <img src="{{ PATH_IMAGES }}interface/prestige.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige" width="16" height="16">
                                <span id="nationcost">{{ nation_cost_lvl_0|intcomma }}</span>
                            </div>
                            <div class="col-auto"><input type="submit" class="btn btn-primary" value="Espionner"></div>
                            {% if nation_error1 %}
                                <div class="col-12">
                                    <span class="text-danger">Erreur</span>
                                </div>
                            {% endif %}
                            {% if nation_error2 %}
                                <div class="col-12">
                                    <span class="text-danger">Vous n'avez pas assez de points de prestige</span>
                                </div>
                            {% endif %}
                            {% if nation_error4 %}
                                <div class="col-12">
                                    <span class="text-danger">Cette nation n'existe pas</span>
                                </div>
                            {% endif %}
                            {% if nation_error5 %}
                                <div class="col-12">
                                    <span class="text-danger">Vous n'avez pas besoin de vous espionner</span>
                                </div>
                            {% endif %}
                            {% if nation_ok %}
                                <div class="col-12">
                                    <span class="text-danger">L'espionnage a déjà commencé, vous recevrez un rapport très prochainement.</span>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <span class="fs-6">Espionner une planète</span>
            </div>
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <span class="text-normal">Vous pouvez demander à espionner une planète en particulier. En fonction du prix que vous êtes prêt à payer, vous pourrez obtenir de nombreux détails : vaisseaux au sol, bâtiments construits, présence d'un commandant et bien d'autres.</span>
                </div>
                <div class="list-group-item">
                    <div class="mb-1 d-flex">
                        <span>Novice</span>
                        <span class="ms-auto">
                        <img src="{{ PATH_IMAGES }}interface/prestige.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige" width="16" height="16">
                        {{ planet_cost_lvl_0|intcomma }}
                        </span>
                    </div>
                    <span class="text-normal">Cet espion a <span class="text-white">60%</span> de chance de se faire repérer par la nation que vous espionnez, et aura <span class="text-white">peu de chance</span> d'obtenir des informations stratégiques.</span>
                </div>
                <div class="list-group-item">
                    <div class="mb-1 d-flex">
                        <span>Initié</span>
                        <span class="ms-auto">
                        <img src="{{ PATH_IMAGES }}interface/prestige.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige" width="16" height="16">
                        {{ planet_cost_lvl_1|intcomma }}
                        </span>
                    </div>
                    <span class="text-normal">Cet espion a <span class="text-white">30%</span> de chance de se faire repérer par la nation que vous espionnez, et aura <span class="text-white">plus de chance</span> d'obtenir des informations stratégiques.</span>
                </div>
                <div class="list-group-item">
                    <div class="mb-1 d-flex">
                        <span>Agent</span>
                        <span class="ms-auto">
                        <img src="{{ PATH_IMAGES }}interface/prestige.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige" width="16" height="16">
                        {{ planet_cost_lvl_2|intcomma }}
                        </span>
                    </div>
                    <span class="text-normal">Cet espion a <span class="text-white">15%</span> de chance de se faire repérer par la nation que vous espionnez, il s'infiltrera au sein de la planète pour en connaître <span class="text-white">tous les secrets</span> (constructions en cours, nombre de bâtiments plus précis ...).  Cette mission peut être assez longue.</span>
                </div>
                <div class="list-group-item">
                    <div class="mb-1 d-flex">
                        <span>Taupe</span>
                        <span class="ms-auto">
                        <img src="{{ PATH_IMAGES }}interface/prestige.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige" width="16" height="16">
                        {{ planet_cost_lvl_3|intcomma }}
                        </span>
                    </div>
                    <span class="text-normal">Cet espion <span class="text-white">ne peut être détecté</span>, il s'infiltrera au sein de la planète pour en connaître <span class="text-white">tous les secrets</span> (constructions en cours, nombre de bâtiments plus précis ...).  Cette mission peut lui prendre beaucoup de temps.</span>
                </div>
                <div class="list-group-item">
                    <form method="post"
                          action="/s03/mercenary-intelligence/"
                          onsubmit="return confirmAction('planetcost')">
                        {% csrf_token %}
                        <input type="hidden" name="spy" value="planet">
                        <div class="row gx-2 gy-1 align-items-center justify-content-center">
                            <div class="col-auto"><span class="text-normal">Espionner</span></div>
                            <div class="col-auto"><input type="number" class="form-control" name="g" value="" size="2" maxlength="2"></div>
                            <div class="col-auto"><input type="number" class="form-control" name="s" value="" size="2" maxlength="2"></div>
                            <div class="col-auto"><input type="number" class="form-control" name="p" value="" size="2" maxlength="2"></div>
                            <div class="col-auto"><span class="text-normal">avec</span></div>
                            <div class="col-auto">
                                <select class="form-control" name="level" onchange="updateCost(this, 'planet');">
                                    <option value="0">Novice</option>
                                    <option value="1">Initié</option>
                                    <option value="2">Agent</option>
                                    <option value="3">Taupe</option>
                                </select>
                            </div>
                            <div class="col-12"></div>
                            <div class="col-auto"><span class="text-normal">Coût</span></div>
                            <div class="col-auto">
                                <img src="{{ PATH_IMAGES }}interface/prestige.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige" width="16" height="16">
                                <span id="planetcost">{{ planet_cost_lvl_0|intcomma }}</span>
                            </div>
                            <div class="col-auto"><input type="submit" class="btn btn-primary" value="Espionner"></div>
                            {% if planet_error1 %}
                                <div class="col-12">
                                    <span class="text-danger">Erreur</span>
                                </div>
                            {% endif %}
                            {% if planet_error2 %}
                                <div class="col-12">
                                    <span class="text-danger">Vous n'avez pas assez de points de prestige</span>
                                </div>
                            {% endif %}
                            {% if planet_error3 %}
                                <div class="col-12">
                                    <span class="text-danger">Cette planète n'existe pas</span>
                                </div>
                            {% endif %}
                            {% if planet_error5 %}
                                <div class="col-12">
                                    <span class="text-danger">Vous n'avez pas besoin de vous espionner</span>
                                </div>
                            {% endif %}
                            {% if planet_ok %}
                                <div class="col-12">
                                    <span class="text-danger">L'espionnage a déjà commencé, vous recevrez un rapport très prochainement</span>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
