{% extends "s03/layout.html" %}
{% load tz %}
{% load humanize %}
{% load bbcode_tags %}
{% block content %}
<div class="page-content">
<form method="get" action="/s03/nation/">
    {% csrf_token %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="row gx-3 align-items-center justify-content-center">
                <div class="col-auto">Saisissez le nom d'une nation</div>
                <div class="col-auto"><input type="text" class="form-control" size="14" maxlength="14" name="name" value=""></div>
            </div>
        </div>
    </div>
</form>
<div class="card mb-3">
    <div class="card-header">
        <span class="fs-6">Profile</span>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <div class="row gx-3">
                <div class="col-auto">
                    {% if avatar %}<img src="{{ avatar_url }}" width="64" height="64" class="rounded">{% endif %}
                    {% if noavatar %}<img src="{{ PATH_IMAGES }}interface/noavatar.gif" width="64" height="64" class="rounded">{% endif %}
                </div>
                <div class="col-auto">
                    <div class="mb-1">
                        {% if alliance %}<a href="/s03/alliance/?tag={{ alliancetag }}" class="{% if self %}self{% elif ally %}ally{% elif friend %}friend{% elif enemy %}enemy{% endif %}" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[{{ alliancetag }}]</a>{% endif %}
                        <span class="{% if self %}self{% elif ally %}ally{% elif friend %}friend{% elif enemy %}enemy{% endif %}">{{ name }}</span>
                    </div>
                    <div class="mb-1">
                        <span class="text-normal me-2">Grade</span>
                        {% if alliance %}{{ rank_label }}{% endif %}
                        {% if noalliance %}indépendant{% endif %}
                    </div>
                    <div class="">
                        <span class="text-normal me-2">Date d'arrivée</span>
                        {{ regdate }}
                    </div>
                    {% if sendmail %}
                    <div class="mt-1">
                        <a href="/game/mails/?a=new&b={{name}}" data-bs-toggle="tooltip" data-bs-title="Contacter {{name}}">Envoyer un message</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if description %}
        <div class="mt-3 col-12 text-center">
            {{ description|safe|bbcode }}
        </div>
        {% endif %}
    </div>
</div>
{% if alliances %}
<div class="card mb-3">
    <div class="card-header">
        <span class="fs-6">Alliances</span>
    </div>
    <div class="list-group list-group-flush">
        {% for item in alliances %}
            <div class="list-group-item">
                <div class="row gx-3 justify-content-center">
                    <div class="col-auto"><span>[{{ item.history_tag }}] {{ item.history_name }}</span></div>
                    <div class="col-auto"><span class="text-normal">de</span> {{ item.joined }} <span class="text-normal">à</span> {{ item.left }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if allied %}
<div class="row gx-3">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <span class="fs-6">Planètes</span>
                <small class="ms-2 text-normal">{{ planets|length }}</small>
            </div>
            <div class="card-body">
                <div class="row gx-3 gy-2">
                    {% for planet in planets %}
                        <div class="col-3 text-center">
                            <a href="/s03/map/?g={{ planet.g }}&s={{ planet.s }}" data-bs-toggle="tooltip" data-bs-title="Carte spatiale">{{ planet.g }}.{{ planet.s }}.{{ planet.p }}</a>
                        </div>
                    {% empty %}
                        <div class="col-auto">
                            <span class="text-normal">Aucune planète</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <span class="fs-6">Flottes</span>
                <small class="ms-2 text-normal">{{ fleets|length }}</small>
            </div>
            <div class="list-group list-group-flush">
                {% for fleet in fleets %}
                    <div class="list-group-item">
                        <div class="row gx-3">
                            <div class="col-3">
                                {% if fleet.owned %}<a href="/s03/fleet/?id={{ fleet.fleetid }}" data-bs-toggle="tooltip" data-bs-title="Voir flotte">{{ fleet.fleetname }}</a>{% endif %}
                                {% if fleet.ally %}<span class="ally">{{ fleet.fleetname }}</span>{% endif %}
                                <small class="ms-2">{{ fleet.signature|intcomma }}</small>
                            </div>
                            <div class="col-4">
                                <script>putplanet("{{fleet.planetid}}","{{fleet.planetname}}","{{fleet.g}}","{{fleet.s}}","{{fleet.p}}",{{fleet.relation}});</script>
                            </div>
                            <div class="col-5">
                                {% if fleet.recycling %}
                                    Recyclage - (<script>putcountdown1({{fleet.time}}, 'Cycle terminé', '/s03/nation/?')</script>)
                                {% endif %}
                                {% if fleet.patrolling %}En patrouille{% endif %}
                                {% if fleet.fighting %}En combat{% endif %}
                                {% if fleet.moving %}
                                    En transit vers <script>putplanet("{{fleet.t_planetid}}","{{fleet.t_planetname}}","{{fleet.t_g}}","{{fleet.t_s}}","{{fleet.t_p}}",{{fleet.t_relation}});</script> - (<script>putcountdown1({{fleet.time}}, 'Arrivé', '/s03/nation/')</script>)
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="list-group-item">
                        <span class="text-normal">Aucune flotte</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
</div>
{% endblock %}
