{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<div class="page-content">
<div class="mb-3">
    <div class="card">
        <div class="card-header">
            <span class="fs-6">Flottes</span>
        </div>
        <div class="list-group list-group-flush">
            {% for fleet in fleets %}
                <div class="list-group-item">
                    <div class="row gx-3">
                        <div class="col">
                            {% if fleet.owner %}<a href="/s03/fleet/?id={{fleet.id}}" data-bs-toggle="tooltip" data-bs-title="Voir flotte" class="self">{{fleet.name}}</a>{% endif %}
                            {% if fleet.friend %}<span class="friend">{{fleet.name}}</span>{% endif %}
                            {% if fleet.ally %}<span class="text-success">{{fleet.name}}</span>{% endif %}
                            {% if fleet.enemy %}<span class="enemy">{{fleet.name}}</span>{% endif %}
                            <small class="ms-2">{{ fleet.signature|intcomma }}</small>
                        </div>
                        <div class="col-auto">
                            {{ fleet.size|intcomma }}
                            <small class="ms-1 text-normal">vaisseaux</small>
                        </div>
                        <div class="col-auto text-end" style="width:150px;">
                            {% if fleet.cargo > 0 %}
                                {{ fleet.cargo|intcomma }}
                                <small class="ms-1 text-normal">en soute</small>
                            {% endif %}
                        </div>
                        <div class="col-auto text-end" style="width:100px;">
                            {% if fleet.recycling %}<span class="text-success">En recyclage</span>{% endif %}
                            {% if fleet.fighting %}<span class="text-danger">En combat</span>{% endif %}
                            {% if fleet.patrolling %}<span class="text-normal">En patrouille</span>{% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item">
                    <span class="text-normal">Aucune flotte en orbite de la planète</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<form method="post" action="?a=new&planet={{planetid}}" class="card">
    <div class="card-header">
        <span class="fs-6">Nouvelle flotte</span>
    </div>
    {% if new %}
        <div class="list-group list-group-flush">
            {% for ship in ships %}
                <div class="list-group-item">
                    <div class="row gx-3 align-items-center justify-content-end">
                        <div class="col">
                            <i class="text-normal fa-fw fas fa-question-circle me-1" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
                                <div class='mb-1'><span class='fs-6'>Description</span></div>
                                <div class='mb-3'><span class='text-normal'>{{ship.description|escape}}</span></div>
                                <div class='mb-1'><span class='fs-6'>Caractéristiques</span></div>
                                <div class='row gx-3 gy-1'>
                                    <div class='col-auto'>
                                        <small class='text-normal me-1'>Signature</small>
                                        <span>{{ship.ship_signature|intcomma}}</span>
                                    </div>
                                    {% if ship.ship_cargo %}
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Cargo</small>
                                            <span>{{ship.ship_cargo|intcomma}}</span>
                                        </div>
                                    {% endif %}
                                    <div class='col-auto'>
                                        <small class='text-normal me-1'>Vitesse</small>
                                        <span>{{ship.ship_speed|intcomma}}</span>
                                    </div>
                                    <div class='col-auto'>
                                        <small class='text-normal me-1'>Manœuvrabilité</small>
                                        <span>{{ship.ship_handling|intcomma}}</span>
                                    </div>
                                    {% if ship.attack %}
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Domage</small>
                                            <span>{{ship.ship_turrets}} <small class='text-normal'>x</small> {{ship.ship_power}}</span>
                                        </div>
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Ciblage</small>
                                            <span>{{ship.ship_tracking_speed|intcomma}}</span>
                                        </div>
                                    {% endif %}
                                    <div class='col-auto'>
                                        <small class='text-normal me-1'>Armure</small>
                                        <span>{{ship.ship_hull|intcomma}}</span>
                                    </div>
                                    {% if ship.shield %}
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Bouclier</small>
                                            <span>{{ship.ship_shield|intcomma}}</span>
                                        </div>
                                    {% endif %}
                                    {% if ship.recycler_output %}
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Recyclage</small>
                                            <span>{{ship.ship_recycler_output|intcomma}}</span>
                                         </div>
                                    {% endif %}
                                    {% if ship.long_distance_capacity %}
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Saut</small>
                                            <span>{{ship.ship_long_distance_capacity|intcomma}}</span>
                                         </div>
                                    {% endif %}
                                    {% if ship.droppods %}
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Invasion</small>
                                            <span>{{ship.ship_droppods|intcomma}}</span>
                                         </div>
                                    {% endif %}                                    
                                </div>
                            "></i>
                            <a href="/s03/help/?cat=ships#{{ship.id}}" data-bs-toggle="tooltip" data-bs-title="Voir aide">{{ship.name}}</a>
                        </div>
                        <div class="col-auto"><small class="text-normal">x</small> {{ship.quantity|intcomma}}</div>
                        <div class="col-auto"><input type="number" class="form-control" min="0" value="{{ship.ship_quantity}}" id="s{{ship.id}}" name="s{{ship.id}}"></div>
                        <div class="col-auto"><a href="#" onclick="setval('s{{ship.id}}', {{ship.quantity}}); return false;">max</a></div>
                    </div>
                </div>
            {% endfor %}
            <div class="list-group-item">
                <div class="row gx-3 align-items-center justify-content-end">
                    <div class="col-auto"><span class="text-normal">Nom de flotte</span></div>
                    <div class="col-auto"><input type="text" class="form-control" name="name" value="{{fleetname}}" maxlength="16"></div>
                    <div class="col-auto"><input type="submit" class="btn btn-primary" value="Former la flotte"></div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card-body">
            <span class="text-normal">Aucun vaisseau n'est disponible</span>
        </div>
    {% endif %}
    {% csrf_token %}
</form>
</div>
{% endblock %}