{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<div class="page-content">
    <ul class="nav nav-tabs mt-0 mb-3">
        <li class="nav-item">
            <a href="/s03/planet/?planet={{ cur_planetid }}" class="nav-link">Aperçu</a>
        </li>
        <li class="nav-item">
            <a href="/s03/production/?planet={{ cur_planetid }}" class="nav-link">Production</a>
        </li>
        <li class="nav-item">
            <a href="/s03/working/?planet={{ cur_planetid }}" class="nav-link">Fonctionnement</a>
        </li>
        <li class="nav-item">
            <a href="/s03/buildings/?planet={{ cur_planetid }}" class="nav-link">Bâtiments</a>
        </li>
        <li class="nav-item">
            <a href="/s03/shipyard/?planet={{ cur_planetid }}" class="nav-link">Vaisseaux</a>
        </li>
        <li class="nav-item">
            <a href="/s03/recycling/?planet={{ cur_planetid }}" class="nav-link">Recyclage</a>
        </li>
        <li class="nav-item">
            <a href="/s03/training/?planet={{ cur_planetid }}" class="nav-link">Entraînements</a>
        </li>
        <li class="nav-item active">
            <a href="/s03/orbit/?planet={{ cur_planetid }}" class="nav-link">Orbite</a>
        </li>
        <li class="nav-item">
            <a href="/s03/market-sell/?planet={{ cur_planetid }}" class="nav-link">Vente</a>
        </li>
        <li class="nav-item">
            <a href="/s03/market-buy/?planet={{ cur_planetid }}" class="nav-link">Achat</a>
        </li>
        <li class="nav-item">
            <a href="/s03/transferts/?planet={{ cur_planetid }}" class="nav-link">Transferts</a>
        </li>
    </ul>
</div>
<div class="scroll-content" style="height:calc(100% - 158px);">
<div class="page-content">
<div class="mb-3">
    <div class="card">
        <div class="card-header">
            <span class="fs-6">Flottes</span>
        </div>
        <div class="list-group list-group-flush">
            {% for fleet in fleets %}
                <div class="list-group-item">
                    <div class="row gx-3">
                        <div class="col">
                            {% if fleet.planet_owner_relation == 2 %}<a href="/s03/fleet/?id={{fleet.id}}" data-bs-toggle="tooltip" data-bs-title="Voir flotte" class="text-info">{{fleet.name}}</a>
                            {% elif fleet.planet_owner_relation == 1 %}<span class="text-success">{{fleet.planet_owner_name}}</span>
                            {% elif fleet.planet_owner_relation == 0 %}<span class="text-friend">{{fleet.planet_owner_name}}</span>
                            {% else %}<span class="text-danger">{{fleet.planet_owner_name}}</span>
                            {% endif %}
                            <small class="ms-2">{{ fleet.signature|intcomma }}</small>
                        </div>
                        <div class="col-auto">
                            {{ fleet.size|intcomma }}
                            <small class="ms-1 text-normal">vaisseaux</small>
                        </div>
                        <div class="col-auto text-end" style="width:150px;">
                            {% if fleet.cargo > 0 %}
                                {{ fleet.cargo|intcomma }}
                                <small class="ms-1 text-normal">en soute</small>
                            {% endif %}
                        </div>
                        <div class="col-auto text-end" style="width:100px;">
                            {% if fleet.engaged %}<span class="text-danger">En combat</span>
                            {% elif fleet.action == 2 %}<span class="text-success">En recyclage</span>
                            {% elif fleet.patrolling %}<span class="text-normal">En patrouille</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <span class="text-normal">Aucune flotte en orbite de la planète</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<form method="post" action="?a=new&planet={{cur_planetid}}" class="card">
    <div class="card-header">
        <span class="fs-6">Nouvelle flotte</span>
    </div>
    {% if ships|length > 0 %}
        <div class="list-group list-group-flush">
            {% for ship in ships %}
                <div class="list-group-item">
                    <div class="row gx-3 align-items-center justify-content-end">
                        <div class="col">
                            <i class="text-normal fa-fw fas fa-question-circle me-1" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
                                <div class='mb-1'><span class='fs-6'>Description</span></div>
                                <div class='mb-3'><span class='text-normal'>{{ship.description|escape}}</span></div>
                                <div class='mb-1'><span class='fs-6'>Caractéristiques</span></div>
                                <div class='row gx-3 gy-1'>
                                    <div class='col-auto'>
                                        <small class='text-normal me-1'>Signature</small>
                                        <span>{{ship.signature|intcomma}}</span>
                                    </div>
                                    {% if ship.capacity %}
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Cargo</small>
                                            <span>{{ship.capacity|intcomma}}</span>
                                        </div>
                                    {% endif %}
                                    <div class='col-auto'>
                                        <small class='text-normal me-1'>Vitesse</small>
                                        <span>{{ship.speed|intcomma}}</span>
                                    </div>
                                    <div class='col-auto'>
                                        <small class='text-normal me-1'>Manœuvrabilité</small>
                                        <span>{{ship.handling|intcomma}}</span>
                                    </div>
                                    {% if ship.weapon_power %}
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Domage</small>
                                            <span>{{ship.ship_turrets}} <small class='text-normal'>x</small> {{ship.weapon_power}}</span>
                                        </div>
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Ciblage</small>
                                            <span>{{ship.weapon_tracking_speed|intcomma}}</span>
                                        </div>
                                    {% endif %}
                                    <div class='col-auto'>
                                        <small class='text-normal me-1'>Armure</small>
                                        <span>{{ship.hull|intcomma}}</span>
                                    </div>
                                    {% if ship.shield %}
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Bouclier</small>
                                            <span>{{ship.shield|intcomma}}</span>
                                        </div>
                                    {% endif %}
                                    {% if ship.recycler_output %}
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Recyclage</small>
                                            <span>{{ship.recycler_output|intcomma}}</span>
                                         </div>
                                    {% endif %}
                                    {% if ship.long_distance_capacity %}
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Saut</small>
                                            <span>{{ship.long_distance_capacity|intcomma}}</span>
                                         </div>
                                    {% endif %}
                                    {% if ship.droppods %}
                                        <div class='col-auto'>
                                            <small class='text-normal me-1'>Invasion</small>
                                            <span>{{ship.droppods|intcomma}}</span>
                                         </div>
                                    {% endif %}                                    
                                </div>
                            "></i>
                            <a href="/s03/help/?cat=ships#{{ship.shipid}}" data-bs-toggle="tooltip" data-bs-title="Voir aide">{{ship.label}}</a>
                        </div>
                        <div class="col-auto"><small class="text-normal">x</small> {{ship.quantity|intcomma}}</div>
                        <div class="col-auto"><input type="number" class="form-control" min="0" id="s{{ship.shipid}}" name="s{{ship.shipid}}"></div>
                        <div class="col-auto"><a href="#" onclick="setval('s{{ship.shipid}}', {{ship.quantity}}); return false;">max</a></div>
                    </div>
                </div>
            {% endfor %}
            <div class="list-group-item">
                <div class="row gx-3 align-items-center justify-content-end">
                    <div class="col-auto"><span class="text-normal">Nom de flotte</span></div>
                    <div class="col-auto"><input type="text" class="form-control" name="name" maxlength="16"></div>
                    <div class="col-auto"><input type="submit" class="btn btn-primary" value="Former la flotte"></div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card-body">
            <span class="text-normal">Aucun vaisseau n'est disponible</span>
        </div>
    {% endif %}
    {% csrf_token %}
</form>
</div>
</div>
{% endblock %}