{% extends "s03/layout.html" %}
{% load tz %}
{% load humanize %}
{% load bbcode_tags %}
{% block content %}
<div class="page-content">
<script>
    function sig(signature) {
    
        if (signature > 0) document.write('<small>' + formatnumber(signature) + '</small>');
        else document.write('???');
    }
</script>
{% if announce %}
    <div class="card mb-3">
        <div class="card-header" data-bs-toggle="collapse" data-bs-target="#motd_content">
            <span class="fs-6">
                Annonce de l'alliance -
                {% if defcon_5 %}DEFCON 5: Préparation normale en temps de paix{% endif %}
                {% if defcon_4 %}DEFCON 4: Préparation normale, mais renseignement accru et mesures de sécurité renforcées{% endif %}
                {% if defcon_3 %}DEFCON 3: Accroissement de la préparation des forces au-dessus de la préparation normale{% endif %}
                {% if defcon_2 %}DEFCON 2: Accroissement supplémentaire dans la préparation des forces{% endif %}
                {% if defcon_1 %}DEFCON 1: Préparation maximale des forces (état de guerre){% endif %}
            </span>
        </div>
        <div id="motd_content" class="collapse show">
            <div class="card-body">
                {{ motd|safe|bbcode }}
            </div>
        </div>
    </div>
{% endif %}
<div class="card mb-3">
    <div class="card-header" data-bs-toggle="collapse" data-bs-target="#stats_content">
        <span class="fs-6">Statistiques de votre empire - {{ date|timezone:"Europe/Paris"|date:"d M Y H:i:s" }}</span>
    </div>
    <div id="stats_content" class="collapse show">
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-5">
                    <div class="row g-1 flex-column">
                        <div class="col-12">
                            <span class="text-normal me-2">Nation</span>
                            <span class="me-2">
                                {% if orientation1 %}Marchand{% endif %}
                                {% if orientation2 %}Militaire{% endif %}
                                {% if orientation3 %}Scientifique{% endif %}
                            </span>
                            <span class="self me-2">{{ nation }}</span>
                        </div>
                        <div class="col-12">
                            <span class="text-normal me-2">Grade</span>
                            {% if alliance %}{{ alliance_rank_label }}<a href="/s03/alliance/?tag={{ alliance_tag }}" class="ms-2" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[{{ alliance_tag }}] {{ alliance_name }}</a>
                            {% else %}<span class="text-normal">Indépendant</span>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <span class="text-normal me-2">Trésorerie</span>
                            <img src="/static/assets/interface/credits.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Crédits" width="16" height="16">
                            {{ stat_credits|intcomma }}
                        </div>
                        <div class="col-12">
                            <span class="text-normal me-2">Score de développement</span>
                            {{ stat_score|intcomma }}
                            <small class="ms-2 {% if stat_score_delta > 0 %}text-success{% else %}text-danger{% endif %}">{% if stat_score_delta > 0 %}+{% endif %}{{ stat_score_delta|intcomma }}</small>
                            <a href="/s03/ranking-players/" class="small ms-2" data-bs-toggle="tooltip" data-bs-title="Voir classement">{{ stat_rank }} /{{ stat_players }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row g-1 flex-column">
                        <div class="col-12">
                            <span class="text-normal me-2">Nombre de colonies</span>
                            {{ stat_colonies|intcomma }} <small class="text-normal">/{{ stat_maxcolonies|intcomma }}</small>
                        </div>
                        <div class="col-12">
                            <span class="text-normal me-2">Minerai par heure</span>
                            <img src="/static/assets/interface/ore.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Minerai" width="16" height="16">
                            {{ stat_prod_ore|intcomma }}
                        </div>
                        <div class="col-12">
                            <span class="text-normal me-2">Hydrocarbure par heure</span>
                            <img src="/static/assets/interface/hydrocarbon.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure" width="16" height="16">
                            {{ stat_prod_hydrocarbon|intcomma }}
                        </div>
                        <div class="col-12">
                            <span class="text-normal me-2">Score de prestige</span>
                            {{ stat_score_battle|intcomma }}
                            <a href="/s03/ranking-players/?col=4" class="small ms-2" data-bs-toggle="tooltip" data-bs-title="Voir classement">{{ stat_rank_battle }} /{{ stat_players }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row g-1 flex-column">
                        <div class="col-12">
                            <span class="text-normal me-2">Travailleurs</span>
                            <img src="/static/assets/interface/workers.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Travailleur" width="16" height="16">
                            {{ stat_workers|intcomma }}
                        </div>
                        <div>
                            <span class="text-normal me-2">Scientifiques</span>
                            <img src="/static/assets/interface/scientists.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Scientifique" width="16" height="16">
                            {{ stat_scientists|intcomma }}
                        </div>
                        <div>
                            <span class="text-normal me-2">Soldats</span>
                            <img src="/static/assets/interface/soldiers.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Soldat" width="16" height="16">
                            {{ stat_soldiers|intcomma }}
                        </div>
                        <div>
                            <span class="text-normal me-2">Points de prestige</span>
                            <img src="/static/assets/interface/prestige.gif" class="res" data-bs-toggle="tooltip" data-bs-title="Prestige" width="16" height="16">
                            {{ stat_victory_marks|intcomma }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <span class="fs-6">Mouvements en cours</span>
    </div>
    <div class="list-group list-group-flush">
        {% for fleet in fleets %}
            <div class="list-group-item">
                <div class="row gx-3">
                    <div class="col">
                        {% if fleet.owned %}
                            {% if fleet.attack %}
                                <img src="{{ PATH_IMAGES }}interface/stance_attack.gif"
                                     class="stance"
                                     data-bs-toggle="tooltip" data-bs-title="Mode attaque"
                                     width="10"
                                     height="10">
                            {% else %}
                                <img src="{{ PATH_IMAGES }}interface/stance_defend.gif"
                                     class="stance"
                                     data-bs-toggle="tooltip" data-bs-title="Mode riposte"
                                     width="10"
                                     height="10">
                            {% endif %}
                            <a href="/s03/fleet/?id={{ fleet.id }}" class="self" data-bs-toggle="tooltip" data-bs-title="Voir flotte">{{ fleet.name }}</a>
                        {% elif fleet.ally %}
                            <a href="/s03/mails/?to={{ fleet.name }}" class="ally" data-bs-toggle="tooltip" data-bs-title="Contacter propriétaire">{{ fleet.name }}</a>
                        {% elif fleet.friend %}
                            <a href="/s03/mails/?to={{ fleet.name }}" class="friend" data-bs-toggle="tooltip" data-bs-title="Contacter propriétaire">{{ fleet.name }}</a>
                        {% elif fleet.hostile %}
                            <a href="/s03/nation/?name={{ fleet.name }}" class="enemy" data-bs-toggle="tooltip" data-bs-title="Voir profile">{{ fleet.name }}</a>
                        {% endif %}
                        <span class="ms-2"><script>sig({{ fleet.signature }})</script></span>
                    </div>
                    <div class="col-auto">
                        {% if fleet.movingfrom %}<script>putplanet("{{fleet.f_planetid}}","{{fleet.f_planetname}}","{{fleet.f_g}}","{{fleet.f_s}}","{{fleet.f_p}}",{{fleet.f_relation}});</script>
                        {% else %}<span class="text-normal">???</span>{% endif %}
                        <i class="fa-fw fas fa-long-arrow-alt-right mx-2 text-normal"></i>
                        <script>putplanet("{{fleet.t_planetid }}","{{fleet.t_planetname}}","{{fleet.t_g}}","{{fleet.t_s}}","{{fleet.t_p}}",{{fleet.t_relation}});</script>
                    </div>
                    <div class="col-auto text-end" style="width:75px;">
                        <span class="text-yellow"><script>putcountdown1({{fleet.time}}, "Terminé", "/s03/overview/");</script></span>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="list-group-item">
                <span class="text-normal">Aucun mouvement en cours</span>
            </div>
        {% endfor %}
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <span class="fs-6">Recherche en cours</span>
    </div>
    <div class="card-body">
        {% if research %}
            <div class="row gx-3">
                <div class="col"><a href="/s03/research/#{{ researchid }}" data-bs-toggle="tooltip" data-bs-title="Voir laboratoire">{{ researchlabel }}</a></div>
                <div class="col-auto"><span class="text-yellow"><script>putcountdown1({{ researchtime }}, "Terminé", "/s03/research/");</script></span></div>
            </div>
        {% else %}
            <a href="/s03/research/" data-bs-toggle="tooltip" data-bs-title="Voir laboratoire">Aucune recherche en cours</a>
        {% endif %}
    </div>
</div>
<div class="row gx-3">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <span class="fs-6">Bâtiments en construction</span>
            </div>
            <div class="list-group list-groups-flush">
                {% for item in constructionyards %}
                    <div class="list-group-item">
                        <div class="row gx-3">
                            <div class="col-auto" style="width:55px;">
                                <small class="text-normal">{{ item.galaxy }}.{{ item.sector }}.{{ item.planet }}</small>
                            </div>
                            <div class="col">
                                <a href="/s03/buildings/?planet={{ item.planetid }}" data-bs-toggle="tooltip" data-bs-title="Voir bâtiments">{{ item.planetname }}</a>
                            </div>
                            <div class="col-auto">
                                <div class="row g-1 flex-column">
                                    {% for building in item.buildings %}
                                        <div class="col-12">
                                            <div class="row gx-3 justify-content-end">
                                                <div class="col text-end"><span class="{% if building.destroy %}text-danger{% endif %}">{{ building.building }}</span></div>
                                                <div class="col-auto text-end" style="width:75px;"><span class="text-yellow"><script>putcountdown1({{building.time}}, "Terminé", "/s03/buildings/?planet={{item.planetid}}#{{building.buildingid}}");</script></span></div>
                                            </div>
                                        </div>
                                    {% empty %}
                                        <div class="col-12 text-end">
                                            <span class="text-normal">Aucun bâtiment en cours</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if shipyards|length > 0 %}
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <span class="fs-6">Vaisseaux en construction</span>
                </div>
                <div class="list-group list-groups-flush">
                    {% for item in shipyards %}
                    <div class="list-group-item">
                        <div class="row gx-3">
                            <div class="col-auto" style="width:55px;">
                                <small class="text-normal">{{ item.galaxy }}.{{ item.sector }}.{{ item.planet }}</small>
                            </div>
                            <div class="col">
                                <a href="/s03/shipyard/?planet={{ item.planetid }}" data-bs-toggle="tooltip" data-bs-title="Voir vaisseaux">{{ item.planetname }}</a>
                            </div>
                            <div class="col-auto">
                                {% if item.ship %}
                                    <div class="row gx-3 justify-content-end">                                        
                                        <div class="col"><span class="{% if item.recycle %}text-danger{% endif %}">{{ item.shiplabel }}</span></div>
                                        <div class="col-auto text-end" style="width:65px;"><span class="text-yellow"><script>putcountdown1({{item.time}}, "Terminé", "/s03/shipyard/?planet={{item.planetid}}#{{item.shipid}}");</script></span></div>
                                    </div>
                                {% elif item.waiting_resources %}
                                    <div class="row gx-3 justify-content-end">
                                        <div class="col">{{ item.waiting_ship }}</div>
                                        <div class="col-auto"><span class="text-danger">En attente de ressources</span></div>
                                    </div>
                                {% else %}
                                    <span class="text-normal">Aucun vaisseau en cours</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
</div>
</div>
{% endblock %}
