{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<div class="page-content">
    <ul class="nav nav-tabs mt-0 mb-3">
        <li class="nav-item active">
            <a href="/s03/planet/?planet={{ cur_planetid }}" class="nav-link">Aperçu</a>
        </li>
        <li class="nav-item">
            <a href="/s03/production/?planet={{ cur_planetid }}" class="nav-link">Production</a>
        </li>
        <li class="nav-item">
            <a href="/s03/working/?planet={{ cur_planetid }}" class="nav-link">Fonctionnement</a>
        </li>
        <li class="nav-item">
            <a href="/s03/buildings/?planet={{ cur_planetid }}" class="nav-link">Bâtiments</a>
        </li>
        <li class="nav-item">
            <a href="/s03/shipyard/?planet={{ cur_planetid }}" class="nav-link">Vaisseaux</a>
        </li>
        <li class="nav-item">
            <a href="/s03/recycling/?planet={{ cur_planetid }}" class="nav-link">Recyclage</a>
        </li>
        <li class="nav-item">
            <a href="/s03/training/?planet={{ cur_planetid }}" class="nav-link">Entraînements</a>
        </li>
        <li class="nav-item">
            <a href="/s03/orbit/?planet={{ cur_planetid }}" class="nav-link">Orbite</a>
        </li>
        <li class="nav-item">
            <a href="/s03/market-sell/?planet={{ cur_planetid }}" class="nav-link">Vente</a>
        </li>
        <li class="nav-item">
            <a href="/s03/market-buy/?planet={{ cur_planetid }}" class="nav-link">Achat</a>
        </li>
        <li class="nav-item">
            <a href="/s03/transferts/?planet={{ cur_planetid }}" class="nav-link">Transferts</a>
        </li>
    </ul>
</div>
<div class="scroll-content" style="height:calc(100% - 158px);">
    <div class="page-content">
        <script>
            function confirmAbandon() { return window.confirm('Êtes-vous sûr de vouloir abandonner la planète "{{planet.name}}" ?'); }
            function confirmScientists(id) { return window.confirm('Êtes-vous sûr de vouloir renvoyer ' + getval('scientists' + id) + ' scientifiques ?'); }
            function confirmSoldiers(id) { return window.confirm('Êtes-vous sûr de vouloir renvoyer ' + getval('soldiers' + id) + ' soldats ?'); }
            function confirmWorkers(id) { return window.confirm('Êtes-vous sûr de vouloir renvoyer ' + getval('workers' + id) + ' travailleurs ?'); }
        </script>
        <div id="renamebox" class="hidden">
            <form action='?planet={{ planet.id }}' method='post' class="row gx-2">
                {% csrf_token %}
                <input type='hidden' name='action' value='rename'>
                <div class="col-auto"><input type='text' class="form-control" name='name' size="28" maxlength="16"  value='{{ planet.name }}'></div>
                <div class="col-auto"><input type='submit' value='OK' class="btn btn-primary"></div>
                <div class="col-auto"><button type="button" onclick='hide();' class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button></div>
            </form>
        </div>
        <div id="commandersbox" class="hidden">
            <form action='?planet={{ planet.id }}' method='post' class="row gx-2">
                {% csrf_token %}
                <input type='hidden' name='action' value='assigncommander'>
                <div class="col-auto"><select class="form-control" name='commander'>
                    {% if planet.commanderid %}<option value='0'>Renvoyer</option>
                    {% else %}<option value='0'>Aucun</option>
                    {% endif %}
                    {% for optgroup in optgroups %}
                        <optgroup label="{% if optgroup.typ == 'fleet' %}sur Flottes{% endif %}{% if optgroup.typ == 'planet' %}sur Planètes{% endif %}{% if optgroup.typ == 'none' %}Non affectés{% endif %}">
                            {% for cmd in optgroup.cmds %}
                                <option value={{ cmd.id }}{% if cmd.id == planet.commanderid %} selected{% endif %}>&middot;&nbsp;{{ cmd.name }}
                                    {% if cmd.fleetname %}({{ cmd.fleetname }}){% endif %}
                                    {% if cmd.planetname %}({{ cmd.planetname }}){% endif %}
                                    {% if cmd.unavailable %}(Indisponible){% endif %}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select></div>
                <div class="col-auto"><input type='submit' value='OK' class="btn btn-primary"></div>
                <div class="col-auto"><button type="button" onclick='hide();' class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button></div>
            </form>
        </div>
        <div id="scientistsbox" class="hidden">
            <form action='?planet={{ planet.id }}' method='post' class="row gx-2">
                {% csrf_token %}
                <input type='hidden' name='action' value='firescientists'>
                <input type='hidden' name='planet' value='{{ planet.id }}'>
                <div class="col-auto"><input type='text'
                       class="form-control"
                       name='amount'
                       id="scientistsXXX"
                       size="8"
                       maxlength="8"
                       value='0'></div>
                <div class="col-auto"><input type='submit' value='OK' class="btn btn-primary" onclick="return confirmScientists(XXX)"></div>
                <div class="col-auto"><button type="button" onclick='hide();' class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button></div>
            </form>
        </div>
        <div id="soldiersbox" class="hidden">
            <form action='?planet={{ planet.id }}' method='post' class="row gx-2">
                {% csrf_token %}
                <input type='hidden' name='action' value='firesoldiers'>
                <div class="col-auto"><input type='text'
                       class="form-control"
                       name='amount'
                       id="soldiersXXX"
                       size="8"
                       maxlength="8"
                       value='0'></div>
                <div class="col-auto"><input type='submit' value='OK' class="btn btn-primary" onclick="return confirmSoldiers(XXX)"></div>
                <div class="col-auto"><button type="button" onclick='hide();' class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button></div>
            </form>
        </div>
        <div id="workersbox" class="hidden">
            <form action='?planet={{ planet.id }}' method='post' class="row gx-2">
                {% csrf_token %}
                <input type='hidden' name='action' value='fireworkers'>
                <div class="col-auto"><input type='text'
                       class="form-control"
                       name='amount'
                       id="workersXXX"
                       size="8"
                       maxlength="8"
                       value='0'></div>
                <div class="col-auto"><input type='submit' value='OK' class="btn btn-primary" onclick="return confirmWorkers(XXX)"></div>
                <div class="col-auto"><button type="button" onclick='hide();' class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button></div>
            </form>
        </div>
        <div class="mb-3 card">
            <div class="card-body">
                <div class="row gx-3">
                    <div class="col-auto text-center">
                        <img src="{{ PATH_IMAGES }}img/planets/p{{ planet.img }}.gif" class="rounded" width="64" height="64">
                        <form method="post" action="/s03/planet/?planet={{ planet.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="abandon">
                            <input type="submit" class="mt-2 btn btn-danger" value="Abandonner" onclick="return confirmAbandon()">
                        </form>
                    </div>
                    <div class="col">
                        <div class="row gy-1 gx-3 align-items-center">
                            <div class="col-3 text-end"><span class="text-normal">Planète</span></div>
                            <div id="renameref" class="col-9 d-flex">
                                <span class="me-auto">{{ planet.name }}</span>
                                <a href="#" onclick="return show('renameref','renamebox')">Renommer</a>
                            </div>
                            {% for message in messages %}
                                <div class="col-12">
                                    <div class="alert alert-{{ message.tags }} text-center">
                                        {% if message.message == 'name_invalid' %}Veuillez spécifier un nom de planète valide.{% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-3 text-end"><span class="text-normal">Localisation</span></div>
                            <div class="col-9">
                                <a href="/s03/map/?g={{ planet.galaxy }}&s={{ planet.sector }}" data-bs-toggle="tooltip" data-bs-title="Carte spatiale">{{ planet.galaxy }}.{{ planet.sector }}.{{ planet.planet }}</a>
                            </div>
                            <div class="col-3 text-end"><span class="text-normal">Commandant</span></div>
                            <div id="cmdref" class="col-9 d-flex align-items-center">
                                {% if planet.commander %}<i class="fas fa-user-astronaut text-normal me-1"></i> {{ planet.commander.name }}
                                {% else %}<span class="text-normal">aucun</span>
                                {% endif %}
                                <a href="#" class="ms-auto" onclick="return show('cmdref','commandersbox')">Changer</a>
                            </div>
                            <div class="col-3 text-end"><span class="text-normal">Terrain</span></div>
                            <div class="col-9">
                                {{ planet.floor_occupied|intcomma }} <small class="text-normal">/{{ planet.floor|intcomma }}</small>
                            </div>
                            <div class="col-3 text-end"><span class="text-normal">Espace</span></div>
                            <div class="col-9">
                                {{ planet.space_occupied|intcomma }} <small class="text-normal">/{{ planet.space|intcomma }}</small>
                            </div>
                            <div class="col-3 text-end"><span class="text-normal">Scientifiques</span></div>
                            <div id="scientistsref" class="col-9 d-flex">
                                <span>{{ planet.scientists|intcomma }} <small class="text-normal">/{{ planet.scientists_capacity|intcomma }}</small></span>
                                <a href="#" class="ms-auto" onclick="return show('scientistsref','scientistsbox')">Renvoyer</a>
                            </div>
                            <div class="col-3 text-end"><span class="text-normal">Soldats</span></div>
                            <div id="soldiersref" class="col-9 d-flex">
                                <span>{{ planet.soldiers|intcomma }} <small class="text-normal">/{{ planet.soldiers_capacity|intcomma }}</small></span>
                                <a href="#" class="ms-auto" onclick="return show('soldiersref','soldiersbox')">Renvoyer</a>
                            </div>
                            <div class="col-3 text-end"><span class="text-normal">Travailleurs</span></div>
                            <div id="workersref" class="col-9 d-flex">
                                <span>{{ planet.workers|intcomma }} <small class="text-normal">/{{ planet.workers_capacity|intcomma }}</small></span>
                                <a href="#" class="ms-auto" onclick="return show('workersref','workersbox')">Renvoyer</a>
                            </div>
                            <div class="col-3 text-end"><span class="text-normal">Formation</span></div>
                            <div class="col-9 d-flex">
                                <span>{{ planet.growth|floatformat:1 }}% <small class="text-normal">par heure</small></span>
                                {% if planet.recruit_workers %}<a href="?a=suspend" class="ms-auto" data-bs-toggle="tooltip" data-bs-title="Suspendre le recrutement de nouveaux travailleurs">Suspendre</a>
                                {% else %}<a href="?a=resume" class="ms-auto" data-bs-toggle="tooltip" data-bs-title="Reprendre le recrutement de nouveaux travailleurs">Reprendre</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="?planet={{ planet.id }}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="resources_price"/>
            <div class="card mb-3">
                <div class="card-header">
                    <span class="fs-6">Achat des ressources</span>
                </div>
                <div class="card-body">
                    <div class="row gx-2 align-items-center justify-content-center">
                        <div class="col-auto"><span class="text-normal">Prix pour {{ 1000|intcomma }} minerai</span></div>
                        <div class="col-auto"><input type="number" class="form-control" name="buy_ore" value="{{ planet.buy_ore }}" maxlength="5" /></div>
                        <div class="col-auto"><span class="text-normal">Prix pour {{ 1000|intcomma }} hydrocarbure</span></div>
                        <div class="col-auto"><input type="number" class="form-control" name="buy_hydrocarbon" value="{{ planet.buy_hydrocarbon }}" maxlength="5" /></div>
                        <div class="col-auto"><input type="submit" class="btn btn-primary" value="Envoyer"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row gx-3">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <span class="fs-6">Bâtiment en contruction</span>
                    </div>
                    <div class="card-body">
                        <div class="row gy-1">
                            {% for building in buildings %}
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col"><span class="{% if building.destroying %}text-danger{% endif %}">{{ building.label }}</span></div>
                                        <div class="col-auto"><span class="text-yellow"><script>putcountdown1({{building.remaining_time}}, "Terminé", "/s03/planet/?planet={{planet.id}}");</script></span></div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="col-12">
                                    <span class="text-normal">Aucun bâtiment en construction</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <span class="fs-6">Vaisseau en contruction</span>
                    </div>
                    <div class="card-body">
                        <div class="row gy-1">
                            {% for ship in ships %}
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col"><span class="{% if ship.recycle %}text-danger{% endif %}">{{ ship.label }}</span></div>
                                        <div class="col-auto"><span class="text-yellow"><script>putcountdown1({{ship.remaining_time}}, "Terminé", "/s03/planet/?planet={{planet.id}}");</script></span></div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="col-12">
                                    <span class="text-normal">Aucun vaisseau en construction</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <span class="fs-6">Flotte en orbite</span>
                    </div>
                    <div class="card-body">
                        <div class="row gy-1">
                            {% for fleet in fleets %}
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col-auto">
                                            {% if fleet.attack %}
                                                <img src="{{ PATH_IMAGES }}img/interface/stance_attack.gif"
                                                     class="stance"
                                                     data-bs-toggle="tooltip" data-bs-title="Mode attaque"
                                                     width="10"
                                                     height="10">
                                            {% else %}
                                                <img src="{{ PATH_IMAGES }}img/interface/stance_defend.gif"
                                                     class="stance"
                                                     data-bs-toggle="tooltip" data-bs-title="Mode riposte"
                                                     width="10"
                                                     height="10">
                                            {% endif %}
                                        </div>
                                        <div class="ps-0 col-auto">
                                            {% if fleet.relation == 2 %}<a href="/s03/fleet/?id={{ fleet.id }}" class="text-info" data-bs-toggle="tooltip" data-bs-title="Voir flotte">{{ fleet.name }}</a>
                                            {% elif fleet.relation == 1 %}<a href="/s03/mails/?to={{ fleet.ownername }}" class="text-success" data-bs-toggle="tooltip" data-bs-title="Contacter propriétaire">{{ fleet.ownername }}</a>
                                            {% elif fleet.relation == 0 %}<a href="/s03/mails/?to={{ fleet.ownername }}" class="text-friend" data-bs-toggle="tooltip" data-bs-title="Contacter propriétaire">{{ fleet.ownername }}</a>
                                            {% else %}<a href="/s03/nation/?name={{ fleet.ownername }}" class="text-danger" data-bs-toggle="tooltip" data-bs-title="Voir profil">{{ fleet.ownername }}</a>
                                            {% endif %}
                                        </div>
                                        <div class="ps-0 col">
                                            <span>{{ fleet.signature|intcomma }}</span>
                                        </div>
                                        <div class="col-auto">
                                            {% if fleet.engaged %}<span class="text-danger">En combat</span>
                                            {% elif fleet.action == 2 %}<span class="text-success">En recyclage</span>
                                            {% elif fleet.action == 4 %}<span class="text-success">En attente</span>
                                            {% else %}<span class="text-normal">En patrouille</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="col-12">
                                    <span class="text-normal">Aucune flotte en orbit</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
