{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    <div class="nav nav-tabs mb-3">
        <div class="nav-item">
            <a href="/s03/planet-view/?planet={{planetid}}" class="nav-link">Vue d'ensemble</a>
        </div>
        <div class="nav-item">
            <a href="/s03/planet-production/?planet={{planetid}}" class="nav-link">Production</a>
        </div>
        <div class="nav-item">
            <a href="/s03/planet-working/?planet={{planetid}}" class="nav-link active">Fonctionnement</a>
        </div>
        <div class="nav-item">
            <a href="/s03/planet-buildings/?planet={{planetid}}" class="nav-link">Bâtiments</a>
        </div>
        <div class="nav-item">
            <a href="/s03/planet-ships/?planet={{planetid}}" class="nav-link">Chantier spatial</a>
        </div>
        <div class="nav-item">
            <a href="/s03/planet-trainings/?planet={{planetid}}" class="nav-link">Entraînement</a>
        </div>
        <div class="nav-item">
            <a href="/s03/planet-orbit/?planet={{planetid}}" class="nav-link">Orbite</a>
        </div>
    </div>
    <div class="scroll-content pe-1" style="height:calc(100% - 44px - 94px);">
    <div class="row g-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span>Consommation énergétique</span>
                </div>
                <form method="post"
                      action="?cat={{ cat }}&a=submit"
                      class="list-group list-group-flush">
                    {% csrf_token %}
                    {% for building in buildings %}
                        <div class="list-group-item {% if building.not_all_enabled %}bg-danger{% endif %}">
                            <div class="row gx-3 align-items-center">
                                <div class="col-auto">
                                    <img src="{{ PATH_IMAGES }}buildings/{{ building.id }}.jpg"
                                         class="rounded"
                                         width="48px"/>
                                </div>
                                <div class="col">
                                    <div class="row g-1">
                                        <div class="col-12">
                                            <span class="text-normal">{{ building.building }}</span>
                                        </div>
                                        <div class="col-12">
                                            <div class="row gx-3 align-items-center">
                                                <div class="col-5">
                                                    <div class="row gx-3">
                                                        <div class="col-4">
                                                            <img src="{{ PATH_IMAGES }}interface/credits.gif" width="16px" class="res" />
                                                            {{ building.upkeep|intcomma }}
                                                        </div>
                                                        <div class="col-4">
                                                            <img src="{{ PATH_IMAGES }}interface/energy.gif" width="16px" class="res" />
                                                            {{ building.energy|intcomma }}
                                                        </div>
                                                        <div class="col-4">
                                                            <img src="{{ PATH_IMAGES }}interface/workers.gif" width="16px" class="res" />
                                                            {{ building.maintenance|intcomma }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <small class="me-1 text-normal">x</small>
                                                    <select name="enabled{{ building.id }}">
                                                        {% for count in building.counts %}
                                                            <option value="{{ count.count }}"{% if count.selected %} selected{% endif %}>
                                                                {{ count.count }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                    <small class="ms-1 text-normal">=</small>
                                                </div>
                                                <div class="col-5">
                                                    <div class="row gx-3">
                                                        <div class="col-4">
                                                            <img src="{{ PATH_IMAGES }}interface/credits.gif" width="16px" class="res" />
                                                            {{ building.upkeep_total|intcomma }}
                                                        </div>
                                                        <div class="col-4">
                                                            <img src="{{ PATH_IMAGES }}interface/energy.gif" width="16px" class="res" />
                                                            {{ building.energy_total|intcomma }}
                                                        </div>
                                                        <div class="col-4">
                                                            <img src="{{ PATH_IMAGES }}interface/workers.gif" width="16px" class="res" />
                                                            {{ building.maintenance_total|intcomma }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="list-group-item text-end">
                        <input type="submit" value="Valider" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
