{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    <div class="nav nav-tabs mb-3">
        <div class="nav-item">
            <a href="/s03/planet-view/?planet={{planetid}}" class="nav-link">Vue d'ensemble</a>
        </div>
        <div class="nav-item">
            <a href="/s03/planet-production/?planet={{planetid}}" class="nav-link active">Production</a>
        </div>
        <div class="nav-item">
            <a href="/s03/planet-working/?planet={{planetid}}" class="nav-link">Fonctionnement</a>
        </div>
        <div class="nav-item">
            <a href="/s03/planet-buildings/?planet={{planetid}}" class="nav-link">Bâtiments</a>
        </div>
        <div class="nav-item">
            <a href="/s03/planet-ships/?planet={{planetid}}" class="nav-link">Chantier spatial</a>
        </div>
        <div class="nav-item">
            <a href="/s03/planet-trainings/?planet={{planetid}}" class="nav-link">Entraînement</a>
        </div>
        <div class="nav-item">
            <a href="/s03/planet-orbit/?planet={{planetid}}" class="nav-link">Orbite</a>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span>Production</span>
                </div>
                <div class="card-body">
                    <div class="row g-1">
                        <div class="col-12">
                            <div class="row gx-3">
                                <div class="col-5">
                                    <span class="text-normal">Abondance</span>
                                </div>
                                <div class="col-auto">
                                    <span>{{ a_ore }}%</span> <small class="text-normal">Minerai</small>
                                </div>
                                <div class="col-auto">
                                    <span>{{ a_hydrocarbon }}%</span> <small class="text-normal">Hydrocarbure</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row gx-3">
                                <div class="col-5">
                                    <span class="text-normal">Effectifs</span>
                                </div>
                                <div class="col-auto">
                                    <span>{{ workers|intcomma }}</span> <small class="text-normal">/{{ workers_required|intcomma }} requis</small>
                                </div>
                                <div class="col-auto">
                                    <span>{{ production_percent }}%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row gx-3">
                                <div class="col-5">
                                    <span class="text-normal">Condition des installations</span>
                                </div>
                                <div class="col-auto">
                                    {% if condition_excellent %}Excellente{% endif %}
                                    {% if condition_good %}Bonne{% endif %}
                                    {% if condition_fair %}Passable{% endif %}
                                    {% if condition_bad %}Mauvaise{% endif %}
                                    {% if condition_catastrophic %}Catastrophique{% endif %}
                                </div>
                                <div class="col-auto">
                                    {% if repairing %}<small class="text-normal">Réparation en cours</small>{% endif %}
                                    {% if decaying %}<small class="text-normal">En détérioration</small>{% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row gx-3">
                                <div class="col-5">
                                    <span class="text-normal">Estimation de la production</span>
                                </div>
                                <div class="col-auto">
                                    <span>{{ final_production }}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row gx-3">
                        <div class="col">
                            <span>Bâtiments</span>
                        </div>
                        <div class="col-2 text-end">
                            <span class="text-normal">Minerai</span>
                        </div>
                        <div class="col-2 text-end">
                            <span class="text-normal">Hydrocarbure</span>
                        </div>
                        <div class="col-2 text-end">
                            <span class="text-normal">Energie</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row g-1">
                        {% for building in buildings %}
                            <div class="col-12">
                                <div class="row gx-3">
                                    <div class="col">
                                        <a href="/s03/help/?cat=buildings#{{ building.id }}">{{ building.name }}</a> <small class="text-normal">x</small> {{ building.quantity }}
                                    </div>
                                    <div class="col-2 text-end">
                                        {% if building.production_ore > 0 %}
                                            <span>{{ building.production_ore|intcomma }}</span>
                                        {% else %}
                                            <small class="text-normal">-</small>
                                        {% endif %}
                                    </div>
                                    <div class="col-2 text-end">
                                        {% if building.production_hydrocarbon > 0 %}
                                            <span>{{ building.production_hydrocarbon|intcomma }}</span>
                                        {% else %}
                                            <small class="text-normal">-</small>
                                        {% endif %}
                                    </div>
                                    <div class="col-2 text-end">
                                        {% if building.production_energy > 0 %}
                                            <span>{{ building.production_energy|intcomma }}</span>
                                        {% else %}
                                            <small class="text-normal">-</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="row gx-3">
                        <div class="col">
                            <span class="text-normal">Sous total</span>
                        </div>
                        <div class="col-2 text-end">
                            <img src="{{ PATH_IMAGES }}interface/ore.gif"
                                 class="res"
                                 width="16px"
                                 height="16px">
                            <span>{{ production_ore|intcomma }}</span>
                        </div>
                        <div class="col-2 text-end">
                            <img src="{{ PATH_IMAGES }}interface/hydrocarbon.gif"
                                 class="res"
                                 width="16px"
                                 height="16px">
                            <span>{{ production_hydrocarbon|intcomma }}</span>
                        </div>
                        <div class="col-2 text-end">
                            <img src="{{ PATH_IMAGES }}interface/energy.gif"
                                 class="res"
                                 width="16px"
                                 height="16px">
                            <span>{{ production_energy|intcomma }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if bonuses|length > 0 %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row gx-3">
                            <div class="col">
                                <span>Bonus</span>
                            </div>
                            <div class="col-2 text-end">
                                <span class="text-normal">Minerai</span>
                            </div>
                            <div class="col-2 text-end">
                                <span class="text-normal">Hydrocarbure</span>
                            </div>
                            <div class="col-2 text-end">
                                <span class="text-normal">Energie</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row g-1">
                            {% for item in bonuses %}
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col">
                                            {% if item.building %}<a href="/s03/help/?cat=buildings#{{ item.id }}">{{ item.name }}</a>{% endif %}
                                            {% if item.commander %}<a href="/s03/empire-commanders/#{{ item.id }}">{{ item.name }}</a>{% endif %}
                                            {% if item.research %}
                                                <a href="/s03/help/?cat=research#{{ item.id }}">{{ item.name }}</a> <small class="text-normal">niv.</small> {{ item.level }}
                                            {% endif %}
                                        </div>
                                        <div class="col-2 text-end">
                                            {% if item.ore_positive %}
                                                <span class="text-success">{{ item.mod_production_ore }}%</span>
                                            {% elif item.ore_negative %}
                                                <span class="text-danger">{{ item.mod_production_ore }}%</span>
                                            {% else %}
                                                <small class="text-normal">-</small>
                                            {% endif %}
                                        </div>
                                        <div class="col-2 text-end">
                                            {% if item.hydrocarbon_positive %}
                                                <span class="text-success">{{ item.mod_production_hydrocarbon }}%</span>
                                            {% elif item.hydrocarbon_negative %}
                                                <span class="text-danger">{{ item.mod_production_hydrocarbon }}%</span>
                                            {% else %}
                                                <small class="text-normal">-</small>
                                            {% endif %}
                                        </div>
                                        <div class="col-2 text-end">
                                            {% if item.energy_positive %}
                                                <span class="text-success">{{ item.mod_production_energy }}%</span>
                                            {% elif item.energy_negative %}
                                                <span class="text-danger">{{ item.mod_production_energy }}%</span>
                                            {% else %}
                                                <small class="text-normal">-</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="row gx-3">
                            <div class="col">
                                <span class="text-normal">Sous total</span>
                            </div>
                            <div class="col-2 text-end">
                                <img src="{{ PATH_IMAGES }}interface/ore.gif"
                                     class="res"
                                     width="16px"
                                     height="16px">
                                <span>{{ bonus_production_ore|intcomma }}</span>
                            </div>
                            <div class="col-2 text-end">
                                <img src="{{ PATH_IMAGES }}interface/hydrocarbon.gif"
                                     class="res"
                                     width="16px"
                                     height="16px">
                                <span>{{ bonus_production_hydrocarbon|intcomma }}</span>
                            </div>
                            <div class="col-2 text-end">
                                <img src="{{ PATH_IMAGES }}interface/energy.gif"
                                     class="res"
                                     width="16px"
                                     height="16px">
                                <span>{{ bonus_production_energy|intcomma }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-12">
            <div class="card card-body">
                <div class="row gx-3">
                    <div class="col">
                        <span class="text-normal">Production totale</span>
                    </div>
                    <div class="col-2 text-end">
                        <img src="{{ PATH_IMAGES }}interface/ore.gif"
                             class="res"
                             width="16px"
                             height="16px">
                        <span>{{ total_production_ore|intcomma }}</span>
                    </div>
                    <div class="col-2 text-end">
                        <img src="{{ PATH_IMAGES }}interface/hydrocarbon.gif"
                             class="res"
                             width="16px"
                             height="16px">
                        <span>{{ total_production_hydrocarbon|intcomma }}</span>
                    </div>
                    <div class="col-2 text-end">
                        <img src="{{ PATH_IMAGES }}interface/energy.gif"
                             class="res"
                             width="16px"
                             height="16px">
                        <span>{{ total_production_energy|intcomma }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
