{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<div class="page-content">
<script>
    function confirmAbandon() { return window.confirm('Êtes-vous sûr de vouloir abandonner la planète "{{planet_name}}" ?'); }
    function confirmScientists(id) { return window.confirm('Êtes-vous sûr de vouloir renvoyer ' + getval('scientists' + id) + ' scientifiques ?'); }
    function confirmSoldiers(id) { return window.confirm('Êtes-vous sûr de vouloir renvoyer ' + getval('soldiers' + id) + ' soldats ?'); }
    function confirmWorkers(id) { return window.confirm('Êtes-vous sûr de vouloir renvoyer ' + getval('workers' + id) + ' travailleurs ?'); }
</script>
<div id="renamebox" class="hidden">
    <form action='?planet={{ planet_id }}' method='post' class="row gx-2">
        {% csrf_token %}
        <input type='hidden' name='action' value='rename'>
        <div class="col-auto"><input type='text' class="form-control" name='name' size="28" maxlength="16"  value='{{ planet_name }}'></div>
        <div class="col-auto"><input type='submit' value='OK' class="btn btn-primary"></div>
        <div class="col-auto"><button type="button" onclick='hide();' class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button></div>
    </form>
</div>
<div id="commandersbox" class="hidden">
    <form action='?planet={{ planet_id }}' method='post' class="row gx-2">
        {% csrf_token %}
        <input type='hidden' name='action' value='assigncommander'>
        <div class="col-auto"><select class="form-control" name='commander' class="editbox">
            {% if unassign %}
                <option value='0'>
                    Renvoyer
                </option>
            {% endif %}
            {% if none %}
                <option value='0'>
                    Aucun
                </option>
            {% endif %}
            {% for optgroup in optgroups %}
                <optgroup label="{% if optgroup.typ == 'fleet' %}sur Flottes{% endif %}{% if optgroup.typ == 'planet' %}sur Planètes{% endif %}{% if optgroup.typ == 'none' %}Non affectés{% endif %}">
                    {% for cmd in optgroup.cmds %}
                        <option value={{ cmd.cmd_id }}{% if cmd.selected %} selected{% endif %}>&middot;&nbsp;{{ cmd.cmd_name }}
                            {% if cmd.assigned %}({{ cmd.name }}){% endif %}
                            {% if cmd.unavailable %}(Indisponible){% endif %}
                        </option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select></div>
        <div class="col-auto"><input type='submit' value='OK' class="btn btn-primary"></div>
        <div class="col-auto"><button type="button" onclick='hide();' class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button></div>
    </form>
</div>
<div id="scientistsbox" class="hidden">
    <form action='?planet={{ planet_id }}' method='post' class="row gx-2">
        {% csrf_token %}
        <input type='hidden' name='action' value='firescientists'>
        <input type='hidden' name='planet' value='{{ planet_id }}'>
        <div class="col-auto"><input type='text'
               class="form-control"
               name='amount'
               id="scientistsXXX"
               size="8"
               maxlength="8"
               value='0'></div>
        <div class="col-auto"><input type='submit' value='OK' class="btn btn-primary" onclick="return confirmScientists(XXX)"></div>
        <div class="col-auto"><button type="button" onclick='hide();' class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button></div>
    </form>
</div>
<div id="soldiersbox" class="hidden">
    <form action='?planet={{ planet_id }}' method='post' class="row gx-2">
        {% csrf_token %}
        <input type='hidden' name='action' value='firesoldiers'>
        <div class="col-auto"><input type='text'
               class="form-control"
               name='amount'
               id="soldiersXXX"
               size="8"
               maxlength="8"
               value='0'></div>
        <div class="col-auto"><input type='submit' value='OK' class="btn btn-primary" onclick="return confirmSoldiers(XXX)"></div>
        <div class="col-auto"><button type="button" onclick='hide();' class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button></div>
    </form>
</div>
<div id="workersbox" class="hidden">
    <form action='?planet={{ planet_id }}' method='post' class="row gx-2">
        {% csrf_token %}
        <input type='hidden' name='action' value='fireworkers'>
        <div class="col-auto"><input type='text'
               class="form-control"
               name='amount'
               id="workersXXX"
               size="8"
               maxlength="8"
               value='0'></div>
        <div class="col-auto"><input type='submit' value='OK' class="btn btn-primary" onclick="return confirmWorkers(XXX)"></div>
        <div class="col-auto"><button type="button" onclick='hide();' class="btn btn-danger"><i class="fa-fw fas fa-times"></i></button></div>
    </form>
</div>
<div class="mb-3 card">
    <div class="card-body">
        <div class="row gx-3">
            <div class="col-auto text-center">
                <img src="{{ PATH_IMAGES }}img/planets/p{{ planet_img }}.gif" class="rounded" width="64" height="64">
                <form method="post" action="/s03/planet/?planet={{ planet_id }}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="abandon">
                    <input type="submit" class="mt-2 btn btn-danger" value="Abandonner" onclick="return confirmAbandon()">
                </form>
            </div>
            <div class="col">
                <div class="row gy-1 gx-3 align-items-center">
                    <div class="col-3 text-end"><span class="text-normal">Planète</span></div>
                    <div id="renameref" class="col-9 d-flex">
                        <span class="me-auto">{{ planet_name }}</span>
                        <a href="#" onclick="return show('renameref','renamebox')">Renommer</a>
                    </div>
                    {% if rename_bad_name %}
                        <div class="col-12">
                            <span class="text-danger">Veuillez spécifier un nom de planète valide.</span>
                        </div>p
                    {% endif %}                    
                    <div class="col-3 text-end"><span class="text-normal">Localisation</span></div>
                    <div class="col-9">
                        <a href="/s03/map/?g={{ pla_g }}&s={{ pla_s }}" data-bs-toggle="tooltip" data-bs-title="Carte spatiale">{{ pla_g }}.{{ pla_s }}.{{ pla_p }}</a>
                    </div>
                    <div class="col-3 text-end"><span class="text-normal">Commandant</span></div>
                    <div id="cmdref" class="col-9 d-flex">
                        {% if commander %}<i class="fas fa-user-astronaut"></i> {{ commandername }}
                        {% else %}<span class="text-normal">aucun</span>
                        {% endif %}
                        <a href="#" class="ms-auto" onclick="return show('cmdref','commandersbox')">Changer</a>
                    </div>
                    <div class="col-3 text-end"><span class="text-normal">Terrain</span></div>
                    <div class="col-9">
                        {{ floor_occupied|intcomma }} <small class="text-normal">/{{ floor|intcomma }}</small>
                    </div>
                    <div class="col-3 text-end"><span class="text-normal">Espace</span></div>
                    <div class="col-9">
                        {{ space_occupied|intcomma }} <small class="text-normal">/{{ space|intcomma }}</small>
                    </div>
                    <div class="col-3 text-end"><span class="text-normal">Scientifiques</span></div>
                    <div id="scientistsref" class="col-9 d-flex">
                        <span>{{ scientists|intcomma }} <small class="text-normal">/{{ scientists_capacity|intcomma }}</small></span>
                        <a href="#" class="ms-auto" onclick="return show('scientistsref','scientistsbox')">Renvoyer</a>
                    </div>
                    <div class="col-3 text-end"><span class="text-normal">Soldats</span></div>
                    <div id="soldiersref" class="col-9 d-flex">
                        <span>{{ soldiers|intcomma }} <small class="text-normal">/{{ soldiers_capacity|intcomma }}</small></span>
                        <a href="#" class="ms-auto" onclick="return show('soldiersref','soldiersbox')">Renvoyer</a>
                    </div>
                    <div class="col-3 text-end"><span class="text-normal">Travailleurs</span></div>
                    <div id="workersref" class="col-9 d-flex">
                        <span>{{ workers|intcomma }} <small class="text-normal">/{{ workers_capacity|intcomma }}</small></span>
                        <a href="#" class="ms-auto" onclick="return show('workersref','workersbox')">Renvoyer</a>
                    </div>
                    <div class="col-3 text-end"><span class="text-normal">Formation</span></div>
                    <div class="col-9 d-flex">
                        <span>{{ growth|floatformat:1 }}% <small class="text-normal">par heure</small></span>
                        {% if suspend %}<a href="?a=suspend" class="ms-auto" data-bs-toggle="tooltip" data-bs-title="Suspendre le recrutement de nouveaux travailleurs">Suspendre</a>{% endif %}
                        {% if resume %}<a href="?a=resume" class="ms-auto" data-bs-toggle="tooltip" data-bs-title="Reprendre le recrutement de nouveaux travailleurs">Reprendre</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="?planet={{ planet_id }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="resources_price"/>
    <div class="card">
        <div class="card-header">
            <span class="fs-6">Achat des ressources</span>
        </div>
        <div class="card-body">
            <div class="row gx-2 align-items-center justify-content-center">
                <div class="col-auto"><span class="text-normal">Prix pour {{ 1000|intcomma }} minerai</span></div>
                <div class="col-auto"><input type="number" class="form-control" name="buy_ore" value="{{ buy_ore }}" maxlength="5" /></div>
                <div class="col-auto"><span class="text-normal">Prix pour {{ 1000|intcomma }} hydrocarbure</span></div>
                <div class="col-auto"><input type="number" class="form-control" name="buy_hydrocarbon" value="{{ buy_hydrocarbon }}" maxlength="5" /></div>
                <div class="col-auto"><input type="submit" class="btn btn-primary" value="Envoyer"></div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}
