{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<div class="page-content">
    <ul class="nav nav-tabs mt-0 mb-3">
        <li class="nav-item">
            <a href="/s03/planet-view/?planet={{ cur_planetid }}" class="nav-link">Aperçu</a>
        </li>
        <li class="nav-item active">
            <a href="/s03/planet-production/?planet={{ cur_planetid }}" class="nav-link">Production</a>
        </li>
        <li class="nav-item">
            <a href="/s03/planet-working/?planet={{ cur_planetid }}" class="nav-link">Fonctionnement</a>
        </li>
        <li class="nav-item">
            <a href="/s03/planet-buildings/?planet={{ cur_planetid }}" class="nav-link">Bâtiments</a>
        </li>
        <li class="nav-item">
            <a href="/s03/planet-ships/?planet={{ cur_planetid }}" class="nav-link">Vaisseaux</a>
        </li>
        <li class="nav-item">
            <a href="/s03/planet-recycling/?planet={{ cur_planetid }}" class="nav-link">Recyclage</a>
        </li>
        <li class="nav-item">
            <a href="/s03/planet-trainings/?planet={{ cur_planetid }}" class="nav-link">Entraînements</a>
        </li>
        <li class="nav-item">
            <a href="/s03/planet-orbit/?planet={{ cur_planetid }}" class="nav-link">Orbite</a>
        </li>
        <li class="nav-item">
            <a href="/s03/market-sell/?planet={{ cur_planetid }}" class="nav-link">Vente</a>
        </li>
        <li class="nav-item">
            <a href="/s03/market-buy/?planet={{ cur_planetid }}" class="nav-link">Achat</a>
        </li>
        <li class="nav-item">
            <a href="/s03/planet-transferts/?planet={{ cur_planetid }}" class="nav-link">Transferts</a>
        </li>
    </ul>
</div>
<div class="scroll-content" style="height:calc(100% - 158px);">
<div class="page-content">
<div class="card mb-3">
    <div class="card-header">
        <span class="fs-6">Production</span>
    </div>
    <div class="card-body">
        <div class="mb-1">
            <div class="row gx-3">
                <div class="col-6"><span class="text-normal">Abondance</span></div>
                <div class="col-6">
                    <span class="me-3">
                        <img src="{{ PATH_IMAGES }}img/interface/ore.gif" data-bs-toggle="tooltip" data-bs-title="Minerai" class="res" width="16px" height="16px">
                        <span>{{ planet.pct_ore }}%</span>
                    </span>
                    <span class="me-3">
                        <img src="{{ PATH_IMAGES }}img/interface/hydrocarbon.gif" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure" class="res" width="16px" height="16px">
                        <span>{{ planet.pct_hydrocarbon }}%</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="mb-1">
            <div class="row gx-3">
                <div class="col-6"><span class="text-normal">Effectifs</span></div>
                <div class="col-6">
                    <span class="me-3">{{ planet.workers|intcomma }}</span>
                    <small class="me-3 text-normal">{{ planet.workers_for_maintenance|intcomma }} requis</small>
                    <span class="me-3">{{ planet.production_percent }}%</span>
                </div>
            </div>
        </div>
        <div class="mb-1">
            <div class="row gx-3">
                <div class="col-6"><span class="text-normal">Condition des installations</span></div>
                <div class="col-6">
                    {% if planet.condition <= 1 %}<span class="me-3">Excellente</span>
                    {% elif planet.condition < 20 %}<span class="me-3">Bonne</span>
                    {% elif planet.condition < 45 %}<span class="me-3">Passable</span>
                    {% elif planet.condition < 80 %}<span class="me-3">Mauvaise</span>
                    {% else %}<span class="me-3">Catastrophique</span>
                    {% endif %}
                    {% if planet.workers >= planet.workers_for_maintenance %}<small class="me-3 text-normal">réparation en cours</small>
                    {% else %}<small class="me-3 text-normal">en détérioration</small>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mb-0">
            <div class="row gx-3">
                <div class="col-6"><span class="text-normal">Estimation de la production</span></div>
                <div class="col-6">
                    <span class="me-3">{{ planet.final_production }}%</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <span class="fs-6">Bâtiments</span>
    </div>
    <div class="list-group list-group-flush">
        {% for building in buildings %}
        <div class="list-group-item">
            <div class="row gx-3">
                <div class="col-auto pe-0">
                    <i class="fa-fw fas fa-question-circle text-normal" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
                        <div class='mb-1'><span class='fs-6'>Description</span></div>
                        <div class='mb-0'><span class='text-normal'>{{building.description|escape}}</span></div>
                    "></i>                    
                </div>
                <div class="col-auto pe-0">
                    <a href="/s03/help/?cat=buildings#{{ building.id }}" data-bs-toggle="tooltip" data-bs-title="Voir aide">{{ building.label }}</a>
                </div>
                <div class="col">
                    <small class="text-normal">x</small>
                    <span>{{ building.working_quantity }}</span>
                </div>
                <div class="col-2">
                    {% if building.production_ore %}
                        <img src="{{ PATH_IMAGES }}img/interface/ore.gif" data-bs-toggle="tooltip" data-bs-title="Minerai" class="res" width="16px" height="16px">
                        <span class="text-success">+{{ building.production_ore|intcomma }}</span>
                    {% else %}
                        <small class="text-normal">-</small>
                    {% endif %}
                </div>
                <div class="col-2">
                    {% if building.production_hydrocarbon %}
                        <img src="{{ PATH_IMAGES }}img/interface/hydrocarbon.gif" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure" class="res" width="16px" height="16px">
                        <span class="text-success">+{{ building.production_hydrocarbon|intcomma }}</span>
                    {% else %}
                        <small class="text-normal">-</small>
                    {% endif %}
                </div>
                <div class="col-2">
                    {% if building.production_energy %}
                        <img src="{{ PATH_IMAGES }}img/interface/energy.gif" data-bs-toggle="tooltip" data-bs-title="Energie" class="res" width="16px" height="16px">
                        <span class="text-success">+{{ building.production_energy|intcomma }}</span>
                    {% else %}
                        <small class="text-normal">-</small>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="list-group-item">
            <div class="row gx-3">
                <div class="col">
                    <span class="text-normal">Sous total</span>
                </div>
                <div class="col-2">
                    <img src="{{ PATH_IMAGES }}img/interface/ore.gif" data-bs-toggle="tooltip" data-bs-title="Minerai" class="res" width="16px" height="16px">
                    <span class="text-success">+{{ production_ore|intcomma }}</span>
                </div>
                <div class="col-2">
                    <img src="{{ PATH_IMAGES }}img/interface/hydrocarbon.gif" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure" class="res" width="16px" height="16px">
                    <span class="text-success">+{{ production_hydrocarbon|intcomma }}</span>
                </div>
                <div class="col-2">
                    <img src="{{ PATH_IMAGES }}img/interface/energy.gif" data-bs-toggle="tooltip" data-bs-title="Energie" class="res" width="16px" height="16px">
                    <span class="text-success">+{{ production_energy|intcomma }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <span class="fs-6">Bonus</span>
    </div>
    <div class="list-group list-group-flush">
        {% for item in bonuses %}
        <div class="list-group-item">
            <div class="row gx-3">
                <div class="col-auto pe-0">
                    {% if item.building %}
                        <i class="fa-fw fas fa-question-circle text-normal" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
                            <div class='mb-1'><span class='fs-6'>Description</span></div>
                            <div class='mb-0'><span class='text-normal'>{{item.description|escape}}</span></div>
                        "></i>
                    {% elif item.research %}
                        <i class="fa-fw fas fa-question-circle text-normal" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
                            <div class='mb-1'><span class='fs-6'>Description</span></div>
                            <div class='mb-0'><span class='text-normal'>{{item.description|escape}}</span></div>
                        "></i>
                    {% elif item.commander %}
                        <i class="fa-fw fas fa-user-astronaut text-normal"></i>
                    {% endif %}
                </div>
                <div class="col-auto pe-0">
                    {% if item.building %}
                        <a href="/s03/help/?cat=buildings#{{ item.id }}" data-bs-toggle="tooltip" data-bs-title="Voir aide">{{ item.name }}</a>
                    {% elif item.research %}
                        <a href="/s03/help/?cat=research#{{ item.id }}" data-bs-toggle="tooltip" data-bs-title="Voir aide">{{ item.name }}</a>
                    {% elif item.commander %}
                        <a href="/s03/commander-list/#{{ item.id }}" data-bs-toggle="tooltip" data-bs-title="Voir commandant">{{ item.name }}</a>
                    {% endif %}
                </div>
                <div class="col">
                    {% if item.research %}
                        <small class="text-normal">niv</small>
                        <span>{{ item.level }}</span>
                    {% endif %}
                </div>
                <div class="col-2">
                    {% if item.mod_production_ore %}
                        <img src="{{ PATH_IMAGES }}img/interface/ore.gif" data-bs-toggle="tooltip" data-bs-title="Minerai" class="res" width="16px" height="16px">
                        <span class="text-success">+{{ item.mod_production_ore|intcomma }}%</span>
                    {% else %}
                        <small class="text-normal">-</small>
                    {% endif %}
                </div>
                <div class="col-2">
                    {% if item.mod_production_hydrocarbon %}
                        <img src="{{ PATH_IMAGES }}img/interface/hydrocarbon.gif" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure" class="res" width="16px" height="16px">
                        <span class="text-success">+{{ item.mod_production_hydrocarbon|intcomma }}%</span>
                    {% else %}
                        <small class="text-normal">-</small>
                    {% endif %}
                </div>
                <div class="col-2">
                    {% if item.mod_production_energy %}
                        <img src="{{ PATH_IMAGES }}img/interface/energy.gif" data-bs-toggle="tooltip" data-bs-title="Energie" class="res" width="16px" height="16px">
                        <span class="text-success">+{{ item.mod_production_energy|intcomma }}%</span>
                    {% else %}
                        <small class="text-normal">-</small>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="list-group-item">
            <div class="row gx-3">
                <div class="col">
                    <span class="text-normal">Sous total</span>
                </div>
                <div class="col-2">
                    <img src="{{ PATH_IMAGES }}img/interface/ore.gif" data-bs-toggle="tooltip" data-bs-title="Minerai" class="res" width="16px" height="16px">
                    <span class="text-success">+{{ bonus_production_ore|intcomma }}</span>
                </div>
                <div class="col-2">
                    <img src="{{ PATH_IMAGES }}img/interface/hydrocarbon.gif" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure" class="res" width="16px" height="16px">
                    <span class="text-success">+{{ bonus_production_hydrocarbon|intcomma }}</span>
                </div>
                <div class="col-2">
                    <img src="{{ PATH_IMAGES }}img/interface/energy.gif" data-bs-toggle="tooltip" data-bs-title="Energie" class="res" width="16px" height="16px">
                    <span class="text-success">+{{ bonus_production_energy|intcomma }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row gx-3">
            <div class="col">
                <span class="text-normal">Production totale</span>
            </div>
            <div class="col-2">
                <img src="{{ PATH_IMAGES }}img/interface/ore.gif" data-bs-toggle="tooltip" data-bs-title="Minerai" class="res" width="16px" height="16px">
                <span class="text-success">+{{ total_production_ore|intcomma }}</span>
            </div>
            <div class="col-2">
                <img src="{{ PATH_IMAGES }}img/interface/hydrocarbon.gif" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure" class="res" width="16px" height="16px">
                <span class="text-success">+{{ total_production_hydrocarbon|intcomma }}</span>
            </div>
            <div class="col-2">
                <img src="{{ PATH_IMAGES }}img/interface/energy.gif" data-bs-toggle="tooltip" data-bs-title="Energie" class="res" width="16px" height="16px">
                <span class="text-success">+{{ total_production_energy|intcomma }}</span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
