{% extends "s03/layout.html" %}
{% block content %}
    <div class="nav nav-tabs mb-3">
        <div class="nav-item">
            <a href="/s03/profile-view/" class="nav-link">Infos nation</a>
        </div>
        <div class="nav-item">
            <a href="/s03/profile-options/" class="nav-link active">Options</a>
        </div>
    </div>
    <form method="post" action="?cat={{ cat }}" class="card">
        <div class="card-body">
            <div class="row g-1">
                <div class="col-12">
                    <div class="row gx-3 align-items-center">
                        <div class="col-3 text-end">
                            <span class="text-normal">Avatar (url)</span>
                        </div>
                        <div class="col">
                            <input type="text"
                                   name="avatar"
                                   id="avatar"
                                   value="{{ avatar_url }}"
                                   class="w-100">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row gx-3">
                        <div class="col-3 text-end mt-1">
                            <span class="text-normal">Description</span>
                        </div>
                        <div class="col d-flex">
                            <textarea name="description" rows="5" class="w-100">{{description}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row gx-3 align-items-center">
                        <div class="col-3 text-end">
                            <span class="text-normal">Affichage du score</span>
                        </div>
                        <div class="col">
                            <select name="score_visibility">
                                <option value="0"{% if score_visibility_0 %} selected{% endif %}>
                                    Personne
                                </option>
                                <option value="1"{% if score_visibility_1 %} selected{% endif %}>
                                    Alliance uniquement
                                </option>
                                <option value="2"{% if score_visibility_2 %} selected{% endif %}>
                                    Tout le monde (+10% gain de prestige)
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row gx-3 align-items-center">
                        <div class="col-3 text-end">
                            <span class="text-normal">Suppression du compte</span>
                        </div>
                        <div class="col py-1">
                            {% if delete_account %}
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           name="delete"
                                           id="delete"
                                           value="1">
                                    <label class="form-check-label" for="delete">Cochez cette case pour supprimer votre compte (2 jours de délai)</label>
                                </div>
                            {% endif %}
                            {% if account_deleting %}
                                <div class="form-check">
                                    <input type="hidden" name="deleting" value="1">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           name="delete"
                                           id="delete"
                                           value="1"
                                           checked>
                                    <label class="form-check-label" for="delete">
                                        Votre compte sera supprimé dans <script>putcountdown1({{remainingtime}},"");</script>
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row gx-3 align-items-center">
                        <div class="col-3"></div>
                        <div class="col-auto">
                            <input type="submit" name="submit" id="submit" value="Valider">
                        </div>
                        <div class="col text-end">
                            <a href="/s03/help/?cat=tags" target="_blank">Balises supportées</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock content %}
