{% extends "s03/_layout.html" %}

{% load humanize %}

{% block content %}

    {% include "s03/profile-tabs.html" %}
    
    <div class="scroll-content" style="height:calc(100% - 52px);">
        <div class="page-content">
            <div class="row g-3">
            
                <script>
                    function update(obj) { document.getElementById("count").innerHTML = obj.value.length }
                </script>
                
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="save">
                    <div class="row g-3">
                    
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header d-flex">
                                    <span class="fs-6 me-auto">Notes personnelles</span>
                                    <span class="text-normal"><span id="count">0</span> /{{ maxlength }} caractères</span>
                                </div>
                                <div class="card-body">
                                    <div class="mb-2">
                                        <textarea id="notes" name="notes" class="form-control" cols="75" rows="15" onKeyUp="update(this)" onFocus="update(this)">{% if data_notes %}{{data_notes}}{% endif %}</textarea>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col">
                                            <input type="button" class="btn btn-danger" name="effacer" value="Effacer" onclick="javascript:document.getElementById('notes').value=''">
                                        </div>
                                        <div class="col-auto">
                                            <input type="submit" class="btn btn-primary" name="submit" id="submit" value="Enregistrer">
                                        </div>
                                    </div>
                                    {% if error %}
                                        <div class="mt-2 text-end">
                                            {% if toolong %}<span class="text-danger">Vos notes dépassent la limite de {{ maxlength }} caractères</span>{% endif %}
                                            {% if done %}<span class="text-success">Notes enregistrées</span>{% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                
                    </div>
                </form>
                
                <script>onload = function() { var o = document.getElementById("notes"); o.focus(); o.value = o.value; }</script>
            
            </div>
        </div>
    </div>
    
{% endblock %}
