{% extends 's03/layout.html' %}


{% block content %}

    <div class="nav nav-tabs mb-3">
        <div class="nav-item"><a href="/s03/profile-view/" class="nav-link">Infos nation</a></div>
        <div class="nav-item"><a href="/s03/profile-options/?cat=1" class="nav-link {% if cat1_selected %}active{% endif %}">Général</a></div>
        <div class="nav-item"><a href="/s03/profile-options/?cat=2" class="nav-link {% if cat2_selected %}active{% endif %}">Options</a></div>
    </div>  

<form method="post" action="?cat={{cat}}">{% csrf_token %}

<table class="default">
<tr class="title"><td colspan="2"><b>Modification du compte ({{name}})</b></td></tr>

{% if general %}
<tr class="item">
	<td colspan="2" align="center">
		<table class="clear">
			<tr>
				<td>
					{% if avatar %}<img src="{{avatar_url}}" width="64" height="64" class="avatar">{% endif %}
					{% if noavatar %}<img src="{{PATH_IMAGES}}interface/noavatar.gif" width=64 height=64 class="avatar">{% endif %}
				</td>
				<td valign="top">{% if alliance %}<a href="/s03/alliance-view/?tag={{alliancetag}}" class="self">[{{alliancetag}}]</a>&nbsp;{% endif %}<span class="self">{{name}}</span>, 
				{% if alliance %}{{rank_label}}{% endif %}{% if noalliance %}indépendant{% endif %}
				<br/>
				Date d'arrivée:&nbsp;{{regdate}}<br/>
			</tr>
		</table>
	</td>
</tr>

<tr class="item"><td colspan="2"><p>{{description|safe}}</p></td></tr>

<tr class="clear"><td colspan="2">&nbsp;</td></tr>

<tr class="category"><td colspan="2">Configuration</td></tr>
<tr class="smallitem">
	<td>URL avatar taille 64x64</td>
	<td><input type="text" name="avatar" id="avatar" value="{{avatar_url}}" style="width:350px;"></td>
</tr>
<tr class="title"><td colspan="2">Description</td></tr>
<tr class="item"><td colspan="2" align="center"><textarea name="description" cols="65" rows="10">{{description}}</textarea><div align="center"><a href="/s03/help/?cat=tags" target="_blank">Balises supportées</a></div></td></tr>
{% endif %}

{% if cat2_selected %}
<tr class="smallitem">
	<td>Compteurs</td>
	<td>
	<input type="checkbox" class="checkbox" name="timers_enabled" id="timers_enabled" value="1"{% if timers_enabled %} checked{% endif %}><label for="timers_enabled">Afficher le temps restant en temps réel</label>
	</td>
</tr>
<tr class="smallitem">
	<td>Cartes de secteur</td>
	<td>
	<input type="checkbox" class="checkbox" name="display_alliance_planet_name" id="display_alliance_planet_name" value="1"{% if display_alliance_planet_name %} checked{% endif %}><label for="display_alliance_planet_name">Afficher le nom des planètes des membres de l'alliance</label>
	</td>
</tr>

<tr><td colspan="2">&nbsp;</td></tr>

<tr class="smallitem">
	<td>Affichage du score</td>
	<td>
	<select name="score_visibility">
		<option value="0"{% if score_visibility_0 %} selected{% endif %}>Personne</option>
		<option value="1"{% if score_visibility_1 %} selected{% endif %}>Alliance uniquement</option>
		<option value="2"{% if score_visibility_2 %} selected{% endif %}>Tout le monde (+10% gain de prestige)</option>
	</select>
	</td>
</tr>

<tr><td colspan="2">&nbsp;</td></tr>

<tr class="smallitem">
	<td>Skin de l'interface</td>
	<td>
	<select name="skin">
		<option value="0"{% if skin_s_default %} selected{% endif %}>Par défaut</option>
	</select>
	</td>
</tr>

<tr><td colspan="2">&nbsp;</td></tr>

<tr class="item{% if account_deleting %}del{% endif %}">
	<td>Suppression du compte (2 jours de délai)</td>
	<td>
	{% if delete_account %}
	<input type="checkbox" class="checkbox" name="delete" id="delete" value="1"><label for="delete">Cochez cette case pour supprimer votre compte</label>
	{% endif %}
	{% if account_deleting %}
	<input type="hidden" class="checkbox" name="deleting" value="1">
	<input type="checkbox" class="checkbox" name="delete" id="delete" value="1" checked><label for="delete">Votre compte sera supprimé dans <script>putcountdown1({{remainingtime}},"");</script></label>
	{% endif %}
	</td>
</tr>
{% endif %}

{% if holidays %}
<script>
function checkCheckBox() {
	var obj = document.getElementById("holidays");
	if(!obj.checked) window.alert("Veuillez confirmer l'activation du mode vacances en cochant la case.");
	return obj.checked;
}
</script>
<tr class="item">
	<td colspan="2"><div class=indent>Le mode vacances vous permet de protéger vos colonies pour une durée limitée.<br/>
	Activer ce mode aura pour effet :
	<ul>
	<li>D'empêcher toute flotte ennemie de se mettre en orbite autour de vos planètes</li>
	<li>D'empêcher tout ennemi d'envahir vos planètes</li>
	<li>De suspendre vos constructions de bâtiments et vaisseaux en cours</li>
	<li>De suspendre vos recherches en cours</li>
	<li>De suspendre toute production de matière première</li>
	<li>De désactiver les radars et les brouilleurs radar de vos planètes</li>
	<li>De désactiver les liens d'énergie (vous devrez les réactiver une fois le mode vacances terminé)</li>
{% if t %}
	<li>De renvoyer vos flottes vers leur point de départ</li>
{% endif %}
	</ul>
	Attention, votre compte ne passera en mode vacance <b>que 24 heures après l'activation</b>. Prévoyez donc d'activer le mode vacance 1 journée à l'avance.<br/>
	De plus, les planètes ayant des flottes ennemies en orbite ou ayant des flottes ennemies arrivant sous moins d'un jour à l'activation ne seront pas protégées.<br/>
	<br/>
	Une fois en mode vacance, vous ne pourrez plus accéder à votre compte. La prochaine fois que vous vous identifierez, un message vous informera du temps de vacances restant.<br/>
	<br/>
	Vous pourrez annuler le mode vacances uniquement <b>à partir du troisième jour de vacances</b>.<br/>
	<br/>
	Le mode vacances dure au maximum 21 jours. Une fois expiré ou annulé, vous ne pourrez le réactiver qu'après une semaine de jeu.
	</div>
	</td>
</tr>
<tr class="verysmallitem"><td colspan=2>{% if can_enable %}<input type="checkbox" name="holidays" id="holidays" class="checkbox" value="1"><label for="holidays">J'ai pris connaissance du mode vacances et je l'active pour une durée maximum de 21 jours.</label>{% endif %}{% if cant_enable %}Impossible d'activer le mode vacances avant : <script>putcountdown1({{remaining_time}}, "", "");</script>{% endif %}{% if start_in %}Le mode vacance sera activé dans : <script>putcountdown1({{remaining_time}}, "", "");</script>{% endif %}</td></tr>
{% endif %}

{% if reports %}
<tr class="item"><td colspan="2"><div class=indent>Vous pouvez recevoir les événements du jeu directement vers votre email.<br/>Cochez les événements que vous souhaitez recevoir :</div></td></tr>
<tr class="item"><td colspan="2">
<div><input type="checkbox" name="r" id="r200" class="checkbox" value="200"{% if c200 %} checked{% endif %}><label for="r200">Rapport de bataille</label></div>
<div><input type="checkbox" name="r" id="r201" class="checkbox" value="201"{% if c201 %} checked{% endif %}><label for="r201">Rapport de bataille (vainqueur)</label></div>
<div><input type="checkbox" name="r" id="r210" class="checkbox" value="210"{% if c210 %} checked{% endif %}><label for="r210">Invasion ennemie : perte d'une planète</label></div>
<div><input type="checkbox" name="r" id="r211" class="checkbox" value="211"{% if c211 %} checked{% endif %}><label for="r211">Invasion ennemie repoussée</label></div>
</td></tr>

<tr class="item"><td colspan="2">
<div><input type="checkbox" name="r" id="r300" class="checkbox" value="300"{% if c300 %} checked{% endif %}><label for="r300">Recherche terminée</label></div>
<div><input type="checkbox" name="r" id="r301" class="checkbox" value="301"{% if c301 %} checked{% endif %}><label for="r301">Construction terminée</label></div>
</td></tr>

<tr class="item"><td colspan="2">
<div><input type="checkbox" name="r" id="r400" class="checkbox" value="400"{% if c400 %} checked{% endif %}><label for="r400">Flotte arrivée à destination</label></div>
<div><input type="checkbox" name="r" id="r403" class="checkbox" value="403"{% if c403 %} checked{% endif %}><label for="r403">Flotte étrangère détectée à proximité d'une de nos planètes</label></div>
<div><input type="checkbox" name="r" id="r401" class="checkbox" value="401"{% if c401 %} checked{% endif %}><label for="r401">Récolteurs pleins</label></div>
<div><input type="checkbox" name="r" id="r402" class="checkbox" value="402"{% if c402 %} checked{% endif %}><label for="r402">Plus de matériau à recycler</label></div>
</td></tr>

<tr class="item"><td colspan="2">
<div><input type="checkbox" name="r" id="r500" class="checkbox" value="500"{% if c500 %} checked{% endif %}><label for="r500">Vente effectuée</label></div>
<div><input type="checkbox" name="r" id="r501" class="checkbox" value="501"{% if c501 %} checked{% endif %}><label for="r501">Cargaison reçue</label></div>
<div><input type="checkbox" name="r" id="r502" class="checkbox" value="502"{% if c502 %} checked{% endif %}><label for="r502">Versement reçu</label></div>
</td></tr>

<tr class="item"><td colspan="2">
<div><input type="checkbox" name="r" id="r700" class="checkbox" value="700"{% if c700 %} checked{% endif %}><label for="r700">Vaisseaux marchands détruits (Accident)</label></div>
<div><input type="checkbox" name="r" id="r701" class="checkbox" value="701"{% if c701 %} checked{% endif %}><label for="r701">Vaisseaux marchands détruits (Pirates)</label></div>
<div><input type="checkbox" name="r" id="r710" class="checkbox" value="710"{% if c710 %} checked{% endif %}><label for="r710">Bulletin d'alerte : tempête solaire</label></div>
<div><input type="checkbox" name="r" id="r711" class="checkbox" value="711"{% if c711 %} checked{% endif %}><label for="r711">Fin d'alerte : tempête solaire</label></div>
<div><input type="checkbox" name="r" id="r720" class="checkbox" value="720"{% if c720 %} checked{% endif %}><label for="r720">Vol de ressources</label></div>
<div><input type="checkbox" name="r" id="r721" class="checkbox" value="721"{% if c721 %} checked{% endif %}><label for="r721">Des émeutes éclatent</label></div>
<div><input type="checkbox" name="r" id="r723" class="checkbox" value="723"{% if c723 %} checked{% endif %}><label for="r723">Accident de laboratoire</label></div>
<div><input type="checkbox" name="r" id="r724" class="checkbox" value="724"{% if c724 %} checked{% endif %}><label for="r724">Flotte retardée par une avarie</label></div>
</td></tr>

<tr class="item"><td colspan="2">
<div><input type="checkbox" name="r" id="r801" class="checkbox" value="801"{% if c801 %} checked{% endif %}><label for="r801">Contre-espionnage : notre Nation est espionnée</label></div>
<div><input type="checkbox" name="r" id="r803" class="checkbox" value="803"{% if c803 %} checked{% endif %}><label for="r803">Contre-espionnage : une de nos planètes est espionnée</label></div>
<div><input type="checkbox" name="r" id="r810" class="checkbox" value="810"{% if c810 %} checked{% endif %}><label for="r810">Rapport d'espionnage : nation</label></div>
<div><input type="checkbox" name="r" id="r830" class="checkbox" value="830"{% if c830 %} checked{% endif %}><label for="r830">Rapport d'espionnage : planète</label></div>
</td></tr>
{% endif %}

{% if mail %}
<tr class=item><td colspan=2>
<div class=indent>Entrez une signature qui apparaîtra automatiquement quand vous commencerez un nouveau message ou une réponse.</div>
</td></tr>
<tr class="item"><td colspan=2 align=center>
<textarea name="autosignature" cols="75" rows="10">{{autosignature}}</textarea>
</td></tr>
{% endif %}

{% if signature %}
<tr class="category"><td colspan="2">Signature forum</td></tr>
<tr class="item">
	<td colspan="2" align="center">
		<img src="https://forum.exil.pw/top/?player={{name}}&type=1&server={{universe}}">
		<div align=left>
		<p><b>Lien forum (bbcode, phpBB, IPB, PunBB ...)</b></p>
		<p><input class="signaturelink" type="text" onclick="this.focus(); this.select();" value="[url=https://www.exil.pw][img]https://forum.exil.pw/top/?player={{name}}&type=1&server={{universe}}[/img][/url]" title="Ctrl+C pour copier vers le presse papier" alt="Ctrl+C pour copier vers le presse papier"></p>
		</div>
	</td>
</tr>
{% if t %}
<tr class="clear"><td colspan="2">&nbsp;</td></tr>
<tr class="category"><td colspan="2">Options</td></tr>
<tr class="item">
	<td colspan="2">
		<div><input type="checkbox" name="sig" id="sig0" class="checkbox" value="alliance"><label for="sig0">Afficher le nom de son alliance</label></div>
		<div><input type="checkbox" name="sig" id="sig1" class="checkbox" value="status"><label for="sig1">Afficher le grade de son alliance</label></div>
	</td>
</tr>
{% endif %}
{% endif %}

{% if submit %}
<tr><td colspan=2>&nbsp;</td></tr>
<tr><td colspan=2 align=center><input type="submit" name="submit" id="submit" value="Envoyer" class="button"{% if holidays %} onclick="return checkCheckBox()"{% endif %}></td></tr>
{% endif %}
{% if changes %}
<tr><td colspan=2><p class="error">
{% if banned_email %}Les emails provenant de ce nom de domaine ne sont pas autorisés{% endif %}
{% if check_email %}Email invalide, vérifiez votre saisie{% endif %}
{% if check_password %}Le mot de passe est incorrect, trop court ou ne correspond pas à la vérification, vérifiez votre saisie{% endif %}
{% if check_avatar %}L'adresse de votre avatar est incorrecte, vérifiez votre saisie{% endif %}
{% if done %}Changements effectués{% endif %}
{% if mail_changed %}Changements effectués.<br/>Vous allez recevoir un courier sur votre nouvel email vous demandant de confirmer la modification.{% endif %}
{% if mail_already_used %}Cet email est déjà utilisé par un autre compte.{% endif %}
</p></td></tr>
{% endif %}

</table>
</td>

</form>
{% endblock %}