{% extends "s03/_layout.html" %}
{% load humanize %}
{% block content %}
    {% include "s03/ranking-tabs.html" %}
    <div class="scroll-content" style="height:calc(100% - 52px);">
        <div class="page-content">
<div class="mb-3">
    <div class="row gx-3 align-items-center">
        <div class="col-auto"><span class="text-normal">Trié par</span></div>
        <div class="col-auto"><a href="?col=7{% if r7 %}&r=1{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}" class="{% if col == 7 %}badge text-bg-primary{% endif %}">Tag{% if col == 7 %}<i class="ms-1 fa-fw fas {% if r7 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
        <div class="col-auto"><a href="?col=1{% if r1 %}&r=1{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}" class="{% if col == 1 %}badge text-bg-primary{% endif %}">Alliance{% if col == 1 %}<i class="ms-1 fa-fw fas {% if r1 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
        <div class="col-auto"><a href="?col=3{% if r3 %}&r=1{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}" class="{% if col == 3 %}badge text-bg-primary{% endif %}">Membres{% if col == 3 %}<i class="ms-1 fa-fw fas {% if r3 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
        <div class="col-auto"><a href="?col=4{% if r4 %}&r=1{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}" class="{% if col == 4 %}badge text-bg-primary{% endif %}">Planètes{% if col == 4 %}<i class="ms-1 fa-fw fas {% if r4 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
        <div class="col-auto"><a href="?col=2{% if r2 %}&r=1{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}" class="{% if col == 2 %}badge text-bg-primary{% endif %}">Score{% if col == 2 %}<i class="ms-1 fa-fw fas {% if r2 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
        <div class="col-auto"><a href="?col=6{% if r6 %}&r=1{% endif %}{% if search_params %}&a={{ param_a }}{% endif %}" class="{% if col == 6 %}badge text-bg-primary{% endif %}">Date{% if col == 6 %}<i class="ms-1 fa-fw fas {% if r6 %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i>{% endif %}</a></div>
    </div>
</div>
{% if pages %}
    <div class="card card-body mb-3">
        <div class="row gx-3">
            <div class="col-auto">
                <span class="text-normal">Page {{ page_displayed }}</span>
            </div>
            <div class="col">
                <span class="text-normal">Alliances {{ page_first }}-{{ page_last }}</span>
            </div>
            <div class="col-auto">
                <span class="text-normal">Aller à la page</span>
                {% for p in pages %}
                    {% if p.selected %}<span class="ms-2">{{ p.page_id }}</span>
                    {% else %}<a href="?start={{ p.link }}&col={{ col }}{% if p.reversed %}&r=1{% endif %}" class="ms-2" data-bs-toggle="tooltip" data-bs-title="Voir page">{{ p.page_id }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<div class="card">
    <div class="list-group list-group-flush">
        {% for alliance in alliances %}
            <div class="list-group-item {% if alliance.playeralliance %}bg-info{% elif alliance.nap %}bg-success{% elif alliance.war  %}bg-danger{% endif %}">
                <div class="row gx-3 align-items-center">
                    <div class="col-auto" style="width:40px;">
                        {{ alliance.place }}.
                    </div>
                    <div class="col">
                        <a href="/s03/alliance-view/?tag={{ alliance.tag }}" data-bs-toggle="tooltip" data-bs-title="Voir alliance">[{{ alliance.tag }}] {{ alliance.name }}</a>
                    </div>
                    <div class="col-2 text-end">
                        {{ alliance.members }} <small class="text-normal">/{{ alliance.max_members }} membres</small>
                    </div>
                    <div class="col-2 text-end">
                        {{ alliance.planets }} <small class="text-normal">planètes</small>
                    </div>
                    <div class="col-3 text-end">
                        {{ alliance.score|intcomma }}
                        <small class="ms-2 {% if alliance.score_delta > 0 %}text-success{% else %}text-danger{% endif %}">{% if alliance.score_delta > 0 %}+{% endif %}{{ alliance.score_delta|intcomma }}</small>
                    </div>
                    <div class="col-2 text-end">
                        <span class="text-normal">{{ alliance.created }}</span>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="list-group-item text-center">
                <span class="text-normal">Aucune alliance trouvée</span>
            </div>
        {% endfor %}
    </div>
</div>
</div>
</div>
{% endblock %}
