{% extends "s03/layout.html" %}
{% load tz %}
{% load humanize %
{% block content %}
    <div class="card">
        <div class="card-header">
            <span>Rapport du combat autour de <a href="/s03/map/?g={{g}}&s={{ s }}">{{g }}.{{ s }}.{{p }}</a></span>
        </div>
        <div class="card-body">
            <div class="row g-1 flex-column">
                <div class="col-12">
                    <span class="text-normal">Le <span class="text-white">{{ time|timezone:"Europe/Paris"|date:"d M Y H:i" }}</span> en <span class="text-white">{{ rounds }}</span> round(s)</span>
                </div>
                {% for opponent in opponents %}
                    <div class="col-12 mt-3">
                        <span class="fs-6 {% if opponent.self %}text-player{% elif opponent.friend %}text-success{% elif opponent.ally %}text-success{% else %}text-danger{% endif %}">
                            {% if opponent.alliancetag %}[{{ opponent.alliancetag }}]{% endif %}
                            {{ opponent.name }}
                            {% if opponent.won %}(vainqueur){% endif %}
                        </span>
                    </div>
                    {% for fleet in opponent.fleets %}
                        <div class="col-12 mt-3">
                            <div class="row gx-3">
                                <div class="col">
                                    <span>{{ fleet.name }}<span>
                                    </div>
                                    <div class="col-auto">
                                        <span class="ms-2">B:{{ fleet.mod_shield }}</span> <span class="ms-2">M:{{ fleet.mod_handling }}</span> <span class="ms-2">C:{{ fleet.mod_tracking_speed }}</span> <span class="ms-2">D:{{ fleet.mod_damage }}</span>
                                    </div>
                                </div>
                            </div>
                            {% for ship in fleet.ships %}
                                <div class="col-12">
                                    <hr class="my-0">
                                </div>
                                <div class="col-12">
                                    <div class="row gx-3">
                                        <div class="col-4">
                                            <span class="text-normal">{{ ship.label }}</span>
                                        </div>
                                        <div class="col-3">
                                            <span class="text-normal">{{ ship.ships }}</span> <small class="text-normal"><i class="fa-fw fas fa-long-arrow-alt-right"></i></small> <span class="{% if ship.after <= 0 %}text-danger{% endif %}">{{ ship.after }}</span>
                                        </div>
                                        <div class="col">
                                            <div class="row gx-3">
                                                {% for kill in ship.kills %}
                                                    <div class="col-auto">
                                                        {{ kill.killed_name }} <small class="text-normal">x</small> {{ kill.killed_count }}
                                                    </div>
                                                {% empty %}
                                                    <div class="col-auto">
                                                        <span class="text-normal">-</span>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
