{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    {% include 's03/header-credits.html' %}
    <script type="text/javascript"
            src='/static/scripts/third-party/tooltip.js?v=1'></script>
    <script>
tipname = "hint";
tipwidth = 450;
tiptext = $("hinttext");
    </script>
    <script>
function cancelresearch(){return confirm('Êtes-vous sûr de vouloir abandonner cette recherche ?\r\nNote: toute recherche future recommencera à zéro');}
function putlevel(level,levels,inprogress){
	var s;

	if(levels <= 5)
	{
		if(!inprogress)
			s = '<img src="{{PATH_IMAGES}}/research/level'+levels+'_'+level+'.gif" alt="Niveau '+level+'">';
		else
			s = '<img src="{{PATH_IMAGES}}/research/leveling'+levels+'_'+level+'.gif" alt="Niveau '+(level+1)+' en cours">';
	}
	else
	{
		if(!inprogress)
			s = level + '/' + levels;
		else
			s = 'Niveau ' + (level+1) + ' en cours';
	}
	document.write(s);
}
{% for category in categories %}{% for research in category.researches %}var description{{research.id}}='{{research.description|escapejs}}';{% endfor %}{% endfor %}
    </script>
    <div id="research">
        <table class="default" width="100%">
            <tr class="header">
                <td>Recherche</td>
                <td>Crédits</td>
                <td>Niveau</td>
                <td>Temps</td>
                <td>Action</td>
            </tr>
            {% for category in categories %}
                <tr class="category">
                    <td colspan=5>
                        {% if category.id == 10 %}Technologies{% endif %}
                        {% if category.id == 20 %}Industrie{% endif %}
                        {% if category.id == 30 %}Empire{% endif %}
                        {% if category.id == 40 %}Recherche{% endif %}
                        {% if category.id == 50 %}Technologies militaires{% endif %}
                        {% if category.id == 90 %}Vaisseaux spatiaux{% endif %}
                        &nbsp;
                    </td>
                </tr>
                {% for research in category.researches %}
                    <tr class="smallitem">
                        <td>
                            <a href="/s03/help/?cat=research#{{ research.id }}"
                               onmouseover="ddrivetip(description{{ research.id }})"
                               onmouseout="hideddrivetip()"><b>{{ research.name }}</b></a>
                        </td>
                        <td align=center>
                            {% if research.cost %}
                                <img src="{{ PATH_IMAGES }}/interface/credits.gif"
                                     class="icon"
                                     title="Crédits"
                                     width="16"
                                     height="16">
                                {{ research.credits|intcomma }}
                            {% endif %}
                            {% if research.nocost %}-{% endif %}
                        </td>
                        <td align=center>
                            <script>putlevel({{research.level}},{{research.levels}},0{% if research.leveling %}1{% endif %});</script>
                        </td>
                        <td align=center>
                            {% if research.countdown %}<script>putcountdown1({{research.remainingtime }},"");</script>{% endif %}
                            {% if research.researchtime %}<script>document.write(formattime({{research.time }}));</script>{% endif %}
                            {% if research.noresearchtime %}-{% endif %}
                        </td>
                        <td align=center>
                            {% if research.complete %}-{% endif %}
                            {% if research.busy %}-{% endif %}
                            {% if research.notresearchable %}<span class="impossible">recherches impossibles</span>{% endif %}
                            {% if research.notenoughmoney %}<span class="notenough">fonds insuffisants</span>{% endif %}
                            {% if research.research %}
                                <a href="?a=research&r={{ research.id }}"
                                   title="Lancer la recherche sur {{ research.name }}">rechercher</a>
                            {% endif %}
                            {% if research.researching %}
                                <script>putcountdown2({{research.remainingtime}}, "<a href='?a=cancel&r={{research.id}}' title='Annuler' onclick='return cancelresearch()'>annuler</a>", "<a href='/s03/research/'>terminé</a>");</script>
                            {% endif %}
                            {% if research.auto %}(<a href='/s03/research/?a=stop&r={{ research.id }}'>Automatique</a>){% endif %}
                            {% if research.manual %}(<a href='/s03/research/?a=continue&r={{ research.id }}'>Manuel</a>){% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr class="clear">
                    <td colspan=5>&nbsp;</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
