{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
    <script>
var ships=new Array();
var shiplist=new Array();

{% for category in categories %}{% for ship in category.ships %}
{% if ship.build %}shiplist.push({{ship.id}});{% endif %}
ships[{{ship.id}}]=new Array('{{ship.description|escapejs}}','{{ship.ship_signature|intcomma}}','{{ship.ship_cargo|intcomma}}','{{ship.ship_speed|intcomma}}','{{ship.ship_handling|intcomma}}',{{ship.ship_turrets}},{{ship.ship_power}},'{{ship.ship_tracking_speed|intcomma}}','{{ship.ship_hull|intcomma}}','{{ship.ship_shield|intcomma}}','{{ship.ship_recycler_output|intcomma}}','{{ship.ship_long_distance_capacity|intcomma}}','{{ship.ship_droppods|intcomma}}',{{ship.ore}},{{ship.hydrocarbon}},{{ship.credits}},{{ship.crew}},{{ship.time}});{% endfor %}{% endfor %}

function descShip(id) {
	var ship = ships[id];
	var a = '<table><tr valign="top"><td><span class="title">Description</span><br/><br/>'+ship[0]+'</td><td width="1%" nowrap><span class="title">Caractéristiques</span><br/>'+
			'<br/>Signature: <span class=value>'+ship[1]+'</span><br/>Cargo: <span class=value>'+ship[2]+'</span>'+
			'<br/>Vitesse: <span class=value>'+ship[3]+'</span><br/>Manœuvrabilité: <span class=value>'+ship[4]+'</span>';
	if(ship[6] > 0)
		a+= '<br/>Puissance d\'attaque: <span class=value>'+ship[5]+'x'+ship[6]+'</span><br/>Ciblage: <span class=value>'+ship[7]+'</span>';
	a+= '<br/>Armure: <span class=value>'+ship[8]+'</span>';
	if(ship[9] != '0')	a+= '<br/>Bouclier: <span class=value>'+ship[9]+'</span>';
	if(ship[10] != '0') a+= '<br/>Capacité de recyclage: <span class=value>'+ship[10]+'</span>';
	if(ship[11] != '0') a+= '<br/>Capacité de saut intergalactique: <span class=value>'+ship[11]+'</span>';
	if(ship[12] != '0') a+= '<br/>Capacité d\'invasion: <span class=value>'+ship[12]+'</span>';
	a+= '</td></tr></table>';
	return a;
}


function updateNeeds() {
	var ore=0;
	var hydrocarbon=0;
	var totaltime=0;

	var i,id,c;

	for(i=0;i<shiplist.length;i++){
		id = shiplist[i];
		c = getval('s'+id);

		ore += c * ships[id][13];
		hydrocarbon += c * ships[id][14];
		totaltime += c * ships[id][17];
	}

	$("totalore").innerHTML = formatnumber(ore);
	$("totalhydrocarbon").innerHTML = formatnumber(hydrocarbon);
	$("totaltime").innerHTML = formattime(totaltime);
}
    </script>
    <script type="text/javascript"
            src='/static/scripts/third-party/tooltip.js?v=1'></script>
    <script>
tipname = "hint";
tipwidth = 450;
tiptext = $("hinttext");
    </script>
    <div id="shipyard">
        <form method="post" action="?f={{ filter }}&planet={{ planetid }}&a=recycle">
            {% csrf_token %}
            <table class="default" width="650">
                <tr class="header">
                    <td>Vaisseau</td>
                    <td width=100>Minerai</td>
                    <td width=100>Hydrocarbure</td>
                    <td width=90>Temps</td>
                    <td width='1%'>Construction</td>
                </tr>
                {% if no_shipyard %}
                    <tr>
                        <td colspan=5>
                            <p class="error">Aucun vaisseau n'est recyclable.</p>
                        </td>
                    </tr>
                {% endif %}
                {% for category in categories %}
                    <tr class="category">
                        <td colspan=5>
                            {% if category.id == 10 %}Vaisseaux utilitaires{% endif %}
                            {% if category.id == 11 %}Vaisseaux de déploiement{% endif %}
                            {% if category.id == 15 %}Vaisseaux tactiques{% endif %}
                            {% if category.id == 20 %}Vaisseaux légers{% endif %}
                            {% if category.id == 30 %}Corvettes{% endif %}
                            {% if category.id == 40 %}Frégates{% endif %}
                            {% if category.id == 50 %}Croiseurs{% endif %}
                            {% if category.id == 60 %}Dreadnought{% endif %}
                            {% if category.id == 80 %}Titan{% endif %}
                            {% if category.id == 90 %}Plateforme de défense{% endif %}
                            &nbsp;
                        </td>
                    </tr>
                    {% for ship in category.ships %}
                        <tr valign=middle align=right class="item">
                            <td nowrap align=left>
                                <table class=clear width="100%">
                                    <tr>
                                        <td>
                                            <a href="/s03/help/?cat=ships#{{ ship.id }}"
                                               onmouseover="ddrivetip(descShip({{ ship.id }}))"
                                               onmouseout="hideddrivetip()"><b>{{ ship.name }}</b></a>
                                        </td>
                                        <td align=right>x{{ ship.quantity }}</td>
                                    </tr>
                                </table>
                            </td>
                            <td nowrap>
                                <img src="{{ PATH_IMAGES }}/interface/ore.gif"
                                     class="icon"
                                     title="Minerai"
                                     width="16"
                                     height="16">
                                {{ ship.ore|intcomma }}
                            </td>
                            <td nowrap>
                                <img src="{{ PATH_IMAGES }}/interface/hydrocarbon.gif"
                                     class="icon"
                                     title="Hydrocarbure"
                                     width="16"
                                     height="16">
                                {{ ship.hydrocarbon|intcomma }}
                            </td>
                            <td align=center>
                                {% if ship.construction_time %}<script>document.write(formattime({{ship.time }}));</script>{% endif %}
                                {% if ship.no_construction_time %}-{% endif %}
                            </td>
                            <td align=center style="padding:0;margin:0">
                                {% if ship.build %}
                                    <input type="text"
                                           name="s{{ ship.id }}"
                                           onkeyup="updateNeeds()"
                                           size="3"
                                           maxlength="4"
                                           style="height:18px">
                                {% endif %}
                                {% if ship.cant_build %}&nbsp;{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                {% if build %}
                    <tr>
                        <td class=justhidden>&nbsp;</td>
                        <td align=right>
                            <img src="{{ PATH_IMAGES }}/interface/ore.gif"
                                 class="icon"
                                 title="Minerai"
                                 width="16"
                                 height="16">
                            <span id=totalore>0</span>
                        </td>
                        <td align=right>
                            <img src="{{ PATH_IMAGES }}/interface/hydrocarbon.gif"
                                 class="icon"
                                 title="Hydrocarbure"
                                 width="16"
                                 height="16">
                            <span id=totalhydrocarbon>0</span>
                        </td>
                        <td align=center>
                            <span id=totaltime><script>document.write(formattime(0));</script></span>
                        </td>
                        <td align=center>
                            <input type="submit" value="Recycler">
                        </td>
                    </tr>
                {% endif %}
                {% if underconstructions|length > 0 %}
                    <tr class="clear">
                        <td colspan="7">
                            &nbsp;
                        </td>
                    </tr>
                    <tr class="category">
                        <td colspan="7">
                            En cours
                        </td>
                    </tr>
                    {% for ship in underconstructions %}
                        <tr align="right">
                            <td align="left" nowrap colspan="1">
                                <table class="clear" width="100%">
                                    <tr>
                                        <td>
                                            {% if ship.recycle %}Recyclage de{% endif %}
                                            <a href="/s03/help/?cat=ships#{{ ship.id }}"><b>{{ ship.name }}</b></a>
                                        </td>
                                        <td align="right">
                                            x{{ ship.quantity }}
                                        </td>
                                    </tr>
                                    {% if ship.required_ship %}
                                        <tr>
                                            <td colspan=2 nowrap>
                                                <p class="shiprequirement">
                                                    Requiert {{ ship.required_ship_name }}
                                                </p>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if ship.required_victory_marks %}
                                        <tr>
                                            <td colspan="2" nowrap>
                                                <p class="shiprequirement">
                                                    Requiert {{ ship.required_victory_marks }} points de combat
                                                </p>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </td>
                            <td nowrap>
                                <img src="{{ PATH_IMAGES }}/interface/ore.gif"
                                     class="icon"
                                     title="Minerai"
                                     width="16"
                                     height="16">
                                {{ ship.ore|intcomma }}
                            </td>
                            <td nowrap>
                                <img src="{{ PATH_IMAGES }}/interface/hydrocarbon.gif"
                                     class="icon"
                                     title="Hydrocarbure"
                                     width="16"
                                     height="16">
                                {{ ship.hydrocarbon|intcomma }}
                            </td>
                            <td align="center">
                                <script>putcountdown1({{ship.remainingtime}},"&nbsp;");</script>
                            </td>
                            <td align="center">
                                <script>putcountdown2({{ship.remainingtime}}, "{% if ship.recycle %}&nbsp;{% endif %}{% if ship.cancel %}<a href='?f={{filter}}&planet={{planetid}}&a=cancel&q={{ship.queueid}}'>annuler</a>{% endif %}", "<a href='/s03/shipyard/?planet={{planetid}}&f={{filter}}'>terminé</a>");</script>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if queues|length > 0 %}
                    <tr class="clear">
                        <td colspan="7">
                            &nbsp;
                        </td>
                    </tr>
                    <tr class="category">
                        <td colspan="7">
                            En queue
                        </td>
                    </tr>
                    {% for ship in queues %}
                        <tr align="right">
                            <td align="left" colspan="1">
                                <table class="clear" width="100%">
                                    <tr>
                                        <td>
                                            {% if ship.recycle %}Recyclage de{% endif %}
                                            <a href="/s03/help/?cat=ships#{{ ship.id }}"><b>{{ ship.name }}</b></a>
                                        </td>
                                        <td align="right">
                                            x{{ ship.quantity }}
                                        </td>
                                    </tr>
                                    {% if ship.required_ship %}
                                        <tr>
                                            <td colspan=2 nowrap>
                                                <p class="shiprequirement">
                                                    Requiert {{ ship.required_ship_name }}
                                                </p>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if ship.required_victory_marks %}
                                        <tr>
                                            <td colspan="2" nowrap>
                                                <p class="shiprequirement">
                                                    Requiert {{ ship.required_victory_marks }} points de combat
                                                </p>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </td>
                            <td nowrap>
                                <img src="{{ PATH_IMAGES }}/interface/ore.gif"
                                     class="icon"
                                     title="Minerai"
                                     width="16"
                                     height="16">
                                {{ ship.ore|intcomma }}
                            </td>
                            <td nowrap>
                                <img src="{{ PATH_IMAGES }}/interface/hydrocarbon.gif"
                                     class="icon"
                                     title="Hydrocarbure"
                                     width="16"
                                     height="16">
                                {{ ship.hydrocarbon|intcomma }}
                            </td>
                            <td align="center">
                                <script language="javascript">document.write(formattime({{ship.remainingtime}}));</script>
                            </td>
                            <td align="center">
                                <a href="?f={{ filter }}&planet={{ planetid }}&a=cancel&q={{ ship.queueid }}">annuler</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </form>
    </div>
{% endblock %}
