<!doctype html>
<html>
    <head>
        <title>[s03] NG Exile</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">
        <link href="{{ PATH_IMAGES }}styles/s_default/style.css?v=0"
              type="text/css"
              rel="stylesheet"
              media="all"/>
        <script type="text/javascript" src='/static/scripts/common.js'></script>
    </head>
    <body>
        <script>
            function displayOrientation(obj) {
            
                var opt = obj.options[obj.selectedIndex].value;

                if (opt == 0) hide();
                else $('description').innerHTML = $('orientation' + opt).innerHTML;
            }

            {% if galaxies %}
            
                var rec = [];
                {% for galaxy in galaxies %}rec[{{galaxy.id}}] = {{galaxy.recommendation}};{% endfor %}
                
                function showRecommendation(obj) {
                
                    var r = rec[obj.options[obj.selectedIndex].value];
                    if (r == 2) {
                    
                        $("recommendation").innerHTML = 'Galaxie recommandée';
                        $("recommendation").className = 'recommanded';
                    }
                    else if (r == 1) {
                    
                        $("recommendation").innerHTML = '';
                        $("recommendation").className = '';
                    }
                    else {
                    
                        $("recommendation").innerHTML = 'Galaxie non recommandée';
                        $("recommendation").className = 'notrecommanded';
                    }
                }
            {% endif %}
        </script>
        {% if orientation_1 %}
            <div id="orientation1" class="hidden">
                <ul style="list-style: inside;">
                    <li>Prix de vente des ressources augmenté de 10%</li>
                    <li>La guilde marchande viendra plus vite sur vos planètes lors de vos achats</li>
                    <li>La production de minerai et d'hydrocarbure est augmentée de 5%</li>
                    <li>La demande en minerai et en hydrocarbure sur les planètes est augmentée de 10%</li>
                    <li>Le coût d'entretien de vos planètes est diminué de 10%</li>
                    <li>Les points de prestige gagnés par les bâtiments augmentés de 5%</li>
                    <li>Vous aurez accès à un vaisseau de transport supérieur aux vaisseaux de transport classiques</li>
                </ul>
            </div>
        {% endif %}
        {% if orientation_2 %}
            <div id="orientation2" class="hidden">
                <ul style="list-style: inside;">
                    <li>Prime sur les fossoyeurs détruits augmentée de 15%</li>
                    <li>Vitesse de construction des vaisseaux augmentée de 20%</li>
                    <li>Les boucliers de vos vaisseaux sont augmentés de 10%</li>
                    <li>La manoeuvrabilité de vos vaisseaux est augmentée de 10%</li>
                    <li>Le coût d'entretien de vos soldats est diminué de 10%</li>
                    <li>Les salaires de vos commandants sont diminués de 10%</li>
                    <li>Les points de prestige gagnés lors des combats sont augmentés de 5%</li>
                    <li>Votre premier commandant (vous) est spécialisé dans les combats spatiaux</li>
                </ul>
            </div>
        {% endif %}
        {% if orientation_3 %}
            <div id="orientation3" class="hidden">
                <ul style="list-style: inside;">
                    <li>Vitesse de construction des bâtiments augmentée de 10%</li>
                    <li>Le coût des recherches est diminué de 20%</li>
                    <li>Le temps des recherches est diminué de 5%</li>
                    <li>Le coût d'entretien de vos scientifiques est diminué de 20%</li>
                    <li>Vos vaisseaux se déplacent 20% plus vite</li>
                    <li>Vos centrales produisent 20% d'énergie en plus</li>
                    <li>Les points de prestige gagnés par les bâtiments sont augmentés de 3%</li>
                    <li>Les points de prestige gagnés lors des combats sont augmentés de 3%</li>
                    <li>Vous aurez accès à une technologie permettant la construction de vaisseaux de déploiement qui pourront installer instantanément des bâtiments sur vos planètes ou les planètes de vos alliés</li>
                </ul>
            </div>
        {% endif %}
        <div align="center" class="pt-3">
            <div class="card card-body" style="width:800px;">
                <div class="mb-3">
                    <span class="fs-4">NG Exile</span>
                </div>
                <form method="post" action="?" class="text-center">
                    {% csrf_token %}
                    <div class="mb-3">
                        <span class="text-normal">Bienvenue dans <span class="text-white">NG Exile</span>, avant de commencer, veuillez entrer un nom pour votre nation. Ce sera le nom sous lequel vous jouerez dans le jeu, choisissez un nom différent de votre compte.</span>
                    </div>
                    <div class="mb-3">
                        <div class="row gx-3 align-items-center">
                            <div class="col-6 text-end"><span>Nom de nation</span></div>
                            <div class="col-auto"><input type="text" class="form-control" name="name" value=""/></div>
                            {% if error_10 %}
                                <div class="col-12 text-center">
                                    <span class="text-danger">Ce nom de nation est déjà utilisé</span>
                                </div>
                            {% endif %}
                            {% if error_11 %}
                                <div class="col-12 text-center">
                                    <span class="text-danger">Ce nom de nation est invalide</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if galaxies %}
                    <div class="mb-3">
                        <div class="row gx-3 align-items-center">
                            <div class="col-6 text-end"><span>Galaxie de départ</span></div>
                            <div class="col-auto">
                                <select name="galaxy" class="form-control" id="galaxies" onchange="showRecommendation(this)">
                                    {% for galaxy in galaxies %}
                                        <option value="{{ galaxy.id }}"{% if galaxy.selected %} selected{% endif %}>
                                            {{ galaxy.id }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-auto">
                                <span id="recommendation"></span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="mb-3">
                        <span class="text-normal">Désormais, vous devez choisir l'orientation de votre nation, ce choix aura pour conséquence de vous attribuer des bonus de départ que vous garderez tout le long du jeu. Il n'est pas possible d'en changer en cours de route alors choisissez bien suivant le style de jeu que vous préférez. Quelque soit l'orientation choisie, vous jouerez au même jeu mais avec des avantages différents.</span>
                    </div>
                    <div class="mb-3">
                        <div class="row gx-3 align-items-center">
                            <div class="col-6 text-end"><span>Orientation</span></div>
                            <div class="col-auto">
                                <select class="form-control" name="orientation" onchange='displayOrientation(this)'>
                                    <option value="0">Choisissez</option>
                                    <option value="1">Marchand</option>
                                    <option value="2">Militaire</option>
                                    <option value="3">Scientifique</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="description" class="mb-3">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Valider">
                </form>
                {% if error_2 %}
                    <div class="text-danger">
                        Désolé, aucune planète ne peut actuellement accueillir notre nation.
                    </div>
                {% endif %}
            </div>
        </div>
        {% if galaxies %}
            <script>showRecommendation($("galaxies"));</script>
        {% endif %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-212X2QX8W5"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag(){ dataLayer.push(arguments) }
            gtag('js', new Date())
            gtag('config', 'G-212X2QX8W5')
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>
    </body>
</html>
