{% extends "s03/layout.html" %}
{% load humanize %}
{% block content %}
<script>
    function updateNeeds() {
    
        var sc = getval('scientists');
        var so = getval('soldiers');

        var ore = sc * {{scientist_ore}} + so * {{soldier_ore}};
        var hydro = sc * {{scientist_hydrocarbon}} + so * {{soldier_hydrocarbon}};
        var credits = sc * {{scientist_credits}} + so * {{soldier_credits}};

        $('totalore').innerHTML = formatnumber(ore);
        $('totalhydrocarbon').innerHTML = formatnumber(hydro);
        $('totalcredits').innerHTML = formatnumber(credits);
    }
</script>
{% if trainings %}
<div class="card mb-3">
    <div class="card-header">
        <span class="fs-6">En cours</span>
    </div>
    <div class="list-group list-group-flush">
        {% for item in trainings %}
            <div class="list-group-item bg-success">
                <div class="row gx-3 align-items-center">
                    <div class="col">
                        {% if item.scientists %}
                            <img src="{{ PATH_IMAGES }}interface/scientists.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Scientifique" />
                            <a href="/s03/help/#scientists" data-bs-toggle="tooltip" data-bs-title="Voir aide">Scientifiques</a>
                        {% endif %}
                        {% if item.soldiers %}
                            <img src="{{ PATH_IMAGES }}interface/soldiers.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Soldat" />
                            <a href="/s03/help/#soldiers" data-bs-toggle="tooltip" data-bs-title="Voir aide">Soldats</a>
                        {% endif %}
                    </div>
                    <div class="col-auto">
                        <small class="text-normal">x</small>
                        {{ item.quantity|intcomma }}
                    </div>
                    <div class="col-auto">
                        <span class="text-yellow"><script>putcountdown1({{ item.remainingtime }}, "");</script></span>
                    </div>
                    <div class="col-auto">
                        <script>putcountdown2({{ item.remainingtime }}, "<a href='?planet={{planetid}}&a=cancel&q={{item.queueid}}' class='text-danger' data-bs-toggle='tooltip' data-bs-title='Annuler'><i class='fa-fw fas fa-times'></i></a>", "<a href='/s03/training/'>Terminé</a>");</script>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for item in queues %}
            <div class="list-group-item">
                <div class="row gx-3 align-items-center">
                    <div class="col">
                        {% if item.scientists %}
                            <img src="{{ PATH_IMAGES }}interface/scientists.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Scientifique" />
                            <a href="/s03/help/#scientists" data-bs-toggle="tooltip" data-bs-title="Voir aide">Scientifiques</a>
                        {% endif %}
                        {% if item.soldiers %}
                            <img src="{{ PATH_IMAGES }}interface/soldiers.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Soldat" />
                            <a href="/s03/help/#soldiers" data-bs-toggle="tooltip" data-bs-title="Voir aide">Soldats</a>
                        {% endif %}
                    </div>
                    <div class="col-auto">
                        <small class="text-normal">x</small>
                        {{ item.quantity|intcomma }}
                    </div>
                    <div class="col-auto">
                        <script>document.write(formattime({{item.remainingtime }}))</script>
                    </div>
                    <div class="col-auto">
                        <a href="?planet={{ planetid }}&a=cancel&q={{ item.queueid }}" class="text-danger" data-bs-toggle="tooltip" data-bs-title="Annuler"><i class="fa-fw fas fa-times"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<form method="post" action="/s03/training/?a=train">
    {% csrf_token %}
    <div class="card mb-3">
        <div class="card-header">
            <span class="fs-6">Entraînements</span>
        </div>
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <div class="row gx-3 align-items-center">
                    <div class="col">
                        <img src="{{ PATH_IMAGES }}interface/scientists.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Scientifique" />
                        <a href="/s03/help/#scientists" data-bs-toggle="tooltip" data-bs-title="Voir aide">Scientifiques</a>
                    </div>
                    <div class="col-auto" style="width:200px;">
                        {{ scientists|intcomma }}
                        <small class="text-normal">/{{ scientists_capacity|intcomma }}</small>
                    </div>
                    <div class="col-auto" style="width:100px;">
                        <img src="{{ PATH_IMAGES }}interface/ore.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Minerai" />
                        <span>{{ scientist_ore|intcomma }}</span>
                    </div>
                    <div class="col-auto" style="width:100px;">
                        <img src="{{ PATH_IMAGES }}interface/hydrocarbon.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure" />
                        <span>{{ scientist_hydrocarbon|intcomma }}</span>
                    </div>
                    <div class="col-auto" style="width:100px;">
                        <img src="{{ PATH_IMAGES }}interface/credits.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Crédit" />
                        <span>{{ scientist_credits|intcomma }}</span>
                    </div>
                    <div class="col-auto text-end" style="width:110px;">
                        {% if input_scientists %}
                            <input type="number" class="form-control" style="max-width:100%;" min="0" name="scientists" onkeyup="updateNeeds()" size="5" maxlength="5" />
                        {% elif max_scientists %}
                            <span class="text-danger">Maximum atteint</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row gx-3 align-items-center">
                    <div class="col">
                        <img src="{{ PATH_IMAGES }}interface/soldiers.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Soldat" />
                        <a href="/s03/help/#soldiers" data-bs-toggle="tooltip" data-bs-title="Voir aide">Soldats</a>
                    </div>
                    <div class="col-auto" style="width:200px;">
                        {{ soldiers|intcomma }}
                        <small class="text-normal">/{{ soldiers_capacity|intcomma }}</small>
                    </div>
                    <div class="col-auto" style="width:100px;">
                        <img src="{{ PATH_IMAGES }}interface/ore.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Minerai" />
                        <span>{{ soldier_ore|intcomma }}</span>
                    </div>
                    <div class="col-auto" style="width:100px;">
                        <img src="{{ PATH_IMAGES }}interface/hydrocarbon.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure" />
                        <span>{{ soldier_hydrocarbon|intcomma }}</span>
                    </div>
                    <div class="col-auto" style="width:100px;">
                        <img src="{{ PATH_IMAGES }}interface/credits.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Credit" />
                        <span>{{ soldier_credits|intcomma }}</span>
                    </div>
                    <div class="col-auto text-end" style="width:110px;">
                        {% if input_soldiers %}
                            <input type="number" class="form-control" style="max-width:100%;" min="0" name="soldiers" onkeyup="updateNeeds()" size="5" maxlength="5" />
                        {% elif max_soldiers %}
                            <span class="text-danger">Maximum atteint</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-body">
        <div class="row gx-3 align-items-center justify-content-end">
            <div class="col-auto" style="width:100px;">
                <img src="{{ PATH_IMAGES }}interface/ore.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Minerai" />
                <span id="totalore">0</span>
            </div>
            <div class="col-auto" style="width:100px;">
                <img src="{{ PATH_IMAGES }}interface/hydrocarbon.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Hydrocarbure" />
                <span id="totalhydrocarbon">0</span>
            </div>
            <div class="col-auto" style="width:100px;">
                <img src="{{ PATH_IMAGES }}interface/credits.gif" class="res" width="16px" height="16px" data-bs-toggle="tooltip" data-bs-title="Credit" />
                <span id="totalcredits">0</span>
            </div>
            <div class="col-auto" style="width:110px;">
                <input type="submit" class="w-100 btn btn-primary" value="Entraîner" />
            </div>
        </div>
    </div>
</form>
{% endblock %}
